<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">How To Pay</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-12">
          <div class="payAccor">
            <div (click)="accordion('virtual')" class="buttonAccor">
              <b>Virtual Account BCA</b>
              <img [class.rotate]="virtualClass" src="assets/img/down-arrow.png" alt="">
            </div>
            <div class="divAccor" *ngIf="show1">
              <div class="row">
                <div class="col-md-12">
                  <img src="assets/img/bca-ic.png" alt="">
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <b>Panduan Bayar ATM</b>
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Input kartu <b>ATM</b> dan <b>PIN</b> Anda</li>
                    <li>Pilih <b>Menu Transaksi Lainnya</b></li>
                    <li>Pilih <b>Transfer</b></li>
                    <li>Pilih Ke rekening <b>BCA Virtual Account</b></li>
                    <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                    <li>Pilih <b>Benar</b></li>
                    <li>Pilih <b>Ya</b></li>
                    <li>Ambil bukti bayar Anda</li>
                    <li><b>Selesai</b></li>
                  </ol>
                </div>
              </div>
              <div class="row mgn-t-25">
                <div class="col-md-12">
                  <b>Panduan Bayar Mobile Banking</b>
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Login <b>Mobile Banking</b></li>
                    <li>Pilih <b>m-Transfer</b></li>
                    <li>Pilih <b>BCA Virtual Account</b></li>
                    <li>Pilih <b>Ke Rekening</b></li>
                    <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                    <li>Klik Send</li>
                    <li>Informasi Virtual Account akan ditampilkan</li>
                    <li>Klik <b>OK</b></li>
                    <li>Input <b>PIN Mobile Banking</b></li>
                    <li>Bukti bayar ditampilkan</li>
                    <li><b>Selesai</b></li>
                  </ol>
                </div>
              </div>
              <div class="row mgn-t-25">
                <div class="col-md-12">
                  <b>Panduan Bayar Internet Banking</b>
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Login <b>Internet Banking</b></li>
                    <li>Pilih <b>Transaksi Dana</b></li>
                    <li>Pilih <b>Transfer BCA Virtual Account</b></li>
                    <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                    <li>Klik <b>Lanjutkan</b></li>
                    <li>Input <b>Respon KeyBCA Appli 1</b></li>
                    <li>Klik <b>Kirim</b></li>
                    <li>Bukti bayar ditampilkan</li>
                    <li><b>Selesai</b></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-12">
          <div class="payAccor">
            <div (click)="accordion('payment')" class="buttonAccor">
              <b>Payment Gateway</b>
              <img [class.rotate]="paymentClass" src="assets/img/down-arrow.png" alt="">
            </div>
            <div class="divAccor" *ngIf="show2">
              <div class="row">
                <div class="col-md-12">
                  <img src="assets/img/bca-ic.png" alt="">
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <b>Panduan Bayar ATM</b>
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Input kartu <b>ATM</b> dan <b>PIN</b> Anda</li>
                    <li>Pilih <b>Menu Transaksi Lainnya</b></li>
                    <li>Pilih <b>Transfer</b></li>
                    <li>Pilih Ke rekening <b>BCA Virtual Account</b></li>
                    <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                    <li>Pilih <b>Benar</b></li>
                    <li>Pilih <b>Ya</b></li>
                    <li>Ambil bukti bayar Anda</li>
                    <li><b>Selesai</b></li>
                  </ol>
                </div>
              </div>
              <div class="row mgn-t-25">
                <div class="col-md-12">
                  <b>Panduan Bayar Mobile Banking</b>
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Login <b>Mobile Banking</b></li>
                    <li>Pilih <b>m-Transfer</b></li>
                    <li>Pilih <b>BCA Virtual Account</b></li>
                    <li>Pilih <b>Ke Rekening</b></li>
                    <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                    <li>Klik Send</li>
                    <li>Informasi Virtual Account akan ditampilkan</li>
                    <li>Klik <b>OK</b></li>
                    <li>Input <b>PIN Mobile Banking</b></li>
                    <li>Bukti bayar ditampilkan</li>
                    <li><b>Selesai</b></li>
                  </ol>
                </div>
              </div>
              <div class="row mgn-t-25">
                <div class="col-md-12">
                  <b>Panduan Bayar Internet Banking</b>
                </div>
              </div>
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Login <b>Internet Banking</b></li>
                    <li>Pilih <b>Transaksi Dana</b></li>
                    <li>Pilih <b>Transfer BCA Virtual Account</b></li>
                    <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                    <li>Klik <b>Lanjutkan</b></li>
                    <li>Input <b>Respon KeyBCA Appli 1</b></li>
                    <li>Klik <b>Kirim</b></li>
                    <li>Bukti bayar ditampilkan</li>
                    <li><b>Selesai</b></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
      