<div class="row border-head navbar fixed-top">
  <div class="col-sm-2">
    <div class="col-sm-12 text-center pdd-20" (click)="home()">
      <img class="logo-header" src="./assets/img/logo.png" style="cursor:pointer">
    </div>
  </div>
  <div class="col"></div>
  <div class="col-sm-2">
    <div class="col-sm-3 fl-left mgn-tb-20"><button (click)=test(template1)><img src="./assets/img/telpon.png"></button></div>
    <div class="col-sm-3 fl-left mgn-tb-20">
      <button (click)="notif()" style="position: relative;"><img src="./assets/img/belt.png"><div class="main-notif">{{totalNotif}}</div></button>
      <div id="popup1" class="pop-account" style="overflow-y: scroll;max-height: 215px;width: 300px;left: -160px;">
          <div *ngFor="let notif of notificationList"class="col-sm-12 text activeBackground">
            {{ notif.detail }} | {{ notif.created_at }}
            <span *ngIf = "notif.detail == 'You got new pending transaction'" class="tooltiptext" (click)="redirectMenuPending($event,notif.id)" >order-entry/pending-transaction</span>
            <span *ngIf = "notif.detail == 'You got new Backorder Confirmation'" class="tooltiptext" (click)="redirectMenuBo($event,notif.id)" >order-entry/back-order</span>
            <span *ngIf = "notif.detail == 'You got new Outstanding Invoice'" class="tooltiptext" (click)="redirectMenuOutstanding($event,notif.id)">outstanding-and-overdue/report</span>
            <span *ngIf = "notif.detail == 'You got new Information Sharing'" class="tooltiptext" (click)="redirectMenuInformationSharing($event,notif.id,this.user_id)">information-sharing</span>
            <span *ngIf = "notif.detail == 'You got new Order Status Report'" class="tooltiptext" (click)="redirectMenuOrderStatus($event,notif.id)">order-entry/order-status</span>
            <span *ngIf = "notif.detail == 'You got new Delivery Information Report'" class="tooltiptext" (click)="redirectMenuDeliveryInformation($event,notif.id)">order-entry/delivery-information</span>
          </div>
          <!-- <div (click)="redirectMenuPending($event)" class="col-sm-12 text activeBackground">
            You got new Pending Transaction 12-10-2019
            <span class="tooltiptext">order-entry/pending-transaction</span>
          </div>
          <div (click)="redirectMenuBo($event)" class="col-sm-12 text activeBackground">
            You got new Backorder 12-10-2019
            <span class="tooltiptext">order-entry/back-order</span>
          </div>
          <div (click)="redirectMenuPending($event)" class="col-sm-12 text activeBackground">
            You got new Pending Transaction 12-10-2019
            <span class="tooltiptext">order-entry/pending-transaction</span>
          </div> -->
      </div>
    </div>
    <div class="col-sm-3 fl-left mgn-tb-20">
      <button class="trigger" (click)="popover()"><img [src]="photoProfile ? this.sanitized.bypassSecurityTrustUrl(photoProfile) : './assets/img/people.png'"></button>
      <div id="popup2" class="pop-account">
          <div [ngStyle]="{ display: canUpdateDealerInformation == true ? '' : 'none' }" class="col-sm-12"><a (click)=account_infor()><img src="./assets/img/account-1.png"><span>Account Information</span></a></div>
          <div [ngStyle]="{ display: canAddEditUser == true ? '' : 'none' }" class="col-sm-12"><a (click)=user()><img src="./assets/img/account-2.png"><span>User Management</span></a></div>
          <div class="col-sm-12"><a (click)=changePass()><img src="./assets/img/gembok.png"><span>Change Password</span></a></div>
          <div class="col-sm-12"><a (click)=termsCondition()><img src="./assets/img/termscon.png"><span>Terms and Conditions</span></a></div>
          <div class="col-sm-12 border-top"><a (click)=logOut()><img src="./assets/img/account-3.png"><span style="font-weight:bold;">Logout</span></a></div>
      </div>
    </div>
  </div>
</div>
<ng-template #template1>
  <div class="modal-body contactPop">
    <div class="row">
      <div class="col-md-12" style="padding: 0 15px;">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span style="font-size: 25px;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12" style="padding: 0 28px;">
        <h4>Contact Us</h4>
      </div>
      <div class="col-md-12 mgn-t-25" style="padding: 0 28px;">
        <img src="./assets/img/c-1.png">
        <span>
          <b>Phone and Fax</b>
          <br>
          Phone: +62 - (0)21 - 22461142 / 43
          <br>
          Fax: +62 - (0)21 - 22461145
        </span>
      </div>
      <div class="col-md-12 mgn-t-25" style="padding: 0 28px;">
        <img src="./assets/img/c-2.png">
        <span>
          <b>Email Address</b>
          <br>
          cs@hppi.co.id
        </span>
      </div>
      <div class="col-md-12 mgn-t-25  mgn-b-15" style="padding: 0 28px;">
        <img src="./assets/img/c-3.png">
        <span>
          <b>Mailing Address</b>
          <br>
          Kw. Industri Pulo Gadung, Jl. Rawa Gelam IV No.14, RW.9, Jatinegara, Cakung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13930
        </span>
      </div>
    </div>
  </div>
</ng-template>

