<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row pos-cont">
    <div class="col bg-login"></div>
    <div class="col">
      <div class="row">
        <div class="col-sm-12 display-login-logo">
          <img class="logo-login" src="/assets/img/logo.png">
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12 mgn-b-22">
            <span class="title-login">Dealer Communication System</span>
          </div>
        </div>
      <form name="form" ng-submit="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <!-- <div class="row">
          <div class="input-login border-input-login mgn-b-10">
            <span>Username</span>
            <input class="input-email" type="email" name="email" [(ngModel)]="model.email" required>
          </div>
        </div>  -->
        <div class="row">
          <div class="input-login border-input-login mgn-b-10">
            <span>Enter New Password</span>
            <input type="{{viewPasswordCon}}" required [(ngModel)]="newPassword" class="input-pass" name="password">
            <button type="button" (click)="seePassword()" class="show-eye">
              <img *ngIf="viewPasswordCon==='text'" class="eye" src="../assets/img/eye-off.png">
              <img *ngIf="viewPasswordCon!=='text'" class="eye" src="../assets/img/eye-on.png">
            </button>
          </div>
        </div>
        <div class="row">
          <div class="input-login border-input-login mgn-b-10">
            <span>Confirm Password</span>
            <input type="{{viewPasswordCon2}}" required [(ngModel)]="confirmPassword" class="input-pass" name="password">
            <button type="button" (click)="seePassword2()" class="show-eye">
              <img *ngIf="viewPasswordCon2==='text'" class="eye" src="../assets/img/eye-off.png">
              <img *ngIf="viewPasswordCon2!=='text'" class="eye" src="../assets/img/eye-on.png">
            </button>
          </div>
        </div>
        <div class="row">
          <div class="input-login mgn-b-10 notif-grey">
            <span>Password minimum 8 digit, must contain at least one Alphabet Uppercase, Lowercase, Number and Special Character. (ex:*#$%) </span>
          </div>
        </div>
        <div class="row">
          <div class="input-login mgn-b-10">
            <button type="submit" (click)="submit()" class="input-login btn-login">SUBMIT</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="input-login">
          <img class="logo-login" src="/assets/img/login-logo.svg">
        </div>
      </div>
    </div>
  </div>
</div>

