<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Delivery Policy</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-12">
          <div class="payAccor">
            <div (click)="accordion('jabal')" class="buttonAccor">
              <b>Ketentuan Pengiriman Barang  Jawa – Bali</b>
              <img [class.rotate]="jabalClass" src="assets/img/down-arrow.png" alt="">
            </div>
            <div class="divAccor" *ngIf="show1">
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Pengiriman barang dalam sistem DCS wajib menggunakan jasa perusahaan ekspedisi HPPI yang di tunjuk kepada alamat 
                        yang sudah di registrasi oleh HPPI dan pembeli tidak boleh merubah route alamat pengiriman kepada kurir  kami.
                    </li>
                    <li>Apabila ada permintaan pengiriman urgent maka DCS akan menambahkan biaya tambahan pada order konfirmasi pembeli.</li>
                    <li>Pengiriman akan di lakukan hari H setelah order konfirmasi kami terima <b>jam 14:00</b>, 
                        apabila memenuhi ratio pengiriman Spareparts minimum order <b>IDR. 500,000,</b>- Pengiriman akan di lakukan <b>H+1</b> setelah order 
                        konfirmasi kami terima  di bawah <b>jam 14:00</b> apabila belum minimum order <b>IDR. 500,000</b> untuk pengiriman spareparts. 
                        Apabila dibawah ratio tersebut dealer dapat mengambil barang di gudang kami atau menunggu pengiirman.">
                    </li>
                    <li>Apabila saat penerimaan barang di temukan rusak atau tidak sesuai Qty dengan surat jalan 
                        maka pembeli harus segera menginformasi segera kepada Logistic HPPI
                    </li>
                    <li>Surat Jalan HPPI  yang diterima oleh pembeli harus diberi  "Tanda tangan dan di Cap" sebagai  bukti penerimaan barang dan di berikan
                        kepada kurir  yang berwarna putih dan merah. Dokumen surat jalan peneriman barang oleh pembeli di simpan yang 
                        berwarna hijau / kuning". Surat Jalan HPPI harus di cek  Nama barang dan Qty  pada saat penerimaan barang.
                    </li>
                    <li>Barang yang sudah di terkirim dan di terima tidak dapat dikembalikan apabila kesalahan pemesanan dari pembeli. Barang dapat di kembalikan 
                        dan biaya pengembalian di tanggung oleh HPPI apabila kesalahan kirim dari HPPI”.
                    </li>
                    <li>Biaya dan aktivitas Penurunan barang dilakukan dan menjadi tanggung jawab penerima barang dan biaya tidak dapat di tagihkan kepada HPPI. </li>
                    <li>Apabila ada pertanyaan mengenai pengiriman barang segera menghubungi team logistic kami di no telp: 021-22461132  dan fax: 021-22461145</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-12">
          <div class="payAccor">
            <div (click)="accordion('sumkal')" class="buttonAccor">
              <b>Ketentuan Pengiriman Barang  Sumatera – Kalimantan</b>
              <img [class.rotate]="sumkalClass" src="assets/img/down-arrow.png" alt="">
            </div>
            <div class="divAccor" *ngIf="show2">
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Pengiriman barang dalam sistem DCS wajib menggunakan jasa perusahaan ekspedisi HPPI yang di 
                        tunjuk kepada alamat yang sudah di registrasi oleh HPPI dan pembeli tidak boleh merubah route 
                        alamat pengiriman kepada kurir  kami. 
                    </li>
                    <li>Apabila ada permintaan pengiriman urgent maka DCS akan menambahkan biaya tambahan pada order konfirmasi pembeli.</li>
                    <li>Pengiriman akan di lakukan hari H setelah order konfirmasi kami terima <b>jam 14:00</b>, apabila memenuhi ratio pengiriman 
                        Spareparts minimum order <b>IDR. 1.000,000,</b>- . Pengiriman akan di lakukan H+1  setelah order konfirmasi kami 
                        terima  di bawah <b>jam 14:00</b> apabila belum minimum order <b>IDR. 1.000,000</b> untuk pengiriman spareparts. 
                        Apabila dibawah ratio tersebut dealer dapat mengambil barang di gudang kami atau menunggu pengiirman."
                    </li>
                    <li>Apabila saat penerimaan barang di temukan rusak atau tidak sesuai Qty dengan surat jalan maka pembeli harus 
                        segera menginformasi segera kepada Logistic HPPI
                    </li>
                    <li>Surat Jalan HPPI  yang diterima oleh pembeli harus diberi  "Tanda tangandan di Cap" sebagai  bukti penerimaan barang dan 
                        di berikan kepada kurir  yang berwarna putih dan merah. Dokumen surat jalan peneriman barang oleh pembeli di simpan yang 
                        berwarna hijau / kuning." surat Jalan HPPI harus di cek  Nama barang dan Qty  pada saat penerimaan barang.
                    </li>
                    <li>Barang yang sudah di terkirim dan di terima tidak dapat dikembalikan apabila kesalahan pemesanan dari pembeli. Barang dapat
                        di kembalikan dan biaya pengembalian di tanggung oleh HPPI apabila kesalahan kirim dari HPPI."
                    </li>
                    <li>Biaya dan aktivitas Penurunan barang dilakukan dan menjadi tanggung jawab penerima barang dan biaya tidak dapat di tagihkan kepada HPPI.</li>
                    <li>Apabila ada pertanyaan mengenai pengiriman barang segera menghubungi team logistic kami di no telp: 021-22461132  dan fax: 021-22461145</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-12">
          <div class="payAccor">
            <div (click)="accordion('daerah')" class="buttonAccor">
              <b>Ketentuan Pengiriman Barang  Daerah Lain</b>
              <img [class.rotate]="daerahClass" src="assets/img/down-arrow.png" alt="">
            </div>
            <div class="divAccor" *ngIf="show3">
              <div class="row mgn-t-15">
                <div class="col-md-12">
                  <ol>
                    <li>Pengiriman barang dalam sistem DCS wajib menggunakan jasa perusahaan ekspedisi HPPI yang di tunjuk kepada alamat
                        yang sudah di registrasi oleh HPPI dan pembeli tidak boleh merubah route alamat pengiriman kepada kurir  kami.
                    </li>
                    <li>Apabila ada permintaan pengiriman urgent maka DCS akan menambahkan biaya tambahan pada order konfirmasi pembeli.</li>
                    <li>Pengiriman akan di lakukan hari H setelah order konfirmasi kami terima <b>jam 14:00</b>, apabila memenuhi ratio pengiriman 
                        Spareparts minimum order <b>IDR. 1.500,000,</b>-  Pengiriman akan di lakukan H+2  setelah order konfirmasi kami terima  di bawah 
                        <b>jam 14:00</b> apabila belum minimum order <b>IDR. 1.500,000</b> untuk pengiriman spareparts. Apabila dibawah ratio tersebut dealer dapat 
                        mengambil barang di gudang kami atau menunggu pengiirman."
                    </li>
                    <li>Apabila saat penerimaan barang di temukan rusak atau tidak sesuai Qty dengan surat jalan maka pembeli harus 
                        segera menginformasi segera kepada Logistic HPPI
                    </li>
                    <li>Surat Jalan HPPI  yang diterima oleh pembeli harus diberi  "Tanda tangandan di Cap" sebagai  bukti penerimaan barang dan 
                        di berikan kepada kurir  yang berwarna putih dan merah. Dokumen surat jalan peneriman barang oleh pembeli di simpan yang 
                        berwarna hijau / kuning." surat Jalan HPPI harus di cek  Nama barang dan Qty  pada saat penerimaan barang.
                    </li>
                    <li>Barang yang sudah di terkirim dan di terima tidak dapat dikembalikan apabila kesalahan pemesanan dari pembeli. Barang dapat
                        di kembalikan dan biaya pengembalian di tanggung oleh HPPI apabila kesalahan kirim dari HPPI."
                    </li>
                    <li>Biaya dan aktivitas Penurunan barang dilakukan dan menjadi tanggung jawab penerima barang dan biaya tidak dapat di tagihkan kepada HPPI.</li>
                    <li>Apabila ada pertanyaan mengenai pengiriman barang segera menghubungi team logistic kami di no telp: 021-22461132  dan fax: 021-22461145</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
      
