<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Warranty Claim Report</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <span class="mgn-b-0">Claim Date</span>
          <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span class="mgn-b-0">To</span>
          <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span>Status</span>
          <input class="form-control custom-select custom-filter" list="warrantyReport" name="warrantyReport">
          <datalist id="warrantyReport">
            <option value="Approve"></option>
          </datalist>
        </div>
        <div class="col-sm-12">
          <button class="addSubmit">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
            <div class="col-12 mgn-t-25 pdd-0">
              <span class="input-search">Search</span>
            </div>
            <div class="col-12 pdd-0">
              <div class="row">
                <div class="col">
                  <input type="text" class="">
                </div>
                <div class="col col-lg-2">
                  <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset Filter</button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row width-100">
                <div class="col-2 pdd-0 mgn-r-15">
                  <span class="">Filter</span>
                  <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter" style="margin-top: 0!important;">
                    <option value="dealer order type">Dealer Order Type</option>
                    <option value="purcahse order no">Purchase Order No.</option>
                    <option value="order date">Sales Order Date</option>
                    <option value="order no">Sales Order No.</option>
                    <option value="order type">Order Type</option>
                    <option value="bill code">Bill to Code</option>
                    <option value="material group">Material Group</option>
                    <option value="material code">Material Code</option>
                    <option value="status sales order">Status Sales Order</option>
                    <option value="invoice date">Invoice Date</option>
                    <option value="invoice no">Invoice No</option>
                    <option value="invoice status">Invoice Status</option>
                  </select>
                </div>
                <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Dealer Order Type</span>
                  <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                  <datalist id="dealerOrder">
                    <option value="CBU">
                    <option value="Spareparts">
                  </datalist>
                </div>
                <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Purchase Order No.</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterDate" class="col-2 pdd-0">
                  <span>Sales Order Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div *ngIf="filterNo" class="col-2 pdd-0">
                  <span class="m-0">Sales Order No.</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterOrderType" class="col-2 pdd-0">
                  <span class="m-0">Order Type</span>
                  <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                  <datalist id="orderType">
                    <option value="Normal">
                    <option value="Urgent">
                  </datalist>
                </div>
                <div *ngIf="filterBillCode" class="col-2 pdd-0">
                  <span class="m-0">Bill to Code</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                  <span class="m-0">Material Group</span>
                  <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                  <datalist id="materialGroup">
                    <option value="Marine">
                    <option value="Power Product ">
                    <option value="Marine/PP">
                  </datalist>
                </div>
                <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                  <span class="m-0">Material Code</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterSalesOrder" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Status Sales Order</span>
                  <input class="form-control custom-select custom-filter" list="salesOrder" name="opSalOrNo">
                  <datalist id="salesOrder">
                    <option value="Complete ">
                    <option value="Incomplete">
                  </datalist>
                </div>
                <div *ngIf="filterInvoiceDate" class="col-2 pdd-0">
                  <span>Invoice Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div *ngIf="filterInvoiceNo" class="col-2 pdd-0">
                  <span class="m-0">Invoice No</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterInvoiceStatus" class="col-2 pdd-0">
                  <span class="m-0">Invoice Status</span>
                  <input class="form-control custom-select custom-filter" list="invoiceStatus" name="opSalOrNo">
                  <datalist id="invoiceStatus">
                    <option value="Paid">
                    <option value="Unpaid">
                  </datalist>
                </div>
                <div class="col-2 pdd-0 mgn-l-15">
                  <button class="addSubmit mgn-t-38">Submit</button>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      <div class="row">
        <div class="col-12 mgn-t-15 croll">
          <table class="tablePending width-th warrantyCR">
            <thead>
              <tr>
                <th>No.</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Engine No.</th>
                <th>Frame No.</th>
                <th>Material Group</th>
                <th>Material Code</th>
                <th>Material Description</th>
                <th>Purchase Date</th>
                <th>Occurence Date</th>
                <th>Report Date</th>
                <th style="text-align:center!important;">Unit Price</th>
                <th style="text-align:center!important;">DN Price</th>
                <th style="text-align:center!important;">FRT</th>
                <th>Labor/Hour</th>
                <th>Labor Amount</th>
                <th>Transportation Cost</th>
                <th>Technician Transportation <br> Allowance</th>
                <th>Total Allowance <br> Handling to Boat</th>
                <th>Total Allowance Handling <br> with Truck to workshop</th>
                <th style="text-align:center!important;">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item['customer_name']}}</td>
                <td>{{item['customer_address']}}</td>
                <td>{{item['engine_number']}}</td>
                <td>{{item['frame_number']}}</td>
                <td>{{item['material_group']}}</td>
                <td>{{item['material_code']}}</td>
                <td>{{item['material_description']}}</td>
                <td>{{item['purchase_date']}}</td>
                <td>{{item['occurance_date']}}</td>
                <td>{{item['report_date']}}</td>
                <td style="text-align:right!important;">{{item['unit_price']}}</td>
                <td style="text-align:right!important;">{{item['total_part_cost']}}</td>
                <td style="text-align:center!important;">{{item['frt']}}</td>
                <td>{{item['service_rate']}}</td>
                <td style="text-align:right!important;">{{item['frt'] * item['service_rate']}}</td>
                <td style="text-align:right!important;">{{item['transportation_cost']}}</td>
                <td style="text-align:right!important;">{{item['total_allowance_repairment_on_customer_location']}}</td>
                <td style="text-align:right!important;">{{item['allowance_to_remove_obe_from_boat_total_allowance'] + item['allowance_to_install_obe_from_boat_total_allowance']}}</td>
                <td style="text-align:right!important;">{{item['allowance_transportation_install_obe_from_boat_total_allowance']}}</td>
                <td style="text-align:center!important;">{{item['status']}}</td>
                <td><button disabled><img src="./assets/img/edit.png" alt="">Edit</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main-page>
