<div class="col-sm-2">
  <div class="col-sm-12">
        <div class="row mgn-t-15"><a [ngClass]="dealerClass" class="side-bar" (click)="openPage('dealerProfile')"><img
              class="img-side" src="./assets/img/profile.png"><span>DEALER PROFILE</span></a></div>
        <div class="row"><a [ngClass]="orderClass" class="side-bar" (click)="openPage('orderEntry')"><img class="img-side"
              src="./assets/img/order.png"><span>ORDER</span><img class="arrow-side" src="./assets/img/Polygon.png"></a>
        </div>
        <ng-container *ngIf="show1">
              <div class="row order-entry"><a class="side-bar" *ngIf="user3S == true && canCreateOrder == true" [ngClass]="orderClass"
              (click)="openSubPage('cbu')"><span class="pdd-l-30 fl-left">CBU<br>order entry</span></a></div>
              <div class="row order-entry"><a class="side-bar" *ngIf="user1S == true || user2S == true || user3S == true && canCreateOrder == true"
              [ngClass]="orderClass" (click)="openSubPage('spareparts')"><span class="pdd-l-30 fl-left">Spareparts<br>order
                    entry</span></a></div>
              <div class="row order-entry"><a class="side-bar" [ngClass]="orderClass" (click)="openSubPage('pending')"><span
                    class="pdd-l-30 fl-left">Pending<br>transaction</span></a></div>
              <div class="row order-entry"><a class="side-bar" [ngClass]="orderClass" (click)="openSubPage('backorder')"><span
                    class="pdd-l-30 fl-left">BACKORDER<br>CONFIRMATION</span></a></div>
              <div class="row order-entry"><a class="side-bar" *ngIf="canpreviewOrderReport == true" [ngClass]="orderClass" (click)="openSubPage('orderstatus')"><span
                    class="pdd-l-30 fl-left">ORDER status</span></a></div>
              <div class="row order-entry"><a class="side-bar" *ngIf="canPreviewDownloadDeliveryReport == true" [ngClass]="orderClass" (click)="openSubPage('delivery')"><span
                    class="pdd-l-30 fl-left">delivery<br>infoRMATION</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="inquiryClass" class="side-bar" (click)="openPage('inquiry')"><img class="img-side"
              src="./assets/img/list.png"><span>INQUIRY</span><img class="arrow-side" src="./assets/img/Polygon.png"></a>
        </div>
        <ng-container *ngIf="show2">
              <div class="row inquiry"><a class="side-bar" *ngIf="user3S == true && canPreviewAvailability == true" [ngClass]="inquiryClass"
              (click)="openSubPage('inqCbu')"><span class="pdd-l-30 fl-left">Inquiry - cbu</span></a></div>
              <div class="row inquiry"><a class="side-bar" *ngIf="user1S == true || user2S == true || user3S == true && canPreviewAvailability == true" [ngClass]="inquiryClass"
              (click)="openSubPage('inqSpare')"><span class="pdd-l-30 fl-left">Inquiry - <br>spareparts</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="reportClass" class="side-bar" (click)="openPage('report')"><img class="img-side"
              src="./assets/img/report.png"><span>OUtstanding <br> and overdue</span><img class="arrow-side"
              src="./assets/img/Polygon.png"></a></div>
        <ng-container *ngIf="show3">
              <div class="row"><a class="side-bar" *ngIf="canPreviewAPAging == true" [ngClass]="reportClass" (click)="openSubPage('reAging')"><span
                    class="pdd-l-30 fl-left">A/P Aging</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="canPreviewInvoiceTimeliness == true" [ngClass]="reportClass" (click)="openSubPage('reInvoice')"><span
                    class="pdd-l-30 fl-left">invoice timeliness</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="canPreviewDownloadOutstandingReport == true" [ngClass]="reportClass" (click)="openSubPage('reReport')"><span
                    class="pdd-l-30 fl-left">report</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="forecastClass" *ngIf="user3S == true && canInputUploadDealerForecast == true" class="side-bar"
              (click)="openPage('forecast')"><img class="img-side" src="./assets/img/forecast.png"><span>Forecast</span><img
              class="arrow-side" src="./assets/img/Polygon.png"></a></div>
        <ng-container *ngIf="show4">
              <div class="row"><a class="side-bar" [ngClass]="forecastClass" (click)="openSubPage('foEntry')"><span
                    class="pdd-l-30 fl-left">Forecast Entry</span></a></div>
              <div class="row"><a class="side-bar" [ngClass]="forecastClass" (click)="openSubPage('foReport')"><span
                    class="pdd-l-30 fl-left">Forecast Report</span></a></div>
        </ng-container>
        <div *ngIf="user3S == true" class="row"><a [ngClass]="dealTarClass" class="side-bar" (click)="openPage('dealtarget')"><img class="img-side"
              src="./assets/img/dealTar.png"><span>Dealer Target</span><img class="arrow-side"
              src="./assets/img/Polygon.png"></a></div>
        <ng-container *ngIf="show5">
              <div class="row"><a class="side-bar" [ngClass]="dealTarClass"
              (click)="openSubPage('dealtargetCBU')"><span class="pdd-l-30 fl-left">Dealer Target - <br>CBU</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="user1S == true || user2S == true || user3S == true" [ngClass]="dealTarClass"
              (click)="openSubPage('dealtargetSpare')"><span class="pdd-l-30 fl-left">Dealer Target -
                    <br>Spareparts</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="claimClass" class="side-bar" (click)="openPage('claim')"><img class="img-side"
              src="./assets/img/claim.png"><span>claim</span><img class="arrow-side" src="./assets/img/Polygon.png"></a>
        </div>
        <ng-container *ngIf="show6">
              <div class="row"><a class="side-bar"  [ngClass]="claimClass" (click)="openSubPage('claimForm')"><span
                    class="pdd-l-30 fl-left">warranty claim <br>form</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="canClaimServiceStatus == true" [ngClass]="claimClass" (click)="openSubPage('claimReport')"><span
                    class="pdd-l-30 fl-left">warranty claim <br>report</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="user3S == true" [ngClass]="claimClass" (click)="openSubPage('logisFormCBU')"><span
                    class="pdd-l-30 fl-left">logistic claim <br>form-CBU</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="user3S == true && canClaimLogisticStatus == true" [ngClass]="claimClass" (click)="openSubPage('logisReportCBU')"><span
                    class="pdd-l-30 fl-left">logistic claim <br>report-CBU</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="user1S == true || user2S == true || user3S == true" [ngClass]="claimClass" (click)="openSubPage('logisFormSpare')"><span
                    class="pdd-l-30 fl-left">logistic claim <br>form spareparts</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="user1S == true || user2S == true || user3S == true && canClaimLogisticStatus == true" [ngClass]="claimClass" (click)="openSubPage('logisReportSpare')"><span
                    class="pdd-l-30 fl-left">logistic claim <br>report Spareparts</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="cusRegClass" class="side-bar" (click)="openPage('customReg')"><img class="img-side"
              src="./assets/img/cusreg.png"><span>Customer <br>Registration</span><img class="arrow-side"
              src="./assets/img/Polygon.png"></a></div>
        <ng-container *ngIf="show7">
              <div class="row"><a class="side-bar" *ngIf="canInputWarrantyCard == true" [ngClass]="cusRegClass" (click)="openSubPage('cusRegInput')"><span
                    class="pdd-l-30 fl-left">Customer <br>Registration Input</span></a></div>
              <div class="row"><a class="side-bar" [ngClass]="cusRegClass" (click)="openSubPage('cusRegReport')"><span
                    class="pdd-l-30 fl-left">Customer <br>Reg Report</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="proCheckClass" *ngIf="user3S == true" class="side-bar" (click)="openPage('productCheck')"><img
              class="img-side" src="./assets/img/procheck.png"><span>Product Checking</span></a></div>
        <div class="row"><a [ngClass]="salesProClass" *ngIf="user3S == true && canPreviewPromoDetail == true" class="side-bar"
              (click)="openPage('salesPromo')"><img class="img-side" src="./assets/img/salpro.png"><span>Sales
              Promo</span></a></div>
        <div class="row"><a [ngClass]="dealRewardClass" class="side-bar" (click)="openPage('dealReward')"><img
              class="img-side" src="./assets/img/award.png"><span>Dealer Reward</span><img class="arrow-side"
              src="./assets/img/Polygon.png"></a></div>
        <ng-container *ngIf="show8">
              <div class="row"><a class="side-bar" *ngIf="user3S == true" [ngClass]="dealRewardClass"
              (click)="openSubPage('RewardCBU')"><span class="pdd-l-30 fl-left">CBU Reward</span></a></div>
              <div class="row"><a class="side-bar" *ngIf="user1S == true || user2S == true || user3S == true" [ngClass]="dealRewardClass"
              (click)="openSubPage('RewardSpare')"><span class="pdd-l-30 fl-left">Spareparts<br>Reward</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="dealStockClass" *ngIf="user3S == true && canInputUploadDealerStock == true" class="side-bar"
              (click)="openPage('dealStock')"><img class="img-side" src="./assets/img/box.png"><span>Dealer Stock</span><img
              class="arrow-side" src="./assets/img/Polygon.png"></a></div>
        <ng-container *ngIf="show9">
              <div class="row"><a class="side-bar" [ngClass]="dealStockClass" (click)="openSubPage('stockInput')"><span
                    class="pdd-l-30 fl-left">Stock Input</span></a></div>
              <div class="row"><a class="side-bar" [ngClass]="dealStockClass" (click)="openSubPage('stockReport')"><span
                    class="pdd-l-30 fl-left">Stock Report</span></a></div>
        </ng-container>
        <div class="row"><a [ngClass]="infoShareClass" class="side-bar" (click)="openPage('infoShare')"><img
              class="img-side" src="./assets/img/info.png"><span>Information <br>Sharing</span></a></div>
        <div class="row"><a [ngClass]="termsConditionClass" class="side-bar" (click)="openPage('termsCondition')"><img
              class="img-side" src="./assets/img/terms.png"><span>Terms and <br> condition</span><img class="arrow-side"
              src="./assets/img/Polygon.png"></a>
        </div>
        <ng-container *ngIf="show10">
              <div class="row"><a class="side-bar" [ngClass]="termsConditionClass"
              (click)="openSubPage('howToPay')"><span class="pdd-l-30 fl-left">how to pay</span></a></div>
              <div class="row"><a class="side-bar" [ngClass]="termsConditionClass"
              (click)="openSubPage('deliveryPolicy')"><span class="pdd-l-30 fl-left">delivery policy</span></a></div>
              <div style="display:none!important" class="row"><a class="side-bar" [ngClass]="termsConditionClass"
              (click)="openSubPage('returnPolicy')"><span class="pdd-l-30 fl-left">return / refund <br> policy</span></a></div>
              <div class="row"><a class="side-bar" [ngClass]="termsConditionClass"
              (click)="openSubPage('customerData')"><span class="pdd-l-30 fl-left">Customer data <br> privacy policy</span></a></div>
        </ng-container>
  </div>
</div>
