<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Account Information</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button id="tab-account1" class="tab-account" [ngClass]="tabAcc1" (click)="tab_account(1)">Dealer
            Information</button>
          <button id="tab-account2" class="tab-account" [ngClass]="tabAcc2" (click)="tab_account(2)">Photos</button>
          <button id="tab-account3" class="tab-account" [ngClass]="tabAcc3" (click)="tab_account(3)">Branch</button>
        </div>
      </div>
      <div class="row">
        <form action="" class="account-info-edit" *ngIf="account_info_edit">
          <div class="col-sm-12">
            <span>Number of Technician</span>
            <span *ngIf="acc_info_1" class="isi-update">{{number_of_technician}}</span>
            <input *ngIf="acc_info_2" class="input-update" type="text" [(ngModel)]="number_of_technician"
              [ngModelOptions]="{standalone:true}">
            <button class="update" (click)="updateAcc()"><img src="./assets/img/update.png"><span>Update</span></button>
          </div>
          <div class="col-sm-12">
            <span>Number of Sales Person</span>
            <span *ngIf="acc_info_1" class="isi-update">{{number_of_sales}}</span>
            <input *ngIf="acc_info_2" class="input-update" type="text" [(ngModel)]="number_of_sales"
              [ngModelOptions]="{standalone:true}">
          </div>
          <div class="col-sm-12">
            <span>Number of Employee</span>
            <span *ngIf="acc_info_1" class="isi-update">{{number_of_employee}}</span>
            <input *ngIf="acc_info_2" class="input-update" type="text" [(ngModel)]="number_of_employee"
              [ngModelOptions]="{standalone:true}">
          </div>
          <div class="col-sm-12">
            <span>Product Handling</span>
            <span *ngIf="acc_info_1" class="isi-update">{{product_handling}}</span>
            <input *ngIf="acc_info_2" class="input-update" type="text" [(ngModel)]="product_handling"
              [ngModelOptions]="{standalone:true}">
          </div>
          <div class="col-sm-12">
            <span>ID Card</span>
            <a href="#" *ngIf="acc_info_1"><span class="id_card">KTP Scan.jpg</span></a>
            <input *ngIf="acc_info_2" id="id_card" type="file" accept='image/*' class="inputfile"
              data-multiple-caption="{count} files selected" (change)="handleIdCard($event)">
            <label *ngIf="acc_info_2" for="id_card"><span class="btnUpload"><img
                  src="./assets/img/upload.png">Upload</span><span class="titUpload">No File Choosed</span></label>
          </div>
          <div class="col-sm-12">
            <span>Website</span>
            <span *ngIf="acc_info_1" class="isi-update">{{website}}</span>
            <input *ngIf="acc_info_2" class="input-update" type="text" [(ngModel)]="website"
              [ngModelOptions]="{standalone:true}">
          </div>
          <div class="col-sm-12">
            <span>Additional Information</span>
            <span *ngIf="acc_info_1" class="isi-update">{{additional_information}}</span>
            <textarea *ngIf="acc_info_2" class="text-update" [(ngModel)]="additional_information"
              [ngModelOptions]="{standalone:true}"></textarea>
          </div>
          <div class="col-sm-12">
            <button (click)="saveDealerInformation()" *ngIf="acc_info_2" class="saveAcc">Save</button>
            <button (click)="disAcc()" *ngIf="acc_info_2" class="disAcc">Discard</button>
          </div>
        </form>
        <div class="col-sm-12 account-foto" *ngIf="uploadGal">
          <div class="row">
            <div class="col-sm-12">
              <span>Profile Photos</span>
              <div class="borPP" [ngStyle]="{ 'background': 'url(' + pProfile + ')', 'background-size': 'contain'}" style="background-size: contain!important;">
                <input type="file" id="uploadPP" accept='image/*' class="InputppGal" (change)="readURL($event)" #event>
                <label class="ppGal" for="uploadPP"><b>Change</b></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <span>Store Photos</span>
            </div>
            <div class="col-sm-12">
              <!-- <div class="deretGal"> -->
              <!-- <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="250px" height="183px"> -->
              <!-- </div> -->
              <div class="deretGal">
                <img [src]="imgGal1 !== '' ? sanitized.bypassSecurityTrustUrl(imgGal1) : 'https://via.placeholder.com/1000x1000.png?text=Upload+Store+Photo'" id="imgGal1" class="rounded mb-3" width="250px" height="183px">
                <label for="uploadGal1" class="galUpdateLab"><img src="./assets/img/update.png" alt=""></label>
                <input #file type="file" id="uploadGal1" accept='image/*' (change)="preview1($event)" />
              </div>
              <div class="deretGal">
                <img [src]="imgGal2 !== '' ? sanitized.bypassSecurityTrustUrl(imgGal2) : 'https://via.placeholder.com/1000x1000.png?text=Upload+Store+Photo'" id="imgGal2" class="rounded mb-3" width="250px" height="183px">
                <label for="uploadGal2" class="galUpdateLab"><img src="./assets/img/update.png" alt=""></label>
                <input #file type="file" id="uploadGal2" accept='image/*' (change)="preview2($event)" />
              </div>
              <div class="deretGal">
                <img [src]="imgGal3 !== '' ? sanitized.bypassSecurityTrustUrl(imgGal3) : 'https://via.placeholder.com/1000x1000.png?text=Upload+Store+Photo' " id="imgGal3" class="rounded mb-3" width="250px" height="183px">
                <label for="uploadGal3" class="galUpdateLab"><img src="./assets/img/update.png" alt=""></label>
                <input #file type="file" id="uploadGal3" accept='image/*' (change)="preview3($event)" />
              </div>
              <div class="deretGal">
                <img [src]="imgGal4 !== '' ? sanitized.bypassSecurityTrustUrl(imgGal4) : 'https://via.placeholder.com/1000x1000.png?text=Upload+Store+Photo'" id="imgGal4" class="rounded mb-3" width="250px" height="183px">
                <label for="uploadGal4" class="galUpdateLab"><img src="./assets/img/update.png" alt=""></label>
                <input #file type="file" id="uploadGal4" accept='image/*' (change)="preview4($event)" />
              </div>

              <div class="col-sm-12">
                <button (click)="updateStorePhoto()" class="saveAcc">Save</button>
                <!-- <button  class="disAcc">Discard</button> -->
              </div>
              <!-- <div class="deretGal">
                <img [src]="imgURL" class="rounded mb-3" width="250px" height="183px" *ngIf="imgURL">
                <label for="uploadGal" class="galUpdateLab"><img src="./assets/img/update.png" alt=""></label>
                <input *ngIf="inputUpSatu" #file type="file" id="uploadGal" accept='image/*' (change)="preview(file.files)"/>
              </div>
              <label for="uploadGal" for="uploadGal" class="uploadGalLabel" *ngIf="UpSatu"><img src="./assets/img/add.png"><span>Add Photo</span></label>
              <input #file type="file" id="uploadGal" accept='image/*' (change)="preview(file.files)"/> -->
              <!-- <input type="file" id="uploadGal" multiple (change)="detectFiles($event)">
              <label for="uploadGal" class="uploadGalLabel"><img src="./assets/img/add.png"><span>Add Photo</span></label> -->
            </div>
          </div>
        </div>
        <div class="col-sm-12 account-branch" *ngIf="accountBranch">
          <form action="#">
            <div class="row">
              <div class="col-sm-12">
                <span>Branch Name 1</span>
                <button class="update" (click)="updateAcc2()"><img
                    src="./assets/img/update.png"><span>Update</span></button>
              </div>
              <div class="col-sm-12">
                <b *ngIf="inputBranch1">{{branch_name1}} </b>
                <input *ngIf="inputBranch2" class="input-branch" type="text" [(ngModel)]="branch_name1"
                  [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span>Description</span>
              </div>
              <div class="col-sm-12">
                <b *ngIf="inputBranch1">{{branch_desc1}}</b>
                <input *ngIf="inputBranch2" class="input-branch" type="text" [(ngModel)]="branch_desc1"
                  [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span>Branch Name 2</span>
              </div>
              <div class="col-sm-12">
                <b *ngIf="inputBranch1">{{branch_name2}}</b>
                <input *ngIf="inputBranch2" class="input-branch" type="text" [(ngModel)]="branch_name2"
                  [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span>Description</span>
              </div>
              <div class="col-sm-12">
                <b *ngIf="inputBranch1">{{branch_desc2}}</b>
                <input *ngIf="inputBranch2" class="input-branch" type="text" [(ngModel)]="branch_desc2"
                  [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span>Branch Name 3</span>
              </div>
              <div class="col-sm-12">
                <b *ngIf="inputBranch1">{{branch_name3}}</b>
                <input *ngIf="inputBranch2" class="input-branch" type="text" [(ngModel)]="branch_name3"
                  [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span>Description</span>
              </div>
              <div class="col-sm-12">
                <b *ngIf="inputBranch1">{{branch_desc3}}</b>
                <input *ngIf="inputBranch2" class="input-branch" type="text" [(ngModel)]="branch_desc3"
                  [ngModelOptions]="{standalone:true}">
              </div>
              <div class="col-sm-12">
                <button (click)="saveBranchInformation()" *ngIf="inputBranch2" class="saveAcc">Save</button>
                <button (click)="disAcc2()" *ngIf="inputBranch2" class="disAcc">Discard</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main-page>
