<div class="col-sm-5 isi-content mx-auto" style="margin-top:50px;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);">
  <div class="row" style="background: white;">
    <div class="col-md-12 mgn-t-25 text-center">
      <img src="./assets/img/rdrct.png" alt="">
    </div>
    <div class="col-md-12 mgn-t-25 text-center" style="padding-bottom: 80px;">
      <b>{{message}}</b>
    </div>
  </div>
  <div class="row" style="border: 1px solid #B5B5B5;">
    <div class="col-md-12 mgn-t-25 mgn-b-25 text-center">
      <button *ngIf="its_mobile == false" (click)="backToLogin()" style="margin-top: 0;" class="addCBU">Back to DCS</button>
      <p *ngIf="its_mobile == true" >click back on left top panel, for back to dashboard</p>
    </div>
  </div>
 </div>