<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Invoice Timeliness</h5>
        </div>
      </div>
      <div class="row" *ngIf="invoice1">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <span>Month</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'MMMM YYYY', containerClass: 'theme-red' }">
              <span>To</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'MMMM YYYY', containerClass: 'theme-red' }">
              <button class="addSubmit" (click)="search()">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15">
              <table class="tablePending invoice">
                <thead>
                  <tr>
                    <th colspan="13">Report Status Time : &nbsp;&nbsp; <b>1 MAY 2019 19:00</b></th>
                  </tr>
                  <tr>
                    <th colspan="13"><span>{{currentYear}} - {{nextYear}}</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Apr</td>
                    <td>May</td>
                    <td>Jun</td>
                    <td>July</td>
                    <td>Aug</td>
                    <td>Sept</td>
                    <td>Oct</td>
                    <td>Nov</td>
                    <td>Dec</td>
                    <td>Jan</td>
                    <td>Feb</td>
                    <td>Mar</td>
                    <td>Average</td>
                  </tr>
                  <tr *ngIf="invoice.length !== 0">
                    <td><span (click)="detailinvo('april')">{{invoice.april || 0}}</span></td>
                    <td><span (click)="detailinvo('may')">{{invoice.may || 0}}</span></td>
                    <td><span (click)="detailinvo('june')">{{invoice.june || 0}}</span></td>
                    <td><span (click)="detailinvo('july')">{{invoice.july || 0}}</span></td>
                    <td><span (click)="detailinvo('august')">{{invoice.august || 0}}</span></td>
                    <td><span (click)="detailinvo('september')">{{invoice.september || 0}}</span></td>
                    <td><span (click)="detailinvo('october')">{{invoice.october || 0}}</span></td>
                    <td><span (click)="detailinvo('november')">{{invoice.november || 0}}</span></td>
                    <td><span (click)="detailinvo('december')">{{invoice.december || 0}}</span></td>
                    <td><span (click)="detailinvo('january')">{{invoice.january || 0}}</span></td>
                    <td><span (click)="detailinvo('february')">{{invoice.february || 0}}</span></td>
                    <td><span (click)="detailinvo('march')">{{invoice.march || 0}}</span></td>
                    <td><b>{{average()}}</b></td>
                  </tr>
                  <tr *ngIf="invoice.length === 0">
                    <td colspan="12">No Data.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="invoice2">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6 back">
                  <button (click)="backinvo()"><img src="./assets/img/back-b.png"></button>
                </div>
                <div class="col-sm-6 download">
                  <button (click)="downloadReportInvoice()"><img src="./assets/img/union.png"> Download Report</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 croll" style="max-height: 290px;">
              <table class="tablePending invoice2">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Bill to</th>
                    <th>Invoice No.</th>
                    <th>Invoice Date</th>
                    <th>Invoice Category</th>
                    <th>Due Date</th>
                    <th>Invoice Amount</th>
                    <th>TOP</th>
                    <th>Tax Invoice</th>
                    <th>SO No.</th>
                    <th>Payment Date</th>
                    <th>TL</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-item [ngForOf]="invoiceDetail" let-i="index">
                    <tr>
                      <td>{{i + 1}}.</td>
                      <td>{{item.sold_to_code}}</td>
                      <td><span>{{item.invoice_number}}</span></td>
                      <td>{{item.invoice_date | date: 'dd-MM-yyyy'}}</td>
                      <td>{{item.invoice_category}}</td>
                      <td>{{item.due_date | date: 'dd-MM-yyyy'}}</td>
                      <td class="text-right">{{item.invoice_amount * 100 | number: '1.'}}</td>
                      <td>{{item.payment_method | slice:'-2'}}</td>
                      <td><span>{{item.tax_invoice_number}}</span></td>
                      <td><span>{{item.sales_order_number}}</span></td>
                      <td>{{item.payment_date | date: 'dd-MM-yyyy'}}</td>
                      <td>{{item.timeline_value}}</td>
                    </tr>
                  </ng-template>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="10"></td>
                    <td>Average</td>
                    <td>{{invoiceDetail[0].average_timeline}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mgn-t-15">
          <table class="tablePending invoice">
            <thead>
              <tr>
                <th colspan="2">Timeline (TL) Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>0</b></td>
                <td>On time Payment</td>
              </tr>
              <tr>
                <td><b>(-)</b></td>
                <td>Payment before Due Date</td>
              </tr>
              <tr>
                <td><b>(+)</b></td>
                <td>Payment after Due Date</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main-page>
