<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 userManage" *ngIf="userManage1">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">User Management</h5>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-sm-12">
          <!-- <span>Search</span> -->
        </div>
        <div class="col-sm-6">
          <!-- <input type="text"> -->
        </div>
        <div class="col-sm-6">
          <button [disabled]="!canAddEditUser ? 'disabled' : null" class="addUserMan" (click)="addUser()"><img src="./assets/img/add-user.png"> Add New User</button>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <table class="tblUserManage">
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Email</th>
                <th colspan="2">Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList; let i = index">
                <td>{{i + 1}}.</td>
                <td>{{user.first_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                <td><button [disabled]="!canAddEditUser ? 'disabled' : null" (click)="editDealer(user.id)">
                  <img src="./assets/img/update.png"> Edit</button>
                </td>
                <td>
                    <button [disabled]="!canAddEditUser ? 'disabled' : null" (click)="deleteAcc(user.id)">
                    <img src="./assets/img/delete.png"> Terminate</button>
                </td>
              </tr>
              <!-- <tr>
                <td>1.</td><td>Name #1</td><td>name1@email.com</td><td>Manager</td><td><button><img src="./assets/img/update.png"> Edit</button><button><img src="./assets/img/delete.png"> Terminate</button></td>
              </tr>
              <tr>
                <td>2.</td><td>Name #2</td><td>name2@email.com</td><td>Supervisor</td><td><button><img src="./assets/img/update.png"> Edit</button><button><img src="./assets/img/delete.png"> Terminate</button></td>
              </tr>
              <tr>
                <td>3.</td><td>Name #3</td><td>name3@email.com</td><td>Staff</td><td><button><img src="./assets/img/update.png"> Edit</button><button><img src="./assets/img/delete.png"> Terminate</button></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 addUserManage" *ngIf="userManage2">
      <!-- <form action=""> -->
        <div class="sticky-top sticky-offset bgUserManage">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="title-content">Add/Edit User</h5>
            </div>
            <div class="col-sm-6">
              <button (click)="saveEditUser()" class="saveAcc">Save</button>
              <button (click)="disAcc()" class="disAcc">Discard</button>
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-sm-4">
              <span>User Name</span>
              <input class="userNameMana" readonly type="text" [(ngModel)]="username" name="username">
            </div>
            <div class="col-sm-2">
              <span>Role</span>
              <select [(ngModel)]="role" name="role" id="" class="form-control custom-select custom-filter">
                <option value="supervisor">Supervisor</option>
                <option value="manager">Manager</option>
                <option value="staff">Staff</option>
              </select>
            </div>
            <div class="col-sm-3">
              <span>Email</span>
              <input class="userEmail" readonly type="text" [(ngModel)]="email" name="email">
            </div>
          </div>
        </div>
        <div class="">
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <span>Access</span>
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <span>Dealer Profile :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="addEditUser" class="custom-control-input" id="check_1" />
                    <label class="custom-control-label" for="check_1">&nbsp;Add, edit and terminate user</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewDealerProfileMenu" class="custom-control-input" id="check_2">
                    <label class="custom-control-label" for="check_2">&nbsp;Preview Dealer Profile menu</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="updateDealerInformation" class="custom-control-input" id="check_3">
                    <label class="custom-control-label" for="check_3">&nbsp;Update Dealer Information</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Order Entry :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="createOrder" class="custom-control-input" id="check_4">
                    <label class="custom-control-label" for="check_4">&nbsp;Create Order</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="downloadOrderDocument" class="custom-control-input" id="check_5">
                    <label class="custom-control-label" for="check_5">&nbsp;Download Simulate Order and Order
                      Confirmation Document</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="simulateOrder" class="custom-control-input" id="check_6">
                    <label class="custom-control-label" for="check_6">&nbsp;Simulate Order (Note: If preview price is
                      untick, user still able to do Simulate without price Information)</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewPriceSimulate" class="custom-control-input" id="check_7">
                    <label class="custom-control-label" for="check_7">&nbsp;Preview Price in Simulate Order </label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="doingPayment" class="custom-control-input" id="check_8">
                    <label class="custom-control-label" for="check_8">&nbsp;Doing Payment</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Order Status :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewOrderReport" class="custom-control-input" id="check_9">
                    <label class="custom-control-label" for="check_9">&nbsp;Preview Order Report</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="downloadSalesOrderDocument" class="custom-control-input" id="check_10">
                    <label class="custom-control-label" for="check_10">&nbsp;Preview price and Download Sales Order
                      Document, Invoice Document and Tax Invoice Document.</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Delivery Information :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewDownloadDeliveryReport" class="custom-control-input" id="check_11">
                    <label class="custom-control-label" for="check_11">&nbsp;Preview, update delivery report and
                      download document.</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Inquiry :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewAvailability" class="custom-control-input" id="check_12">
                    <label class="custom-control-label" for="check_12">&nbsp;Preview availability</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewPriceInq" class="custom-control-input" id="check_13">
                    <label class="custom-control-label" for="check_13">&nbsp;Preview price</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Outstanding Invoice Report :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewDownloadOutstandingReport" class="custom-control-input" id="check_14">
                    <label class="custom-control-label" for="check_14">&nbsp;Preview, Download, Preview invoice
                      information and do payment in Outstanding Invoice Report.</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewAPAging" class="custom-control-input" id="check_15">
                    <label class="custom-control-label" for="check_15">&nbsp;Preview A/P Aging</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewInvoiceTimeliness" class="custom-control-input" id="check_16">
                    <label class="custom-control-label" for="check_16">&nbsp;Preview Invoice Timeliness</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Dealer Forecast :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="inputUploadDealerForecast" class="custom-control-input" id="check_17">
                    <label class="custom-control-label" for="check_17">&nbsp;Input or Upload and preview Dealer
                      Forecast.(Exclude Discount or Voucher Code Information)</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Sales Promo :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="previewPromoDetail" class="custom-control-input" id="check_18">
                    <label class="custom-control-label" for="check_18">&nbsp;Preview all Promo Detail.</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Dealer Stock :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="inputUploadDealerStock" class="custom-control-input" id="check_19">
                    <label class="custom-control-label" for="check_19">&nbsp;Input or Upload and preview Dealer
                      Stock.</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Service Claim :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="inputWarrantyCard" class="custom-control-input" id="check_20">
                    <label class="custom-control-label" for="check_20">&nbsp;Input Warranty Card</label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="claimServiceStatus" class="custom-control-input" id="check_21">
                    <label class="custom-control-label" for="check_21">&nbsp;Claim Status</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Logistic Claim :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="claimLogisticStatus" class="custom-control-input" id="check_22">
                    <label class="custom-control-label" for="check_22">&nbsp;Claim Status.</label>
                  </div>
                </div>
                <div class="col-sm-12 mgn-t-25">
                  <span>Information Sharing :</span>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" [(ngModel)]="downloadInformationSharing" class="custom-control-input" id="check_23">
                    <label class="custom-control-label" for="check_23">&nbsp;Download Information Sharing</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </form> -->
    </div>
    <div class="col-sm-12  CBUorderEntry" *ngIf="userManage3">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-4 fl-left">
              <span>Dealer</span>
              <input style="background-color: #C4C4C4!important;font-weight: bold" class="form-control" type="text"
                disabled [value]="dealerName">
            </div>
            <div class="col-4 fl-left">
              <span>Name  <i style="color:red">*</i></span>
              <input [(ngModel)]="username" class="form-control" type="text">
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-4 fl-left">
              <span>Email <i style="color:red">*</i></span>
              <input [(ngModel)]="email" class="form-control" type="text">
            </div>
            <div class="col-4 fl-left">
              <span>ID No. <i style="color:red">*</i></span>
              <input [(ngModel)]="id_number" class="form-control" type="text">
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-4 fl-left">
              <span>Mobile No. <i style="color:red">*</i></span>
              <input [(ngModel)]="mobile_number" class="form-control" type="text">
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-8 fl-left">
              <span>Address <i style="color:red">*</i></span>
              <input [(ngModel)]="address" class="form-control" type="text">
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-sm-12 contentt">
              <button (click)="saveAcc()" class="simOrder">Save</button>
              <button (click)="back()" class="saveAsDraft">Discard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
