<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate" *ngIf="tablePending">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Pending Transaction</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-7">
          <span>Sales Order No.</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_from"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let soNumbers of listPendingTransaction" [value]="soNumbers.so_number"></option>
          </datalist>
          <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_to"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let soNumbers of soNumber" [value]="soNumbers.sales_order_number"></option>
          </datalist>
        </div>
        <!-- <div class="col-sm-5">
          <div class="selcon-notif">
            <p>If Sales Order not settled within due date,
              it will be automatically cancelled</p>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span>Sales Order Date</span>
          <input type="text" class="input_date" [(ngModel)]="so_date_from" [ngModelOptions]="{standalone:true}"
            bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span>To</span>
          <input type="text" class="input_date" [(ngModel)]="so_date_to" [ngModelOptions]="{standalone:true}"
            bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col">
          <button class="addSubmit" (click)="search()">Submit</button>
          <button class="saveAsDraft float-left" (click)="reset()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" (keyup)="searchBox($event.target.value)" type="text"> -->
            <!-- <input class="fl-left" [(ngModel)]="searchText" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
            <b style="font-size: 14px;" class="fl-right">Amount in IDR</b>
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
          <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div>
          <div class="col-12 pdd-0">
            <div class="row">
              <div class="col">
                <input type="text" class="">
              </div>
              <div class="col col-lg-2">
                <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                  Filter</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row width-100">
              <div class="col-2 pdd-0 mgn-r-15">
                <span class="">Filter</span>
                <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                  style="margin-top: 0!important;">
                  <option value="order date">Sales Order Date</option>
                  <option value="order no">Sakes Order No.</option>
                  <option value="payment method">Payment Method</option>
                  <option value="payment due">Payment Due Date</option>
                </select>
              </div>
              <div *ngIf="filterDate" class="col-2 pdd-0">
                <span>Sales Order Date</span>
                <input type="text" class="input_date custom-filter" value="DD-MM-YYYY" style="margin-top: 0!important;"
                  bsDatepicker placement="bottom"
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div *ngIf="filterNo" class="col-2 pdd-0">
                <span class="m-0">Sales Order No.</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="paymentMethod" class="col-2 pdd-0">
                <span class="m-0">Payment Method</span>
                <input class="form-control custom-select custom-filter" list="payMethod" name="opSalOrNo">
                <datalist id="payMethod">
                  <option value="Bank Transfer">
                  <option value="Payment Gateway">
                </datalist>
              </div>
              <div *ngIf="paymentDue" class="col-2 pdd-0">
                <span style="width:100%">Payment Due Date</span>
                <input type="text" class="input_date custom-filter" value="DD-MM-YYYY" style="margin-top: 0!important;"
                  bsDatepicker placement="bottom"
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div class="col-2 pdd-0 mgn-l-15">
                <button class="addSubmit mgn-t-38">Submit</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12 mgn-t-15 croll" style="max-height: 245px;">
          <!-- <div class="col-12 mgn-t-15" style="max-height: 245px;"> -->
          <table class="tablePending">
            <thead>
              <tr>
                <th>No.</th>
                <th>Sales Order No.</th>
                <th>Dealer Order Type</th>
                <th>Sales Order Date</th>
                <th>Payment Method</th>
                <th>Payment Due Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="freshData">
                <tr *ngFor="let datas of listPendingTransaction; let i = index;">
                  <td>{{i+1}}.</td>
                  <td *ngIf="datas.sales_order_number"><a
                      (click)="conPendingOrder(datas.sales_order_number, 'order'+datas.order_type, 'idtrs', datas.confirmid)">{{datas.sales_order_number}}</a>
                  <td *ngIf="datas.vbeln"><a
                      (click)="conPendingOrder(datas.vbeln, 'orderBO'+datas.order_type, datas.idtrs_detail, datas.confirmid)">{{datas.vbeln}}</a>
                  <td>{{datas.order_type}}</td>
                  <td>{{datas.order_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.cash_payment_type}}</td>
                  <td>{{datas.payment_due_date | date: 'dd-MM-yyyy'}}</td>
                  <td class="text-right">Rp. {{datas.amount | number:"1."}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="filteredData">
                <tr *ngFor="let datas of listFiltered; let i = index">
                  <td>{{i+1}}.</td>
                  <td *ngIf="datas.sales_order_number"><a
                      (click)="conPendingOrder(datas.sales_order_number, 'order'+datas.order_type, 'idtrs', datas.confirmid)">{{datas.sales_order_number}}</a>
                  <td *ngIf="datas.vbeln"><a
                      (click)="conPendingOrder(datas.vbeln, 'orderBO'+datas.order_type, datas.idtrs_detail, datas.confirmid)">{{datas.vbeln}}</a>
                  <td>{{datas.order_type}}</td>
                  <td>{{datas.order_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.cash_payment_type}}</td>
                  <td>{{datas.payment_due_date | date: 'dd-MM-yyyy'}}</td>
                  <td class="text-right">Rp. {{datas.amount | number:"1."}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>



      </div>
    </div>
    <div class="row">
      <!-- Continue Order CBU -->
      <div class="col-sm-12" *ngIf="confirmCBU">
        <div class="row mgn-t-15">
          <div *ngIf="orderType == 'orderCBU'" class="col-sm-12">
            <h5 class="title-content">Order Pending Payment</h5><button class="btnFilter fl-right" (click)="backCBU()">
              << Back</button> </div> <div *ngIf="orderType == 'orderBOCBU'" class="col-sm-12">
                <h5 class="title-content">Backorder Pending payment</h5><button class="btnFilter fl-right"
                  (click)="backCBU()">
                  << Back</button> </div> </div> <!-- Non BO CBU -->
                    <div *ngIf="cbuNotBO" class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
                      <div class="col-sm-12">
                        <div class="col-3 fl-left">
                          <span>Purchase Order No. (Optional)</span>
                          <span>{{this.cbu.punchOrnumb}}</span>
                          <span>{{this.cbuBO.punchOrnumb}}</span>
                        </div>
                        <div class="col-2 fl-left">
                          <span>Order Date</span>
                          <span><b>{{this.cbu.order_date | date: 'dd-MM-yyyy'}}</b></span>
                        </div>
                        <div class="col-4 fl-left">
                          <span>Bill to Name</span>
                          <span><b>{{this.cbu.billpay}}</b></span>
                        </div>
                        <div class="col-3 fl-left">
                          <span>Ship To</span>
                          <span><b>{{this.cbu.shipto}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-15">
                        <div class="col-3 fl-left">
                          <span>Remarks (Optional)</span>
                          <span>{{this.cbu.remarks}}</span>
                        </div>
                        <div class="col-6 fl-left">
                          <span>Sales Order Number</span>
                          <b><span>{{this.cbu.sales_order_number}}</span></b>
                        </div>
                        <div class="col-3 fl-left">
                          <span>Payment Method</span>
                          <span><b>{{this.cbu.payment_method}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-15">
                        <div class="col croll" style="max-height:345px">
                          <table class="tableCBU" id="tableCBUConfirmation">
                            <thead>
                              <tr>
                                <th>No.</th>
                                <th>Description</th>
                                <th>Material Code</th>
                                <th>Material Group</th>
                                <th>Ordered</th>
                                <th>Allocated</th>
                                <th>Backorder</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                                <th>Discount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-template ngFor let-item [ngForOf]="data_material_cbu" let-i="index"
                                [ngForTrackBy]="trackByFn">
                                <!-- <tr *ngIf="item.uepos == '000000'" id="ztr">
                          <td id = "number">{{item.number}}</td>
                          <td id="zznetwr2" style="display:none">{{item.znetwr2}}</td><td id="zuepos" style="display:none">{{item.uepos}}</td><td id="zbase_unit_of_measure" style="display:none">{{item.vrkme}}</td><td id="zsloc" style="display:none">{{item.lgort}}</td><td id = "zmatDesc">{{item.matwa}}</td><td id = "zmatCode">{{item.matnr}}</td><td id = "zmatGroup">{{item.material_group}}</td><td *ngIf="item.uepos == '000000'" id = "zkwmeng">{{item.kwmeng}}</td><td *ngIf="item.uepos == '000000'" id = "zzkwmeng2">{{item.zkwmeng2}}</td><td *ngIf="item.uepos == '000000'" id = "zbackorder">{{item.backorder}}</td><td *ngIf="item.uepos == '000000'" id = "znetpr">{{item.netpr}}</td><td *ngIf="item.uepos == '000000'" id = "znetwr">{{item.netwr}}</td><td *ngIf="item.uepos == '000000'" id = "zzdiscount">{{item.zdiscount}}</td>
                        </tr>
                        <tr *ngIf="item.uepos != '000000'" id="tr">
                          <td id = "number">{{item.number}}</td>
                          <td id="uepos" style="display:none">{{item.uepos}}</td><td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td><td id="sloc" style="display:none">{{item.lgort}}</td><td id = "matDesc">{{item.material_description}}</td><td id = "matCode">{{item.material_number}}</td><td id = "matGroup">{{item.material_group}}</td><td *ngIf="item.uepos == '000000'" id = "kwmeng">{{item.kwmeng}}</td><td *ngIf="item.uepos == '000000'" id = "zkwmeng2">{{item.zkwmeng2}}</td><td *ngIf="item.uepos == '000000'" id = "backorder">{{item.backorder}}</td><td *ngIf="item.uepos == '000000'" id = "netpr">{{item.netpr}}</td><td *ngIf="item.uepos == '000000'" id = "netwr">{{item.netwr}}</td><td *ngIf="item.uepos == '000000'" id = "zdiscount">{{item.zdiscount}}</td>
                        </tr> -->
                                <tr id="tr">
                                  <td id="number">{{ i + 1}}</td>
                                  <td id="uepos" style="display:none">{{item.uepos}}</td>
                                  <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                                  <td id="sloc" style="display:none">{{item.lgort}}</td>
                                  <td id="matDesc">{{item.material_description}}</td>
                                  <td id="matCode">{{item.material_number | slice:-6}}</td>
                                  <td id="matGroup">{{item.mg_description}}</td>
                                  <td id="kwmeng">{{item.ordered}}</td>
                                  <td id="zkwmeng2">{{item.allocated}}</td>
                                  <td id="backorder">{{item.backorder}}</td>
                                  <td id="netpr" align="right">{{item.unit_price | number:'1.'}}</td>
                                  <td id="netwr" align="right">{{item.total_amount | number:'1.'}}</td>
                                  <td id="zdiscount" align="right">{{(item.discount | number:'1.').replace('-', '')}}
                                  </td>
                                </tr>
                              </ng-template>
                            </tbody>
                            <tfoot>
                              <tr class="border-bottom">
                                <td style="position:relative;" colspan="4">Total Order</td>
                                <td style="position:relative;" id="totalSimulateOrder">
                                  {{totalConfirmationOrderQtyCBU()}}</td>
                                <td style="position:relative;">{{totalAllocatedCBU()}}</td>
                                <td style="position:relative;" colspan="4">{{totalBackorderCBU()}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Order</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_amount_cbu | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Allocated Before
                                  Disc.</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_allocated_before_discount_cbu | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Discount Allocated
                                </td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_discount_cbu | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Allocated After
                                  Disc.</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_allocated_cbu | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">VAT</td>
                                <td style="position:relative;" class="text-right" colspan="2">{{vat_cbu | number:'1.'}}
                                </td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Allocated With VAT
                                </td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_allocated_with_vat_cbu | number:'1.'}}</td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-15" *ngIf="CashCBU && is_tester">
                        <div class="col">
                          <table class="payment">
                            <thead>
                              <tr>
                                <th colspan="2">
                                  <input class="fl-left" type="radio" checked="checked" name="jenisPay"
                                    (click)="jenisPay(1)">
                                  <span class="typeTF">Manual Bank Transfer</span>
                                </th>
                                  <!-- ENABLE THIS -->
                                <th colspan="2">
                                  <input class="fl-left" type="radio" name="jenisPay" (click)="jenisPay(2)">
                                  <span class="typeTF">Online Payment</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td [ngClass]="disabledPay1">
                                  <img src="./assets/img/bca.png">
                                </td>
                                <td [ngClass]="disabledPay2">
                                  <span>Account No: <b>{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
                                </td>
                                <td [ngClass]="disabledPay3">
                                  <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('credit-card')" type="radio" name="virAccount" id="mbca"><img
                                      style="width: 70px;" src="./assets/img/credit2.png"><label for="mbca">Credit Card</label></div>
                                  <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('klik-bca')" type="radio" name="virAccount" id="mbca"><img
                                      src="./assets/img/Kbca.png"><label style="margin-left: 35px;" for="mbca">KlikBCA</label></div>
                                  <div class="col userID">User ID KlikBCA : <input type="text" name="userIDBCA" id="userIDBCA" [(ngModel)]="userIDBCA"></div>
                                  <div class="col"><p style="position: absolute;
                                    bottom: -55px;
                                    left: 16px;">Masukan User ID KlikBCA Anda yang terdaftar dan aktif kemudian pilih <b>Confirm Payment</b> untuk melanjutkan pembayaran</p></div>
                                  
                                </td>
                                <td [ngClass]="disabledPay4">
                                  <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('cimb-click')" type="radio" name="virAccount" id="mbca"><img
                                      src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label></div>
                                  <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('ipay-bni')" type="radio" name="virAccount" id="mbca"><img
                                      src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label></div>
                                  <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('permata-bankva')" type="radio" name="virAccount" id="mbca"><img
                                      src="./assets/img/permata.png"><label for="mbca">Permata Bank VA</label></div>
                                  <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('bca-va')" type="radio" name="virAccount" id="mbca"><img 
                                      src="./assets/img/bca-big.png"><label for="mbca">BCA VA</label></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-25">
                        <div class="col-6 fl-left">
                          <button type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
                        </div>
                        <div class="col-6 fl-left" *ngIf="btnContinue">
                          <button (click)="conOrderCBU()" class="conOrder">Confirm Payment</button>
                        </div>
                      </div>
                    </div>

                    <!-- Bo CBU -->
                    <div *ngIf="cbuIsBO" class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
                      <div class="col-sm-12">
                        <div class="col-3 fl-left">
                          <span>Purchase Order No. (Optional)</span>
                          <span>{{this.cbuBO.punchOrnumb}}</span>
                        </div>
                        <div class="col-2 fl-left">
                          <span>Order Date</span>
                          <span><b>{{this.cbuBO.order_date | date: 'dd-MM-yyyy'}}</b></span>
                        </div>
                        <div class="col-4 fl-left">
                          <span>Bill to Name</span>
                          <span><b>{{this.cbuBO.billpay}}</b></span>
                        </div>
                        <div class="col-3 fl-left">
                          <span>Ship To</span>
                          <span><b>{{this.cbuBO.shipto}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-15">
                        <div class="col-3 fl-left">
                          <span>Remarks (Optional)</span>
                          <span>{{this.cbuBO.remarks}}</span>
                        </div>
                        <div class="col-6 fl-left">
                          <span>Sales Order Number</span>
                          <b><span>{{this.cbuBO.sales_order_number}}</span></b>
                        </div>
                        <div class="col-3 fl-left">
                          <span>Payment Method</span>
                          <span><b>{{this.cbuBO.payment_method}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-15">
                        <div class="col croll" style="max-height:345px">
                          <table class="tableCBU" id="tableCBUConfirmationBO">
                            <thead>
                              <tr>
                                <th>No.</th>
                                <th>Description</th>
                                <th>Material Code</th>
                                <th>Material Group</th>
                                <!-- <th>Ordered</th> -->
                                <!-- <th>Allocated</th> -->
                                <th>Backorder Allocated</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                                <th colspan="2">Discount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-template ngFor let-item [ngForOf]="data_material_cbu_bo" let-i="index"
                                [ngForTrackBy]="trackByFn">
                                <!-- <tr *ngIf="item.uepos == '000000'" id="ztr">
                            <td id = "number">{{item.number}}</td>
                            <td id="zznetwr2" style="display:none">{{item.znetwr2}}</td><td id="zuepos" style="display:none">{{item.uepos}}</td><td id="zbase_unit_of_measure" style="display:none">{{item.vrkme}}</td><td id="zsloc" style="display:none">{{item.lgort}}</td><td id = "zmatDesc">{{item.matwa}}</td><td id = "zmatCode">{{item.matnr}}</td><td id = "zmatGroup">{{item.material_group}}</td><td *ngIf="item.uepos == '000000'" id = "zkwmeng">{{item.kwmeng}}</td><td *ngIf="item.uepos == '000000'" id = "zzkwmeng2">{{item.zkwmeng2}}</td><td *ngIf="item.uepos == '000000'" id = "zbackorder">{{item.backorder}}</td><td *ngIf="item.uepos == '000000'" id = "znetpr">{{item.netpr}}</td><td *ngIf="item.uepos == '000000'" id = "znetwr">{{item.netwr}}</td><td *ngIf="item.uepos == '000000'" id = "zzdiscount">{{item.zdiscount}}</td>
                          </tr>
                          <tr *ngIf="item.uepos != '000000'" id="tr">
                            <td id = "number">{{item.number}}</td>
                            <td id="uepos" style="display:none">{{item.uepos}}</td><td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td><td id="sloc" style="display:none">{{item.lgort}}</td><td id = "matDesc">{{item.material_description}}</td><td id = "matCode">{{item.material_number}}</td><td id = "matGroup">{{item.material_group}}</td><td *ngIf="item.uepos == '000000'" id = "kwmeng">{{item.kwmeng}}</td><td *ngIf="item.uepos == '000000'" id = "zkwmeng2">{{item.zkwmeng2}}</td><td *ngIf="item.uepos == '000000'" id = "backorder">{{item.backorder}}</td><td *ngIf="item.uepos == '000000'" id = "netpr">{{item.netpr}}</td><td *ngIf="item.uepos == '000000'" id = "netwr">{{item.netwr}}</td><td *ngIf="item.uepos == '000000'" id = "zdiscount">{{item.zdiscount}}</td>
                          </tr> -->
                                <tr *ngIf="item.uepos == '000000'" id="tr">
                                  <td id="number">{{item.number}}</td>
                                  <td id="uepos" style="display:none">{{item.uepos}}</td>
                                  <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                                  <td id="sloc" style="display:none">{{item.lgort}}</td>
                                  <td id="matDesc">{{item.material_description}}</td>
                                  <td id="matCode">{{item.material_number | slice:-6}}</td>
                                  <td id="matGroup">{{item.mg_description}}</td>
                                  <!-- <td id="kwmeng">{{item.ordered}}</td> -->
                                  <!-- <td id="zkwmeng2">{{item.allocated}}</td> -->
                                  <td id="backorder">{{item.allocated}}</td>
                                  <td id="netpr" align="right">{{item.unit_price | number:'1.'}}</td>
                                  <td id="netwr" align="right">{{item.total_amount | number:'1.'}}</td>
                                  <td id="zdiscount" align="right" colspan="2">{{item.discount | number:'1.'}}</td>
                                </tr>
                                <tr *ngIf="item.uepos != '000000'" id="ztr">
                                    <td id="number"></td>
                                    <td id="uepos" style="display:none">{{item.uepos}}</td>
                                    <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                                    <td id="sloc" style="display:none">{{item.lgort}}</td>
                                    <td id="matDesc">{{item.material_description}}</td>
                                    <td id="matCode">{{item.material_number | slice:-6}}</td>
                                    <td id="matGroup">{{item.mg_description}}</td>
                                    <!-- <td id="zkwmeng"></td> -->
                                    <!-- <td id="zzkwmeng2"></td> -->
                                    <td id="zbackorder"></td>
                                    <td id="znetpr" align="right"></td>
                                    <td id="znetwr" align="right"></td>
                                    <td id="zzdiscount" align="right" colspan="2"></td>
                                  </tr>
                              </ng-template>
                            </tbody>
                            <tfoot>
                              <tr class="border-bottom">
                                <td style="position:relative;" colspan="4">Total Order</td>
                                <!-- <td style="position:relative;" id="totalSimulateOrder"> -->
                                  <!-- {{totalConfirmationOrderQtyCBUBO()}}</td> -->
                                <!-- <td style="position:relative;">{{totalAllocatedCBUBO()}}</td> -->
                                <td style="position:relative;" colspan="5">{{totalBackorderCBUBO()}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Order</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{totalOrderCBUBO() | number: '1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Allocated Before
                                  Disc.</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_before_discount_cbu_bo | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Discount Allocated
                                </td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_discount_cbu_bo | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Allocated After
                                  Disc.</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_allocated_cbu_bo | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">VAT</td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{vat_cbu_bo | number:'1.'}}</td>
                              </tr>
                              <tr>
                                <td style="position:relative;" class="text-right" colspan="8">Total Allocated With VAT
                                </td>
                                <td style="position:relative;" class="text-right" colspan="2">
                                  {{total_allocated_with_vat_cbu_bo | number:'1.'}}</td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                      <div class="col-sm-12 mgn-t-15" *ngIf="CashCBU && is_tester">
                        <!-- <div class="col">
                          <table class="payment">
                            <thead>
                              <tr>
                                <th colspan="2">
                                  <input class="fl-left" type="radio" checked="checked" name="jenisPay"
                                    (click)="jenisPay(1)">
                                  <span class="typeTF">Bank Transfer</span>
                                </th>
                                <th colspan="2">
                                  <input class="fl-left" type="radio" name="jenisPay" (click)="jenisPay(2)">
                                  <span class="typeTF">Payment Gateway</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td [ngClass]="disabledPay1"><img src="./assets/img/bca.png"></td>
                                <td [ngClass]="disabledPay2"><span>Account No: <b>0987672</b><br>A/N Honda Power
                                    Product<br>KCP
                                    Pulogadung</span></td>
                                <td [ngClass]="disabledPay3">
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/credit.png"><label for="mbca">Credit Card</label>
                                  </div>
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/Kbca.png"><label for="mbca">KlikBCA</label></div>
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/bcaklikpay.png"><label for="mbca">BCA
                                      KlikPay</label></div>
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label>
                                  </div>
                                </td>
                                <td [ngClass]="disabledPay4">
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label>
                                  </div>
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/mandiriC.png"><label for="mbca">Mandiri
                                      Clickpay</label></div>
                                  <div class="col"><input class="virAccRadio" type="radio" name="virAccount"
                                      id="mbca"><img src="./assets/img/permata.png"><label for="mbca">Permata Bank
                                      VA</label></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div> -->
                      </div>
                      <div class="col-sm-12 mgn-t-25">
                        <div class="col-6 fl-left">
                          <button type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
                        </div>
                        <div class="col-6 fl-left" *ngIf="btnContinueBO">
                          <button (click)="conOrderCBU()" class="conOrder">Confirm Payment</button>
                        </div>
                      </div>
                    </div>
          </div>

          <!-- Continue Order Sparepart -->
          <div class="col-sm-12" *ngIf="confirmSpare">
            <div class="row mgn-t-15">
              <div *ngIf="orderType == 'orderSparepart'" class="col-sm-12">
                <h5 class="title-content">Order Pending Payment</h5><button class="btnFilter fl-right"
                  (click)="backSpare()">
                  << Back</button> </div> <div *ngIf="orderType == 'orderBOSparepart'" class="col-sm-12">
                    <h5 class="title-content">Backorder Pending payment</h5><button class="btnFilter fl-right"
                      (click)="backSpare()">
                      << Back</button> </div> </div> <!-- Non BO Sparepart -->
                        <div *ngIf="partNotBO" class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
                          <div class="col-sm-12">
                            <div class="col-3 fl-left">
                              <span>Purchase Order No. (Optional)</span>
                              <span>{{part.punchOrnumb}}</span>
                            </div>
                            <div class="col-2 fl-left">
                              <span>Order Date</span>
                              <span><b>{{part.order_date | date: 'dd-MM-yyyy'}}</b></span>
                            </div>
                            <div class="col-4 fl-left">
                              <span>Bill to Name</span>
                              <span><b>{{part.billpay}}</b></span>
                            </div>
                            <div class="col-3 fl-left">
                              <span>Ship To</span>
                              <span><b>{{part.shipto}}</b></span>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-15">
                            <div class="col-3 fl-left">
                              <span>Remarks (Optional)</span>
                              <span>{{part.remarks}}</span>
                            </div>
                            <div class="col-2 fl-left">
                              <span>Sales Order Number</span>
                              <b><span>{{part.sales_order_number}}</span></b>
                            </div>
                            <div class="col-4 fl-left">
                              <span>Delivery Priority</span>
                              <span><b>{{part.delivery_priority}}</b></span>
                            </div>
                            <div class="col-3 fl-left">
                              <span>Payment Method</span>
                              <span><b>{{part.payment_method}}</b></span>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-15">
                            <div class="col croll" style="max-height:345px">
                              <table class="tableCBU" id="tableSparepartConfirm">
                                <thead>
                                  <tr>
                                    <th>No.</th>
                                    <th>Material Code</th>
                                    <th>Description</th>
                                    <th class="width-250">Model Unit</th>
                                    <th>Ordered</th>
                                    <th>Allocated</th>
                                    <th>Backorder</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                    <th>Discount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-template ngFor let-item [ngForOf]="data_material_part" let-i="index"
                                    [ngForTrackBy]="trackByFn">
                                    <tr>
                                      <td>{{ i + 1}}</td>
                                      <td id="matnr">{{item.material_number}}</td>
                                      <td id="matwa">{{item.material_description}}</td>
                                      <td>{{item.model}}</td>
                                      <td id="kwmeng">{{item.ordered}}</td>
                                      <td id="zkwmeng2">{{item.allocated}}</td>
                                      <td id="backorder">{{item.backorder}}</td>
                                      <td id="netpr" align="right">{{item.unit_price | number:'1.'}}</td>
                                      <td id="netwr" align="right">{{item.total_amount | number:'1.'}}</td>
                                      <td id="zdiscount" align="right">
                                        {{item.discount | number:'1.'}}</td>
                                    </tr>
                                  </ng-template>
                                </tbody>
                                <tfoot>
                                  <tr class="border-bottom">
                                    <td style="position:relative;" colspan="4">Total</td>
                                    <td style="position:relative;">{{totalConfirmationOrderQtySparepart()}}</td>
                                    <td style="position:relative;">{{totalAllocatedQtySubmitSparepart()}}</td>
                                    <td style="position:relative;" colspan="4">{{totalBackorderSparepart()}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Order</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{total_amount_sparepart | number:'1.'}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Allocated Before
                                      Disc.</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{(total_allocated_before_discount_sparepart | number:'1.')}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total
                                      Discount Allocated</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{(total_discount_sparepart | number:'1.')}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Allocated After
                                      Disc.</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{this.total_allocated_sparepart | number:'1.'}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">VAT</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{this.vat_sparepart | number:'1.'}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Allocated With
                                      VAT</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{this.total_allocated_with_vat_sparepart | number:'1.'}}</td>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-15" *ngIf="CashSparepart && is_tester">
                            <div class="col">
                              <table class="payment">
                                <thead>
                                  <tr>
                                    <th colspan="2">
                                      <input class="fl-left" type="radio" checked="checked" name="jenisPay"
                                        (click)="jenisPay(1)">
                                      <span class="typeTF">Manual Bank Transfer</span>
                                    </th>
                                    <th colspan="2">
                                      <!-- ENABLE THIS -->
                                      <input class="fl-left" type="radio" name="jenisPay" (click)="jenisPay(2)">
                                      <span class="typeTF">Online Payment</span>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td [ngClass]="disabledPay1">
                                      <img src="./assets/img/bca.png">
                                    </td>
                                    <td [ngClass]="disabledPay2">
                                      <span>Account No: <b>{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
                                    </td>
                                    <!-- UNCOMMENT THIS -->
                                    <td [ngClass]="disabledPay3">
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('credit-card')" type="radio" name="virAccount" id="mbca"><img
                                          style="width: 70px;" src="./assets/img/credit2.png"><label for="mbca">Credit Card</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('klik-bca')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/Kbca.png"><label style="margin-left: 35px;" for="mbca">KlikBCA</label></div>
                                      <div class="col userID">User ID KlikBCA : <input type="text" name="userIDBCA" id="userIDBCA" [(ngModel)]="userIDBCA"></div>
                                      <div class="col"><p style="position: absolute;
                                        bottom: -55px;
                                        left: 16px;">Masukan User ID KlikBCA Anda yang terdaftar dan aktif kemudian pilih <b>Confirm Payment</b> untuk melanjutkan pembayaran</p></div>
                                      
                                    </td>
                                    <td [ngClass]="disabledPay4">
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('cimb-click')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('ipay-bni')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('permata-bankva')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/permata.png"><label for="mbca">Permata Bank VA</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('bca-va')" type="radio" name="virAccount" id="mbca"><img 
                                          src="./assets/img/bca-big.png"><label for="mbca">BCA VA</label></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-25">
                            <div class="col-6 fl-left">
                              <button type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
                            </div>
                            <div class="col-6 fl-left" *ngIf="btnContinue">
                              <button (click)="conOrderSparepart()" class="conOrder">Confirm Payment</button>
                            </div>
                          </div>
                        </div>

                        <!-- BO Sparepart -->
                        <div *ngIf="partIsBO" class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
                          <div class="col-sm-12">
                            <div class="col-3 fl-left">
                              <span>Purchase Order No. (Optional)</span>
                              <span>{{partBO.punchOrnumb}}</span>
                            </div>
                            <div class="col-2 fl-left">
                              <span>Order Date</span>
                              <span><b>{{partBO.order_date | date: 'dd-MM-yyyy'}}</b></span>
                            </div>
                            <div class="col-4 fl-left">
                              <span>Bill to Name</span>
                              <span><b>{{partBO.billpay}}</b></span>
                            </div>
                            <div class="col-3 fl-left">
                              <span>Ship To</span>
                              <span><b>{{partBO.shipto}}</b></span>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-15">
                            <div class="col-3 fl-left">
                              <span>Remarks (Optional)</span>
                              <span>{{partBO.remarks}}</span>
                            </div>
                            <div class="col-3 fl-left">
                              <span>Sales Order Number</span>
                              <b><span>{{partBO.sales_order_number}}</span></b>
                            </div>
                            <div class="col-3 fl-left">
                              <span>Delivery Priority</span>
                              <span><b>{{partBO.delivery_priority}}</b></span>
                            </div>
                            <div class="col-3 fl-left">
                              <span>Payment Method</span>
                              <span><b>{{partBO.payment_method}}</b></span>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-15">
                            <div class="col croll" style="max-height:345px">
                              <table class="tableCBU" id="tableSparepartConfirmBO">
                                <thead>
                                  <tr>
                                    <th>No.</th>
                                    <th>Material Code</th>
                                    <th>Description</th>
                                    <th class="width-250">Model Unit</th>
                                    <!-- <th>Ordered</th> -->
                                    <!-- <th>Allocated</th> -->
                                    <th>Backorder Allocated</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                    <th colspan="2">Discount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-template ngFor let-item [ngForOf]="data_material_part_bo" let-i="index"
                                    [ngForTrackBy]="trackByFn">
                                  <tr *ngIf="item.uepos == '000000'" id="tr">
                                    <td>{{ i + 1}}</td>
                                    <td id="matnr">{{item.material_number}}</td>
                                    <td id="matwa">{{item.material_description}}</td>
                                    <td>{{item.model}}</td>
                                    <!-- <td id="kwmeng">{{item.ordered}}</td> -->
                                    <!-- <td id="zkwmeng2">{{item.allocated}}</td> -->
                                    <td id="backorder">{{item.allocated}}</td>
                                    <td id="netpr" align="right">{{item.unit_price | number:'1.'}}</td>
                                    <td id="netwr" align="right">{{item.total_amount | number:'1.'}}</td>
                                    <td id="zdiscount" align="right" colspan="2">{{item.discount | number:'1.'}}</td>
                                  </tr>

                                  <tr *ngIf="item.uepos != '000000'" id="ztr">
                                      <td id="number"></td>
                                      <td id="uepos" style="display:none">{{item.uepos}}</td>
                                      <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                                      <td id="sloc" style="display:none">{{item.lgort}}</td>
                                      <td id="matDesc">{{item.material_description}}</td>
                                      <td id="matCode">{{item.material_number}}</td>
                                      <td id="matGroup">{{item.mg_description}}</td>
                                      <!-- <td id="zkwmeng"></td> -->
                                      <!-- <td id="zzkwmeng2"></td> -->
                                      <td id="zbackorder"></td>
                                      <td id="znetpr" align="right"></td>
                                      <td id="znetwr" align="right"></td>
                                      <td id="zzdiscount" align="right" colspan="2"></td>
                                    </tr>
                                  </ng-template>
                                </tbody>
                                <tfoot>
                                  <tr class="border-bottom">
                                    <td style="position:relative;" colspan="4">Total Order</td>
                                    <!-- <td style="position:relative;">{{totalConfirmationOrderQtySparepartBO()}}</td> -->
                                    <!-- <td style="position:relative;">{{totalAllocatedQtySubmitSparepartBO()}}</td> -->
                                    <td style="position:relative;" colspan="5">{{totalBackorderSparepartBO()}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Order</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{total_amount_sparepart_bo | number: '1.'}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Allocated Before
                                      Disc.</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{(total_discount_before_sparepart_bo | number:'1.')}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Discount
                                      Allocated</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{(total_discount_sparepart_bo | number:'1.')}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Allocated After
                                      Disc.</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{this.total_allocated_sparepart_bo | number:'1.'}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">VAT</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{this.vat_sparepart_bo | number:'1.'}}</td>
                                  </tr>
                                  <tr>
                                    <td style="position:relative;" class="text-right" colspan="8">Total Allocated With
                                      VAT</td>
                                    <td style="position:relative;" class="text-right" colspan="2">
                                      {{this.total_allocated_with_vat_sparepart_bo | number:'1.'}}</td>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-15" *ngIf="CashSparepart && is_tester">
                            <div *ngIf="canDoingPayment" class="col">
                              <table class="payment">
                                <thead>
                                  <tr>
                                    <th colspan="2">
                                      <input class="fl-left" type="radio" checked="checked" name="jenisPay" (click)="jenisPay(1)">
                                      <span class="typeTF">Manual Bank Transfer</span>
                                    </th>
                                    <!-- ENABLE THIS -->
                                    <th colspan="2">
                                      <input class="fl-left" type="radio" name="jenisPay" (click)="jenisPay(2)">
                                      <span class="typeTF">Online Payment</span>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td [ngClass]="disabledPay1">
                                      <img src="./assets/img/bca.png">
                                    </td>
                                    <td [ngClass]="disabledPay2">
                                      <span>Account No: <b>{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
                                    </td>
                                    <td [ngClass]="disabledPay3">
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('credit-card')" type="radio" name="virAccount" id="mbca"><img
                                          style="width: 70px;" src="./assets/img/credit2.png"><label for="mbca">Credit Card</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('klik-bca')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/Kbca.png"><label style="margin-left: 35px;" for="mbca">KlikBCA</label></div>
                                      <div class="col userID">User ID KlikBCA : <input type="text" name="userIDBCA" id="userIDBCA" [(ngModel)]="userIDBCA"></div>
                                      <div class="col"><p style="position: absolute;
                                        bottom: -55px;
                                        left: 16px;">Masukan User ID KlikBCA Anda yang terdaftar dan aktif kemudian pilih <b>Confirm Payment</b> untuk melanjutkan pembayaran</p></div>
                                      
                                    </td>
                                    <td [ngClass]="disabledPay4">
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('cimb-click')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('ipay-bni')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('permata-bankva')" type="radio" name="virAccount" id="mbca"><img
                                          src="./assets/img/permata.png"><label for="mbca">Permata Bank VA</label></div>
                                      <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('bca-va')" type="radio" name="virAccount" id="mbca"><img 
                                          src="./assets/img/bca-big.png"><label for="mbca">BCA VA</label></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-sm-12 mgn-t-25">
                            <div class="col-6 fl-left">
                              <button type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
                            </div>
                            <div class="col-6 fl-left" *ngIf="btnContinueBO">
                              <button (click)="conOrderSparepart()" class="conOrder">Confirm Payment</button>
                            </div>
                          </div>
                        </div>
              </div>

              <div class="col-sm-12 bankTF" *ngIf="bankTF">
                <div class="row mgn-t-15">
                  <div class="col-sm-12">
                    <h5 class="title-content">{{cash_payment_type}}</h5>
                  </div>
                </div>
                <div class="row mgn-t-25">
                  <div class="col-sm-12" *ngIf="cash_payment_type == 'Bank Transfer'">
                    <img src="./assets/img/bca-big.png">
                  </div>
                  <div class="col-sm-12" *ngIf="online_payment_type == 'KlikBCA'">
                    <img src="./assets/img/klik BCA.png">
                  </div>
                  <div class="col-sm-12" *ngIf="online_payment_type == 'BCA KlikPay'">
                    <img src="./assets/img/BCAKlikPay.png">
                  </div>
                  <div class="col-sm-12" *ngIf="online_payment_type == 'CIMB Click'">
                    <img src="./assets/img/CIMB Clicks.png">
                  </div>
                  <div class="col-sm-12" *ngIf="online_payment_type == 'iPay BNI'">
                    <img src="./assets/img/iPay BNI.png">
                  </div>
                  <div class="col-sm-12" *ngIf="online_payment_type == 'Permata VA'">
                    <img src="./assets/img/PermataBank_logo (1).png">
                  </div>
                  <div class="col-sm-12 mgn-t-15">
                    <span>Account No: <b class="no-rek">{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
                  </div>
                </div>
                <div class="row mgn-t-25">
                  <div class="col-sm-12">
                    <span>Sales Order Number</span>
                    <span><b>{{this.so_number}}</b></span>
                  </div>
                </div>
                <div class="row mgn-t-25">
                  <div class="col-sm-12">
                    <span>The amount that must be paid</span>
                    <span
                      *ngIf="this.total_allocated_with_vat_cbu"><b>{{this.total_allocated_with_vat_cbu | number:'2.'}}</b></span>
                    <span
                      *ngIf="this.total_allocated_with_vat_sparepart"><b>{{this.total_allocated_with_vat_sparepart | number:'2.'}}</b></span>
                  </div>
                </div>
                <div class="row mgn-t-25" *ngIf="confirmCBU">
                  <div class="col-sm-12">
                    <span>Payment deadline</span>
                    <span><b>{{this.payment_deadline | date: 'dd-MM-yyyy'}}</b></span>
                  </div>
                </div>
                <div class="row mgn-t-25" *ngIf="online_payment_type == 'KlikBCA'">
                  <div class="col-sm-12">
                    <span><b>Cara Pembayaran Via KlikBCA</b></span>
                    <span>
                        1.	Masuk ke situs https://ibank.klikbca.com/<br/>
                        2.	Lakukan pembayaran melalui KlikBCA dengan menggunakan User ID KlikBCA yang sama<br/>
                        3.	Pilih menu "Pembayaran E-Commerce".<br/>
                        4.	Pilih kategori "Market Place"<br/>
                        5.	Pilih nama perusahaan "DCS HPPI" kemudian klik lanjutkan<br/>
                        6.	Lakukan pembayaran paling lambat 3 jam setelah pemesanan Anda.<br/>
                        7.	Transaksi akan dibatalkan jika Anda tidak melakukan pembayaran dalam batas waktu yang ditentukan.<br/>
                    </span>
                  </div>
                </div>
                <div class="row mgn-t-25" *ngIf="online_payment_type == 'BCA VA'">
                    <div class="col-sm-12">
                      <span><b>BCA VA</b></span>
                      <span><b>ATM BCA</b></span>
                      <span>
                          1.	Pada Halaman Utama pilih TRANSAKSI LAINNYA<br/>
                          2.	Pilih menu TRANSFER.<br/>
                          3.	Pilih ke Rekening BCA Virtual Account<br/>
                          4.	Masukkan nomor rekening Virtual Account<br/>
                          5.	Layar konfirmasi muncul, cek kembali data Anda. Jika sudah benar lanjutkan tekan YA.<br/>
                          6.	Transaksi selesai. Simpan struk ATM sebagai bukti pembayaran Anda.<br/>
                          7.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
                      </span><br/>
                      <span><b>KlikBCA Individu</b></span>
                      <span>
                          1.	Pilih menu TRANSFER DANA.<br/>
                          2.	Pilih Transfer ke BCA Virtual Account<br/>
                          3.	Masukkan nomor rekening virtual di atas.<br/>
                          4.	Layar konfirmasi muncul, cek kembali data Anda.<br/>
                          5.	Lanjutkan transaksi dengan memasukkan respon token sesuai yang diminta.<br/>
                          6.	Pembayaran selesai.<br/>
                          7.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
                      </span><br/>
                      <span><b>KlikBCA Bisnis</b></span>
                      <span>
                          1.	Lakukan penambahan nomor rekening virtual di menu : Transfer Dana - Daftar Transfer - Tambah.<br/>
                          2.	Setelah selesai, masuk ke menu Transfer Dana - BCA Virtual Account<br/>
                          3.	Pilih rekening sumber dana dan rekening BCA Virtual Account yang dituju.<br/>
                          4.	Layar konfirmasi muncul, cek kembali data Anda. Tekan simpan agar transaksi masuk ke dalam antrian otorisasi<br/>
                          5.	Masuk ke menu Transfer Dana - Otorisasi.<br/>
                          6.	Pilih transaksi transfer yang akan diotorisasi.<br/>
                          7.	Masukkan respon token sesuai yang diminta<br/>
                          8.	Proses selesai. Pastikan status transaksi Anda berhasil<br/>
                          9.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
                      </span><br/>
                      <span><b>m-BCA (Aplikasi BCA Mobile)</b></span>
                      <span>
                          1.	Pilih menu m-Transfer.<br/>
                          2.	Pilih BCA Virtual Account<br/>
                          3.	Masukkan nomor rekening virtual di atas.<br/>
                          4.	Layar konfirmasi muncul, cek kembali data Anda.<br/>
                          5.	Lanjutkan transaksi dengan memasukkan PIN m-BCA Anda<br/>
                          6.	Pembayaran selesai.<br/>
                      </span>
                    </div>
                  </div>
                <div class="row mgn-t-25" *ngIf="online_payment_type == 'Permata VA'">
                  <div class="col-sm-12">
                    <span><b>Permata VA</b></span>
                    <span><b>ATM Permata</b></span>
                    <span>
                      1.	Pilih menu TRANSAKSI LAINNYA<br/>
                      2.	Pilih menu TRANSAKSI PEMBAYARAN<br/>
                      3.	Pilih LAIN-LAIN<br/>
                      4.	Pilih PEMBAYARAN VIRTUAL ACCOUNT<br/>
                      5.	Masukkan 16 digit Nomor Rekening Virtual (NO VA)<br/>
                      6.	Pilih BENAR untuk konfirmasi pembayaran<br/>
                      7.	Struk/Bukti transaksi akan keluar
                    </span><br/>
                    <span><b>Internet Permata</b></span>
                    <span>
                        1.	Pilih Pembayaran Tagihan<br/>
                        2.	Pilih Virtual Account<br/>
                        3.	Masukkan 16 digit Nomor Rekening Virtual (No VA)<br/>
                        4.	Muncul konfirmasi pembayaran<br/>
                        5.	Masukkan otentikasi transaksi/Token<br/>
                        6.	Transaksi selesai<br/>
                    </span><br/>
                    <span><b>Mobile Permata</b></span>
                    <span>
                        1.	Pilih Bayar Tagihan<br/>
                        2.	Pilih Akun Virtual<br/>
                        3.	Masukkan 16 digit Nomor Rekening Virtual (No VA)<br/>
                        4.	Muncul konfirmasi pembayaran<br/>
                        5.	Masukkan otentikasi transaksi/Token<br/>
                        6.	Transaksi selesai<br/>
                    </span>
                  </div>
                </div>
                <div class="row mgn-t-25">
                  <div class="alert alert-dark" role="alert" style="background: #A8DDE4">
                    <span style="color: #FF0000;">If Sales Order not settled within due date, it will be automatically
                      cancelled.</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
</main-page>
