<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Customer Data Privacy Policy</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-12">
          <div class="cutomer-data">
            <p>Kami, <b>PT Honda Power Products Indonesia</b> akan dengan sepatutnya melindungi dan mengelola informasi rahasia
               dan informasi pribadi yang ada untuk tujuan melakukan operasional bisnis secara benar. 
            </p>
            <p>Kami menyadari bahwa perlindungan Informasi Pribadi adalah prinsip yang sangat penting dalam membangun kepercayaan dan menjaga hubungan yang baik dengan anda. Ketika mengunjungi situs kami, identitas anda akan dilindungi. 
                Kita tidak bisa mengidentifikasi anda kecuali anda memiliki akun dan login menggunakan username dan password Anda.
            </p>
            <p>Kami akan sepatutnya menangani informasi rahasia, seperti informasi internal, informasi mitra bisnis dan informasi pribadi milik
               pelanggan dan mitra lainnya sesuai dengan peraturan perundang-undangan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
    