<main-page>
  <div class="col-sm-10 isi-content" style="padding-left: 10px;">
    <div class="col-sm-12" *ngIf="entrySparepartform">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Spareparts - Order Entry</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <button id="tab-cbu1" class="cbu-order" [ngClass]="cbuOrder1" (click)="tab_cbuOrder(1)">Order Form</button>
          <button id="tab-cbu2" class="cbu-order" [ngClass]="cbuOrder2" (click)="tab_cbuOrder(2)">Draft</button>
          <!-- <button (click)="modalSpr1(spr1)" class="backOrder">test</button> -->
        </div>
      </div>
      <div class="row mgn-t-15 CBUorderEntry" *ngIf="SpareorderEntry">
        <div class="col-sm-12">
          <div class="col-3 fl-left">
            <span>Purchase Order No. (Optional)</span>
            <input class="form-control" maxlength="20" [(ngModel)]="simulate.punchOrnumb" type="text">
          </div>
          <div class="col-3 fl-left">
            <span>Bill to Name</span>
            <select id="billtocode" [(ngModel)]="simulate.billpay" (change)="billToCodeValidation()"
              class="form-control custom-select">
              <option value="" disabled selected></option>
              <option *ngFor="let item of billtocode" [ngValue]="item.bill_to_code">{{item.bill_to_code}} -
                {{item.bill_to_party}}</option>
            </select>
            <!-- <input type="text" class="form-control custom-select" (change)="billToCodeValidation()" [(ngModel)]="simulate.billpay" list="billtocode" autocomplete="off">
            <datalist id="billtocode">
              <ng-template ngFor let-item [ngForOf]="billtocode" let-i="index" [ngForTrackBy]="trackByFn">
                <option *ngIf="item.division == 20">{{item.bill_to_code}} - {{item.bill_to_party}}</option>
              </ng-template>
            </datalist> -->
          </div>
          <div class="col-3 fl-left">
            <span>Order Date</span>
            <input type="text" class="form-control getDate" [(ngModel)]="jstoday" disabled>
          </div>
          <div class="col-3 fl-left">
            <span>Ship to</span>
            <select id="shiptocode" [(ngModel)]="simulate.shipto" (change)="shipToCodeValidation()"
              class="form-control custom-select">
              <option value="" disabled selected></option>
              <option *ngFor="let item of shiptocode" [ngValue]="item.ship_to_code">{{item.ship_to_code}} -
                {{item.ship_to_party}} - {{item.address}}</option>
            </select>
            <!-- <input type="text" class="form-control custom-select" (change)="shipToCodeValidation()" [(ngModel)]="simulate.shipto" list="shiptocode" autocomplete="off">
            <datalist id="shiptocode">
              <ng-template ngFor let-item [ngForOf]="shiptocode" let-i="index" [ngForTrackBy]="trackByFn">
                <option *ngIf="item.division == 20">{{item.ship_to_code}} - {{item.ship_to_party}}</option>
              </ng-template>
            </datalist> -->
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-3 fl-left">
            <span>Delivery Priority</span>
            <!-- <input class="form-control custom-select" [(ngModel)]="simulate.delpri" list="opDeli" name="opDeli">
            <datalist id="opDeli">
              <option value="Normal">
              <option value="Urgent">
            </datalist> -->
            <select *ngIf="urgention == '1'" [(ngModel)]="simulate.delpri" name="opDeli"
              (change)="deliveryPriorityValidation()" id="opDeli" class="form-control custom-select custom-filter">
              <option disabled selected></option>
              <option value="Normal">Normal</option>
              <option value="Urgent">Urgent</option>
            </select>

            <input type="text" *ngIf="urgention == '0' || urgention == 'null'" class="form-control" [(ngModel)]="simulate.delpri" readonly name="opDeli"/>

            <!-- <select *ngIf="urgention == 0 || urgention == null" [(ngModel)]="simulate.delpri" name="opDeli"
              id="opDeli" class="form-control custom-select custom-filter">
              <option selected value="Normal">Normal</option>
            </select> -->

          </div>
          <div class="col-9 fl-left">
            <span>Remarks (Optional)</span>
            <input type="text" class="form-control" maxlength="30" [(ngModel)]="simulate.remarks">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-4 fl-left">
            <span>Search Product</span>
            <input type="text" class="form-control" [(ngModel)]="matSpare_selec"
              placeholder="search material code or description" list="matListSpare" autocomplete="off"
              (keyup)="searchSparepats($event.target.value)">
            <datalist id="matListSpare">
              <ng-template ngFor let-item [ngForOf]="materialCode_Spareparts" let-i="index" [ngForTrackBy]="trackByFn">
                <option>{{item.material_number}} - {{item.material_description}}</option>
              </ng-template>
            </datalist>
          </div>
          <div class="col-2 fl-left">
            <button *ngIf="upload" class="addCBU" (click)="addItemUpload()">Add Item</button>
            <button *ngIf="notUpload" class="addCBU" (click)="addItem()">Add Item</button>
          </div>
          <div class="col-6 fl-left" *ngIf="upload1">
            <input type="file" name="file" [disabled]="btnUpload == 'true'" (change)="onfilecsvupload($event)"
              accept=".csv" id="uploadPart" style="display:none"><label class="uploadCBU"
              [ngClass]="{saveAsDraft:btnUpload == 'true'}" for="uploadPart">Upload .csv</label>
            <!-- <input *ngIf = "upload2" type="file" name="file" (change)="onfilecsvupload($event)" accept=".csv" id="uploadPart" style="display:none"><label class="uploadCBU" for="uploadPart">Upload .csv</label> -->
            <!-- <input *ngIf = "upload2" (click)="submitUpload()" id="uploadPart" style="display:none"><label class="uploadCBU" for="uploadPart">Submit Upload</label> -->
            <button class="downloadCBU" (click)="downloadTemplate()">Download Template .csv</button>
          </div>
          <div class="col-6 fl-left" *ngIf="upload2">
            <!-- <input *ngIf = "upload1" type="file" name="file" (change)="onfilecsvupload($event)" accept=".csv" id="uploadPart" style="display:none"><label class="uploadCBU" for="uploadPart">Upload .csv</label> -->
            <!-- <input *ngIf = "upload2" type="file" name="file" (change)="onfilecsvupload($event)" accept=".csv" id="uploadPart" style="display:none"><label class="uploadCBU" for="uploadPart">Upload .csv</label> -->
            <input (click)="submitUpload()" id="uploadPart" style="display:none"><label class="uploadCBU"
              for="uploadPart">Submit Upload</label>
            <button class="downloadCBU" (click)="downloadTemplate()">Download Template .csv</button>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="col croll">
            <table class="tableCBU" id="tableSparepart">
              <thead>
                <tr>
                  <th>No.</th>
                  <th style="min-width:180px">Material Code</th>
                  <th>Description</th>
                  <th style="width: 110px;">Model Unit</th>
                  <th style="text-align: center !important;">Quantity</th>
                  <th><button (click)="deleteAll()">Clear All</button></th>
                </tr>
              </thead>
              <tbody *ngIf="notUpload">
                <ng-template ngFor let-item [ngForOf]="prodSpareSelec" let-i="index" [ngForTrackBy]="trackByFn">
                  <tr>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td style="min-width:180px" id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOne(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' maxlength="6"
                        name='quantity{{i+1}}' id="quantity" (change)="onQuantityChange(i)"
                        value='{{item.qty ? item.qty :1}}' class='qty colplusmin' style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONe(i)"><img src="./assets/img/pluss.png" alt=""></button><input type='button'
                        value='+' class='qtyplus inputplusmin' id="plus1" field='quantity' style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="delete(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>
                </ng-template>
                <tr *ngIf="prodSpareSelec.length===0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tbody *ngIf="upload">
                <ng-template ngFor let-item [ngForOf]="prodSpareSelec" let-i="index" [ngForTrackBy]="trackByFn">
                  <tr *ngIf="item.check_duplicate == 'no' && item.check_oil == 'no' && item.check_supersession == 'no'">
                    <!-- <tr *ngIf="item.check_duplicate == 'no' && item.check_oil == 'no'"> -->
                    <td id="check_duplicate" style="display:none">{{item.check_duplicate}}</td>
                    <td id="check_oil" style="display:none">{{item.check_oil}}</td>
                    <td id="check_supersession" style="display:none">{{item.check_supersession}}</td>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td style="min-width:180px" id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOneUpload(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' maxlength="6"
                        name='quantity{{i+1}}' id="quantity" (change)="onQuantityChangeUpload(i)" value='{{item.item2}}'
                        class='qty colplusmin' style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONeUpload(i)"><img src="./assets/img/pluss.png" alt=""></button><input
                        type='button' value='+' class='qtyplus inputplusmin' id="plus1" field='quantity'
                        style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="deleteUpload(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>

                  <tr *ngIf="item.check_duplicate == 'no' && item.check_oil == 'yes'"
                    style="background:yellow !important;color:white !important">
                    <td id="check_duplicate" style="display:none">{{item.check_duplicate}}</td>
                    <td id="check_oil" style="display:none">{{item.check_oil}}</td>
                    <td id="check_supersession" style="display:none">{{item.check_supersession}}</td>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td style="min-width:180px" id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOneUpload(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' maxlength="6"
                        name='quantity{{i+1}}' id="quantity" (change)="onQuantityChangeUpload(i)" value='{{item.item2}}'
                        class='qty colplusmin' style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONeUpload(i)"><img src="./assets/img/pluss.png" alt=""></button><input
                        type='button' value='+' class='qtyplus inputplusmin' id="plus1" field='quantity'
                        style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="deleteUpload(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>
                  <!-- All oil -->

                  <tr *ngIf="item.all == 'yes'">
                    <td id="check_duplicate" style="display:none">{{item.check_duplicate}}</td>
                    <td id="check_oil" style="display:none">{{item.check_oil}}</td>
                    <td id="check_supersession" style="display:none">{{item.check_supersession}}</td>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOneUpload(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' maxlength="6"
                        name='quantity{{i+1}}' id="quantity" (change)="onQuantityChangeUpload(i)" value='{{item.item2}}'
                        class='qty colplusmin' style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONeUpload(i)"><img src="./assets/img/pluss.png" alt=""></button><input
                        type='button' value='+' class='qtyplus inputplusmin' id="plus1" field='quantity'
                        style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="deleteUpload(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>

                  <!-- End all oil -->
                  <tr *ngIf="item.check_duplicate == 'yes'" style="background:red;color:white">
                    <td id="check_duplicate" style="display:none">{{item.check_duplicate}}</td>
                    <td id="check_oil" style="display:none">{{item.check_oil}}</td>
                    <td id="check_supersession" style="display:none">{{item.check_supersession}}</td>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td style="min-width:180px" id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOneUpload(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' name='quantity{{i+1}}'
                        id="quantity" (change)="onQuantityChangeUpload(i)" value='{{item.item2}}' class='qty colplusmin'
                        style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONeUpload(i)"><img src="./assets/img/pluss.png" alt=""></button><input
                        type='button' value='+' class='qtyplus inputplusmin' id="plus1" field='quantity'
                        style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="deleteUpload(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>
                  <tr *ngIf="item.check_duplicate == 'no' && item.check_oil == 'no' && item.check_supersession == 'yes'"
                    style="background:red;color:white">
                    <!-- <tr *ngIf="item.check_duplicate == 'no' && item.check_oil == 'no'" style="background:red;color:white"> -->
                    <td id="check_duplicate" style="display:none">{{item.check_duplicate}}</td>
                    <td id="check_oil" style="display:none">{{item.check_oil}}</td>
                    <td id="check_supersession" style="display:none">{{item.check_supersession}}</td>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td style="min-width:180px" id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOneUpload(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' maxlength="6"
                        name='quantity{{i+1}}' id="quantity" (change)="onQuantityChangeUpload(i)" value='{{item.item2}}'
                        class='qty colplusmin' style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONeUpload(i)"><img src="./assets/img/pluss.png" alt=""></button><input
                        type='button' value='+' class='qtyplus inputplusmin' id="plus1" field='quantity'
                        style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="deleteUpload(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>

                  <tr *ngIf="item.check_duplicate == 'no' && item.check_oil == 'no' && !item.check_supersession">
                    <td id="check_duplicate" style="display:none">{{item.check_duplicate}}</td>
                    <td id="check_oil" style="display:none">{{item.check_oil}}</td>
                    <td id="check_supersession" style="display:none">{{item.check_supersession}}</td>
                    <td id="material_group1" style="display:none">{{item.material_group1}}</td>
                    <td>{{i+1}}.</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.base_unit_of_measure}}</td>
                    <td id="sloc" style="display:none">{{item.storage_location}}</td>
                    <td style="min-width:180px" id="material_code">{{item.material_number}}</td>
                    <td>{{item.material_description}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item.model}}</button></td>
                    <td class="text-center"><button (click)="minusOneUpload(i)"><img src="./assets/img/min.png"
                          alt=""></button><input type='button' value='-' class='qtyminus inputplusmin' id="minus1"
                        field='quantity' style="font-weight: bold;" /><input type='text' maxlength="6"
                        name='quantity{{i+1}}' id="quantity" (change)="onQuantityChangeUpload(i)" value='{{item.item2}}'
                        class='qty colplusmin' style="margin-bottom: 0px !important"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' /><button
                        (click)="plusONeUpload(i)"><img src="./assets/img/pluss.png" alt=""></button><input
                        type='button' value='+' class='qtyplus inputplusmin' id="plus1" field='quantity'
                        style="font-weight: bold;" />
                    </td>
                    <td class="text-center"><button (click)="deleteUpload(i)"><img
                          src="./assets/img/delete.png"><span>Delete</span></button></td>
                  </tr>
                </ng-template>
                <tr *ngIf="prodSpareSelec.length===0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td style="position:relative!important" colspan="4">Total Order</td>
                  <td style="position:relative!important" class="text-center" (change)="ngAfterContentChecked()">
                    {{totalOrders()}}</td>
                  <td style="position:relative!important"></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-25">
          <div class="col">
            <button [disabled]="!canSimulateOrder ? 'disabled' : null" (click)="simOrder()" class="simOrder">Simulate Order</button>
            <button [disabled]="!canCreateOrder ? 'disabled' : null" (click)="modalSpr1(spr1)" class="subOrder">Submit Order</button>
            <button (click)="saveAsDraft(3)" class="saveAsDraft">Save As Draft</button>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15 CBUdraft" *ngIf="Sparedraft">
        <div class="col-sm-12">
          <div class="col-3">
            <span>Search</span>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-12 mgn-t-25">
          <div class="col croll" style="max-height: 330px;">
            <table class="tableCBUdraft">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Created by</th>
                  <th>Created At</th>
                  <th>Last Update</th>
                  <th colspan="2">Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sparepartDrafts of sparepartDraft; let i = index">
                  <td>{{i + 1}}.</td>
                  <td>{{sparepartDrafts.first_name}}</td>
                  <td>{{ sparepartDrafts.created_at | date:'dd-MM-yyyy' }}</td>
                  <td>{{sparepartDrafts.updated_at | date:'dd-MM-yyyy'}}</td>
                  <td>{{sparepartDrafts.remarks}}</td>
                  <td><button (click)="getDraft(sparepartDrafts.param)">Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-sm-12 mgn-t-15">
          <div class="col">
            <div class="pagination">
              <button class="prev prev-disable"><i class="fas fa-caret-left"></i> Previous</button>
              <button class="num-pag num-pag-active">1</button>
              <button class="num-pag">2</button>
              <button class="num-pag">3</button>
              <button class="num-pag">4</button>
              <button class="num-pag">5</button>
              <button class="next">Next <i class="fas fa-caret-right"></i></button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-sm-12" *ngIf="simulateSpare">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Spareparts - Simulate Order</h5>
        </div>
      </div>
      <div class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
        <div class="col-sm-12">
          <div class="col-3 fl-left">
            <span>Purchase Order No. (Optional)</span>
            <span>{{simOrderSpareparts.punchOrnumb}}</span>
          </div>
          <div class="col-2 fl-left">
            <span>Order Date</span>
            <span><b>{{dateNow() | date:'dd-MM-yyyy'}}</b></span>
          </div>
          <div class="col-4 fl-left">
            <span>Bill to Name</span>
            <span><b>{{simOrderSpareparts.billpay}}</b></span>
          </div>
          <div class="col-3 fl-left">
            <span>Ship To</span>
            <span><b>{{simOrderSpareparts.shipto}}</b></span>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="col-3 fl-left">
            <span>Remarks (Optional)</span>
            <span>{{simOrderSpareparts.remarks}}</span>
          </div>
          <div class="col-6 fl-left">
            <span>Delivery Priority</span>
            <span><b>{{simOrderSpareparts.delpri}}</b></span>
          </div>
          <div class="col-3 fl-left">
            <span>Payment Method</span>
            <span><b>{{paymentType}}</b></span>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="col croll" style="max-height:345px">
            <table class="tableCBU" id="tableSparepartAfterSimulate">
              <thead>
                <tr>
                  <th>No.</th>
                  <th style="min-width:180px">Material Code</th>
                  <th>Description</th>
                  <th style="width: 110px;">Model Unit</th>
                  <th>Ordered</th>
                  <th>Allocated</th>
                  <th>Backorder</th>
                  <th>Unit Price</th>
                  <th>Total</th>
                  <th>Discount</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-item [ngForOf]="data_sap_dcs" let-i="index" [ngForTrackBy]="trackByFn">
                  <tr *ngIf="item.uepos == '000000' " id="ztr" class='ztr'>
                    <td id="zsloc" style="display:none">{{item.lgort}}</td>
                    <td id="zbase_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                    <td>{{item.number}}</td>
                    <td style="min-width:180px" id="zmatnr">{{item.matnr}}</td>
                    <td id="zmatwa">{{item["0"]}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item["1"]}}</button></td>
                    <td *ngIf="item.uepos == '000000'" id="zkwmeng">{{item.kwmeng}}</td>
                    <td *ngIf="item.uepos == '000000'" id="zzkwmeng2">{{item.zkwmeng2}}</td>
                    <td id="zbackorder">{{item.backorder}}</td>
                    <td *ngIf="item.uepos == '000000'" id="znetpr" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netpr_gros | number:'1.'}}</td>
                    <!-- <td *ngIf="item.uepos == '000000'" id="znetwr" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" style="display:none">{{item.netwr_gros}}</td> -->
                    <td *ngIf="item.uepos == '000000'" id="znetwr2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netwr_gros | number:'1.'}}</td>
                    <td *ngIf="item.uepos == '000000'" id="zzdiscount" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">
                      {{(item.zdiscount_gros | number:'1.')}}</td>
                    <td id="zzmwsbp2" style="display:none">{{item.zmwsbp2}}</td>
                  </tr>
                  <tr *ngIf="item.uepos != '000000' && item.pstyv != 'ZFR2'" id="tr">
                    <td id="sloc" style="display:none">{{item.lgort}}</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                    <td>{{item.number}}</td>
                    <td style="min-width:180px" id="matnr">{{item.matnr}}</td>
                    <td id="matwa">{{item["0"]}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item["1"]}}</button></td>
                    <td *ngIf="item.uepos == '000000'" id="zzkwmeng"></td>
                    <td *ngIf="item.uepos == '000000'" id="zzkwmeng2"></td>
                    <td id="backorder"></td>
                    <td *ngIf="item.uepos == '000000'" id="netpr" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netpr_gros | number:'1.'}}</td>
                    <!-- <td *ngIf="item.uepos == '000000'" id="netwr" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" style="display :none">{{item.netwr_gros}}</td> -->
                    <td *ngIf="item.uepos == '000000'" id="netwr2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netwr_gros | number:'1.'}}</td>
                    <td *ngIf="item.uepos == '000000'" id="zdiscount" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">
                      {{(item.zdiscount_gros | number: '1.')}}</td>
                  </tr>
                  <tr *ngIf="item.pstyv == 'ZFR2' && item.uepos != '000000'" id="str">
                    <td id="sloc" style="display:none">{{item.lgort}}</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                    <td>{{item.number}}</td>
                    <td style="min-width:180px" id="matnr">{{item.matnr}}</td>
                    <td id="matwa">{{item["0"]}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item["1"]}}</button></td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="zzkwmeng">{{item.kwmeng}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="zzkwmeng2">{{item.zkwmeng2}}</td>
                    <td id="zbackorder">{{item.backorder}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="netpr" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netpr_gros | number:'1.'}}</td>
                    <!-- <td *ngIf="item.pstyv == 'ZFR2'" id="netwr" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" style="display :none">{{item.netwr_gros}}</td> -->
                    <td *ngIf="item.pstyv == 'ZFR2'" id="netwr2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netwr_gros | number:'1.'}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="zdiscount" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">
                      {{(item.zdiscount_gros | number: '1.')}}</td>
                  </tr>
                </ng-template>
                <tr *ngIf="data_sap_dcs.length===0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!-- <td></td> -->
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="border-bottom">
                  <td style="position:relative;" colspan="4">Total</td>
                  <!-- <td>{{count(simOrderSpareparts.items)}}</td> -->
                  <td style="position:relative;">{{totalSimulateOrderQty()}}</td>
                  <td style="position:relative;">{{totalAllocatedQtySimulate()}}</td>
                  <td style="position:relative;" colspan="4">{{totalSimulateBackorder()}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Order</td>
                  <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                    {{totalConfirmationOrderAmountSimulate() | number:'1.'}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Allocated Before Disc.</td>
                  <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                    {{(this.total_allocated_before_discount_simulate | number:'1.')}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Discount Allocated</td>
                  <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                    {{(this.total_discount_simulate | number:'1.')}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Allocated After Disc.</td>
                  <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                    {{this.total_allocated_simulate | number:'1.'}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">VAT</td>
                  <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                    {{this.total_vat_simulate | number:'1.'}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Allocated With VAT</td>
                  <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                    {{this.total_allocated_vat_simulate | number:'1.'}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-25">
          <div class="col-6 fl-left">
            <button *ngIf="canDownloadOrderDocument" type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
          </div>
          <div class="col-6 fl-left">
            <button (click)="modalSpr2(spr2)" class="subOrder">Submit Order</button>
            <button (click)="backOrder()" class="backOrder">Back to Order List</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="confirmSpare">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Spareparts - Confirm Order</h5>
        </div>
      </div>
      <div class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
        <div class="col-sm-12">
          <div class="col-3 fl-left">
            <span>Purchase Order No. (Optional)</span>
            <span>{{simulate.punchOrnumb}}</span>
          </div>
          <div class="col-2 fl-left">
            <span>Order Date</span>
            <span><b>{{jstoday}}</b></span>
          </div>
          <div class="col-4 fl-left">
            <span>Bill to Name</span>
            <span><b>{{simulate.billpay}}</b></span>
          </div>
          <div class="col-3 fl-left">
            <span>Ship To</span>
            <span><b>{{simulate.shipto}}</b></span>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="col-3 fl-left">
            <span>Remarks (Optional)</span>
            <span>{{simulate.remarks}}</span>
          </div>
          <div class="col-2 fl-left">
            <b><span>Sales Order Number</span>
              <span>{{this.so_number}}</span></b>
          </div>
          <div class="col-4 fl-left">
            <span>Delivery Priority</span>
            <span><b>{{simulate.delpri}}</b></span>
          </div>
          <div class="col-3 fl-left">
            <span>Payment Method</span>
            <span><b>{{paymentType}}</b></span>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="col croll" style="max-height:345px">
            <table class="tableCBU" id="tableSparepartConfirm">
              <thead>
                <tr>
                  <th>No.</th>
                  <th style="min-width:180px">Material Code</th>
                  <th>Description</th>
                  <th style="width: 110px;">Model Unit</th>
                  <th>Ordered</th>
                  <th>Allocated</th>
                  <th>Backorder</th>
                  <th>Unit Price</th>
                  <th>Total</th>
                  <th>Discount</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-item [ngForOf]="data_sap_dcs" [ngForTrackBy]="trackByFn">
                  <tr *ngIf="item.uepos == '000000'" id="ztr">
                    <td id="zsloc" style="display:none">{{item.lgort}}</td>
                    <td id="zbase_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                    <td>{{item.number}}</td>
                    <td style="min-width:180px" id="zmatnr">{{item.matnr}}</td>
                    <td id="zmatwa">{{item["0"]}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item["1"]}}</button></td>
                    <td *ngIf="item.uepos == '000000'" id="zkwmeng">{{item.kwmeng}}</td>
                    <td *ngIf="item.uepos == '000000'" id="zzkwmeng2">{{item.zkwmeng2}}</td>
                    <td id="zbackorder">{{item.backorder}}</td>
                    <td *ngIf="item.uepos == '000000'" id="znetpr" align="right">{{item.netpr_gros | number:'1.'}}</td>
                    <td *ngIf="item.uepos == '000000'" id="znetwr" style="display:none">{{item.netwr_gros}}</td>
                    <td *ngIf="item.uepos == '000000'" id="znetwr2" align="right">{{item.netwr_gros | number:'1.'}}</td>
                    <td *ngIf="item.uepos == '000000'" id="zzdiscount" align="right">
                      {{(item.zdiscount_gros | number: '1.')}}</td>
                    <td id="zzmwsbp2" style="display:none">{{item.zmwsbp2}}</td>
                  </tr>
                  <tr *ngIf="item.uepos != '000000' && item.pstyv != 'ZFR2'" id="tr">
                    <td id="sloc" style="display:none">{{item.lgort}}</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                    <td>{{item.number}}</td>
                    <td style="min-width:180px" id="matnr">{{item.matnr}}</td>
                    <td id="matwa">{{item["0"]}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item["1"]}}</button></td>
                    <td *ngIf="item.uepos == '000000'" id="kwmeng"></td>
                    <td *ngIf="item.uepos == '000000'" id="zkwmeng2"></td>
                    <td id="backorder"></td>
                    <td *ngIf="item.uepos == '000000'" id="netpr" align="right">{{item.netpr_gros | number:'1.'}}</td>
                    <td *ngIf="item.uepos == '000000'" id="netwr" style="display: none">{{item.netwr_gros}}</td>
                    <td *ngIf="item.uepos == '000000'" id="netwr2" align="right">{{item.netwr_gros | number:'1.'}}</td>
                    <td *ngIf="item.uepos == '000000'" id="zdiscount" align="right">
                      {{(item.zdiscount_gros | number: '1.')}}</td>
                  </tr>
                  <tr *ngIf="item.pstyv == 'ZFR2' && item.uepos != '000000'" id="str">
                    <td id="sloc" style="display:none">{{item.lgort}}</td>
                    <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
                    <td>{{item.number}}</td>
                    <td style="min-width:180px" id="matnr">{{item.matnr}}</td>
                    <td id="matwa">{{item["0"]}}</td>
                    <td><button style="width:100px!important" class="btnPop ellipsis" popover="{{item.model}}"
                        placement="bottom">{{item["1"]}}</button></td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="zkwmeng">{{item.kwmeng}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="zzkwmeng2">{{item.zkwmeng2}}</td>
                    <td id="zbackorder">{{item.backorder}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="netpr" align="right">{{item.netpr_gros | number:'1.'}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="netwr" style="display :none">{{item.netwr_gros}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="netwr2" align="right">{{item.netwr_gros | number:'1.'}}</td>
                    <td *ngIf="item.pstyv == 'ZFR2'" id="zdiscount" align="right">
                      {{(item.zdiscount_gros | number: '1.')}}</td>
                  </tr>
                </ng-template>
                <!-- <tr>
                    <td>2.</td><td>56939-9192</td><td>O-RING</td><td><p data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="ENGINE 1 ENGINE 2 ENGINE 3 ENGINE 4 ENGINE 5">ENGINE1,ENGINE2,ENGINE 3,ENGINE 4,ENGINE 5</p></td><td>25</td><td>25</td><td>0</td><td>100,000</td><td>2,500,000</td><td>20%</td>
                  </tr>
                  <tr>
                    <td>3.</td><td>12568-898</td><td>CARBURATOR SET PISTON 2,5</td><td><p data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="ENGINE 1 ENGINE 2 ENGINE 3 ENGINE 4 ENGINE 5">ENGINE1,ENGINE2,ENGINE 3,ENGINE 4,ENGINE 5</p></td><td>20</td><td>20</td><td>0</td><td>200,000</td><td>4,000,000</td><td>-</td>
                  </tr>
                  <tr>
                    <td>4.</td><td>12568-898</td><td>RING SET PISTON 67</td><td><p data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="ENGINE 1 ENGINE 2 ENGINE 3 ENGINE 4 ENGINE 5">ENGINE1,ENGINE2,ENGINE 3,ENGINE 4,ENGINE 5</p></td><td>10</td><td>10</td><td>5</td><td>400,000</td><td>4,500,000</td><td>-</td>
                  </tr>
                  <tr>
                    <td>5.</td><td>12879</td><td>RING SET PISTON 34</td><td><p data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="ENGINE 1 ENGINE 2 ENGINE 3 ENGINE 4 ENGINE 5">ENGINE1,ENGINE2,ENGINE 3,ENGINE 4,ENGINE 5</p></td><td>40</td><td>40</td><td>20</td><td>400,000</td><td>8,000,000</td><td>-</td>
                  </tr> -->
              </tbody>
              <tfoot>
                <tr class="border-bottom">
                  <td style="position:relative;" colspan="4">Total</td>
                  <td style="position:relative;">{{totalConfirmationOrderQty()}}</td>
                  <td style="position:relative;">{{totalAllocatedQtySubmit()}}</td>
                  <td style="position:relative;" colspan="4">{{totalSubmitBackorder()}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Order</td>
                  <td style="position:relative;" class="text-right" colspan="2">
                    {{totalConfirmationOrderAmount() | number:'1.'}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Allocated Before Disc.</td>
                  <td style="position:relative;" class="text-right" colspan="2">
                    {{(this.total_allocated_before_discount | number:'1.')}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Discount Allocated</td>
                  <td style="position:relative;" class="text-right" colspan="2">{{(this.total_discount | number:'1.')}}
                  </td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Allocated After Disc.</td>
                  <td style="position:relative;" class="text-right" colspan="2">{{(this.total_allocated | number:'1.')}}
                  </td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">VAT</td>
                  <td style="position:relative;" class="text-right" colspan="2">{{(this.vat | number:'1.')}}</td>
                </tr>
                <tr>
                  <td style="position:relative;" class="text-right" colspan="9">Total Allocated With VAT</td>
                  <td style="position:relative;" class="text-right" colspan="2">
                    {{this.total_allocated_with_vat | number:'1.'}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15" *ngIf="Cash && is_tester">
          <div *ngIf="canDoingPayment" class="col">
            <table class="payment">
              <thead>
                <tr>
                  <th colspan="2">
                    <input class="fl-left" type="radio" checked="checked" name="jenisPay" (click)="jenisPay(1)">
                    <span class="typeTF">Manual Bank Transfer</span>
                  </th>
                    <!-- ENABLE THIS -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td [ngClass]="disabledPay1">
                    <img src="./assets/img/bca.png">
                  </td>
                  <td [ngClass]="disabledPay2">
                    <span style="font-size: 12px">Account No: <b>{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
                  </td>
                  <!-- UNCOMMENT THIS -->
                </tr>
                <tr>
                  <td>
                    <input class="fl-left" type="radio" name="jenisPay" (click)="jenisPay(2)">
                    <span class="typeTF">Online Payment</span>
                  </td>
                  <tr>
                      <td [ngClass]="disabledPay3">
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('credit-card')" type="radio" name="virAccount" id="mbca">
                            <img src="./assets/img/Amex safekey-logo.png">
                            <img src="./assets/img/AMEX.png">
                            <img src="./assets/img/JCB SECURE LOGO.png">
                            <img src="./assets/img/JCB.png">
                            <img src="./assets/img/MASTER.png">
                            <img src="./assets/img/MasterCardSecureCode.png">
                            <img src="./assets/img/Visa secure logo.png">
                            <img src="./assets/img/VISA.png"><label for="mbca">Credit Card</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('klik-bca')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/Kbca.png"> <!-- <label style="margin-left: 35px;" for="mbca">KlikBCA </label> -->User ID KlikBCA : <input type="text" name="userIDBCA" id="userIDBCA" disabled [(ngModel)]="userIDBCA"></div>
                              <!-- <div class="col userID"></div> -->
                              <div class="col"><p style="position: absolute;
                                bottom: -55px;
                                left: 16px;">Masukan User ID KlikBCA Anda yang terdaftar dan aktif kemudian pilih <b>Confirm Payment</b> untuk melanjutkan pembayaran</p>
                              </div>
                        <td [ngClass]="disabledPay4">
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('cimb-click')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('ipay-bni')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('permata-bankva')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/permata.png"><label for="mbca">Permata VA</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('bca-va')" type="radio" name="virAccount" id="mbca"><img 
                              src="./assets/img/bca-big.png"><label for="mbca">BCA VA</label></div>
                        </td>
                  </tr>
                  <div class="col">
                      <input type="checkbox" id="t_and_c" name="t_and_c" style="display:none" value="Yes">
                      <label for="t_and_c" style="display:none"> Please Check T&C before Submit.</label>
                  </div>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-25">
          <div class="col-6 fl-left">
            <button *ngIf="canDownloadOrderDocument" type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
          </div>
          <div class="col-6 fl-left">
            <button *ngIf="canDoingPayment" (click)="checkTC()" class="conOrder">{{lblConOrder}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 bankTF" *ngIf="bankTF">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">{{online_payment_type}}</h5>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-sm-12" *ngIf="cash_payment_type == 'Bank Transfer'">
          <img src="./assets/img/bca-big.png">
        </div>
        <div class="col-sm-12" *ngIf="online_payment_type == 'KlikBCA'">
          <img src="./assets/img/klik BCA.png">
        </div>
        <div class="col-sm-12" *ngIf="online_payment_type == 'BCA KlikPay'">
          <img src="./assets/img/BCAKlikPay.png">
        </div>
        <div class="col-sm-12" *ngIf="online_payment_type == 'CIMB Click'">
          <img src="./assets/img/CIMB Clicks.png">
        </div>
        <div class="col-sm-12" *ngIf="online_payment_type == 'iPay BNI'">
          <img src="./assets/img/iPay BNI.png">
        </div>
        <div class="col-sm-12" *ngIf="online_payment_type == 'Permata VA'">
          <img src="./assets/img/PermataBank_logo (1).png">
        </div>
        <div class="col-sm-12 mgn-t-15">
          <span>Account No: <b class="no-rek">{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-sm-12">
          <span>Sales Order Number</span>
          <span><b>{{this.so_number}}</b></span>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-sm-12">
          <span>The amount that must be paid</span>
          <!-- <span><b>{{this.total_allocated}}</b></span> -->
          <span><b>{{this.total_allocated_with_vat | number:'2.'}}</b></span>
        </div>
      </div>
      <!-- <div class="row mgn-t-25">
        <div class="col-sm-12">
          <span>Payment deadline</span>
          <span><b>{{this.payment_deadline | date: 'yyyy-MM-dd'}}</b></span>
        </div>
      </div> -->
      <div class="row mgn-t-25" *ngIf="online_payment_type == 'KlikBCA'">
        <div class="col-sm-12">
          <span><b>Cara Pembayaran Via KlikBCA</b></span>
          <span>
              1.	Masuk ke situs https://ibank.klikbca.com/<br/>
              2.	Lakukan pembayaran melalui KlikBCA dengan menggunakan User ID KlikBCA yang sama<br/>
              3.	Pilih menu "Pembayaran E-Commerce".<br/>
              4.	Pilih kategori "Market Place"<br/>
              5.	Pilih nama perusahaan "DCS HPPI" kemudian klik lanjutkan<br/>
              6.	Lakukan pembayaran paling lambat 3 jam setelah pemesanan Anda.<br/>
              7.	Transaksi akan dibatalkan jika Anda tidak melakukan pembayaran dalam batas waktu yang ditentukan.<br/>
          </span>
        </div>
      </div>
      <div class="row mgn-t-25" *ngIf="online_payment_type == 'BCA VA'">
          <div class="col-sm-12">
            <span><b>BCA VA</b></span>
            <span><b>ATM BCA</b></span>
            <span>
                1.	Pada Halaman Utama pilih TRANSAKSI LAINNYA<br/>
                2.	Pilih menu TRANSFER.<br/>
                3.	Pilih ke Rekening BCA Virtual Account<br/>
                4.	Masukkan nomor rekening Virtual Account<br/>
                5.	Layar konfirmasi muncul, cek kembali data Anda. Jika sudah benar lanjutkan tekan YA.<br/>
                6.	Transaksi selesai. Simpan struk ATM sebagai bukti pembayaran Anda.<br/>
                7.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
            </span><br/>
            <span><b>KlikBCA Individu</b></span>
            <span>
                1.	Pilih menu TRANSFER DANA.<br/>
                2.	Pilih Transfer ke BCA Virtual Account<br/>
                3.	Masukkan nomor rekening virtual di atas.<br/>
                4.	Layar konfirmasi muncul, cek kembali data Anda.<br/>
                5.	Lanjutkan transaksi dengan memasukkan respon token sesuai yang diminta.<br/>
                6.	Pembayaran selesai.<br/>
                7.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
            </span><br/>
            <span><b>KlikBCA Bisnis</b></span>
            <span>
                1.	Lakukan penambahan nomor rekening virtual di menu : Transfer Dana - Daftar Transfer - Tambah.<br/>
                2.	Setelah selesai, masuk ke menu Transfer Dana - BCA Virtual Account<br/>
                3.	Pilih rekening sumber dana dan rekening BCA Virtual Account yang dituju.<br/>
                4.	Layar konfirmasi muncul, cek kembali data Anda. Tekan simpan agar transaksi masuk ke dalam antrian otorisasi<br/>
                5.	Masuk ke menu Transfer Dana - Otorisasi.<br/>
                6.	Pilih transaksi transfer yang akan diotorisasi.<br/>
                7.	Masukkan respon token sesuai yang diminta<br/>
                8.	Proses selesai. Pastikan status transaksi Anda berhasil<br/>
                9.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
            </span><br/>
            <span><b>m-BCA (Aplikasi BCA Mobile)</b></span>
            <span>
                1.	Pilih menu m-Transfer.<br/>
                2.	Pilih BCA Virtual Account<br/>
                3.	Masukkan nomor rekening virtual di atas.<br/>
                4.	Layar konfirmasi muncul, cek kembali data Anda.<br/>
                5.	Lanjutkan transaksi dengan memasukkan PIN m-BCA Anda<br/>
                6.	Pembayaran selesai.<br/>
            </span>
          </div>
        </div>
      <div class="row mgn-t-25" *ngIf="online_payment_type == 'Permata VA'">
        <div class="col-sm-12">
          <span><b>Permata VA</b></span>
          <span><b>ATM Permata</b></span>
          <span>
            1.	Pilih menu TRANSAKSI LAINNYA<br/>
            2.	Pilih menu TRANSAKSI PEMBAYARAN<br/>
            3.	Pilih LAIN-LAIN<br/>
            4.	Pilih PEMBAYARAN VIRTUAL ACCOUNT<br/>
            5.	Masukkan 16 digit Nomor Rekening Virtual (NO VA)<br/>
            6.	Pilih BENAR untuk konfirmasi pembayaran<br/>
            7.	Struk/Bukti transaksi akan keluar
          </span><br/>
          <span><b>Internet Permata</b></span>
          <span>
              1.	Pilih Pembayaran Tagihan<br/>
              2.	Pilih Virtual Account<br/>
              3.	Masukkan 16 digit Nomor Rekening Virtual (No VA)<br/>
              4.	Muncul konfirmasi pembayaran<br/>
              5.	Masukkan otentikasi transaksi/Token<br/>
              6.	Transaksi selesai<br/>
          </span><br/>
          <span><b>Mobile Permata</b></span>
          <span>
              1.	Pilih Bayar Tagihan<br/>
              2.	Pilih Akun Virtual<br/>
              3.	Masukkan 16 digit Nomor Rekening Virtual (No VA)<br/>
              4.	Muncul konfirmasi pembayaran<br/>
              5.	Masukkan otentikasi transaksi/Token<br/>
              6.	Transaksi selesai<br/>
          </span>
        </div>
      </div>
        <div class="row mgn-t-25">
          <div class="alert alert-dark" role="alert" style="background: #A8DDE4">
            <span style="color: #FF0000;">If Sales Order not settled within due date, it will be automatically
              cancelled.</span>
          </div>
        </div>
    </div>
  </div>
  <ng-template #spr1>
    <div class="modal-body contactPop">
      <div class="row">
        <div class="col-md-12" style="padding: 0 28px;">
          <h4 style="text-align: center;display: block">Are You Sure ? <br> Once submitted, can not be canceled</h4>
        </div>
        <div class="col-md-12 mgn-t-25" style="padding: 0 28px;">
          <table style="margin: auto">
            <tr>
              <td><button (click)="subOrder()" class="backOrder">Yes</button></td>
              <td><button (click)="modalRef.hide()" class="backOrder">No</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #spr2>
    <div class="modal-body contactPop">
      <div class="row">
        <div class="col-md-12" style="padding: 0 28px;">
          <h4 style="text-align: center;display: block">Are You Sure ? <br> Once submitted, can not be canceled</h4>
        </div>
        <div class="col-md-12 mgn-t-25" style="padding: 0 28px;">
          <table style="margin: auto">
            <tr>
              <td><button (click)="subOrderAfterSimulate()" class="backOrder">Yes</button></td>
              <td><button (click)="modalRef.hide()" class="backOrder">No</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</main-page>
