<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Dealer Reward - CBU</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-5">
              <table class="tablePending reward">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Reward</th>
                    <th class="text-right">Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of reward; let i = index">
                    <td>{{i + 1}}.</td>
                    <td>{{item.reward_category}}</td>
                    <td class="text-right">{{item.point}}</td>
                  </tr>
                  <tr *ngIf="reward.length === 0">
                    <td colspan="3">No data.</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Grand Value</td>
                    <td class="text-right">{{grandValue}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
