<main-page>
    <div class="col-sm-10 isi-content">
      <div class="col-sm-12">
        <div class="row mgn-t-15">
          <div class="col-sm-12">
            <h5 class="title-content">Change Password</h5>
          </div>
        </div>
        <div class="row mgn-t-25" *ngIf="lastUpdate">
          <div class="col-sm-10">
            <h6><b>Last Update</b><span> 7 Desember 2018</span></h6>
          </div>
          <div class="col-sm-2">
            <button class="updatePass" (click)="updatePass()"><img src="./assets/img/update.png"><span>Update</span></button>
          </div>
        </div>
        <div class="row viewUp_Pass" *ngIf="viewUp_Pass">
          <div class="col-sm-12 mgn-t-15">
            <div class="col-3 pdd-0 width-200">
              <span>Current Password</span>
              <input type="{{viewPasswordCon1}}" class="input-Cpass" name="password1" (change)="validatePass($event.target.value)" [(ngModel)]="password1">
              <button type="button" (click)="seePassword(1)" class="show-eye">
                <img *ngIf="viewPasswordCon1==='text'" class="eye" src="../assets/img/eye-off.png">
                <img *ngIf="viewPasswordCon1!=='text'" class="eye" src="../assets/img/eye-on.png">
              </button>
            </div>
          </div>
          <div class="col-sm-12 mgn-t-15">
            <div class="col-3 pdd-0 width-200">
              <span>Input New Password</span>
              <input type="{{viewPasswordCon2}}" class="input-Cpass" name="password2" (change)="validatePass($event.target.value)" [(ngModel)]="password2">
              <button type="button" (click)="seePassword(2)" class="show-eye">
                <img *ngIf="viewPasswordCon2==='text'" class="eye" src="../assets/img/eye-off.png">
                <img *ngIf="viewPasswordCon2!=='text'" class="eye" src="../assets/img/eye-on.png">
              </button>
            </div>
          </div>
          <div class="col-sm-12 mgn-t-15">
            <div class="col-3 pdd-0 width-200">
              <span>Confirm Password</span>
              <input type="{{viewPasswordCon3}}" class="input-Cpass" name="password3" (change)="validatePass($event.target.value)" [(ngModel)]="password3">
              <button type="button" (click)="seePassword(3)" class="show-eye">
                <img *ngIf="viewPasswordCon3==='text'" class="eye" src="../assets/img/eye-off.png">
                <img *ngIf="viewPasswordCon3!=='text'" class="eye" src="../assets/img/eye-on.png">
              </button>
            </div>
          </div>
          <div class="col-sm-12 mgn-t-15">
            <div class="selcon-notif">
              <p>Password minimum 8 digit, must contain at least one Alphabet Uppercase, Lowercase, Number and Special Character. (ex:*#$%) </p>
            </div>
          </div>
          <div class="col-sm-12 mgn-t-15" *ngIf="notif">
            <p>Password minimum 8 digit, must contain at least one Alphabet Uppercase and Lowercase. </p>
          </div>
          <div class="col-sm-12 mgn-t-25">
            <button (click)="savePassword()" class="saveAcc">Save</button>
            <button (click)="disAccPass()" class="disAcc">Discard</button>
          </div>
        </div>
      </div>
    </div>
  </main-page>
