<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Report</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12 col-md-6">
              <span>Sales Order Date</span>
              <input style="width: 150px;" type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }" [(ngModel)]="so_date_from">
              <span>To</span>
              <input style="width: 150px;" type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }" [(ngModel)]="so_date_to">
              <!-- <button class="addSubmit">Submit</button> -->
            </div>
            <div class="col-sm-12 col-md-6">
              <span>Invoice Date</span>
              <input style="width: 150px;" type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"
                [(ngModel)]="invoice_date_from">
              <span>To</span>
              <input style="width: 150px;" type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"
                [(ngModel)]="invoice_date_to">
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <span>Due Date</span>
              <input style="width: 150px;" type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }" [(ngModel)]="due_date_from">
              <span>To</span>
              <input style="width: 150px;" type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }" [(ngModel)]="due_date_to">
              <!-- <button class="addSubmit" (click)="search()">Submit</button> -->
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <button class="addSubmit" (click)="search()">Submit</button>
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3 ket">
                  <span>Customer Code (Bill To)</span>
                  <br>
                  <b>{{limit.bill_to_code}}</b>
                </div>
                <div class="col-sm-3 ket {{color}}">
                  <span>Remaining Credit Limit</span>
                  <br>
                  <b>{{this.remaining_credit_limit * 100 | number:'1.'}}</b>
                </div>
                <div class="col-sm-3 ket">
                  <span>Credit Limit Amount</span>
                  <br>
                  <b>{{limit.credit_limit_amount * 100 | number:'1.'}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3 ket">
                  <span>Dealer Name</span>
                  <br>
                  <b>{{limit.bill_to_name}}</b>
                </div>
                <div class="col-sm-3 ket">
                  <span>Total Outstanding</span>
                  <br>
                  <b>{{limit.total_outstanding * 100 | number:'1.'}}</b>
                </div>
                <div class="col-sm-3 ket red">
                  <span>Credit Limit Expired</span>
                  <br>
                  <b>{{limit.credit_limit_expired | date: 'dd-MM-yyyy'}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3 ket">
                  <span>Term of Payment</span>
                  <br>
                  <b>{{limit.term_of_payment | number:'1.'}} Days</b>
                </div>
                <div class="col-sm-3 ket {{colorTotalOverdue}}">
                  <span>Total Overdue</span>
                  <br>
                  <b>{{limit.total_overdue * 100 | number:'1.'}}</b>
                </div>
                <div class="col-sm-3 ket">
                  <span>Currency</span>
                  <br>
                  <b>{{limit.currency}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row mgn-t-25">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 ket">
                  <span>Remarks</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 ket">
                  <img src="./assets/img/calendar.png">
                  <b>Not Due</b>
                </div>
                <div class="col-sm-3 ket">
                  <img src="./assets/img/lonceng.png">
                  <b>Due</b>
                </div>
                <div class="col-sm-3 ket">
                  <img src="./assets/img/petir.png">
                  <b>Over Due</b>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12" *ngIf="btnFilter">
              <!-- <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div> -->
              <div class="col-12 pdd-0">
                <!-- <input class="fl-left" type="text"> -->
                <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
                <button class="downloadButton" (click)="test()"><img src="./assets/img/union.png"> Download Report</button>
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="resetFilter">
              <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div>
              <div class="col-12 pdd-0">
                <div class="row">
                  <div class="col">
                    <input type="text" class="">
                  </div>
                  <div class="col col-lg-2">
                    <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset Filter</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row width-100">
                  <div class="col-2 pdd-0 mgn-r-15">
                    <span class="">Filter</span>
                    <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter" style="margin-top: 0!important;">
                      <option value="bill to">Bill to</option>
                      <option value="invoice no">Invoice No.</option>
                      <option value="invoice date">Invoice Date</option>
                      <option value="invoice qty">Invoice Qty</option>
                      <option value="symbol due">Symbol Due</option>
                      <option value="due date">Due Date</option>
                      <option value="top">TOP</option>
                      <option value="tax invoice">Tax Invoice</option>
                      <option value="so no">SO No.</option>
                    </select>
                  </div>
                  <div *ngIf="filterBillTo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Bill to</span>
                    <input class="form-control custom-select custom-filter" list="billTo" name="opSalOrNo">
                    <datalist id="billTo">
                      <option value="10000111">
                      <option value="10000104">
                      <option value="10000105">
                    </datalist>
                  </div>
                  <div *ngIf="filterInvoiceNo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Invoice No.</span>
                    <input class="form-control custom-select custom-filter" list="invoiceNo" name="opSalOrNo">
                    <datalist id="invoiceNo">
                      <option value="12345">
                      <option value="4444">
                      <option value="555">
                    </datalist>
                  </div>
                  <div *ngIf="filterInvoiceDate" class="col-2 pdd-0">
                    <span class="m-10">Invoice Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterInvoiceQty" class="col-2 pdd-0">
                    <span class="m-0">Invoice Qty</span>
                    <input class="form-control custom-select custom-filter" list="invoiceQty" name="opSalOrNo">
                    <datalist id="invoiceQty">
                      <option value="4">
                      <option value="5">
                      <option value="6">
                    </datalist>
                  </div>
                  <div *ngIf="filterSymbol" class="col-2 pdd-0">
                    <span class="m-0">Symbol Due</span>
                    <input class="form-control custom-select custom-filter" list="symbolDue" name="opSalOrNo">
                    <datalist id="symbolDue">
                      <option value="Not Due">
                      <option value="Due">
                      <option value="Over Due">
                    </datalist>
                  </div>
                  <div *ngIf="filterDueDate" class="col-2 pdd-0">
                    <span class="m-10">Due Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterTop" class="col-2 pdd-0">
                    <span class="m-0">TOP</span>
                    <input class="form-control custom-select custom-filter" list="Top" name="opSalOrNo">
                    <datalist id="Top">
                      <option value="30">
                      <option value="60">
                      <option value="30">
                    </datalist>
                  </div>
                  <div *ngIf="filterTaxtInvoice" class="col-2 pdd-0">
                    <span class="m-0">Tax Invoice</span>
                    <input class="form-control custom-select custom-filter" list="taxtInvoice" name="opSalOrNo">
                    <datalist id="taxtInvoice">
                      <option value="123">
                      <option value="123">
                      <option value="123">
                    </datalist>
                  </div>
                  <div *ngIf="filterSoNo" class="col-2 pdd-0">
                    <span class="m-0">SO No.</span>
                    <input class="form-control custom-select custom-filter" list="soNo" name="opSalOrNo">
                    <datalist id="soNo">
                      <option value="1010004171">
                      <option value="1010004171">
                      <option value="1010004171">
                    </datalist>
                  </div>
                  <div class="col-2 pdd-0 mgn-l-15">
                    <button class="addSubmit mgn-t-38">Submit</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="row">
            <div class="col-12 pdd-r-0 mgn-t-15" style="padding: 0;">
              <div class="judul">
                <span>Report Status Time : &nbsp;&nbsp; <b>26 May 2018 19:00</b></span>
              </div>
            </div>
            <div class="col-12 pdd-r-15 croll" style="max-height:465px;padding: 0;">
              <table class="tablePending width-th rpt">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Bill to</th>
                    <th>Invoice No.</th>
                    <th>Invoice Date</th>
                    <th>Invoice Category</th>
                    <th>Symbol Due</th>
                    <th>Due Date</th>
                    <th>Invoice Amount</th>
                    <th>TOP</th>
                    <th>Tax Invoice</th>
                    <th>SO No.</th>
                    <th>Payment Schedule</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!filteredData">
                    <ng-template ngFor let-item [ngForOf]="outstanding" let-i="index">
                      <tr>
                        <td>{{ i + 1 }}.</td>
                        <td>{{item.bill_to_code}}</td>
                        <td><span>{{item.invoice_number}}</span></td>
                        <td>{{item.invoice_date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.invoice_category}}</td>
                        <td>
                          <img *ngIf="item.symbol_due == '@OJ@'" src="./assets/img/petir.png">
                          <img *ngIf="item.symbol_due == '@1V@'" src="./assets/img/lonceng.png">
                          <img *ngIf="item.symbol_due == '@FR@'" src="./assets/img/calendar.png">
                        </td>
                        <!-- <td *ngIf="item.symbol_due == '@IV@'">
                          <img src="./assets/img/lonceng.png">
                        </td>
                        <td *ngIf="item.symbol_due == '@FR@'">
                          <img src="./assets/img/calendar.png">
                        </td> -->
                        <td>{{item.due_date | date: 'dd-MM-yyyy'}}</td>
                        <td class="text-right">{{item.invoice_amount * 100 | number: '1.'}}</td>
                        <td>{{item.term_of_payment}}</td>
                        <td><span>{{item.tax_invoice_number}}</span></td>
                        <td><span>{{item.sales_order_number}}</span></td>
                        <td><input placeholder="Input Date" type="text" value="{{item.payment_schedule}}"
                            class="input_date" bsDatepicker placement="bottom"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"></td>
                        <td *ngIf="item.invoice_amount > 0"><button (click)="pay(item.sales_order_number,item.invoice_number,item.invoice_category)">Pay</button></td>
                      </tr>
                    </ng-template>
                  </ng-container>

                  <ng-container *ngIf="filteredData">
                    <tr *ngFor="let item of listFiltered; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{item.bill_to_code}}</td>
                      <td><span>{{item.invoice_number}}</span></td>
                      <td>{{item.invoice_date | date: 'dd-MM-yyyy'}}</td>
                      <td>{{item.invoice_category}}</td>
                      <td><img [src]="item.symbol_due"></td>
                      <td>{{item.due_date | date: 'dd-MM-yyyy'}}</td>
                      <td class="text-right">{{item.invoice_amount * 100 | number: '1.'}}</td>
                      <td>{{item.term_of_payment}}</td>
                      <td><span>{{item.tax_invoice_number}}</span></td>
                      <td><span>{{item.sales_order_number}}</span></td>
                      <td><input placeholder="Input Date" type="text" value="{{item.payment_scedule}}"
                          class="input_date" bsDatepicker placement="bottom"
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"></td>
                          <td *ngIf="item.invoice_amount > 0"><button (click)="pay(item.sales_order_number,item.invoice_number,item.invoice_category)">Pay</button></td>
                    </tr>
                  </ng-container>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6"></td>
                    <td>Total</td>
                    <td class="text-right">{{total() | number:'1.'}}</td>
                    <td colspan="5"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
