<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Logistic Claim Form CBU</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 judul2">
          <span>Product Information</span>
          <hr>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-3">
              <span>Engine No</span>
              <br>
              <input style="text-transform: uppercase;" type="text" name="" id="" [(ngModel)]="engineNumber">
              <br>
              <span class="ex">Ex:GCAAH-1234567</span>
            </div>
            <div class="col-sm-3">
              <span>Frame No</span>
              <br>
              <input style="text-transform: uppercase;" type="text" name="" id="" [(ngModel)]="frameNumber">
              <br>
              <span class="ex">Ex:BBMJ-1234567</span>
            </div>
            <div class="col-sm-3">
              <button (click)="submitProduct()" class="addSubmit">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-3">
              <span>Material Group</span>
              <br>
              <b>{{materialGroup}}</b>
            </div>
            <div class="col-sm-3">
              <span>Material Code</span>
              <br>
              <b>{{materialNumber | slice: "-6"}}</b>
            </div>
            <div class="col-sm-3">
              <span>Material Description</span>
              <br>
              <b>{{materialDesc}}</b>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="claimForm">
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-3">
                <span>Remarks</span>
                <br>
                <input style="margin-top: 0!important;" class="form-control custom-select custom-filter"
                  list="warrantyReport" name="warrantyReport" [(ngModel)]="remarks">
                <datalist id="warrantyReport">
                  <option value="Dent"></option>
                  <option value="Scratch"></option>
                  <option value="Crack"></option>
                  <option value="Damage"></option>
                </datalist>
              </div>
              <div class="col-sm-3">
                <span>Claim Type</span>
                <br>
                <input style="margin-top: 0!important;" class="form-control custom-select custom-filter"
                  list="claimTypeList" name="warrantyReport" [(ngModel)]="claimType">
                <datalist id="claimTypeList">
                  <option value="Fuel Tank"></option>
                  <option value="Engine"></option>
                  <option value="Cover"></option>
                  <option value="Others (TBD)"></option>
                </datalist>
              </div>
              <div class="col-sm-3">
                <span>DN No.</span>
                <br>
                <input value="100092983" disabled class="dn" type="text" name="" id="" [(ngModel)]="dnNumber">
              </div>
              <div class="col-sm-3">
                <span>DN Date</span>
                <br>
                <input value="19/12/2018" disabled class="dn" type="text" name="" id="" [(ngModel)]="dnDate">
              </div>
            </div>
          </div>
          <div class="col-sm-12 contentt">
            <div class="row mgn-t-15">
              <div class="col-sm-6">
                <span>Chronological Claim <i>*</i></span>
                <br>
                <input style="max-width:100%!important;width:100%" maxlength="60" type="text" name="" id=""
                  [(ngModel)]="chronologyClaim">
                <br>
                <span class="ex">Max 60 character</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Photo Evidences <i>*</i></span>
            <hr>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-6  mgn-t-15">
                <span>Upload Image of <b>Front Side</b> of the Product</span>
                <br>
                <input (change)="changeName($event)" accept="image/jpeg, image/png" type="file" name="frontSide"
                  id="frontSide">
                <label class="fl-left" for="frontSide"><img src="./assets/img/dl-icn.png"> Upload</label>
                <br><br>
                <img *ngFor="let urls of url" [src]="urls" width="180">
              </div>
              <div class="col-sm-6  mgn-t-15">
                <span>Upload Image of <b>Right Side</b> of the Product</span>
                <br>
                <input (change)="changeName2($event)" accept="image/jpeg, image/png" type="file" name="rightSide"
                  id="rightSide">
                <label class="fl-left" for="rightSide"><img src="./assets/img/dl-icn.png"> Upload</label>
                <br><br>
                <img *ngFor="let urls2 of url2" [src]="urls2" width="180">
              </div>
              <div class="col-sm-6  mgn-t-15">
                <span>Upload Image of <b>Rear Side</b> of the Product</span>
                <br>
                <input (change)="changeName3($event)" accept="image/jpeg, image/png" type="file" name="rearSide"
                  id="rearSide">
                <label class="fl-left" for="rearSide"><img src="./assets/img/dl-icn.png"> Upload</label>
                <br><br>
                <img *ngFor="let urls3 of url3" [src]="urls3" width="180">
              </div>
              <div class="col-sm-6  mgn-t-15">
                <span>Upload Image of <b>Left Side</b> of the Product</span>
                <br>
                <input (change)="changeName4($event)" accept="image/jpeg, image/png" type="file" name="leftSide"
                  id="leftSide">
                <label class="fl-left" for="leftSide"><img src="./assets/img/dl-icn.png"> Upload</label>
                <br><br>
                <img *ngFor="let urls4 of url4" [src]="urls4" width="180">
              </div>
              <div class="col-sm-6  mgn-t-15">
                <span>Upload Image of <b>Packaging</b> of the Product</span>
                <br>
                <input (change)="changeName5($event)" accept="image/jpeg, image/png" type="file" name="packaging"
                  id="packaging">
                <label class="fl-left" for="packaging"><img src="./assets/img/dl-icn.png"> Upload</label>
                <br><br>
                <img *ngFor="let urls5 of url5" [src]="urls5" width="180">
              </div>
              <div class="col-sm-6  mgn-t-15">
                <span>Upload Image of <b>Barcode on Packaging</b> of the Product</span>
                <br>
                <input (change)="changeName6($event)" accept="image/jpeg, image/png" type="file" name="barcode"
                  id="barcode">
                <label class="fl-left" for="barcode"><img src="./assets/img/dl-icn.png"> Upload</label>
                <br><br>
                <img *ngFor="let urls6 of url6" [src]="urls6" width="180">
              </div>
            </div>
          </div>
        </div>

        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <span class="text-right"><i>*</i> mandatory to be filled</span>
            <br><br>
            <button class="simOrder" (click)="submitClaim()">Save</button>
            <button class="saveAsDraft">Discard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
