<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Forecast Report</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 forecastMenu">
          <div class="row">
            <div class="col-2 fl-left">
              <span>Starting Year</span>
              <br>
              <input class="form-control custom-select custom-filter" [(ngModel)]="startingYear" list="startingYear" required>
              <datalist id="startingYear">
                <ng-template ngFor let-item [ngForOf]="years" let-i="index" [ngForTrackBy]="trackByFn">
                  <option value="{{item}}"></option>
              </ng-template>
              </datalist>
            </div>
            <div class="col-2 fl-left">
              <span>Period</span>
              <br>
              <input class="form-control custom-select custom-filter" [(ngModel)]="periode" list="period" required>
              <datalist id="period">
                  <option value="Q1 (April - June)"></option>
                  <option value="Q2 (July - Sep)"></option>
                  <option value="Q3 (Oct - Dec)"></option>
                  <option value="Q4 (Jan - Mar)"></option>
              </datalist>
            </div>
            <div class="col-2 fl-left">
              <button class="addSubmit" (click)="getForecastReport()">Submit</button>
            </div>
            <div class="col-6 fl-left">
              <button style="float:right;" class="addSubmit" (click)="getForecastPromo()">See Reward</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15 CBUorderEntry" *ngIf="tableReport">
        <div class="col-sm-12 mgn-t-15">
          <div class="row">
            <div class="col-sm-12 croll" style="max-height:330px;">
              <table class="tableCBU foreport" id = "tableSparepart">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th style="min-width: 115px">Material Code</th>
                    <th style="min-width: 117px">Material Group</th>
                    <th style="min-width: 180px">Description</th>
                    <th>Qty/Pallet</th>
                    <th style="text-align:center!important;border-left: 1px solid #cccc;border-right: 1px solid #cccc;" colspan="2">{{month1}}</th>
                    <th style="text-align:center!important;border-left: 1px solid #cccc;border-right: 1px solid #cccc;" colspan="2">{{month2}}</th>
                    <th style="text-align:center!important;border-left: 1px solid #cccc;border-right: 1px solid #cccc;" colspan="2">{{month3}}</th>
                    <th style="min-width: 119px">Total Qty (Unit)</th>
                    <th>Realization</th>
                  </tr>
                  <tr>
                    <th style="top:40px;" colspan="5"></th>
                    <th style="top:40px;border-left: 1px solid #cccc;">Pallet</th>
                    <th style="top:40px;">Qty</th>
                    <th style="top:40px;border-left: 1px solid #cccc;">Pallet</th>
                    <th style="top:40px;">Qty</th>
                    <th style="top:40px;border-left: 1px solid #cccc;">Pallet</th>
                    <th style="top:40px;">Qty</th>
                    <th style="top:40px;border-left: 1px solid #cccc;" colspan="2"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of forecastReportList; let i=index">
                      <td>{{i + 1}}</td>
                      <td style="min-width: 115px">{{item.material_code | slice: -6}}</td>
                      <td style="min-width: 117px">{{item.material_group}}</td>
                      <td style="min-width: 180px">{{item.material_description}}</td>
                      <td>{{item.qty_per_pallet}}</td>
                      <td style="border-left: 1px solid #cccc;">{{item.month1}}</td>
                      <td>{{item.qty_per_pallet * item.month1}}</td>
                      <td style="border-left: 1px solid #cccc;">{{item.month2}}</td>
                      <td>{{item.qty_per_pallet * item.month2}}</td>
                      <td style="border-left: 1px solid #cccc;">{{item.month3}}</td>
                      <td>{{item.qty_per_pallet * item.month3}}</td>
                      <td class="text-right" style="border-left: 1px solid #cccc;min-width: 119px">{{item.total}}</td>
                      <td class="text-right">{{item.realization}}</td>
                    </tr>
                    <tr *ngIf="forecastReportList.length === 0">
                      <td colspan="12">No data.</td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">Total</td>
                    <td style="border-left: 1px solid #cccc;">{{totalPalletMonth1()}}</td>
                    <td>{{totalQtyMonth1()}}</td>
                    <td style="border-left: 1px solid #cccc;">{{totalPalletMonth2()}}</td>
                    <td>{{totalQtyMonth2()}}</td>
                    <td style="border-left: 1px solid #cccc;">{{totalPalletMonth3()}}</td>
                    <td>{{totalQtyMonth3()}}</td>
                    <td style="border-left: 1px solid #cccc;">{{totalQty()}}</td>
                    <td>{{totalRealization()}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
