<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Dealer Target - CBU</h5> 
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <span>Target Period</span>
              <input [(ngModel)]="year" class="form-control custom-select custom-filter" list="startingYear" />
              <ng-container *ngIf="years.length > 0">
                <datalist id="startingYear">
                  <ng-template ngFor let-item [ngForOf]="years" let-i="index" [ngForTrackBy]="trackByFn">
                    <option value="{{item}}"></option>
                  </ng-template>
                </datalist>
              </ng-container>
              <ng-container *ngIf="years.length == 0">
                <datalist id="startingYear">
                  <option aria-readonly="true">No data target yet.</option>
                </datalist>
              </ng-container>
              <button class="addSubmit" (click)="getDataTarget()">Submit</button>
            </div>
          </div>
          <div *ngIf="targetCBU" class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 scroll pdd-0">
              <table class="tablePending dtCbu">
                <thead>
                  <tr>
                    <th class="sticky-left" rowspan="2">Category</th>
                    <th colspan="3">April {{yearHTML}}</th>
                    <th colspan="3">May {{yearHTML}}</th>
                    <th colspan="3">June {{yearHTML}}</th>
                    <th colspan="3">July {{yearHTML}}</th>
                    <th colspan="3">Total Quantity I</th>
                    <th colspan="3">Accumulation I</th>
                    <th colspan="3">August {{yearHTML}}</th>
                    <th colspan="3">September {{yearHTML}}</th>
                    <th colspan="3">October {{yearHTML}}</th>
                    <th colspan="3">November {{yearHTML}}</th>
                    <th colspan="3">Total Quantity II</th>
                    <th colspan="3">Accumulation II</th>
                    <th colspan="3">December {{yearHTML}}</th>
                    <th colspan="3">January {{yearHTML + 1}}</th>
                    <th colspan="3">February {{yearHTML + 1}}</th>
                    <th colspan="3">March {{yearHTML + 1}}</th>
                    <th colspan="3">Total Quantity III</th>
                    <th colspan="3">Accumulation III</th>
                  </tr>
                  <tr>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                    <th>Target (unit)</th>
                    <th class="b-none">Actual (unit)</th>
                    <th class="b-none">%</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-item [ngForOf]="dealerTargetCBU" let-i="index" [ngForTrackBy]="trackByFn">
                    <tr>
                      <td class="sticky-left" >{{item.material_group_description}}</td>
                      <td>{{item.april | number: '1.'}}</td>
                      <td class="b-none">{{item.aprilActual ? item.aprilActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.aprilActualPercent ? item.aprilActualPercent : 0}}%</td>
                      <td>{{item.may | number: '1.'}}</td>
                      <td class="b-none">{{item.mayActual ? item.mayActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.mayActualPercent ? item.mayActualPercent : 0}}%</td>
                      <td>{{item.june | number: '1.'}}</td>
                      <td class="b-none">{{item.juneActual ? item.juneActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.juneActualPercent ? item.juneActualPercent : 0}}%</td>
                      <td>{{item.july | number: '1.'}}</td>
                      <td class="b-none">{{item.julyActual ? item.julyActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.julyActualPercent ? item.julyActualPercent : 0}}%</td>
                      <td> </td>
                      <td class="b-none"> </td>
                      <td class="b-none"> </td>
                      <td> </td>
                      <td class="b-none"> </td>
                      <td class="b-none"> </td>
                      <td>{{item.august | number: '1.'}}</td>
                      <td class="b-none">{{item.augustActual ? item.augustActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.augustActualPercent ? item.augustActualPercent : 0}}%
                      </td>
                      <td>{{item.september | number: '1.'}}</td>
                      <td class="b-none">{{item.septemberActual ? item.septemberActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.septemberActualPercent ? item.septemberActualPercent : 0}}%</td>
                      <td>{{item.october | number: '1.'}}</td>
                      <td class="b-none">{{item.octoberActual ? item.octoberActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.octoberActualPercent ? item.octoberActualPercent : 0}}%
                      </td>
                      <td>{{item.november | number: '1.'}}</td>
                      <td class="b-none">{{item.novemberActual ? item.novemberActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.novemberActualPercent ? item.novemberActualPercent : 0}}%
                      </td>
                      <td> </td>
                      <td class="b-none"> </td>
                      <td class="b-none"> </td>
                      <td> </td>
                      <td class="b-none"> </td>
                      <td class="b-none"> </td>
                      <td>{{item.december | number: '1.'}}</td>
                      <td class="b-none">{{item.decemberActual ? item.decemberActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.decemberActualPercent ? item.decemberActual : 0}}%</td>
                      <td>{{item.january | number: '1.'}}</td>
                      <td class="b-none">{{item.januaryActual ? item.januaryActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.januaryActualPercent ? item.januaryActualPercent : 0}}%
                      </td>
                      <td>{{item.february | number: '1.'}}</td>
                      <td class="b-none">{{item.februaryActual ? item.februaryActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.februaryActualPercent ? item.februaryActualPercent : 0}}%
                      </td>
                      <td>{{item.march | number: '1.'}}</td>
                      <td class="b-none">{{item.marchActual ? item.marchActual : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.marchActualPercent ? item.marchActualPercent : 0}}%</td>
                      <td>{{item.totalTargetRow ? item.totalTargetRow : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.totalActualRow ? item.totalActualRow : 0 | number: '1.'}}</td>
                      <td class="b-none">{{item.totalPercentRow ? item.totalPercentRow : 0}}%</td>
                      <td> </td>
                      <td class="b-none"> </td>
                      <td class="b-none"> </td>
                    </tr>
                  </ng-template>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="sticky-left" >Total Quantity</td>
                    <td>{{totalTargetApril() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualApril() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentApril() | number: '1.'}}%</td>
                    <td>{{totalTargetMay() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualMay() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentMay() | number: '1.'}}%</td>
                    <td>{{totalTargetJune() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualJune() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentJune() | number: '1.'}}%</td>
                    <td>{{totalTargetJuly() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualJuly() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentJuly() | number: '1.'}}%</td>
                    <td> </td>
                    <td class="b-none"> </td>
                    <td class="b-none"> </td>
                    <td> </td>
                    <td class="b-none"> </td>
                    <td class="b-none"> </td>
                    <td>{{totalTargetAugust() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualAugust() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentAugust() | number: '1.'}}%</td>
                    <td>{{totalTargetSeptember() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualSeptember() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentSeptember() | number: '1.'}}%</td>
                    <td>{{totalTargetOctober() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualOctober() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentOctober() | number: '1.'}}%</td>
                    <td>{{totalTargetNovember() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualNovember() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentNovember() | number: '1.'}}%</td>
                    <td> </td>
                    <td class="b-none"> </td>
                    <td class="b-none"> </td>
                    <td> </td>
                    <td class="b-none"> </td>
                    <td class="b-none"> </td>
                    <td>{{totalTargetDecember() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualDecember() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentDecember() | number: '1.'}}%</td>
                    <td>{{totalTargetJanuary() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualJanuary() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentJanuary() | number: '1.'}}%</td>
                    <td>{{totalTargetFebruary() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualFebruary() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentFebruary() | number: '1.'}}%</td>
                    <td>{{totalTargetMarch() | number: '1.'}}</td>
                    <td class="b-none">{{totalActualMarch() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercentMarch() | number: '1.'}}%</td>
                    <td>{{totalTarget() | number: '1.'}}</td>
                    <td class="b-none">{{totalActual() | number: '1.'}}</td>
                    <td class="b-none">{{totalPercent() | number: '1.'}}%</td>
                    <td> </td>
                    <td class="b-none"> </td>
                    <td class="b-none"> </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
