<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Logistic Claim Form Sparepart</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 judul2">
          <span>Product Information</span>
          <hr>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-4">
              <span>DN No.</span>
              <input style="margin-top: 0px!important;" class="form-control custom-select custom-filter" [disabled]="this.claimNumb" [(ngModel)]="dnNumber" type="text" list="listDN">
              <datalist id="listDN">
                <ng-template ngFor let-item [ngForOf]="listDN" let-i="index">
                  <option value="{{item}}"></option>
                </ng-template>
              </datalist>
              <button (click)="getDetailDN()" class="addSubmit mgn-t-0">Submit</button>
            </div>
            <div class="col-sm-2">
              <span>Claim Date</span>
              <input class="dn width-113" [ngModel]="claimDate | date: 'dd-MM-yyyy'" disabled type="text" name="" id="claimDate" />
            </div>
            <div class="col-sm-2">
              <span>DN Date</span>
              <input class="dn width-113" [(ngModel)]="dnDate" disabled type="text" name="dnDate" id=""
                value="{{listDNDetail.length === 0 ? '0/00/0000' : listDNDetail[0].delivery_notice_date | date: 'dd-MM-yyyy'}}">
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <table class="tableCBU" id="tblClaimLogSparepart">
            <thead>
              <tr>
                <th>No.</th>
                <th>Material Code</th>
                <th>Description</th>
                <th>DN Quantity</th>
                <th style="text-align:left!important;">Claim Quantity</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="listDNDetail" let-i="index">
                <tr>
                  <td>{{i + 1}}</td>
                  <td id="material_number">{{item.material_number}}</td>
                  <td id="material_desc">{{item.material_description}}</td>
                  <td id="dn_qty">{{item.delivery_notice_quantity}}</td>
                  <td>
                    <button (click)="minusOne(i)"><img src="./assets/img/min.png" alt=""></button>
                    <input type='button' value='-' class='qtyminus inputplusmin' id="minus1" field='quantity'
                      style="font-weight: bold;" />
                    <input type='text' disabled name='quantity{{i+1}}' (keyup)="QtyClaim(i, $event.target.value)" id="pallet"
                      [value]="item.claim_qty || 0" class='qty colplusmin' style="margin-bottom: 0px !important" />
                    <button (click)="plusONe(i)">
                      <img src="./assets/img/pluss.png" alt=""></button><input type='button' value='+'
                      class='qtyplus inputplusmin' id="plus1" field='quantity' style="font-weight: bold;" />
                  </td>
                  <td></td>
                </tr>
              </ng-template>
              <tr *ngIf="listDNDetail.length===0">
                <td colspan="5">No data.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-6">
              <span>Claim Chronological <i>*</i></span>
              <br>
              <input [(ngModel)]="claimChrono" style="max-width:100%!important;width:100%" maxlength="60" type="text" name="" id="">
              <br>
              <span class="ex">Max 60 character</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 judul2">
          <span>Photo Evidences <i>*</i></span>
          <hr>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-12">
              <span>Upload Image of <b>Label / Barcode of Packaging</b> of the Product <i>*</i></span>
              <br>
              <div class="img-con" *ngFor="let url of urls; let i=index">
                <img [src]="url">
                <br>
                <button (click)="deleteImgLabel(i)">Delete</button>
              </div>
              <input (change)="detectFiles($event)" multiple type="file" accept="image/jpeg, image/png" name="addImage" id="addImage">
              <div class="img-con" *ngIf="addImage">
                <label class="fl-left" for="addImage"><img src="./assets/img/add-img.png"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-12">
              <span>Upload Image of <b>Parts</b> of the Product <i>*</i></span>
              <br>
              <div class="img-con" *ngFor="let url2 of urls2; let i=index">
                <img [src]="url2">
                <br>
                <button (click)="deleteImgParts(i)">Delete</button>
              </div>
              <input (change)="detectFiles2($event)" multiple type="file" accept="image/jpeg, image/png" name="addImage2" id="addImage2">
              <div class="img-con" *ngIf="addImage2">
                <label class="fl-left" for="addImage2"><img src="./assets/img/add-img.png"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-12">
              <span>Upload Image of <b>Packaging</b> of the Product <i>*</i></span>
              <br>
              <div class="img-con" *ngFor="let url3 of urls3; let i=index">
                <img [src]="url3">
                <br>
                <button (click)="deleteImgPackaging(i)">Delete</button>
              </div>
              <input (change)="detectFiles3($event)" multiple type="file" accept="image/jpeg, image/png" name="addImage3" id="addImage3">
              <div class="img-con" *ngIf="addImage3">
                <label class="fl-left" for="addImage3"><img src="./assets/img/add-img.png"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-12">
              <span>Upload Image of <b>Delivery Notice</b> of the Product <i>*</i></span>
              <br>
              <div class="img-con" *ngFor="let url4 of urls4; let i=index">
                <img [src]="url4">
                <br>
                <button (click)="deleteImgDn(i)">Delete</button>
              </div>
              <input (change)="detectFiles4($event)" multiple type="file" accept="image/jpeg, image/png" name="addImage4" id="addImage4">
              <div class="img-con" *ngIf="addImage4">
                <label class="fl-left" for="addImage4"><img src="./assets/img/add-img.png"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <span class="text-right"><i>*</i> mandatory to be filled</span>
          <br><br>
          <button class="simOrder" (click)="submitClaim()">Save</button>
          <button class="saveAsDraft" (click)="discard()">Discard</button>
        </div>
      </div>
    </div>
  </div>
</main-page>
