<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Dealer Stock Report</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12">
              <span style="max-width: 60px!important;">Month</span>
              <input type="text" class="input_date" [(ngModel)]="so_date_from" [ngModelOptions]="{standalone:true}"
                bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span>To</span>
              <input type="text" class="input_date" [(ngModel)]="so_date_to" [ngModelOptions]="{standalone:true}"
                bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <button class="addSubmit">Submit</button>
              <button class="downloadButton fl-right"><img src="./assets/img/download.png"> Download Report</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15">
              <table class="tablePending aptt" style="width: 70%;">
                <thead>
                  <tr>
                    <th>Months</th>
                    <th>Dealer Purchase</th>
                    <th>Dealer Sales</th>
                    <th>Dealer Stock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listStockReport">
                    <td>{{item.monthName}} {{item.yearPeriode}}</td>
                    <td>{{item.purchasedSum ? item.purchasedSum : 0}}</td>
                    <td>{{item.sold ? item.sold : 0}}</td>
                    <td>{{item.stock ? item.stock : 0}}</td>
                  </tr>
                  <tr *ngIf="listStockReport.length === 0">
                    <td colspan="4">No data.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
