<div class="row">
  <div class="col-sm-12">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <ng-template ngFor let-item [ngForOf]="imageBanner" let-i="index">
          <li data-target="#demo" attr.data-slide-to="{{i}}" [ngClass]="i == 0 ? 'active' : ''"></li>
        </ng-template>
        <!-- <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li> -->
      </ul>
      <div class="carousel-inner">
        <ng-template ngFor let-item [ngForOf]="imageBanner" let-i="index">
          <div [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
            <img src="{{item}}" alt="Image Banner" attr.width="1100" attr.height="500">
          </div>
        </ng-template>
        <!-- <div class="carousel-item active">
          <img src="./assets/img/B1.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/B2.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/B3.jpg" alt="New York" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/B4.jpg" alt="New York" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/B5.jpg" alt="New York" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/Image_Home_DCS.jpg" alt="New York" width="1100" height="500">
        </div> -->
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
