<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">A/P AGING</h5>
        </div>
      </div>
      <div class="row" *ngIf="table1">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12 ap-info">
              <div class="row">
                <div class="col-2 fl-left">
                  <span>Currency</span>
                  <br>
                  <p>{{this.currency}}</p>
                </div>
                <div class="col-2 fl-left">
                  <span>Total Oustanding</span>
                  <br>
                  <p>{{this.total_outstanding * 100 | number: '1.'}}</p>
                </div>
                <div class="col-2 fl-left">
                  <span>Credit Limit</span>
                  <br>
                  <p>{{this.credit_limit * 100 | number: '1.'}}</p>
                </div>
                <div class="col-2 fl-left">
                  <span>Remaining Credit</span>
                  <br>
                  <p>{{this.remaining_credit * 100 | number: '1.'}}</p>
                </div>
                <div class="col-4 fl-left">
                  <button (click)="downloadReport()" class="downloadButton fl-right"><img src="./assets/img/download.png"> Download Report</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 croll" style="max-height: 357px;">
              <table class="tablePending aptt">
                <thead>
                  <tr>
                    <th style="border-bottom:none;" colspan="5">Report Status Time : &nbsp;&nbsp;
                      <b>{{this.created_at}}</b>
                    </th>
                  </tr>
                  <tr>
                    <th style="top: 40px;">No.</th>
                    <th style="top: 40px;">Status <img src="./assets/img/table-b.png"></th>
                    <th style="top: 40px;">Amount <img src="./assets/img/table-b.png"></th>
                    <th style="top: 40px;">Percentage (%) <img src="./assets/img/table-b.png"></th>
                    <th style="top: 40px;"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Not Due</td>
                    <td class="text-right">{{this.not_due_amount * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.not_due_percentage}}</td>
                    <td><button (click)="detail('Not Due')">Details</button></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>1 - 30</td>
                    <td class="text-right">{{this.day_amount_30 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_30}}</td>
                    <td><button (click)="detail('Due 1-30')">Details</button></td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>31 - 45</td>
                    <td class="text-right">{{this.day_amount_45 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_45}}</td>
                    <td><button (click)="detail('Due 31-45')">Details</button></td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>46 - 60</td>
                    <td class="text-right">{{this.day_amount_60 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_60}}</td>
                    <td><button (click)="detail('Due 46-60')">Details</button></td>
                  </tr>
                  <tr>
                    <td>5.</td>
                    <td>61 - 90</td>
                    <td class="text-right">{{this.day_amount_90 * 100 | number:'1.'}}</td>
                    <td class="text-right">{{this.day_percentage_90}}</td>
                    <td><button (click)="detail('Due 61-90')">Details</button></td>
                  </tr>
                  <tr>
                    <td>6.</td>
                    <td>91 - 120</td>
                    <td class="text-right">{{this.day_amount_120 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_120}}</td>
                    <td><button (click)="detail('Due 91-120')">Details</button></td>
                  </tr>
                  <tr>
                    <td>7.</td>
                    <td>121 - 180</td>
                    <td class="text-right">{{this.day_amount_180 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_180}}</td>
                    <td><button (click)="detail('Due 121-180')">Details</button></td>
                  </tr>
                  <tr>
                    <td>8.</td>
                    <td>181 - 360</td>
                    <td class="text-right">{{this.day_amount_360 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_360}}</td>
                    <td><button (click)="detail('Due 181-360')">Details</button></td>
                  </tr>
                  <tr>
                    <td>9.</td>
                    <td>361 - 720</td>
                    <td class="text-right">{{this.day_amount_720 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_720}}</td>
                    <td><button (click)="detail('Due 361-720')">Details</button></td>
                  </tr>
                  <tr>
                    <td>10.</td>
                    <td>721+</td>
                    <td class="text-right">{{this.day_amount_721 * 100 | number: '1.'}}</td>
                    <td class="text-right">{{this.day_percentage_721}}</td>
                    <td><button (click)="detail('Due 721')">Details</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="table2">
        <div class="col-12">
          <div class="row">
            <div class="col-12 mgn-t-15 back">
              <button (click)="back()"> <img src="./assets/img/back-b.png"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 croll" style="max-height: 390px;">
              <table class="tablePending apt">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Bill to</th>
                    <th>Invoice No.</th>
                    <th>Invoice Date</th>
                    <th>Invoice Category</th>
                    <th>Due Date</th>
                    <th>Invoice Amount</th>
                    <th>TOP</th>
                    <th>Tax Invoice</th>
                    <th>SO No.</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-item [ngForOf]="apAgingDetail" let-i="index">
                    <tr>
                      <td>{{i + 1}}</td>
                      <td>{{item.bill_to_code}}</td>
                      <td><span>{{item.invoice_number}}</span></td>
                      <td>{{item.invoice_date | date: 'dd-MM-yyyy'}}</td>
                      <td>{{item.invoice_category}}</td>
                      <td>{{item.due_date | date: 'dd-MM-yyyy'}}</td>
                      <td class="text-right">{{item.invoice_amount * 100 | number: '1.'}}</td>
                      <td>{{item.term_of_payment}}</td>
                      <td><span>{{item.tax_invoice_number}}</span></td>
                      <td><span>{{item.sales_order_number}}</span></td>
                      <td><span>{{item.payment_schedule}}</span></td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
