<router-outlet></router-outlet>
<ngx-spinner bdOpacity = 0.9 bdColor = "rgba(51,51,51,0.72)" size = "medium" color = "white" type = "ball-newton-cradle" fullScreen = "true"><p style="color: white" > Fetching Data... </p></ngx-spinner>