<main-page>
  <div class="col-sm-10 isi-content" *ngIf="report">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Customer Registration Report</h5> 
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-7">
          <span class="mgn-b-0">Registration Date</span>
          <input type="text" [(ngModel)]="regisDateFrom" class="input_date mgn-b-0" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span class="mgn-b-0">To</span>
          <input type="text" [(ngModel)]="regisDateTo" class="input_date mgn-b-0" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col-sm-5">
          <span>Engine Number</span>
          <input style="margin-top:0!important;" [(ngModel)]="engineNumber" class="form-control custom-select custom-filter"
            list="engineNumberList" name="warrantyReport">
          <datalist id="engineNumberList">
            <option *ngFor="let item of listEngineNumber" [value]="item"></option>
          </datalist>
        </div>
        <div class="col-sm-7">
          <span class="mgn-b-0">Material Group</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="materialGroup" list="materialGroupList"
            name="warrantyReport">
          <datalist id="materialGroupList">
            <option *ngFor="let item of listMatGroup" [value]="item"></option>
          </datalist>
        </div>
        <div class="col-sm-5">
          <span>Frame Number</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="frameNumber" list="frameNumberList"
            name="warrantyReport">
          <datalist id="frameNumberList">
            <option *ngFor="let item of listFrameNumber" [value]="item"></option>
          </datalist>
        </div>
        <div class="col-sm-12">
          <span class="mgn-b-0">Material Number</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="materialCode" list="materialCodeList"
            name="warrantyReport">
          <datalist id="materialCodeList">
            <option *ngFor="let item of listMatCode" [value]="item"></option>
          </datalist>
        </div>
        <div class="col">
          <button (click)="submitFilter()" class="addSubmit">Submit</button>
          <button (click)="resetFil()" class="saveAsDraft float-left">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
            <button (click)="downloadReport()" style="margin-right:15px" class="downloadButton fl-right"><img src="./assets/img/download.png">
              Download List</button>
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
          <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div>
          <div class="col-12 pdd-0">
            <div class="row">
              <div class="col">
                <input type="text" class="">
              </div>
              <div class="col col-lg-5">
                <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset Filter</button>
                <button style="margin-right:15px" class="downloadButton fl-right"><img src="./assets/img/download.png"> Download List</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row width-100">
              <div class="col-2 pdd-0 mgn-r-15">
                <span class="">Filter</span>
                <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter" style="margin-top: 0!important;">
                  <option value="dealer order type">Dealer Order Type</option>
                  <option value="purcahse order no">Purchase Order No.</option>
                  <option value="order date">Sales Order Date</option>
                  <option value="order no">Sales Order No.</option>
                  <option value="order type">Order Type</option>
                  <option value="bill code">Bill to Code</option>
                  <option value="material group">Material Group</option>
                  <option value="material code">Material Code</option>
                  <option value="status sales order">Status Sales Order</option>
                  <option value="invoice date">Invoice Date</option>
                  <option value="invoice no">Invoice No</option>
                  <option value="invoice status">Invoice Status</option>
                </select>
              </div>
              <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                <span class="m-0" style="width:100%">Dealer Order Type</span>
                <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                <datalist id="dealerOrder">
                  <option value="CBU">
                  <option value="Spareparts">
                </datalist>
              </div>
              <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                <span class="m-0" style="width:100%">Purchase Order No.</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterDate" class="col-2 pdd-0">
                <span>Sales Order Date</span>
                <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div *ngIf="filterNo" class="col-2 pdd-0">
                <span class="m-0">Sales Order No.</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterOrderType" class="col-2 pdd-0">
                <span class="m-0">Order Type</span>
                <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                <datalist id="orderType">
                  <option value="Normal">
                  <option value="Urgent">
                </datalist>
              </div>
              <div *ngIf="filterBillCode" class="col-2 pdd-0">
                <span class="m-0">Bill to Code</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                <span class="m-0">Material Group</span>
                <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                <datalist id="materialGroup">
                  <option value="Marine">
                  <option value="Power Product ">
                  <option value="Marine/PP">
                </datalist>
              </div>
              <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                <span class="m-0">Material Code</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterSalesOrder" class="col-2 pdd-0">
                <span class="m-0" style="width:100%">Status Sales Order</span>
                <input class="form-control custom-select custom-filter" list="salesOrder" name="opSalOrNo">
                <datalist id="salesOrder">
                  <option value="Complete ">
                  <option value="Incomplete">
                </datalist>
              </div>
              <div *ngIf="filterInvoiceDate" class="col-2 pdd-0">
                <span>Invoice Date</span>
                <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div *ngIf="filterInvoiceNo" class="col-2 pdd-0">
                <span class="m-0">Invoice No</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterInvoiceStatus" class="col-2 pdd-0">
                <span class="m-0">Invoice Status</span>
                <input class="form-control custom-select custom-filter" list="invoiceStatus" name="opSalOrNo">
                <datalist id="invoiceStatus">
                  <option value="Paid">
                  <option value="Unpaid">
                </datalist>
              </div>
              <div class="col-2 pdd-0 mgn-l-15">
                <button class="addSubmit mgn-t-38">Submit</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12 mgn-t-15 croll" style="max-height:265px;">
          <table class="tablePending width-th logisticCR">
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Region</th>
                <th>Material Group</th>
                <th>Material Code</th>
                <th>Engine No.</th>
                <th>Frame No.</th>
                <th>Purchase Date</th>
                <th>Retailer Name</th>
                <th>Phone</th>
                <th>Warranty Valid</th>
                <th>Input by</th>
                <th>Input Date</th>
                <th> </th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="freshData">
                <ng-template ngFor let-item [ngForOf]="customerReport" let-i="index">
                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{item.owner_name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.district}}</td>
                    <td>{{item.material_group}}</td>
                    <td>{{item.material_code | slice: '-6'}}</td>
                    <td>{{item.engine_number}}</td>
                    <td>{{item.frame_number}}</td>
                    <td>{{item.date_of_purchase | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.sub_dealer_name}}</td>
                    <td>{{item.sub_dealer_phone}}</td>
                    <td>{{item.waranty_valid}}</td>
                    <td>{{item.input_by}}</td>
                    <td>{{item.input_date | date: 'dd-MM-yyyy'}}</td>
                    <td><button (click)=edit(item.engine_number?item.engine_number:item.frame_number)><img src="./assets/img/edit.png" alt="">Edit</button></td>
                    <td><button (click)=deleteModal(confirmModal,item.engine_number?item.engine_number:item.frame_number)>Delete</button></td>
                  </tr>
                </ng-template>
              </ng-container>

              <ng-container *ngIf="filteredData">
                <ng-template ngFor let-item [ngForOf]="listFiltered" let-i="index">
                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{item.owner_name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.district}}</td>
                    <td>{{item.material_group}}</td>
                    <td>{{item.material_code | slice: '-6'}}</td>
                    <td>{{item.engine_number}}</td>
                    <td>{{item.frame_number}}</td>
                    <td>{{item.date_of_purchase | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.sub_dealer_name}}</td>
                    <td>{{item.sub_dealer_phone}}</td>
                    <td>{{item.waranty_valid}}</td>
                    <td>{{item.input_by}}</td>
                    <td>{{item.input_date | date: 'dd-MM-yyyy'}}</td>
                    <td><button><img src="./assets/img/edit.png" alt="">Edit</button></td>
                    <td><button (click)=confirm(confirmModal)>Delete</button></td>
                  </tr>
                </ng-template>
              </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-10 isi-content" *ngIf="detail">
      <div class="col-sm-12 formPending selectDate">
        <div class="row mgn-t-15">
          <div class="col-sm-12">
            <h5 class="title-content">Customer Registration Detail</h5>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Customer Information</span>
            <hr />
          </div>
        </div>
        <div class="row mgn-t-15">
            <div class="col-sm-12 contentt">
              <div class="row">
                <div class="col-sm-3">
                  <span>Engine No</span>
                  <br />
                  <input
                    style="text-transform: uppercase;"
                    [(ngModel)]="engineNumber"
                    type="text"
                    name=""
                    id=""
                    disabled
                  />
                  <br />
                </div>
                <div class="col-sm-3">
                  <span>Frame No</span>
                  <br />
                  <input
                    style="text-transform: uppercase;"
                    [(ngModel)]="frameNumber"
                    type="text"
                    name=""
                    id=""
                    disabled
                  />
                  <br />
                </div>
              </div>
            </div>
          </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-3">
                <span>Material Group</span>
                <br />
                <b>{{ materialGroup }}</b>
              </div>
              <div class="col-sm-3">
                <span>Material Code</span>
                <br />
                <b>{{ materialCode | slice: "-6" }}</b>
              </div>
              <div class="col-sm-3">
                <span>Material Description</span>
                <br />
                <b>{{ materialDesc }}</b>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="showAppliedFor">
            <div class="row mgn-t-15">
              <div class="col-sm-12 judul2">
                <span>Applied For</span>
                <hr />
              </div>
            </div>
            <div class="row mgn-t-15">
              <div class="col-sm-12 contentt">
                <div class="row">
                  <div class="col-sm-2 mgn-t-15">
                    <input
                      (click)="appliedFor('Boat')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Boat
                  </div>
                  <div class="col-sm-2 mgn-t-15">
                    <input
                      (click)="appliedFor('Power Sprayer')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Power Sprayer
                  </div>
                  <div class="col-sm-2 mgn-t-15">
                    <input
                      (click)="appliedFor('Coconut Grater')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Coconut Grater
                  </div>
                  <div class="col-sm-2 mgn-t-15">
                    <input
                      (click)="appliedFor('Food Grinder')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Food Grinder
                  </div>
                  <div class="col-sm-4 mgn-t-15">
                    <input
                      (click)="appliedFor('Compresor')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Compresor
                  </div>
                  <div class="col-sm-2 mgn-t-15">
                    <input
                      (click)="appliedFor('Rice Thresher')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Rice Thresher
                  </div>
                  <div class="col-sm-4 mgn-t-15">
                    <input
                      (click)="appliedFor('Others')"
                      type="radio"
                      name="applied"
                      id=""
                    />
                    Others
                    <input
                      [(ngModel)]="appliedForInput"
                      type="text"
                      name=""
                      id=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12 judul2">
              <span>Customer Information</span>
              <hr />
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12 contentt">
              <div class="row">
                <div class="col-sm-3 cust-info">
                  <span>Owner Name <i>*</i></span>
                  <input
                    type="text"
                    [(ngModel)]="ownerName"
                    required
                    name=""
                    id=""
                  />
                </div>
                <div class="col-sm-3">
                  <span>Date Of Purchase <i>*</i></span>
                  <input
                    type="text"
                    [(ngModel)]="dateOfPurchase"
                    required
                    class="input_date"
                    bsDatepicker
                    placement="bottom"
                    [bsConfig]="{
                      dateInputFormat: 'DD-MM-YYYY',
                      containerClass: 'theme-red'
                    }"
                  />
                </div>
                <div class="col-sm-3 cust-info">
                  <span>Phone</span>
                  <input [(ngModel)]="phone" required type="text" name="" id="" />
                </div>
              </div>
            </div>
            <div class="col-sm-6 contentt">
              <span>Address <i>*</i></span>
              <input
                [(ngModel)]="address"
                required
                style="max-width:100%!important;width: 455px;"
                type="text"
                name=""
                id=""
              />
            </div>
            <div class="col-sm-12 contentt mgn-t-15">
              <div class="row">
                <div class="col-sm-3 cust-info">
                  <span>District <i>*</i></span>
                  <input
                    style="margin-top:0px!important;background-image: none!important;"
                    required
                    [(ngModel)]="district"
                    class="form-control custom-select custom-filter"
                  />
                  <!-- <datalist id="district">
                        <option value="Jakarta"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                      </datalist> -->
                </div>
                <div class="col-sm-3">
                  <span>Province <i>*</i></span>
                  <select
                    style="margin-top:0px!important;"
                    [(ngModel)]="province"
                    class="form-control custom-select custom-filter"
                    list="province"
                  >
                    <!-- <datalist id="province"> -->
                    <option *ngFor="let item of provinceList" [value]="item">{{
                      item
                    }}</option>
                    <!-- </datalist> -->
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12 judul2">
              <span>Subdealer Information</span>
              <hr />
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12 contentt">
              <div class="row">
                <div class="col-sm-12">
                  <span>Subdealer Name <i>*</i></span>
                  <select
                    style="margin-top:0px!important;"
                    required
                    [(ngModel)]="subdealerName"
                    class="form-control custom-select custom-filter"
                    list="subdealer"
                  >
                  <!-- <datalist id="subdealer"> -->
                    <option
                      *ngFor="let item of listSubDealer"
                      [value]="item"
                      >{{ item }}</option
                    >
                    </select>
                  <!-- </datalist> -->
                </div>
                <div class="col-sm-12 mgn-t-15">
                  <span>Subdealer Phone</span>
                  <input
                    [(ngModel)]="subdealerPhone"
                    required
                    type="text"
                    name=""
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12 contentt">
              <span class="text-right"><i>*</i> mandatory to be filled</span>
              <br /><br />
              <button class="simOrder" (click)="updateCustomer()">Save</button>
              <button class="saveAsDraft" (click)="refresh()">Discard</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <ng-template #confirmModal>
    <div class="modal-body contactPop">
      <div class="row">
        <div class="col-md-12" style="padding: 0 28px;">
          <h4 style="text-align: center;display: block!important;">Are You Sure ?</h4>
        </div>
        <div class="col-md-6 mgn-t-25  mgn-b-15" style="padding: 0 28px;margin: 15px auto!important;">
          <button (click)="delete(this.number)" class="addSubmit">Yes</button>
          <button (click)="modalRef.hide()" class="saveAsDraft">No</button>
        </div>
      </div>
    </div>
  </ng-template>
</main-page> 
