<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Product Checking</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-12 contentt">
              <div class="row">
                <div class="col-sm-2">
                  <span>Engine No</span>
                  <br>
                  <input style="text-transform: uppercase;"type="text" [(ngModel)]="engineNumber" name="" id="">
                  <br>
                  <span class="ex">Ex:GCAAH-1234567</span>
                </div>
                <div class="col-sm-2">
                  <span>Frame No</span>
                  <br>
                  <input style="text-transform: uppercase;" type="text" [(ngModel)]="frameNumber" name="" id="">
                  <br>
                  <span class="ex">Ex:BBMJ-1234567</span>
                </div>
                <div class="col-sm-2">
                  <button (click)="submit()" class="addSubmit">Submit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mgn-t-15">
              <table class="tablePending prodCheck">
                <thead>
                  <tr>
                    <th colspan="3">Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Material Code
                      <br>
                      <span>{{product.matnr | slice: '-6'}}</span>
                    </td>
                    <td>
                      Material Group
                      <br>
                      <span>{{product.bezei}}</span>
                    </td>
                    <td>
                      Material Description
                      <br>
                      <span>{{product.arktx}}</span>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="showMessage">
                  <tr>
                    <td colspan="3">Product registered at HPPI</td>
                  </tr>
                  <tr>
                    <td colspan="3">Thank you for trusting Honda Power Product Indonesia</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
