<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Information Sharing</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
            <div class="col-sm-3">
              <span style="max-width: 60px!important;">Search</span>
              <br>
              <input style="width: 245px;max-width: 250px;" type="text" name="" id="">
            </div>
            <div class="col-sm-2">
              <span>Dealer Category</span>
              <br>
              <select (change)="category($event)" style="margin:0; margin-top:0!important;"
                class="form-control custom-select custom-filter" name="" id="">
                <option value="general information">General Information</option>
                <option value="cbu">CBU</option>
                <option value="spareparts">Spareparts</option>
                <option value="service">Service</option>
              </select>
            </div>
            <div class="col-sm-2" *ngIf="informationType">
              <span>Information Type</span>
              <br>
              <select (change)="infoType($event)" style="margin:0; margin-top:0!important;"
                class="form-control custom-select custom-filter" name="" id="informationType">
                <option value="all" selected></option>
                <option value="bulletin">Bulletin</option>
                <option value="brochure">Brochure</option>
                <option value="Promo">Promo</option>
                <option value="others">Others</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <span style="max-width: 60px!important;">Sort By</span>
              <select (change)="sortBy($event)" style="margin:0; margin-top:0!important;"
                class="form-control custom-select custom-filter" name="" id="sortBy">
                <option value="late">Date (Latest)</option>
                <option value="old">Date (Oldest)</option>
                <option value="atoz">A ~ Z</option>
                <option value="ztoa">Z ~ A</option>
              </select>
              <button [disabled]="!canDownloadInformationSharing ? 'disabled' : null" (click)="downloadReport()" class="downloadButton fl-right"><img src="./assets/img/download.png"> Download</button>
            </div>
          </div>
          <div *ngIf="generalTab">
            <div class="row">
              <div class="col-12 mgn-t-15 croll" style="max-height:327px;">
                <table class="tablePending aptt">
                  <thead>
                    <tr>
                      <th><input [checked]="checkGeneral"
                          (click)="checkedAll($event, 'general')" type="checkbox" name="" id=""></th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Size</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-item [ngForOf]="infoSharingGeneral" let-i="index">
                      <tr>
                        <td><input [checked]="item.download" (click)="checkOneDownload($event, i, 'general')"
                            type="checkbox" name="" id=""></td>
                        <td>{{item.information_name}}</td>
                        <td>{{item.created_at | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.file_size_in_kb}} kb</td>
                        <td><button (click)="test(viewPdf, item.file)">View</button></td>
                        <td><button [disabled]="!canDownloadInformationSharing ? 'disabled' : null" (click)="downloadFile(item.file, item.information_name)" class="btndl"><img
                              src="./assets/img/download2.png"> Download</button></td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="cbuTab">
            <div class="row">
              <div class="col-12 mgn-t-15 croll" style="max-height:327px;">
                <table class="tablePending aptt">
                  <thead>
                    <tr>
                      <th><input [checked]="checkCbu" (click)="checkedAll($event, 'cbu')"
                          type="checkbox" name="" id=""></th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Size</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-item [ngForOf]="infoSharingCBU" let-i="index">
                      <tr>
                        <td><input [checked]="item.download" (click)="checkOneDownload($event, i, 'cbu')"
                            type="checkbox" name="" id=""></td>
                        <td>{{item.information_name}}</td>
                        <td>{{item.created_at | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.file_size_in_kb}} kb</td>
                        <td><button (click)="test(viewPdf, item.file)">View</button></td>
                        <td><button [disabled]="!canDownloadInformationSharing ? 'disabled' : null" (click)="downloadFile(item.file, item.information_name)" class="btndl"><img
                              src="./assets/img/download2.png"> Download</button></td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="sparepartsTab">
            <div class="row">
              <div class="col-12 mgn-t-15 croll" style="max-height:327px;">
                <table class="tablePending aptt">
                  <thead>
                    <tr>
                      <th><input [checked]="checkSparepart"
                          (click)="checkedAll($event, 'sparepart')" type="checkbox" name="" id=""></th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Size</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-item [ngForOf]="infoSharingSparepart" let-i="index">
                      <tr>
                        <td><input [checked]="item.download" (click)="checkOneDownload($event, i, 'sparepart')"
                            type="checkbox" name="" id=""></td>
                        <td>{{item.information_name}}</td>
                        <td>{{item.created_at | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.file_size_in_kb}} kb</td>
                        <td><button (click)="test(viewPdf, item.file)">View</button></td>
                        <td><button [disabled]="!canDownloadInformationSharing ? 'disabled' : null" (click)="downloadFile(item.file, item.information_name)" class="btndl"><img
                              src="./assets/img/download2.png"> Download</button></td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="serviceTab">
            <div class="row">
              <div class="col-12 mgn-t-15 croll" style="max-height:327px;">
                <table class="tablePending aptt">
                  <thead>
                    <tr>
                      <th><input [checked]="checkService"
                          (click)="checkedAll($event, 'service')" type="checkbox" name="" id=""></th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Size</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-item [ngForOf]="infoSharingService" let-i="index">
                      <tr>
                        <td><input [checked]="item.download" (click)="checkOneDownload($event, i, 'service')"
                            type="checkbox" name="" id=""></td>
                        <td>{{item.information_name}}</td>
                        <td>{{item.created_at | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.file_size_in_kb}} kb</td>
                        <td><button (click)="test(viewPdf, item.file)">View</button></td>
                        <td><button [disabled]="!canDownloadInformationSharing ? 'disabled' : null" (click)="downloadFile(item.file, item.information_name)" class="btndl"><img
                              src="./assets/img/download2.png"> Download</button></td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>

<ng-template #viewPdf>
  <div class="modal-body contactPop">
    <div class="row">
      <div class="col-md-12" style="padding: 0 15px;">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span style="font-size: 25px;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12" style="margin-top: 15px;">
        <iframe [src]="cleanURL(baseFile64)" width="100%" height="500px" style="display: block;"></iframe>
        <!-- <canvas width="100%" height="500px" id="the-canvas"></canvas> -->
      </div>
    </div>
  </div>
</ng-template>
