<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12">
      <div class="row mgn-t-15">
        <div class="col-sm-12" *ngIf="canPreviewDealerProfileMenu == true">
          <h5 class="title-content">Dealer Profile</h5>
        </div>
      </div>
      <app-banner></app-banner>
      <app-order-review *ngIf="canPreviewDealerProfileMenu == true"></app-order-review>
      <div class="row mgn-t-15">
        <div class="col-sm-12" [ngStyle]="{ display: canPreviewDealerProfileMenu == true ? '' : 'none' }">
          <div class="info-dealer">
            <div class="col-sm-4 fl-left shadow-right">
              <div class="col-sm-12 pdd-tb-10">
                <img class="ppDealer" [src]="this.sanitized.bypassSecurityTrustUrl(pProfile)" />
                <span class="title-dealer">{{ dealer_name }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Payment Method</small>
                <span>{{ payment_method }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Dealer Category</small>
                <span></span>
                <span>{{ dealer_category_name }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Region</small>
                <span></span>
                <span>{{ region }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Starting Bussiness</small>
                <span>{{ starting_bussiness | date: 'dd-MM-yyyy' }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Number Of Technician</small>
                <span>{{ number_of_technician }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Number Of Sales Person</small>
                <span>{{ number_of_sales }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Employees</small>
                <span>{{ number_of_employee }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-5">
                <small>Service Facilities</small>
                <span>{{ service_facility }}</span>
              </div>
              <div class="col-sm-12 border-bottoms"></div>
              <div class="col-sm-12 pdd-b-10">
                <small>Product Handling</small>
                <span>{{ product_handling }}</span>
              </div>
            </div>
            <div class="col-sm-8 fl-left">
              <div class="col-sm-12 pdd-t-5">
                <button id="tab-info1" class="tab-info" [ngClass]="tab1" (click)="openInfo_tab(1)">
                  <br />Contact
                </button>
                <button id="tab-info2" class="tab-info" [ngClass]="tab2" (click)="openInfo_tab(2)">
                  Legal<br />Document
                </button>
                <button id="tab-info3" class="tab-info" [ngClass]="tab3" (click)="openInfo_tab(3)">
                  Dealer<br />Evaluation
                </button>
                <button id="tab-info4" class="tab-info" [ngClass]="tab4" (click)="openInfo_tab(4)">
                  Additional<br />Information
                </button>
              </div>
              <div class="col-sm-12 pdd-t-15 mgn-b-19">
                <table class="tbl-info1" *ngIf="tabInfo1">
                  <tbody>
                    <tr>
                      <td>
                        <span><img src="./assets/img/id.png" /></span>
                      </td>
                      <td>
                        <span>{{ address }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/prov.png" /></span>
                      </td>
                      <td>
                        <span>{{ district }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/location.png" /></span>
                      </td>
                      <td>
                        <span>{{ city }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/call.png" /></span>
                      </td>
                      <td>
                        <span>{{ phone_number1 }}</span><span>{{ phone_number2 }}</span><span>{{ phone_number3 }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/fax.png" /></span>
                      </td>
                      <td>
                        <span>{{ fax1 }}</span><span>{{ fax2 }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/hp.png" /></span>
                      </td>
                      <td>
                        <span>{{ mobile_phone_number1 }}</span><span>{{ mobile_phone_number2 }}</span><span>{{ mobile_phone_number3 }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/email.png" /></span>
                      </td>
                      <td>
                        <span>{{ email1 }}</span><span>{{ email2 }}</span><span>{{ email3 }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><img src="./assets/img/web.png" /></span>
                      </td>
                      <td>
                        <a href="#"><span>{{ website }}</span></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="tbl-info2" *ngIf="tabInfo2">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Description</th>
                      <th>Document No.</th>
                      <th>Preview</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-item [ngForOf]="legal_documents" let-i="index">
                      <tr>
                        <td><span>{{i + i}}.</span></td>
                        <td><span>{{item.description}}</span></td>
                        <td><span>{{item.document_no}}</span></td>
                        <td>
                          <button type="button" (click)="showLegalDocument(legalDocument, item.file_name)"><img
                              src="./assets/img/preview.png" /></button>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
                <table class="tbl-info3" *ngIf="tabInfo3">
                  <tbody>
                    <tr>
                      <td>Dealer Service Evaluation</td>
                      <td><a (click)="test(template2, service_evaluation)"><img src="./assets/img/preview.png"></a></td>
                    </tr>
                    <tr>
                      <td>Dealer Sales Evaluation</td>
                      <td>
                        <a (click)="test(template2, sales_evaluation)"><img src="./assets/img/preview.png" /></a>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>{{ this.evaluation_desc1 }}</td>
                      <td>
                        <a (click)="test(template2, evaluation_file1)"><img src="./assets/img/preview.png" /></a>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ this.evaluation_desc2 }}</td>
                      <td>
                        <a (click)="test(template2, evaluation_file2)"><img src="./assets/img/preview.png" /></a>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ this.evaluation_desc3 }}</td>
                      <td>
                        <a (click)="test(template2, evaluation_file3)"><img src="./assets/img/preview.png" /></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-sm-12 tbl-info4" *ngIf="tabInfo4">
                  <div class="col-sm-12">
                    <small>Branch #1</small>
                    <span>{{ branch_name1 }}</span>
                    <small>Description</small>
                    <span>{{ branch_desc1 }}</span>
                  </div>
                  <div class="col-sm-12 border-bottoms"></div>
                  <div class="col-sm-12">
                    <small>Branch #2</small>
                    <span>{{ branch_name2 }}</span>
                    <small>Description</small>
                    <span>{{ branch_desc2 }}</span>
                  </div>
                  <div class="col-sm-12 border-bottoms"></div>
                  <div class="col-sm-12">
                    <small>Branch #3</small>
                    <span>{{ branch_name3 }}</span>
                    <small>Description</small>
                    <span>{{ branch_desc3 }}</span>
                  </div>
                  <div class="col-sm-12 border-bottoms"></div>
                  <div class="col-sm-12">
                    <small>ID Card</small>
                    <a (click)="showIDCard(idCard, id_card_path)"><span>{{id_card_name}}</span></a>
                  </div>
                  <div class="col-sm-12 border-bottoms"></div>
                  <div class="col-sm-12">
                    <small>Additional Information</small>
                    <span>{{ additional_information }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="galery">
              <div class="col-sm-12 pdd-tb-25"><span>Store Photo</span></div>
              <div class="col-sm-12">
                <div class="demo mgn-b-19">
                  <ul id="lightSlider">
                    <!-- <li [attr.data-thumb]="store_photo1"> -->
                    <li>
                      <img [src]="
                          this.sanitized.bypassSecurityTrustUrl(store_photo1)
                        " width="100%" height="100%" />
                    </li>
                    <!-- <li [attr.data-thumb]="store_photo2"> -->
                    <li>
                      <img [src]="
                          this.sanitized.bypassSecurityTrustUrl(store_photo2)
                        " width="100%" height="100%" />
                    </li>
                    <!-- <li [attr.data-thumb]="store_photo3"> -->
                    <li>
                      <img [src]="
                          this.sanitized.bypassSecurityTrustUrl(store_photo3)
                        " width="100%" height="100%" />
                    </li>
                    <!-- <li [attr.data-thumb]="store_photo4"> -->
                    <li>
                      <img [src]="
                          this.sanitized.bypassSecurityTrustUrl(store_photo4)
                        " width="100%" height="100%" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="canPreviewDealerProfileMenu == true" class="row mgn-t-15">
        <div *ngIf="user3S == true" class="col-sm-12">
          <div class="chart-1">
            <div class="col-sm-6 title-bar1 fl-left">
              <span>Target Vs Actual - CBU</span>
            </div>
            <div class="col-sm-6 title-bar1 fl-left">
              <span class="chart1ActualCBU fl-right">Actual</span><span class="chart1TargetCBU fl-right">Target</span>
            </div>
            <div class="col-sm-12 title-bar2 fl-left"><span>Monthly</span></div>
            <fusioncharts class="newChart" width="595" height="275" type="mscolumn2d" [dataSource]="chartOne">
            </fusioncharts>
          </div>
          <div class="chart-2">
            <div class="col-sm-6 title-bar1 fl-left">
              <span>Sales History - CBU</span>
            </div>
            <div class="col-sm-6 title-bar1 fl-left">
              <span class="chart2ActualSale fl-right">Actual</span><span class="chart2TargetSale fl-right">Target</span>
            </div>
            <div class="col-sm-12 title-bar2 fl-left"><span>Annual</span></div>
            <fusioncharts class="newChart" width="425" height="275" type="mscolumn2d" [dataSource]="chartTwo">
            </fusioncharts>
          </div>
        </div>
      </div>
      <div *ngIf="canPreviewDealerProfileMenu == true" class="row mgn-t-15">
        <div *ngIf="user1S == true || user2S == true || user3S == true" class="col-sm-12">
          <div class="chart-3">
            <div class="col-sm-6 title-bar1 fl-left">
              <span>Target Vs Actual - Spareparts</span>
            </div>
            <div class="col-sm-6 title-bar1 fl-left">
              <span class="chart3ActualSpare fl-right">Actual</span><span
                class="chart3TargetSpare fl-right">Target</span>
            </div>
            <div class="col-sm-12 title-bar2 fl-left"><span>Monthly</span></div>
            <fusioncharts class="newChart" width="595" height="275" type="mscolumn2d" [dataSource]="chartThree">
            </fusioncharts>
          </div>
          <div class="chart-4">
            <div class="col-sm-6 title-bar1 fl-left">
              <span>Sales History - Spareparts</span>
            </div>
            <div class="col-sm-6 title-bar1 fl-left">
              <span class="chart4ActualSpare fl-right">Actual</span><span
                class="chart4TargetSpare fl-right">Target</span>
            </div>
            <div class="col-sm-12 title-bar2 fl-left"><span>Annual</span></div>
            <fusioncharts class="newChart" width="425" height="275" type="mscolumn2d" [dataSource]="chartFour">
            </fusioncharts>
          </div>
        </div>
      </div>
      <div *ngIf="canPreviewDealerProfileMenu == true" class="row mgn-t-15">
        <div *ngIf="user3S == true" class="col-sm-12">
          <div class="chart-5">
            <div class="col-sm-6 title-bar1 fl-left">
              <span>Dealer Stock Vs Average Stock</span>
            </div>
            <div class="col-sm-6 title-bar1 fl-left">
              <span class="chart5ActualSpare fl-right">Average Stock</span><span
                class="chart5TargetSpare fl-right">Dealer Stock</span>
            </div>
            <div class="col-sm-12 title-bar2 fl-left"><span>Monthly</span></div>
            <!-- <canvas id="bar-5" width="500" height="150"></canvas> -->
            <fusioncharts class="newChart" width="100%" height="275" type="mscombi2d" [dataSource]="chartFive">
            </fusioncharts>
          </div>
        </div>
      </div>
      <ng-template #template2>
        <div class="modal-body contactPop">
          <div class="row">
            <div class="col-md-12" style="padding: 0 15px;">
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span style="font-size: 25px;" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-md-12 mgn-t-25  mgn-b-15" style="padding: 0 28px;">
              <img style="float: none;margin-right: 0;width: 100%;"
                [src]="this.sanitized.bypassSecurityTrustUrl(image)">
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #legalDocument>
        <div class="modal-body contactPop">
          <div class="row">
            <div class="col-md-12" style="padding: 0 15px;">
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span style="font-size: 25px;" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-md-12" style="margin-top: 15px;">
              <iframe [src]="cleanURL(imageLegalDocument)" width="100%" height="500px" style="display: block;"></iframe>
              <!-- <canvas width="100%" height="500px" id="the-canvas"></canvas> -->
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #idCard>
          <div class="modal-body contactPop">
            <div class="row">
              <div class="col-md-12" style="padding: 0 15px;">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span style="font-size: 25px;" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-12 mgn-t-25  mgn-b-15" style="padding: 0 28px;">
                <img style="float: none;margin-right: 0;width: 100%;"
                  [src]="this.sanitized.bypassSecurityTrustUrl(id_card_path)">
              </div>
            </div>
          </div>
        </ng-template>

    </div>
  </div>
</main-page>
