<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row pos-cont">
    <div class="col bg-login"></div>
    <div class="col">
      <div class="row">
        <div class="col-sm-12 display-login-logo">
          <img class="logo-login" src="/assets/img/logo.png">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mgn-b-37">
          <span class="title-login">Dealer Communication System</span>
        </div>
      </div>

      <!-- <div style="text-align: center;margin-top: 10%;margin-bottom: 10%;">
        <h4>This site is currently</h4>
        <h2 style="text-transform: uppercase;
        font-weight: bold;
        border: 1px #ff1744 solid;
        background-color: #ff1744;
        color: white;
        border-width: thick">under maintenance</h2>
        <h4>we will be back shortly</h4>
      </div> -->

      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="row">
          <div class="input-login border-input-login mgn-b-10">
            <span>Username</span>
            <input class="input-email" type="email" name="email" [(ngModel)]="model.email" required>
          </div>
        </div>
        <div class="row">
          <div class="input-login border-input-login mgn-b-22">
            <span>Password</span>
            <input type="{{viewPasswordCon}}" required class="input-pass" name="password" [(ngModel)]="model.password">
            <button type="button" (click)="seePassword()" class="show-eye">
              <img *ngIf="viewPasswordCon==='text'" class="eye" src="../assets/img/eye-off.png">
              <img *ngIf="viewPasswordCon!=='text'" class="eye" src="../assets/img/eye-on.png">
            </button>
          </div>
        </div>
        <div class="row">
          <div class="input-login mgn-b-19">
            <button type="submit" class="input-login btn-login">LOGIN</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="input-login">
          <a (click)="forgotPass()" class="btn-forgot">Forgot Password ?</a>
        </div>
      </div>
      <div class="row">
        <div class="input-login mgn-t-15">
          <img class="logo-login" src="/assets/img/login-logo.svg">
        </div>
      </div>
    </div>
  </div>
</div>
