<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate" *ngIf="entryBO">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Backorder Confirmation</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-7">
          <span>Sales Order No.</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_from"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let item of backorder" [value]="item.vbeln"></option>
          </datalist>
          <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_to"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let item of backorder" [value]="item.vbeln"></option>
          </datalist>
        </div>
        <!-- <div class="col-sm-5">
          <div class="selcon-notif">
            <p>If Sales Order not settled within due date,
              it will be automatically cancelled</p>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span>Sales Order Date</span>
          <input type="text" class="input_date" [(ngModel)]="so_date_from" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span>To</span>
          <input type="text" class="input_date" [(ngModel)]="so_date_to" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col">
          <button class="addSubmit" (click)="search()">Submit</button>
          <button class="saveAsDraft float-left" (click)="reset()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
            <b style="font-size: 14px;" class="fl-right">Amount in IDR</b>
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
          <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div>
          <div class="col-12 pdd-0">
            <div class="row">
              <div class="col">
                <input type="text" class="">
              </div>
              <div class="col col-lg-2">
                <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                  Filter</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row width-100">
              <div class="col-2 pdd-0 mgn-r-15">
                <span class="">Filter</span>
                <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                  style="margin-top: 0!important;">
                  <option value="order date">Sales Order Date</option>
                  <option value="order no">Sales Order No.</option>
                </select>
              </div>
              <div *ngIf="filterDate" class="col-2 pdd-0">
                <span>Sales Order Date</span>
                <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;"
                  bsDatepicker placement="bottom"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }">
              </div>
              <div *ngIf="filterNo" class="col-2 pdd-0">
                <span class="m-0">Sales Order No</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div class="col-2 pdd-0 mgn-l-15">
                <button class="addSubmit mgn-t-38">Submit</button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-12 mgn-t-15 croll" style="max-height: 245px;">
          <table class="tablePending">
            <thead>
              <tr>
                <th>No.</th>
                <th>Sales Order No.</th>
                <th>Dealer Order Type</th>
                <th>Sales Order Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="freshData">
                <tr *ngFor="let item of backorder; let i = index">
                  <!-- <ng-container *ngIf="item.znetwr2 * 100 + item.zmwsbp2 * 100 !== 0"> -->
                  <td>{{i + 1}}.</td>
                  <td><a (click)="detailBO(item.vbeln, item.confirmid)">{{item.vbeln}}</a>
                  <td *ngIf="item.spart == '10'">CBU</td>
                  <td *ngIf="item.spart == '20'">Spareparts</td>
                  <td>{{item.so_date | date:'dd-MM-yyyy'}}</td>
                  <td class="">{{item.znetwr2 * 100 + item.zmwsbp2 * 100 | number:'1.'}}</td>
                  <!-- </ng-container> -->
                </tr>
              </ng-container>
              <ng-container *ngIf="filteredData">
                  <tr *ngFor="let item of listFiltered; let i = index">
                    <!-- <ng-container *ngIf="item.znetwr2 * 100 + item.zmwsbp2 * 100 !== 0"> -->
                    <td>{{i + 1}}.</td>
                    <td><a (click)="detailBO(item.vbeln, item.confirmid)">{{item.vbeln}}</a>
                    <td *ngIf="item.spart == '10'">CBU</td>
                    <td *ngIf="item.spart == '20'">Spareparts</td>
                    <td>{{item.so_date | date:'dd-MM-yyyy'}}</td>
                    <td class="">{{item.znetwr2 * 100 + item.zmwsbp2 * 100 | number:'1.'}}</td>
                    <!-- </ng-container> -->
                  </tr>
                </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="confirmBO">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Backorder Confirmation</h5><button class="btnFilter fl-right" (click)="backBO()">
            << Back</button> </div> </div> <div class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
              <div class="col-sm-12">
                <div class="col-3 fl-left">
                  <span>Purchase Order No. (Optional)</span>
                  <span>{{po_number}}</span>
                </div>
                <div class="col-2 fl-left">
                  <span>Order Date</span>
                  <span><b>{{order_date | date:'dd-MM-yyyy'}}</b></span>
                </div>
                <div class="col-4 fl-left">
                  <span>Bill to Name</span>
                  <span><b>{{bill_to}}</b></span>
                </div>
                <div class="col-3 fl-left">
                  <span>Ship To</span>
                  <span><b>{{ship_to}}</b></span>
                </div>
              </div>
              <div class="col-sm-12 mgn-t-15">
                <div class="col-3 fl-left">
                  <span>Remarks (Optional)</span>
                  <span>{{remarks}}</span>
                </div>
                <div class="col-6 fl-left">
                  <span>Sales Order Number</span>
                  <b><span>{{this.so_number}}</span></b>
                </div>
                <div class="col-3 fl-left">
                  <span>Payment Method</span>
                  <span><b>{{payment_method}}</b></span>
                </div>
              </div>
              <div class="col-sm-12 mgn-t-15">
                <div class="col croll" style="max-height:345px;">
                  <table class="tableCBU" id="tableCBUConfirmation">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Description</th>
                        <th>Material Code</th>
                        <th *ngIf="spart == '10'">Material Group</th>
                        <th *ngIf="spart == '20'">Model Unit</th>
                        <th>Backorder Allocated</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                        <th *ngIf="spart == '10'">Discount (%)</th>
                        <th *ngIf="spart == '20'">Discount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of body; let i = index">
                        <ng-container *ngIf="item.zkwmeng2 > 0">
                          <td *ngIf="item.uepos == '000000' ">{{item.number}}</td>
                          <td *ngIf="item.uepos != '000000' "></td>
                          <td id="matwa">{{ item.matwa }}</td>
                          <td id="matnr" *ngIf="item.spart == '10'">{{ item.matnr | slice:-6 }}</td>
                          <td id="matnr" *ngIf="item.spart == '20'">{{ item.matnr}}</td>
                          <td *ngIf="item.spart == '10'" id="desc">{{ item.mg_description }}</td>
                          <td *ngIf="item.spart == '20'" id="model">{{ item.model }}</td>
                          <td *ngIf="item.uepos == '000000' " id="backorder">{{ item.zkwmeng2 }}</td>
                          <td *ngIf="item.uepos != '000000' "></td>
                          <td id="znetpr" *ngIf="item.uepos == '000000' " align="right">{{ item.netpr_gros * 100 | number: '1.'}}
                          </td>
                          <td *ngIf="item.uepos != '000000' "></td>
                          <td id="znetwr2" *ngIf="item.uepos == '000000' " align="right">{{ item.znetwr2_gros * 100 | number: '1.'}}
                          </td>
                          <td *ngIf="item.uepos != '000000' "></td>
                          <td id="zzdiscount" *ngIf="item.uepos == '000000' " align="right">
                            {{ (item.zdiscount * 100 | number: '1.').replace('-', '') }}</td>
                          <td *ngIf="item.uepos != '000000' "></td>
                        </ng-container>
                      </tr>
                    </tbody>
                    <!-- <tbody>
                  <tr>
                    <td>1.</td><td>GX270T2-QN-R280</td><td>1082831</td><td>ENGINE</td><td>25</td><td>25</td><td>0</td><td>1,000,000</td><td>25,000,000</td><td>20%</td>
                  </tr>
                  <tr>
                    <td>2.</td><td>ER25000CX</td><td>123452</td><td>TURBIN</td><td>100</td><td>100</td><td>0</td><td>1,500,000</td><td>150,000,000</td><td>20%</td>
                  </tr>
                  <tr>
                    <td>3.</td><td>YU270T2-QN-R280</td><td>1082831</td><td>GENERATOR</td><td>16</td><td>16</td><td>4</td><td>1,000,000</td><td>12,000,000</td><td>20%</td>
                  </tr>
                </tbody> -->
                    <tfoot class="BOtfoot">
                      <tr class="border-bottom">
                        <td style="position:relative;" colspan="4">Total Order</td>
                        <td style="position:relative;" id="totalSimulateOrder">{{totalBackorder()}}</td>
                        <td style="position:relative;"></td>
                        <td style="position:relative;"></td>
                        <td style="position:relative;"></td>
                      </tr>
                      <tr *ngFor="let item of header; let i = index">
                        <ng-container *ngIf="i == 0">
                          <td style="position:relative;" class="text-right" colspan="7">Total Allocated Before Disc.
                          </td>
                          <td style="text-align:right!important;position:relative;">
                            {{item.znetwr2_gros * 100 | number:'1.'}}</td>
                        </ng-container>
                      </tr>
                      <tr *ngFor="let item of header; let i = index">
                        <ng-container *ngIf="i == 0">
                          <td style="position:relative;" class="text-right" colspan="7">Total Discount Allocated</td>
                          <td style="text-align:right!important;position:relative;">
                            {{(item.zdiscount * 100 | number:'1.').replace('-', '')}}</td>
                        </ng-container>
                      </tr>
                      <tr *ngFor="let item of header; let i = index">
                        <ng-container *ngIf="i == 0">
                          <td style="position:relative;" class="text-right" colspan="7">Total Allocated After Disc.
                          </td>
                          <td style="text-align:right!important;position:relative;">{{item.znetwr2 * 100 | number:'1.'}}
                          </td>
                        </ng-container>
                      </tr>

                      <tr *ngFor="let item of header; let i = index">
                        <ng-container *ngIf="i == 0">
                          <td style="position:relative;" class="text-right" colspan="7">VAT</td>
                          <td style="text-align:right!important;position:relative;">{{item.zmwsbp2 * 100 | number:'1.'}}
                          </td>
                        </ng-container>
                      </tr>
                      <tr *ngFor="let item of header; let i = index">
                        <ng-container *ngIf="i == 0">
                          <td style="position:relative;" class="text-right" colspan="7">Total Allocated With VAT</td>
                          <td style="text-align:right!important;position:relative;">
                            {{item.znetwr2 * 100 + item.zmwsbp2 * 100 | number:'1.'}}</td>
                        </ng-container>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="col-sm-12 mgn-t-15" *ngIf="Cash && is_tester">
                <div class="col">
                  <table class="payment">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <input class="fl-left" type="radio" checked="checked" name="jenisPay" (click)="jenisPay(1)">
                          <span class="typeTF">Manual Bank Transfer</span>
                        </th>
                          <!-- ENABLE THIS -->
                        <th colspan="2">
                          <input class="fl-left" type="radio" name="jenisPay" (click)="jenisPay(2)">
                          <span class="typeTF">Online Payment</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td [ngClass]="disabledPay1">
                          <img src="./assets/img/bca.png">
                        </td>
                        <td [ngClass]="disabledPay2">
                          <span>Account No: <b>{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
                        </td>
                        <!-- UNCOMMENT THIS -->
                        <td [ngClass]="disabledPay3">
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('credit-card')" type="radio" name="virAccount" id="mbca"><img
                              style="width: 70px;" src="./assets/img/credit2.png"><label for="mbca">Credit Card</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('klik-bca')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/Kbca.png"><label style="margin-left: 35px;" for="mbca">KlikBCA</label></div>
                          <div class="col userID">User ID KlikBCA : <input type="text" name="userIDBCA" id="userIDBCA" [(ngModel)]="userIDBCA"></div>
                          <div class="col"><p style="position: absolute;
                            bottom: -55px;
                            left: 16px;">Masukan User ID KlikBCA Anda yang terdaftar dan aktif kemudian pilih <b>Confirm Payment</b> untuk melanjutkan pembayaran</p></div>
                          
                        </td>
                        <td [ngClass]="disabledPay4">
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('cimb-click')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('ipay-bni')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('permata-bankva')" type="radio" name="virAccount" id="mbca"><img
                              src="./assets/img/permata.png"><label for="mbca">Permata Bank VA</label></div>
                          <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('bca-va')" type="radio" name="virAccount" id="mbca"><img 
                              src="./assets/img/bca-big.png"><label for="mbca">BCA VA</label></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-12 mgn-t-25">
                <div class="col-6 fl-left">
                  <button type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
                </div>
                <div class="col-6 fl-left">
                  <button (click)="conOrder()" class="conOrder">{{btnOrderPayment}}</button>
                </div>
              </div>
        </div>
      </div>
      <div class="col-sm-12 bankTF" *ngIf="bankTFBO">
        <div class="row mgn-t-15">
          <div class="col-sm-12">
            <h5 class="title-content">{{cash_payment_type}}</h5>
          </div>
        </div>
        <div class="row mgn-t-25">
          <div class="col-sm-12" *ngIf="cash_payment_type == 'Bank Transfer'">
            <img src="./assets/img/bca-big.png">
          </div>
          <div class="col-sm-12" *ngIf="online_payment_type == 'KlikBCA'">
            <img src="./assets/img/klik BCA.png">
          </div>
          <div class="col-sm-12" *ngIf="online_payment_type == 'BCA KlikPay'">
            <img src="./assets/img/BCAKlikPay.png">
          </div>
          <div class="col-sm-12" *ngIf="online_payment_type == 'CIMB Click'">
            <img src="./assets/img/CIMB Clicks.png">
          </div>
          <div class="col-sm-12" *ngIf="online_payment_type == 'iPay BNI'">
            <img src="./assets/img/iPay BNI.png">
          </div>
          <div class="col-sm-12" *ngIf="online_payment_type == 'Permata VA'">
            <img src="./assets/img/PermataBank_logo (1).png">
          </div>
          <div class="col-sm-12 mgn-t-15">
            <span>Account No: <b class="no-rek">{{customerAccount}}</b><br>Beneficiary: PT. Honda Power Products Indonesia</span>
          </div>
        </div>
        <div class="row mgn-t-25">
          <div class="col-sm-12">
            <span>Sales Order Number</span>
            <span><b>{{this.so_number}}</b></span>
          </div>
        </div>
        <div class="row mgn-t-25">
          <div class="col-sm-12">
            <span>Sales Order Number</span>
            <span><b>{{this.so_number}}</b></span>
          </div>
        </div>
        <div class="row mgn-t-25">
          <div class="col-sm-12">
            <span>The amount that must be paid</span>
            <span
              *ngIf="this.total_allocated_with_vat_cbu"><b>{{this.total_allocated_with_vat_cbu | number:'2.'}}</b></span>
            <span
              *ngIf="this.total_allocated_with_vat_sparepart"><b>{{this.total_allocated_with_vat_sparepart | number:'2.'}}</b></span>
          </div>
        </div>
        <div class="row mgn-t-25" *ngIf="spart == '20'">
          <div class="col-sm-12">
            <span>Payment deadline</span>
            <span><b>{{this.payment_deadline | date: 'dd-MM-yyyy'}}</b></span>
          </div>
        </div>
        <div class="row mgn-t-25" *ngIf="online_payment_type == 'KlikBCA'">
          <div class="col-sm-12">
            <span><b>Cara Pembayaran Via KlikBCA</b></span>
            <span>
                1.	Masuk ke situs https://ibank.klikbca.com/<br/>
                2.	Lakukan pembayaran melalui KlikBCA dengan menggunakan User ID KlikBCA yang sama<br/>
                3.	Pilih menu "Pembayaran E-Commerce".<br/>
                4.	Pilih kategori "Market Place"<br/>
                5.	Pilih nama perusahaan "DCS HPPI" kemudian klik lanjutkan<br/>
                6.	Lakukan pembayaran paling lambat 3 jam setelah pemesanan Anda.<br/>
                7.	Transaksi akan dibatalkan jika Anda tidak melakukan pembayaran dalam batas waktu yang ditentukan.<br/>
            </span>
          </div>
        </div>
        <div class="row mgn-t-25" *ngIf="online_payment_type == 'BCA VA'">
            <div class="col-sm-12">
              <span><b>BCA VA</b></span>
              <span><b>ATM BCA</b></span>
              <span>
                  1.	Pada Halaman Utama pilih TRANSAKSI LAINNYA<br/>
                  2.	Pilih menu TRANSFER.<br/>
                  3.	Pilih ke Rekening BCA Virtual Account<br/>
                  4.	Masukkan nomor rekening Virtual Account<br/>
                  5.	Layar konfirmasi muncul, cek kembali data Anda. Jika sudah benar lanjutkan tekan YA.<br/>
                  6.	Transaksi selesai. Simpan struk ATM sebagai bukti pembayaran Anda.<br/>
                  7.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
              </span><br/>
              <span><b>KlikBCA Individu</b></span>
              <span>
                  1.	Pilih menu TRANSFER DANA.<br/>
                  2.	Pilih Transfer ke BCA Virtual Account<br/>
                  3.	Masukkan nomor rekening virtual di atas.<br/>
                  4.	Layar konfirmasi muncul, cek kembali data Anda.<br/>
                  5.	Lanjutkan transaksi dengan memasukkan respon token sesuai yang diminta.<br/>
                  6.	Pembayaran selesai.<br/>
                  7.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
              </span><br/>
              <span><b>KlikBCA Bisnis</b></span>
              <span>
                  1.	Lakukan penambahan nomor rekening virtual di menu : Transfer Dana - Daftar Transfer - Tambah.<br/>
                  2.	Setelah selesai, masuk ke menu Transfer Dana - BCA Virtual Account<br/>
                  3.	Pilih rekening sumber dana dan rekening BCA Virtual Account yang dituju.<br/>
                  4.	Layar konfirmasi muncul, cek kembali data Anda. Tekan simpan agar transaksi masuk ke dalam antrian otorisasi<br/>
                  5.	Masuk ke menu Transfer Dana - Otorisasi.<br/>
                  6.	Pilih transaksi transfer yang akan diotorisasi.<br/>
                  7.	Masukkan respon token sesuai yang diminta<br/>
                  8.	Proses selesai. Pastikan status transaksi Anda berhasil<br/>
                  9.	Lakukanlah pembayaran sebelum batas waktu pembayaran yang telah ditentukan.<br/>
              </span><br/>
              <span><b>m-BCA (Aplikasi BCA Mobile)</b></span>
              <span>
                  1.	Pilih menu m-Transfer.<br/>
                  2.	Pilih BCA Virtual Account<br/>
                  3.	Masukkan nomor rekening virtual di atas.<br/>
                  4.	Layar konfirmasi muncul, cek kembali data Anda.<br/>
                  5.	Lanjutkan transaksi dengan memasukkan PIN m-BCA Anda<br/>
                  6.	Pembayaran selesai.<br/>
              </span>
            </div>
          </div>
        <div class="row mgn-t-25" *ngIf="online_payment_type == 'Permata VA'">
          <div class="col-sm-12">
            <span><b>Permata VA</b></span>
            <span><b>ATM Permata</b></span>
            <span>
              1.	Pilih menu TRANSAKSI LAINNYA<br/>
              2.	Pilih menu TRANSAKSI PEMBAYARAN<br/>
              3.	Pilih LAIN-LAIN<br/>
              4.	Pilih PEMBAYARAN VIRTUAL ACCOUNT<br/>
              5.	Masukkan 16 digit Nomor Rekening Virtual (NO VA)<br/>
              6.	Pilih BENAR untuk konfirmasi pembayaran<br/>
              7.	Struk/Bukti transaksi akan keluar
            </span><br/>
            <span><b>Internet Permata</b></span>
            <span>
                1.	Pilih Pembayaran Tagihan<br/>
                2.	Pilih Virtual Account<br/>
                3.	Masukkan 16 digit Nomor Rekening Virtual (No VA)<br/>
                4.	Muncul konfirmasi pembayaran<br/>
                5.	Masukkan otentikasi transaksi/Token<br/>
                6.	Transaksi selesai<br/>
            </span><br/>
            <span><b>Mobile Permata</b></span>
            <span>
                1.	Pilih Bayar Tagihan<br/>
                2.	Pilih Akun Virtual<br/>
                3.	Masukkan 16 digit Nomor Rekening Virtual (No VA)<br/>
                4.	Muncul konfirmasi pembayaran<br/>
                5.	Masukkan otentikasi transaksi/Token<br/>
                6.	Transaksi selesai<br/>
            </span>
          </div>
        </div>
        <div class="row mgn-t-25">
          <div class="alert alert-dark" role="alert" style="background: #A8DDE4">
            <span style="color: #FF0000;">If Sales Order not settled within due date, it will be automatically
              cancelled.</span>
          </div>
        </div>
      </div>
      </div>
      <!-- </div> -->
      <!-- </main-page> -->
