<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Forecast Entry</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 forecastMenu">
          <div class="row">
            <div class="col-2 fl-left">
              <span>Starting Year</span>
              <br />
              <input [(ngModel)]="startingYear" class="form-control custom-select custom-filter" list="startingYear" />
              <datalist id="startingYear">
                <ng-template ngFor let-item [ngForOf]="years" let-i="index" [ngForTrackBy]="trackByFn">
                  <option value="{{item}}"></option>
                </ng-template>
              </datalist>
            </div>
            <div class="col-2 fl-left">
              <span>Period</span>
              <br />
              <input [(ngModel)]="period" class="form-control custom-select custom-filter" list="period" />
              <datalist id="period">
                <option value="Q1 (Apr - Jun)"></option>
                <option value="Q2 (Jul - Sep)"></option>
                <option value="Q3 (Oct - Dec)"></option>
                <option value="Q4 (Jan - Mar)"></option>
              </datalist>
            </div>
            <div class="col-2 fl-left">
              <button (click)="show()" class="addSubmit">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15 CBUorderEntry" *ngIf="forecast">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-4 fl-left">
              <span>Search Product</span>
              <input type="text" class="form-control" [(ngModel)]="selectedMatCode" autocomplete="off"
                (keyup)="searchMaterial($event.target.value)" placeholder="search material code or description"
                list="forecastList"
                [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1 || disableForm" />
              <!-- <input type="text" class="form-control" [(ngModel)]="selectedMatCode" autocomplete="off"
                (keyup)="searchMaterial($event.target.value)" placeholder="search material code or description"
                list="forecastList" /> -->

              <datalist id="forecastList">
                <ng-template ngFor let-item [ngForOf]="materialCode" let-i="index" [ngForTrackBy]="trackByFn">
                  <option *ngIf="i < 5" autocomplete="off">{{ item.material_number | slice: -6 }} -
                    {{ item.material_description }}</option>
                </ng-template>
              </datalist>
            </div>
            <div class="col-2 fl-left">
              <!-- <button class="addCBU" [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1" -->
              <button [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1" class="addCBU" (click)="addItemForecast()">
                Add Item
              </button>
            </div>
            <div class="col-6 fl-left">
              <input type="file" accept=".csv" [disabled]="!canInputUploadDealerForecast ? 'disabled' : null" (change)="handleFiles($event)" id="uploadCBU" /><label class="uploadCBU"
                for="uploadCBU">Upload .csv</label>
              <a href="./assets/files/template_forecast.csv" download style="text-decoration: none;
              color: white;
              line-height: unset;" class="downloadCBU">Download Template .csv</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="row">
            <div class="col-sm-12 croll" style="max-height:400px;">
              <table class="tableCBU forect" id="tableForecast">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Material Code</th>
                    <th>Material Group</th>
                    <th>Description</th>
                    <th>Qty/Pallet</th>
                    <th></th>
                    <th style="text-align:center!important">Pallet</th>
                    <th></th>
                    <th>Total (Unit)</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th style="top:40px" colspan="5"></th>
                    <th style="top:40px;text-align: center!important;">{{month1}}</th>
                    <th style="top:40px;text-align: center!important;">{{month2}}</th>
                    <th style="top:40px;text-align: center!important;">{{month3}}</th>
                    <th style="top:40px"></th>
                    <th style="top:40px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listMaterialForecast; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td id="material_number" style="display:none">{{ item.material_code }}</td>
                    <td>{{ item.material_code | slice:-6 }}</td>
                    <td id="material_group">{{ item.material_group }}</td>
                    <td id="material_description">{{ item.material_description }}</td>
                    <td id="pallet" class="text-right">{{item.numerator_for_conversion_to_base_units_of_measure}}</td>
                    <td>
                      <input type="text" id="month1" autocomplete="off" placeholder="0"
                        class="qty colplusmin form-control" style="margin-bottom: 0px !important"
                        name="palletFirstMonth{{i}}" (keyup)="pallet1Month(i)" value="{{item.month1}}"
                        [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1" />
                        <!-- <input type="text" id="month1" autocomplete="off" placeholder="0"
                        class="qty colplusmin form-control" style="margin-bottom: 0px !important"
                        name="palletFirstMonth{{i}}" (keyup)="pallet1Month(i)" value="{{item.month1}}" /> -->
                    </td>
                    <td class="text-center">
                      <input type="text" id="month2" autocomplete="off" placeholder="0"
                        class="qty colplusmin form-control" style="margin-bottom: 0px !important"
                        name="palletSecondMonth{{i}}" (keyup)="pallet2Month(i)" value="{{item.month2}}"
                        [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1" />
                        <!-- <input type="text" id="month2" autocomplete="off" placeholder="0"
                        class="qty colplusmin form-control" style="margin-bottom: 0px !important"
                        name="palletSecondMonth{{i}}" (keyup)="pallet2Month(i)" value="{{item.month2}}" /> -->
                    </td>
                    <td class="text-center">
                      <input type="text" id="month3" autocomplete="off" placeholder="0"
                        class="qty colplusmin form-control" style="margin-bottom: 0px !important"
                        name="palletThirdMonth{{i}}" (keyup)="pallet3Month(i)" value="{{item.month3}}"
                        [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1" />
                        <!-- <input type="text" id="month3" autocomplete="off" placeholder="0"
                        class="qty colplusmin form-control" style="margin-bottom: 0px !important"
                        name="palletThirdMonth{{i}}" (keyup)="pallet3Month(i)" value="{{item.month3}}" /> -->
                    </td>
                    <td id="total" class="text-right">{{ item.total ? item.total : 0 }}</td>
                    <td>
                      <button [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1"
                      (click)="deleteMaterial(i)"><img src="./assets/img/delete.png" /></button>
                      <!-- <button  -->
                    </td>
                  </tr>
                  <tr *ngIf="listMaterialForecast.length === 0">
                    <td colspan="12">No data.</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">Total</td>
                    <td class="text-center">{{totalFirstMonth() ? totalFirstMonth() : 0}}</td>
                    <td class="text-center">{{totalSecondMonth() ? totalSecondMonth() : 0}}</td>
                    <td class="text-center">{{totalThirdMonth() ? totalThirdMonth() : 0}}</td>
                    <td class="text-right">{{totalUnit()}}</td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15">
              <button style="float:right"
                [disabled]="listMaterialForecast.status == 0 || listMaterialForecast.status == 1 || !canInputUploadDealerForecast ? 'disabled' : null"
                (click)="submitForecast()" class="addSubmit">
                <!-- <button style="float:right" (click)="submitForecast()" class="addSubmit"> -->
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
