<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Warranty Claim Form</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 judul2">
          <span>Customer Information</span>
          <hr>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-3">
              <span>Engine No</span>
              <br>
              <input style="text-transform: uppercase;" type="text" name="" id="" [(ngModel)]="engineNumber">
              <br>
              <span class="ex">Ex:GCAAH-1234567</span>
            </div>
            <div class="col-sm-3">
              <span>Frame No</span>
              <br>
              <input style="text-transform: uppercase;" type="text" name="" id="" [(ngModel)]="frameNumber">
              <br>
              <span class="ex">Ex:BBMJ-1234567</span>
            </div>
            <div class="col-sm-3">
              <button class="addSubmit" (click)="submitProduct()">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-3">
              <span>Material Group</span>
              <br>
              <b>{{materialGroup}}</b>
            </div>
            <div class="col-sm-3">
              <span>Material Code</span>
              <br>
              <b>{{materialNumber | slice: "-6"}}</b>
            </div>
            <div class="col-sm-3">
              <span>Material Description</span>
              <br>
              <b>{{materialDesc}}</b>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="claimForm">
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Unit Information</span>
            <hr>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-3">
                <span>Customer Name</span>
                <br>
                <b>{{customerName}}</b>
              </div>
              <div class="col-sm-3">
                <span>Customer Address</span>
                <br>
                <b>{{customerAddress}}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-3">
                <span>Purchase Date</span>
                <br>
                <b>{{purchaseDate}}</b>
              </div>
              <div class="col-sm-3">
                <span>Occurance Date <i>*</i></span>
                <br>
                <input type="text" class="input_date" bsDatepicker placement="bottom" [(ngModel)]="occuranceDate"
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div class="col-sm-3">
                <span>Report Date</span>
                <br>
                <b>{{reportDate}}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-3">
                <span>QIC Report No.</span>
                <br>
                <input type="text" name="" id="" [(ngModel)]="qicReportNumber">
              </div>
              <div class="col-sm-3">
                <span>Operation Hour <i>*</i></span>
                <br>
                <input type="number" name="" id="" [(ngModel)]="operationHour">
              </div>
              <div class="col-sm-5">
                <span>P/P Main Usage</span>
                <br>
                <input style="float:left!important;" (change)="changeName($event)" type="file" name="" id="mainUsage">
                <label style="float:left!important;" for="mainUsage"><img src="./assets/img/dl-icn.png">Upload
                  Attachment</label>
                <span style="float:left!important;" class="fileName">{{filename}}</span>
                <br>
                <span class="dl-form">Download Template Form</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Description</span>
            <hr>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-10">
                <span>Failure Description <i>*</i></span>
                <br>
                <input style="max-width:100%!important;width:100%" type="text" name="" id="" [(ngModel)]="failureDesc">
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-5">
                <span>Supporting Image</span>
                <br>
                <div class="img-con" *ngFor="let url of urls; let i = index">
                  <img [src]="url">
                  <br>
                  <button (click)="deleteImgLabel(i)">Delete</button>
                  <!-- <li><span>{{url[i].name}}</span> <img src="./assets/img/delete.png"></li> -->
                </div>
                <input (change)="detectFiles($event)" type="file" accept="image/jpeg, image/png" name="addImage"
                  id="addImage">
                <div *ngIf="allowNewImage" class="img-con">
                  <label for="addImage" class="fl-left" style="cursor: pointer;"><img
                      src="./assets/img/add-img.png"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Repairment</span>
            <hr>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt pdd-l-4">
            <!-- <table class="tableCBU wcf">
              <thead>
                <tr>
                  <th>Broken Spareparts</th>
                  <th>Parts No.</th>
                  <th>Quantity</th>
                  <th>Unit Price (Rp)</th>
                  <th>Total Price (Rp)</th>
                  <th>FRT %</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" name="" id=""></td>
                  <td><input type="text" name="" id=""></td>
                  <td><button (click)="minusOne(i)"><img src="./assets/img/min.png" alt=""></button><input type='button'
                      value='-' class='qtyminus inputplusmin' id="minus1" field='quantity'
                      style="font-weight: bold;" /><input type='text' name='quantity{{i+1}}' id="pallet" value='0'
                      class='qty colplusmin' style="margin-bottom: 0px !important" /><button (click)="plusONe(i)"><img
                        src="./assets/img/pluss.png" alt=""></button><input type='button' value='+'
                      class='qtyplus inputplusmin' id="plus1" field='quantity' style="font-weight: bold;" /></td>
                  <td><input class="text-right" type="text" name="" id=""></td>
                  <td><span>200.000</span></td>
                  <td><input class="width-70" value="0.2%" type="text" name="" id=""></td>
                  <td style="padding: 12px 23px;"></td>
                </tr>
              </tbody>
            </table> -->

            <table class="tableCBU wcf">
              <thead>
                <tr>
                  <th>Broken Spareparts</th>
                  <th>Parts No.</th>
                  <th>Quantity</th>
                  <th>Unit Price (Rp)</th>
                  <th>Total Price (Rp)</th>
                  <th>FRT</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of repairmentItem; let i = index">
                  <!-- <td><input type="text" name="" id="" [(ngModel)]="adtParts[i]"></td> -->
                  <td>
                    <input name="adtParts" [(ngModel)]="adtParts[i]" list="adtParts" (keyup)="searchPartByDesc(i)"
                      (change)="selectChangeSearchHandler($event, i)">
                    <datalist id="adtParts">
                      <option *ngFor="let item of searchItemsByDesc" [value]="item.material_description">
                        {{item.material_number}}</option>
                    </datalist>
                  </td>
                  <!-- <td><input type="text" name="" id="" [(ngModel)]="partsNo[i]"></td> -->
                  <td>
                    <input name="partsNo" [(ngModel)]="partsNo[i]" list="partsNo" (keyup)="searchPartByCode(i)"
                      (change)="selectChangeSearchHandler($event, i)">
                    <datalist id="partsNo">
                      <option *ngFor="let item of searchItemsByCode" [value]="item.material_number">
                        {{item.material_description}}</option>
                    </datalist>
                  </td>
                  <td>
                    <button (click)="minusRepairment(i)" name="minusRepairment"><img src="./assets/img/min.png"
                        alt=""></button>
                    <input type='text' id="pallet" class='qty colplusmin' style="margin-bottom: 0px !important"
                      [(ngModel)]="qtyRepairment[i]" />
                    <button (click)="plusRepairment(i)" name="plusRepairment"><img src="./assets/img/pluss.png"
                        alt=""></button>
                  </td>
                  <td><input type="text" name="" id="" [(ngModel)]="unitsPriceRepairment[i]"
                      (keyup)="calculateTotalPriceRepairement(i)" (change)="calculateTotalPartCostRepairment()"></td>
                  <!-- <td><input style="text-align: right" type="text" name="" id="" [(ngModel)]="myValue"
                      (keyup)="processMyValue()"></td> -->
                  <td><span>{{totalPriceRepairment[i] | number}}</span></td>
                  <td><input class="width-70" type="number" name="" id="" [(ngModel)]="frtRepairment[i]"
                      (change)="calculateTotalFrt()"></td>
                  <td><button *ngIf="i !== 0" (click)="removeRepairmentList(i)"><img
                        src="./assets/img/delete.png"></button></td>
                </tr>

                <!-- <ng-template #adtParts>
                  <tr>
                    <td>Additional Spareparts</td>
                    <td>Parts No.</td>
                    <td>Quantity</td>
                    <td>Unit Price (Rp)</td>
                    <td>Total Price (Rp)</td>
                    <td>FRT %</td>
                    <td></td>
                  </tr>
                </ng-template> -->
              </tbody>
            </table>
          </div>
          <div class="col-sm-12 contentt">
            <span class="addlist" (click)="addRepairmentList()">+Add List</span>
          </div>
          <div class="col-sm-12 contentt pdd-l-4">
            <table class="tableCBU wcf total">
              <tbody>
                <tr>
                  <td>Total Part Cost</td>
                  <td><span>{{totalPartCostRepairment | number}}</span></td>
                </tr>
                <tr>
                  <td>Total DPA ({{DPAPercentage * 100}}% x Total Part Cost)</td>
                  <td><span>{{totalDpaRepairment | number}}</span></td>
                </tr>
                <tr>
                  <td>Total FRT</td>
                  <td><span>{{totalFrt | number}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Other Bill</span>
            <hr>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt pdd-l-4">
            <table class="tableCBU wcf">
              <thead>
                <tr>
                  <th>Expense other than spareparts</th>
                  <th>Quantity</th>
                  <th>Unit Price (Rp)</th>
                  <th>Total Price (Rp)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of otherBillItem; let i = index">
                  <td>
                    <input class="expanse" type="text" name="" id="" [(ngModel)]="expenseOtherSpareparts[i]">
                  </td>
                  <td>
                    <button (click)="minusOther(i)" name="minusOther">
                      <img src="./assets/img/min.png" alt="">
                    </button>
                    <input type='text' id="pallet" value='0' class='qty colplusmin' style="margin-bottom: 0px !important"
                      [(ngModel)]="qtyOtherSpareparts[i]" />
                    <button (click)="plusOther(i)" name="plusOther">
                      <img src="./assets/img/pluss.png" alt="">
                    </button>
                  </td>
                  <td><input class="text-right" type="text" name="" id="" [(ngModel)]="unitsPriceOtherSpareparts[i]"
                      (keyup)="calculateTotalPriceOther(i)" (change)="calculateTotalOtherExpenses()"></td>
                  <!-- <td><input class="text-right" type="text" name="" id="" [(ngModel)]="myValue2"
                      (keyup)="processMyValue2()"></td> -->
                  <td><span>{{totalPriceOtherSpareparts[i] | number}}</span></td>
                  <td>
                    <button *ngIf="i !== 0" (click)="removeOtherBillList(i)"><img src="./assets/img/delete.png"></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12 contentt">
            <span class="addlist" (click)="addOtherBillList()">+Add List</span>
          </div>
          <div class="col-sm-12 contentt pdd-l-4">
            <table class="tableCBU wcf total">
              <tbody>
                <tr>
                  <td>Total Other Expenses</td>
                  <td><span>{{totalOtherExpenses | number}}</span></td>
                </tr>
                <tr>
                  <td>Service Rate</td>
                  <td><span>{{serviceRate | number}}</span></td>
                </tr>
                <tr>
                  <td>Total Service Cost (Service Rate * Total FRT)</td>
                  <td><span>{{totalServiceCost | number}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-4">
                <input (click)="Repairment(1)" checked type="radio" name="Repairment" id=""> Repairment on Customer
                Location
              </div>
              <div class="col-sm-8">
                <input (click)="Repairment(2)" type="radio" name="Repairment" id=""> Repairment on Dealer Workshop
                (Outboard Only BF50-BF250)
              </div>
            </div>
          </div>
          <div *ngIf="Rcl" class="col-sm-12 mgn-t-15 contentt">
            <div class="row">
              <div class="col-sm-12 pdd-l-4">
                <table class="tableCBU wcf">
                  <thead>
                    <tr>
                      <th>Actual Hours</th>
                      <th>Staff</th>
                      <th style="text-align:right!important">Allowance Rate</th>
                      <th style="text-align:right!important">Total Allowance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input class="form-control custom-select custom-filter" name="actualHours" list="actualHours"
                          (change)="selectChangeHandler($event)">
                        <datalist id="actualHours">
                          <option value="0.5"></option>
                          <option value="1"></option>
                          <option value="1.5"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="staff" list="staff"
                          (change)="selectChangeHandler($event)">
                        <datalist id="staff">
                          <option value="1"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <td class="text-right">
                        <span>{{allowanceRate | number}}</span>
                      </td>
                      <td class="text-right">
                        <span>{{totalAllowance | number}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-12 contentt">
                <span>Transportation Cost</span>
                <br>
                <input class="text-right" type="text" name="" id="" value="0" [(ngModel)]="transportCost">
                <!-- <input (keyup)="processMyValue3()" class="text-right" type="text" name="" id="" value="0"
                  [(ngModel)]="myValue3"> -->
              </div>
            </div>
          </div>
          <div *ngIf="Rdw" class="col-sm-12 mgn-t-15 contentt">
            <div class="row">
              <div class="col-sm-12 pdd-l-4">
                <table class="tableCBU wcf">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Actual Hours</th>
                      <th>Staff</th>
                      <!-- <th>Trip</th> -->
                      <th style="text-align:right!important">Allowance Rate</th>
                      <th style="text-align:right!important">Total Allowance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Allowance to remove OBE from Boat</td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="actualHoursRemoveOBEBoat"
                          list="actualHoursRemoveOBEBoat" (change)="selectChangeHandler($event)">
                        <datalist id="actualHoursRemoveOBEBoat">
                          <option value="0.5"></option>
                          <option value="1"></option>
                          <option value="1.5"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="staffRemoveOBEBoat"
                          list="staffRemoveOBEBoat" (change)="selectChangeHandler($event)">
                        <datalist id="staffRemoveOBEBoat">
                          <option value="1"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <!-- <td>{{tripRemoveOBEBoat | number}}</td> -->
                      <td class="text-right">
                        <!-- <span>{{allowanceRateRemoveOBEBoat}}</span> -->
                        <span>{{allowanceRate | number}}</span>
                      </td>
                      <td class="text-right">
                        <span>{{totalAllowanceRateRemoveOBEBoat | number}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Allowance to install OBE from Boat</td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="actualHoursInstallOBEBoat"
                          list="actualHoursInstallOBEBoat" (change)="selectChangeHandler($event)">
                        <datalist id="actualHoursInstallOBEBoat">
                          <option value="0.5"></option>
                          <option value="1"></option>
                          <option value="1.5"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="staffInstallOBEBoat"
                          list="staffInstallOBEBoat" (change)="selectChangeHandler($event)">
                        <datalist id="staffInstallOBEBoat">
                          <option value="1"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <!-- <td>{{tripInstallOBEBoat | number}}</td> -->
                      <td class="text-right">
                        <!-- <span>{{allowanceRateInstallOBEBoat}}</span> -->
                        <span>{{allowanceRate | number}}</span>
                      </td>
                      <td class="text-right">
                        <span>{{totalAllowanceRateInstallOBEBoat | number}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Allowance transportation OBE to Dealer (round trip)</td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="actualHoursTransportOBEBoat"
                          list="actualHoursTransportOBEBoat" (change)="selectChangeHandler($event)">
                        <datalist id="actualHoursTransportOBEBoat">
                          <option value="0.5"></option>
                          <option value="1"></option>
                          <option value="1.5"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <td>
                        <input class="form-control custom-select custom-filter" name="staffTransportOBEBoat"
                          list="staffTransportOBEBoat" (change)="selectChangeHandler($event)">
                        <datalist id="staffTransportOBEBoat">
                          <option value="1"></option>
                          <option value="2"></option>
                        </datalist>
                      </td>
                      <!-- <td>{{tripTransportOBEBoat | number}}</td> -->
                      <td class="text-right">
                        <!-- <span>{{allowanceRateTransportOBEBoat}}</span> -->
                        <span>{{allowanceRate | number}}</span>
                      </td>
                      <td class="text-right">
                        <span>{{totalAllowanceRateTransportOBEBoat | number}}</span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">Total Allowance</td>
                      <td class="text-right">
                        <span>{{totalAllowanceOnDealer | number}}</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Calculation</span>
            <hr>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt pdd-l-4">
            <table class="tableCBU wcf total">
              <tbody>
                <tr>
                  <td>Total Part Cost</td>
                  <td><span>{{totalPartCostRepairment | number}}</span></td>
                </tr>
                <tr>
                  <td>Total DPA ({{DPAPercentage * 100}} * Total Part Cost) </td>
                  <td><span>{{totalDpaRepairment | number}}</span></td>
                </tr>
                <tr>
                  <td>Total Other Expenses</td>
                  <td><span>{{totalOtherExpenses | number}}</span></td>
                </tr>
                <tr>
                  <td>Total Service Cost</td>
                  <td><span>{{totalServiceCost | number}}</span></td>
                </tr>
                <tr>
                  <td>Total Allowance</td>
                  <td><span>{{totalAllowanceAll | number}}</span></td>
                </tr>
                <tr>
                  <td>Transportation Cost</td>
                  <td><span>{{transportCost | number}}</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Total Claim Cost (exclude VAT)</td>
                  <td><span>{{totalClaimCost | number}}</span></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <span class="text-right"><i>*</i> mandatory to be filled</span>
            <br><br>
            <button class="simOrder" (click)="saveClaim()">Save</button>
            <button class="saveAsDraft" (click)="resetForm()">Discard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
