<div class="row mgn-t-15" *ngIf="cash">
  <div class="col-sm-12">
    <!-- <button > -->
      <table style="width: 33.33%" class="table-dp-1">
        <thead>
          <tr>
            <th colspan="3"><span (click)="goToOrderStatus()" style="cursor: pointer;">Sales Daily History</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="user1S == true || user2S == true || user3S == true">
            <td><span>Spareparts</span></td>
            <td><span>{{salesDailySparepartCount}}</span><br><small>Quantity</small></td>
            <td><span>Rp {{salesDailySparepartAmount | number: '1.'}}</span><br><small>Amount</small></td>
          </tr>
          <tr *ngIf="user3S == true">
            <td><span>CBU</span></td>
            <td><span>{{salesDailyCBUCount}}</span><br><small>Quantity</small></td>
            <td><span>Rp {{salesDailyCBUAmount | number: '1.'}}</span><br><small>Amount</small></td>
          </tr>
        </tbody>
      </table>
    <!-- </button> -->
    <table style="width: 33.33%" class="table-dp-2">
      <thead>
        <tr>
          <th colspan="2"><span (click)="goToPendingTransaction()" style="cursor: pointer;">Pending Transaction</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="user1S == true || user2S == true || user3S == true">
          <td><span>Spareparts</span></td>
          <td><span>{{sparepartPendingCount}}</span><br><small>Order</small></td>
        </tr>
        <tr *ngIf="user3S == true">
          <td><span>CBU</span></td>
          <td><span>{{cbuPendingCount}}</span><br><small>Order</small></td>
        </tr>
      </tbody>
    </table>
    <table style="width: 33.33%" class="table-dp-3">
      <thead>
        <tr>
          <th colspan="2"><span (click)="goToBackorderConfirmation()" style="cursor: pointer;">Back Order Status</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="user1S == true || user2S == true || user3S == true">
          <td><span>Spareparts</span></td>
          <td><span>{{sparepartBackorderCount}}</span><br><small>Allocated</small></td>
        </tr>
        <tr *ngIf="user3S == true">
          <td><span>CBU</span></td>
          <td><span>{{cbuBackorderCount}}</span><br><small>Allocated</small></td>
        </tr>
      </tbody>
    </table>
    <table style="display: none" class="table-dp-4">
      <thead>
        <tr>
          <th colspan="3"><span>Warranty Registration</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Target</span></td>
          <td><span>40%</span></td>
          <td><span>1000</span><br><small>sheet</small></td>
        </tr>
        <tr>
          <td><span>Actual</span></td>
          <td><span>20%</span></td>
          <td><span>200</span><br><small>sheet</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mgn-t-15" *ngIf="credit">
  <div class="col-sm-12">
    <table class="table-dp-5">
      <thead>
        <tr>
          <th colspan="3"><span>Sales Daily History</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Spareparts</span></td>
          <td><span>100</span><br><small>Quantity</small></td>
          <td><span>Rp 13,000,000</span><br><small>Amount</small></td>
        </tr>
        <tr>
          <td><span>CBU</span></td>
          <td><span>100</span><br><small>Quantity</small></td>
          <td><span>Rp 100,000,000</span><br><small>Amount</small></td>
        </tr>
      </tbody>
    </table>
    <table class="table-dp-6">
      <thead>
        <tr>
          <th colspan="2"><span>Pending Transaction</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Spareparts</span></td>
          <td><span>20</span><br><small>Order</small></td>
        </tr>
        <tr>
          <td><span>CBU</span></td>
          <td><span>20</span><br><small>Order</small></td>
        </tr>
      </tbody>
    </table>
    <table class="table-dp-7">
      <thead>
        <tr>
          <th colspan="2"><span>Overdue Invoice</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Spareparts</span></td>
          <td><span>20</span><br><small>Order</small></td>
        </tr>
        <tr>
          <td><span>CBU</span></td>
          <td><span>20</span><br><small>Order</small></td>
        </tr>
      </tbody>
    </table>
    <table class="table-dp-8">
      <thead>
        <tr>
          <th colspan="2"><span>Back Order Status</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Spareparts</span></td>
          <td><span>30</span><br><small>Allocated</small></td>
        </tr>
        <tr>
          <td><span>CBU</span></td>
          <td><span>30</span><br><small>Allocated</small></td>
        </tr>
      </tbody>
    </table>
    <table class="table-dp-9">
      <thead>
        <tr>
          <th colspan="3"><span>Warranty Registration</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Target</span></td>
          <td><span>40%</span></td>
          <td><span>1000</span><br><small>sheet</small></td>
        </tr>
        <tr>
          <td><span>Actual</span></td>
          <td><span>20%</span></td>
          <td><span>200</span><br><small>sheet</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
