<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Sales Promo</h5>
        </div>
      </div>
      <div *ngIf="aw1">
        <div class="row mgn-t-15">
          <div class="col-sm-12">
            <button id="tab-salepro1" class="cbu-order" [ngClass]="salesPro1" (click)="tab_salesPro(1)">Cash
              Discount</button>
            <button id="tab-salepro2" class="cbu-order" [ngClass]="salesPro2" (click)="tab_salesPro(2)">Forecast
              Discount</button>
            <button id="tab-salepro3" class="cbu-order" [ngClass]="salesPro3" (click)="tab_salesPro(3)">Project
              Discount</button>
            <button id="tab-salepro4" class="cbu-order" [ngClass]="salesPro4" (click)="tab_salesPro(4)">Advance
              Payment</button>
            <button id="tab-salepro5" class="cbu-order" [ngClass]="salesPro5" (click)="tab_salesPro(5)">Other
              Discount</button>
          </div>
        </div>
        <div *ngIf="cashDiscount">
          <div class="row mgn-t-35">
            <div class="col-sm-12">
              <span class="">Created Date</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="">To</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span class="mgn-b-0">Valid Date</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="mgn-b-0">To</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span>Voucher Code</span>
              <input class="form-control custom-select custom-filter" list="voucherCode">
              <datalist id="voucherCode">
                <option>0000000001</option>
                <option>0000000002</option>
                <option>0000000003</option>
              </datalist>
            </div>
            <div class="col-sm-12">
              <button class="addSubmit">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="btnFilter">
              <!-- <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div> -->
              <div class="col-12 pdd-0">
                <!-- <input class="fl-left" type="text"> -->
                <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png">
                  Filter</button> -->
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="resetFilter">
              <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div>
              <div class="col-12 pdd-0">
                <div class="row">
                  <div class="col">
                    <input type="text" class="">
                  </div>
                  <div class="col col-lg-2">
                    <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                      Filter</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row width-100">
                  <div class="col-2 pdd-0 mgn-r-15">
                    <span class="">Filter</span>
                    <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                      style="margin-top: 0!important;">
                      <option value="dealer order type">Dealer Order Type</option>
                      <option value="purcahse order no">Purchase Order No.</option>
                      <option value="order date">Sales Order Date</option>
                      <option value="order no">Sales Order No.</option>
                      <option value="order type">Order Type</option>
                      <option value="bill code">Bill to Code</option>
                      <option value="material group">Material Group</option>
                      <option value="material code">Material Code</option>
                      <option value="dn date">DN Date</option>
                      <option value="dn no">DN No.</option>
                      <option value="delivery type">Delivery Type</option>
                      <option value="expedition">Expedition</option>
                      <option value="airway bill no">Airway Bill No</option>
                      <option value="vehicle no">Vehicle No</option>
                      <option value="Shipment Status">Shipment Status</option>
                      <option value="Received Date">Received Date</option>
                    </select>
                  </div>
                  <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Dealer Order Type</span>
                    <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                    <datalist id="dealerOrder">
                      <option value="CBU">
                      <option value="Spareparts">
                    </datalist>
                  </div>
                  <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Purchase Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDate" class="col-2 pdd-0">
                    <span>Sales Order Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterNo" class="col-2 pdd-0">
                    <span class="m-0">Sales Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterOrderType" class="col-2 pdd-0">
                    <span class="m-0">Order Type</span>
                    <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                    <datalist id="orderType">
                      <option value="Normal">
                      <option value="Urgent">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillCode" class="col-2 pdd-0">
                    <span class="m-0">Bill to Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                    <span class="m-0">Material Group</span>
                    <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                    <datalist id="materialGroup">
                      <option value="Marine">
                      <option value="Power Product ">
                      <option value="Marine/PP">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                    <span class="m-0">Material Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDnDate" class="col-2 pdd-0">
                    <span>DN Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterDnNo" class="col-2 pdd-0">
                    <span class="m-0">DN No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDeliveryType" class="col-2 pdd-0">
                    <span class="m-0">Delivery Type</span>
                    <input class="form-control custom-select custom-filter" list="deliveryType" name="opSalOrNo">
                    <datalist id="deliveryType">
                      <option value="Air">
                      <option value="Land">
                    </datalist>
                  </div>
                  <div *ngIf="filterExpedition" class="col-2 pdd-0">
                    <span class="m-0">Expedition</span>
                    <input class="form-control custom-select custom-filter" list="Expedition" name="opSalOrNo">
                    <datalist id="Expedition">
                      <option value="ADEX">
                      <option value="JNE">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillNo" class="col-2 pdd-0">
                    <span class="m-0">Airway Bill No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterVehicleNo" class="col-2 pdd-0">
                    <span class="m-0">Vehicle No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterShipmentStatus" class="col-2 pdd-0">
                    <span class="m-0">Shipment Status</span>
                    <input class="form-control custom-select custom-filter" list="shipmentStatus" name="opSalOrNo">
                    <datalist id="shipmentStatus">
                      <option value="Delivered">
                      <option value="Prosses">
                    </datalist>
                  </div>
                  <div *ngIf="filterReceivedDate" class="col-2 pdd-0">
                    <span>Received Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div class="col-2 pdd-0 mgn-l-15">
                    <button class="addSubmit mgn-t-38">Submit</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:332px;">
              <table class="tablePending width-th">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Voucher Code</th>
                    <th>Created Date</th>
                    <th>Valid Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of salesOrderCash; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.discount_number}}</td>
                    <td>{{item.discount_date | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.promo_from | date: "dd-MM-yyyy"}} - {{item.promo_end | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.status}}</td>
                    <td><button [disabled]="item.disabled == 'true' || item.status == 'Completed'"
                        [ngClass]="{voucherActive: item.disabled == 'true' || item.status == 'Completed'}"
                        class="btnVoucher" (click)="useVoucher(i, 'cash-discount')"><img src="./assets/img/voucher.png">
                        Use</button><button [disabled]="!canPreviewPromoDetail ? 'disabled' : null" (click)="detail(item.discount_number)"
                        class="btnDetailVoucher">Detail</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="col-12 mgn-t-25">
                <div class="col">
                  <div class="pagination">
                    <button class="prev prev-disable"><i class="fas fa-caret-left"></i> Previous</button>
                    <button class="num-pag num-pag-active">1</button>
                    <button class="num-pag">2</button>
                    <button class="num-pag">3</button>
                    <button class="num-pag">4</button>
                    <button class="num-pag">5</button>
                    <button class="next">Next <i class="fas fa-caret-right"></i></button>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
        <div *ngIf="forecastDiscount">
          <div class="row mgn-t-35">
            <div class="col-sm-12">
              <span class="">Created Date</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="">To</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span class="mgn-b-0">Valid Date</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="mgn-b-0">To</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span>Voucher Code</span>
              <input class="form-control custom-select custom-filter" list="voucherCode">
              <datalist id="voucherCode">
                <option>0000000001</option>
                <option>0000000002</option>
                <option>0000000003</option>
              </datalist>
            </div>
            <div class="col-sm-12">
              <button class="addSubmit">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="btnFilter">
              <!-- <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div> -->
              <div class="col-12 pdd-0">
                <!-- <input class="fl-left" type="text"> -->
                <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png">
                  Filter</button> -->
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="resetFilter">
              <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div>
              <div class="col-12 pdd-0">
                <div class="row">
                  <div class="col">
                    <input type="text" class="">
                  </div>
                  <div class="col col-lg-2">
                    <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                      Filter</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row width-100">
                  <div class="col-2 pdd-0 mgn-r-15">
                    <span class="">Filter</span>
                    <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                      style="margin-top: 0!important;">
                      <option value="dealer order type">Dealer Order Type</option>
                      <option value="purcahse order no">Purchase Order No.</option>
                      <option value="order date">Sales Order Date</option>
                      <option value="order no">Sales Order No.</option>
                      <option value="order type">Order Type</option>
                      <option value="bill code">Bill to Code</option>
                      <option value="material group">Material Group</option>
                      <option value="material code">Material Code</option>
                      <option value="dn date">DN Date</option>
                      <option value="dn no">DN No.</option>
                      <option value="delivery type">Delivery Type</option>
                      <option value="expedition">Expedition</option>
                      <option value="airway bill no">Airway Bill No</option>
                      <option value="vehicle no">Vehicle No</option>
                      <option value="Shipment Status">Shipment Status</option>
                      <option value="Received Date">Received Date</option>
                    </select>
                  </div>
                  <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Dealer Order Type</span>
                    <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                    <datalist id="dealerOrder">
                      <option value="CBU">
                      <option value="Spareparts">
                    </datalist>
                  </div>
                  <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Purchase Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDate" class="col-2 pdd-0">
                    <span>Sales Order Date</span>
                    <input type="text" class="input_date custom-filter" value="dd-MM-yyyy"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterNo" class="col-2 pdd-0">
                    <span class="m-0">Sales Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterOrderType" class="col-2 pdd-0">
                    <span class="m-0">Order Type</span>
                    <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                    <datalist id="orderType">
                      <option value="Normal">
                      <option value="Urgent">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillCode" class="col-2 pdd-0">
                    <span class="m-0">Bill to Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                    <span class="m-0">Material Group</span>
                    <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                    <datalist id="materialGroup">
                      <option value="Marine">
                      <option value="Power Product ">
                      <option value="Marine/PP">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                    <span class="m-0">Material Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDnDate" class="col-2 pdd-0">
                    <span>DN Date</span>
                    <input type="text" class="input_date custom-filter" value="dd-MM-yyyy"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterDnNo" class="col-2 pdd-0">
                    <span class="m-0">DN No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDeliveryType" class="col-2 pdd-0">
                    <span class="m-0">Delivery Type</span>
                    <input class="form-control custom-select custom-filter" list="deliveryType" name="opSalOrNo">
                    <datalist id="deliveryType">
                      <option value="Air">
                      <option value="Land">
                    </datalist>
                  </div>
                  <div *ngIf="filterExpedition" class="col-2 pdd-0">
                    <span class="m-0">Expedition</span>
                    <input class="form-control custom-select custom-filter" list="Expedition" name="opSalOrNo">
                    <datalist id="Expedition">
                      <option value="ADEX">
                      <option value="JNE">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillNo" class="col-2 pdd-0">
                    <span class="m-0">Airway Bill No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterVehicleNo" class="col-2 pdd-0">
                    <span class="m-0">Vehicle No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterShipmentStatus" class="col-2 pdd-0">
                    <span class="m-0">Shipment Status</span>
                    <input class="form-control custom-select custom-filter" list="shipmentStatus" name="opSalOrNo">
                    <datalist id="shipmentStatus">
                      <option value="Delivered">
                      <option value="Prosses">
                    </datalist>
                  </div>
                  <div *ngIf="filterReceivedDate" class="col-2 pdd-0">
                    <span>Received Date</span>
                    <input type="text" class="input_date custom-filter" value="dd-MM-yyyy"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div class="col-2 pdd-0 mgn-l-15">
                    <button class="addSubmit mgn-t-38">Submit</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:332px;">
              <table class="tablePending width-th">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Voucher Code</th>
                    <th>Created Date</th>
                    <th>Valid Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of salesOrderForecast; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.discount_number}}</td>
                    <td>{{item.discount_date | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.promo_from | date: "dd-MM-yyyy"}} - {{item.promo_end | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.status}}</td>
                    <td><button [disabled]="item.disabled == 'true' || item.status == 'Completed'"
                        [ngClass]="{voucherActive: item.disabled == 'true' || item.status == 'Completed'}"
                        class="btnVoucher" (click)="useVoucher(i, 'forecast-discount')"><img src="./assets/img/voucher.png">
                        Use</button><button (click)="detail(item.discount_number)"
                        class="btnDetailVoucher">Detail</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="col-12 mgn-t-25">
                <div class="col">
                  <div class="pagination">
                    <button class="prev prev-disable"><i class="fas fa-caret-left"></i> Previous</button>
                    <button class="num-pag num-pag-active">1</button>
                    <button class="num-pag">2</button>
                    <button class="num-pag">3</button>
                    <button class="num-pag">4</button>
                    <button class="num-pag">5</button>
                    <button class="next">Next <i class="fas fa-caret-right"></i></button>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
        <div *ngIf="projectDiscount">
          <div class="row mgn-t-35">
            <div class="col-sm-12">
              <span class="">Created Date</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="">To</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span class="mgn-b-0">Valid Date</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="mgn-b-0">To</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span>Voucher Code</span>
              <input class="form-control custom-select custom-filter" list="voucherCode">
              <datalist id="voucherCode">
                <option>0000000001</option>
                <option>0000000002</option>
                <option>0000000003</option>
              </datalist>
            </div>
            <div class="col-sm-12">
              <button class="addSubmit">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="btnFilter">
              <!-- <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div> -->
              <div class="col-12 pdd-0">
                <!-- <input class="fl-left" type="text"> -->
                <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png">
                  Filter</button> -->
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="resetFilter">
              <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div>
              <div class="col-12 pdd-0">
                <div class="row">
                  <div class="col">
                    <input type="text" class="">
                  </div>
                  <div class="col col-lg-2">
                    <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                      Filter</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row width-100">
                  <div class="col-2 pdd-0 mgn-r-15">
                    <span class="">Filter</span>
                    <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                      style="margin-top: 0!important;">
                      <option value="dealer order type">Dealer Order Type</option>
                      <option value="purcahse order no">Purchase Order No.</option>
                      <option value="order date">Sales Order Date</option>
                      <option value="order no">Sales Order No.</option>
                      <option value="order type">Order Type</option>
                      <option value="bill code">Bill to Code</option>
                      <option value="material group">Material Group</option>
                      <option value="material code">Material Code</option>
                      <option value="dn date">DN Date</option>
                      <option value="dn no">DN No.</option>
                      <option value="delivery type">Delivery Type</option>
                      <option value="expedition">Expedition</option>
                      <option value="airway bill no">Airway Bill No</option>
                      <option value="vehicle no">Vehicle No</option>
                      <option value="Shipment Status">Shipment Status</option>
                      <option value="Received Date">Received Date</option>
                    </select>
                  </div>
                  <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Dealer Order Type</span>
                    <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                    <datalist id="dealerOrder">
                      <option value="CBU">
                      <option value="Spareparts">
                    </datalist>
                  </div>
                  <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Purchase Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDate" class="col-2 pdd-0">
                    <span>Sales Order Date</span>
                    <input type="text" class="input_date custom-filter" value="dd-MM-yyyy"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterNo" class="col-2 pdd-0">
                    <span class="m-0">Sales Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterOrderType" class="col-2 pdd-0">
                    <span class="m-0">Order Type</span>
                    <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                    <datalist id="orderType">
                      <option value="Normal">
                      <option value="Urgent">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillCode" class="col-2 pdd-0">
                    <span class="m-0">Bill to Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                    <span class="m-0">Material Group</span>
                    <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                    <datalist id="materialGroup">
                      <option value="Marine">
                      <option value="Power Product ">
                      <option value="Marine/PP">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                    <span class="m-0">Material Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDnDate" class="col-2 pdd-0">
                    <span>DN Date</span>
                    <input type="text" class="input_date custom-filter" value="dd-MM-yyyy"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterDnNo" class="col-2 pdd-0">
                    <span class="m-0">DN No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDeliveryType" class="col-2 pdd-0">
                    <span class="m-0">Delivery Type</span>
                    <input class="form-control custom-select custom-filter" list="deliveryType" name="opSalOrNo">
                    <datalist id="deliveryType">
                      <option value="Air">
                      <option value="Land">
                    </datalist>
                  </div>
                  <div *ngIf="filterExpedition" class="col-2 pdd-0">
                    <span class="m-0">Expedition</span>
                    <input class="form-control custom-select custom-filter" list="Expedition" name="opSalOrNo">
                    <datalist id="Expedition">
                      <option value="ADEX">
                      <option value="JNE">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillNo" class="col-2 pdd-0">
                    <span class="m-0">Airway Bill No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterVehicleNo" class="col-2 pdd-0">
                    <span class="m-0">Vehicle No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterShipmentStatus" class="col-2 pdd-0">
                    <span class="m-0">Shipment Status</span>
                    <input class="form-control custom-select custom-filter" list="shipmentStatus" name="opSalOrNo">
                    <datalist id="shipmentStatus">
                      <option value="Delivered">
                      <option value="Prosses">
                    </datalist>
                  </div>
                  <div *ngIf="filterReceivedDate" class="col-2 pdd-0">
                    <span>Received Date</span>
                    <input type="text" class="input_date custom-filter" value="dd-MM-yyyy"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div class="col-2 pdd-0 mgn-l-15">
                    <button class="addSubmit mgn-t-38">Submit</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:332px;">
              <table class="tablePending width-th">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Voucher Code</th>
                    <th>Created Date</th>
                    <th>Valid Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of salesOrderProject; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.discount_number}}</td>
                    <td>{{item.discount_date | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.promo_from | date: "dd-MM-yyyy"}} - {{item.promo_end | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.status}}</td>
                    <td><button [disabled]="item.disabled == 'true' || item.status == 'Completed'"
                        [ngClass]="{voucherActive: item.disabled == 'true' || item.status == 'Completed'}"
                        class="btnVoucher" (click)="useVoucher(i, 'project-discount')"><img src="./assets/img/voucher.png">
                        Use</button><button (click)="detail(item.discount_number)"
                        class="btnDetailVoucher">Detail</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="col-12 mgn-t-25">
                <div class="col">
                  <div class="pagination">
                    <button class="prev prev-disable"><i class="fas fa-caret-left"></i> Previous</button>
                    <button class="num-pag num-pag-active">1</button>
                    <button class="num-pag">2</button>
                    <button class="num-pag">3</button>
                    <button class="num-pag">4</button>
                    <button class="num-pag">5</button>
                    <button class="next">Next <i class="fas fa-caret-right"></i></button>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
        <div *ngIf="advancePayment">
          <div class="row mgn-t-35">
            <div class="col-sm-12">
              <span class="">Created Date</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="">To</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span class="mgn-b-0">Valid Date</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="mgn-b-0">To</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span>Voucher Code</span>
              <input class="form-control custom-select custom-filter" list="voucherCode">
              <datalist id="voucherCode">
                <option>0000000001</option>
                <option>0000000002</option>
                <option>0000000003</option>
              </datalist>
            </div>
            <div class="col-sm-12">
              <button class="addSubmit">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="btnFilter">
              <!-- <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div> -->
              <div class="col-12 pdd-0">
                <!-- <input class="fl-left" type="text"> -->
                <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png">
                  Filter</button> -->
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="resetFilter">
              <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div>
              <div class="col-12 pdd-0">
                <div class="row">
                  <div class="col">
                    <input type="text" class="">
                  </div>
                  <div class="col col-lg-2">
                    <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                      Filter</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row width-100">
                  <div class="col-2 pdd-0 mgn-r-15">
                    <span class="">Filter</span>
                    <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                      style="margin-top: 0!important;">
                      <option value="dealer order type">Dealer Order Type</option>
                      <option value="purcahse order no">Purchase Order No.</option>
                      <option value="order date">Sales Order Date</option>
                      <option value="order no">Sales Order No.</option>
                      <option value="order type">Order Type</option>
                      <option value="bill code">Bill to Code</option>
                      <option value="material group">Material Group</option>
                      <option value="material code">Material Code</option>
                      <option value="dn date">DN Date</option>
                      <option value="dn no">DN No.</option>
                      <option value="delivery type">Delivery Type</option>
                      <option value="expedition">Expedition</option>
                      <option value="airway bill no">Airway Bill No</option>
                      <option value="vehicle no">Vehicle No</option>
                      <option value="Shipment Status">Shipment Status</option>
                      <option value="Received Date">Received Date</option>
                    </select>
                  </div>
                  <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Dealer Order Type</span>
                    <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                    <datalist id="dealerOrder">
                      <option value="CBU">
                      <option value="Spareparts">
                    </datalist>
                  </div>
                  <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Purchase Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDate" class="col-2 pdd-0">
                    <span>Sales Order Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterNo" class="col-2 pdd-0">
                    <span class="m-0">Sales Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterOrderType" class="col-2 pdd-0">
                    <span class="m-0">Order Type</span>
                    <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                    <datalist id="orderType">
                      <option value="Normal">
                      <option value="Urgent">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillCode" class="col-2 pdd-0">
                    <span class="m-0">Bill to Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                    <span class="m-0">Material Group</span>
                    <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                    <datalist id="materialGroup">
                      <option value="Marine">
                      <option value="Power Product ">
                      <option value="Marine/PP">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                    <span class="m-0">Material Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDnDate" class="col-2 pdd-0">
                    <span>DN Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterDnNo" class="col-2 pdd-0">
                    <span class="m-0">DN No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDeliveryType" class="col-2 pdd-0">
                    <span class="m-0">Delivery Type</span>
                    <input class="form-control custom-select custom-filter" list="deliveryType" name="opSalOrNo">
                    <datalist id="deliveryType">
                      <option value="Air">
                      <option value="Land">
                    </datalist>
                  </div>
                  <div *ngIf="filterExpedition" class="col-2 pdd-0">
                    <span class="m-0">Expedition</span>
                    <input class="form-control custom-select custom-filter" list="Expedition" name="opSalOrNo">
                    <datalist id="Expedition">
                      <option value="ADEX">
                      <option value="JNE">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillNo" class="col-2 pdd-0">
                    <span class="m-0">Airway Bill No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterVehicleNo" class="col-2 pdd-0">
                    <span class="m-0">Vehicle No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterShipmentStatus" class="col-2 pdd-0">
                    <span class="m-0">Shipment Status</span>
                    <input class="form-control custom-select custom-filter" list="shipmentStatus" name="opSalOrNo">
                    <datalist id="shipmentStatus">
                      <option value="Delivered">
                      <option value="Prosses">
                    </datalist>
                  </div>
                  <div *ngIf="filterReceivedDate" class="col-2 pdd-0">
                    <span>Received Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div class="col-2 pdd-0 mgn-l-15">
                    <button class="addSubmit mgn-t-38">Submit</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:332px;">
              <table class="tablePending width-th">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Voucher Code</th>
                    <th>Created Date</th>
                    <th>Valid Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tbody>
                    <tr *ngFor="let item of salesOrderAdvance; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{item.discount_number}}</td>
                      <td>{{item.discount_date | date: "dd-MM-yyyy"}}</td>
                      <td>{{item.promo_from | date: "dd-MM-yyyy"}} - {{item.promo_end | date: "dd-MM-yyyy"}}</td>
                      <td>{{item.status}}</td>
                      <td><button [disabled]="item.disabled == 'true' || item.status == 'Completed'"
                          [ngClass]="{voucherActive: item.disabled == 'true' || item.status == 'Completed'}"
                          class="btnVoucher" (click)="useVoucher(i, 'advance-discount')"><img src="./assets/img/voucher.png">
                          Use</button><button (click)="detail(item.discount_number)"
                          class="btnDetailVoucher">Detail</button></td>
                    </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="col-12 mgn-t-25">
                <div class="col">
                  <div class="pagination">
                    <button class="prev prev-disable"><i class="fas fa-caret-left"></i> Previous</button>
                    <button class="num-pag num-pag-active">1</button>
                    <button class="num-pag">2</button>
                    <button class="num-pag">3</button>
                    <button class="num-pag">4</button>
                    <button class="num-pag">5</button>
                    <button class="next">Next <i class="fas fa-caret-right"></i></button>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
        <div *ngIf="otherDiscount">
          <div class="row mgn-t-35">
            <div class="col-sm-12">
              <span class="">Created Date</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="">To</span>
              <input type="text" class="input_date" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span class="mgn-b-0">Valid Date</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              <span class="mgn-b-0">To</span>
              <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
            </div>
            <div class="col-sm-12">
              <span>Voucher Code</span>
              <input class="form-control custom-select custom-filter" list="voucherCode">
              <datalist id="voucherCode">
                <option>0000000001</option>
                <option>0000000002</option>
                <option>0000000003</option>
              </datalist>
            </div>
            <div class="col-sm-12">
              <button class="addSubmit">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="btnFilter">
              <!-- <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div> -->
              <div class="col-12 pdd-0">
                <!-- <input class="fl-left" type="text"> -->
                <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png">
                  Filter</button> -->
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="resetFilter">
              <div class="col-12 mgn-t-25 pdd-0">
                <span class="input-search">Search</span>
              </div>
              <div class="col-12 pdd-0">
                <div class="row">
                  <div class="col">
                    <input type="text" class="">
                  </div>
                  <div class="col col-lg-2">
                    <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset
                      Filter</button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row width-100">
                  <div class="col-2 pdd-0 mgn-r-15">
                    <span class="">Filter</span>
                    <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter"
                      style="margin-top: 0!important;">
                      <option value="dealer order type">Dealer Order Type</option>
                      <option value="purcahse order no">Purchase Order No.</option>
                      <option value="order date">Sales Order Date</option>
                      <option value="order no">Sales Order No.</option>
                      <option value="order type">Order Type</option>
                      <option value="bill code">Bill to Code</option>
                      <option value="material group">Material Group</option>
                      <option value="material code">Material Code</option>
                      <option value="dn date">DN Date</option>
                      <option value="dn no">DN No.</option>
                      <option value="delivery type">Delivery Type</option>
                      <option value="expedition">Expedition</option>
                      <option value="airway bill no">Airway Bill No</option>
                      <option value="vehicle no">Vehicle No</option>
                      <option value="Shipment Status">Shipment Status</option>
                      <option value="Received Date">Received Date</option>
                    </select>
                  </div>
                  <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Dealer Order Type</span>
                    <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                    <datalist id="dealerOrder">
                      <option value="CBU">
                      <option value="Spareparts">
                    </datalist>
                  </div>
                  <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                    <span class="m-0" style="width:100%">Purchase Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDate" class="col-2 pdd-0">
                    <span>Sales Order Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterNo" class="col-2 pdd-0">
                    <span class="m-0">Sales Order No.</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterOrderType" class="col-2 pdd-0">
                    <span class="m-0">Order Type</span>
                    <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                    <datalist id="orderType">
                      <option value="Normal">
                      <option value="Urgent">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillCode" class="col-2 pdd-0">
                    <span class="m-0">Bill to Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                    <span class="m-0">Material Group</span>
                    <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                    <datalist id="materialGroup">
                      <option value="Marine">
                      <option value="Power Product ">
                      <option value="Marine/PP">
                    </datalist>
                  </div>
                  <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                    <span class="m-0">Material Code</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDnDate" class="col-2 pdd-0">
                    <span>DN Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div *ngIf="filterDnNo" class="col-2 pdd-0">
                    <span class="m-0">DN No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterDeliveryType" class="col-2 pdd-0">
                    <span class="m-0">Delivery Type</span>
                    <input class="form-control custom-select custom-filter" list="deliveryType" name="opSalOrNo">
                    <datalist id="deliveryType">
                      <option value="Air">
                      <option value="Land">
                    </datalist>
                  </div>
                  <div *ngIf="filterExpedition" class="col-2 pdd-0">
                    <span class="m-0">Expedition</span>
                    <input class="form-control custom-select custom-filter" list="Expedition" name="opSalOrNo">
                    <datalist id="Expedition">
                      <option value="ADEX">
                      <option value="JNE">
                    </datalist>
                  </div>
                  <div *ngIf="filterBillNo" class="col-2 pdd-0">
                    <span class="m-0">Airway Bill No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterVehicleNo" class="col-2 pdd-0">
                    <span class="m-0">Vehicle No</span>
                    <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                    <datalist id="opSalOrNo">
                      <option value="10000101">
                      <option value="10000102">
                      <option value="10000103">
                      <option value="10000104">
                      <option value="10000105">
                      <option value="10000106">
                    </datalist>
                  </div>
                  <div *ngIf="filterShipmentStatus" class="col-2 pdd-0">
                    <span class="m-0">Shipment Status</span>
                    <input class="form-control custom-select custom-filter" list="shipmentStatus" name="opSalOrNo">
                    <datalist id="shipmentStatus">
                      <option value="Delivered">
                      <option value="Prosses">
                    </datalist>
                  </div>
                  <div *ngIf="filterReceivedDate" class="col-2 pdd-0">
                    <span>Received Date</span>
                    <input type="text" class="input_date custom-filter" value="yyyy/mm/dd"
                      style="margin-top: 0!important;" bsDatepicker placement="bottom"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </div>
                  <div class="col-2 pdd-0 mgn-l-15">
                    <button class="addSubmit mgn-t-38">Submit</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:332px;">
              <table class="tablePending width-th">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Voucher Code</th>
                    <th>Promo Type</th>
                    <th>Created Date</th>
                    <th>Valid Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of salesOrderOther; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.discount_number}}</td>
                    <td>{{item.discount_date | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.promo_from | date: "dd-MM-yyyy"}} - {{item.promo_end | date: "dd-MM-yyyy"}}</td>
                    <td>{{item.status}}</td>
                    <td><button [disabled]="item.disabled == 'true' || item.status == 'Completed'"
                        [ngClass]="{voucherActive: item.disabled == 'true' || item.status == 'Completed'}"
                        class="btnVoucher" (click)="useVoucher(i, 'other-discount')"><img src="./assets/img/voucher.png">
                        Use</button><button (click)="detail(item.discount_number)"
                        class="btnDetailVoucher">Detail</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="aw2">
        <div class="row CBUorderEntry">
          <div class="col-sm-12 mgn-t-15">
            <div class="row">
              <div class="col-12 mgn-t-15 back">
                <button (click)="back()"> <img src="./assets/img/back-b.png"></button>
              </div>
            </div>
            <div class="row mgn-t-15">
              <div class="col-sm-12 contentt">
                <span>Discount Name</span>
                <br>
                <b>{{salesOrderDetail.discount_name}}</b>
              </div>
            </div>
            <div class="row mgn-t-15">
              <div class="col-sm-12 contentt">
                <div class="row">
                  <div class="col-sm-3">
                    <span>Voucer Code</span>
                    <br>
                    <b>{{salesOrderDetail.voucher_code}}</b>
                  </div>
                  <div class="col-sm-3">
                    <span>Starting Date</span>
                    <br>
                    <b>{{salesOrderDetail.valid_date | date: "dd-MM-yyyy"}}</b>
                  </div>
                  <div class="col-sm-3">
                    <span>Expire Date</span>
                    <br>
                    <b>{{salesOrderDetail.expire_date | date: "dd-MM-yyyy"}}</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mgn-t-25 croll" style="max-height:286px;">
                <table class="tableCBU foreport salesDet" id="tableSparepart">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th style="min-width: 180px">Description</th>
                      <th  style="border-left:1px solid #cccc">Pallet</th>
                      <th>Used (Pallet)</th>
                      <th>Balance (Pallet)</th>
                      <th  style="border-left:1px solid #cccc">Quantity</th>
                      <th>Used (Qty)</th>
                      <th>Balance (Qty)</th>
                      <th style="border-left:1px solid #cccc;text-align: left!important">Discount Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of salesOrderDetailItem; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td style="min-width: 180px">{{item.material_description}}</td>
                      <td style="border-left:1px solid #cccc">{{item.pallet | number: '1.'}}</td>
                      <td>{{item.used_pallet | number: '1.'}}</td>
                      <td>{{item.balance_pallet | number: '1.'}}</td>
                      <td style="border-left:1px solid #cccc">{{item.qty | number: '1.'}}</td>
                      <td>{{item.used_qty | number: '1.'}}</td>
                      <td>{{item.balance_qty | number: '1.'}}</td>
                      <td style="border-left:1px solid #cccc">{{item.discount | number: '1.'}}%</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2">Total</td>
                      <td style="border-left:1px solid #cccc">{{this.salesOrderDetailItemTotal.total_pallet}}</td>
                      <td>{{this.salesOrderDetailItemTotal.used_pallet}}</td>
                      <td>{{this.salesOrderDetailItemTotal.balance_pallet}}</td>
                      <td style="border-left:1px solid #cccc">{{this.salesOrderDetailItemTotal.total_qty}}</td>
                      <td>{{this.salesOrderDetailItemTotal.used_qty}}</td>
                      <td>{{this.salesOrderDetailItemTotal.balance_qty}}</td>
                      <td style="border-left:1px solid #cccc"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
