<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Delivery Information</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <span>Sales Order No.</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_from"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let item of dropDownSO" [value]="item"></option>
          </datalist>
          <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_to"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let item of dropDownSO" [value]="item"></option>
          </datalist>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="">Sales Order Date</span>
          <input type="text" class="input_date" bsDatepicker placement="bottom" [(ngModel)]="so_date_from"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span class="">To</span>
          <input type="text" class="input_date" bsDatepicker placement="bottom" [(ngModel)]="so_date_to"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col-sm-12">
          <span class="mgn-b-0">DN Date</span>
          <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom" [(ngModel)]="dn_date_from"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span class="mgn-b-0">To</span>
          <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom" [(ngModel)]="dn_date_to"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col-sm-12">
          <span>DN No.</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="dn_number_from"
            [ngModelOptions]="{standalone:true}" list="dnNumber" name="dnNumber">
          <datalist id="dnNumber">
            <option *ngFor="let item of dropDownDN" [value]="item"></option>
          </datalist>
          <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="dn_number_to"
            [ngModelOptions]="{standalone:true}" list="dnNumber" name="dnNumber">
          <datalist id="dnNumber">
            <option *ngFor="let item of dropDownDN" [value]="item"></option>
          </datalist>
        </div>
        <div class="col-sm-12">
          <span>Material Code</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="material_number_from"
            [ngModelOptions]="{standalone:true}" list="materialCode" name="materialCode">
          <datalist id="materialCode">
            <option *ngFor="let item of dropDownCode" [value]="item"></option>
          </datalist>
          <!-- <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="material_code_to"
            [ngModelOptions]="{standalone:true}" list="materialCode" name="materialCode">
          <datalist id="materialCode">
            <option *ngFor="let matCodes of matCode" [value]="matCodes.material_code"></option>
          </datalist> -->
        </div>
        <div class="col">
          <button class="addSubmit" (click)="search()">Submit</button>
          <button class="saveAsDraft float-left" (click)="reset()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
            <b style="font-size: 14px;" class="fl-right">Amount in IDR</b>
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
            <div class="col-12 mgn-t-25 pdd-0">
              <span class="input-search">Search</span>
            </div>
            <div class="col-12 pdd-0">
              <div class="row">
                <div class="col">
                  <input type="text" class="">
                </div>
                <div class="col col-lg-2">
                  <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset Filter</button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row width-100">
                <div class="col-2 pdd-0 mgn-r-15">
                  <span class="">Filter</span>
                  <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter" style="margin-top: 0!important;">
                    <option value="dealer order type">Dealer Order Type</option>
                    <option value="purcahse order no">Purchase Order No.</option>
                    <option value="order date">Sales Order Date</option>
                    <option value="order no">Sales Order No.</option>
                    <option value="order type">Order Type</option>
                    <option value="bill code">Bill to Code</option>
                    <option value="material group">Material Group</option>
                    <option value="material code">Material Code</option>
                    <option value="dn date">DN Date</option>
                    <option value="dn no">DN No.</option>
                    <option value="delivery type">Delivery Type</option>
                    <option value="expedition">Expedition</option>
                    <option value="airway bill no">Airway Bill No</option>
                    <option value="vehicle no">Vehicle No</option>
                    <option value="Shipment Status">Shipment Status</option>
                    <option value="Received Date">Received Date</option>
                  </select>
                </div>
                <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Dealer Order Type</span>
                  <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                  <datalist id="dealerOrder">
                    <option value="CBU">
                    <option value="Spareparts">
                  </datalist>
                </div>
                <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Purchase Order No.</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterDate" class="col-2 pdd-0">
                  <span>Sales Order Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div *ngIf="filterNo" class="col-2 pdd-0">
                  <span class="m-0">Sales Order No.</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterOrderType" class="col-2 pdd-0">
                  <span class="m-0">Order Type</span>
                  <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                  <datalist id="orderType">
                    <option value="Normal">
                    <option value="Urgent">
                  </datalist>
                </div>
                <div *ngIf="filterBillCode" class="col-2 pdd-0">
                  <span class="m-0">Bill to Code</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                  <span class="m-0">Material Group</span>
                  <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                  <datalist id="materialGroup">
                    <option value="Marine">
                    <option value="Power Product ">
                    <option value="Marine/PP">
                  </datalist>
                </div>
                <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                  <span class="m-0">Material Code</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterDnDate" class="col-2 pdd-0">
                  <span>DN Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div *ngIf="filterDnNo" class="col-2 pdd-0">
                  <span class="m-0">DN No</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterDeliveryType" class="col-2 pdd-0">
                  <span class="m-0">Delivery Type</span>
                  <input class="form-control custom-select custom-filter" list="deliveryType" name="opSalOrNo">
                  <datalist id="deliveryType">
                    <option value="Air">
                    <option value="Land">
                  </datalist>
                </div>
                <div *ngIf="filterExpedition" class="col-2 pdd-0">
                  <span class="m-0">Expedition</span>
                  <input class="form-control custom-select custom-filter" list="Expedition" name="opSalOrNo">
                  <datalist id="Expedition">
                    <option value="ADEX">
                    <option value="JNE">
                  </datalist>
                </div>
                <div *ngIf="filterBillNo" class="col-2 pdd-0">
                  <span class="m-0">Airway Bill No</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterVehicleNo" class="col-2 pdd-0">
                  <span class="m-0">Vehicle No</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterShipmentStatus" class="col-2 pdd-0">
                  <span class="m-0">Shipment Status</span>
                  <input class="form-control custom-select custom-filter" list="shipmentStatus" name="opSalOrNo">
                  <datalist id="shipmentStatus">
                    <option value="Delivered">
                    <option value="Prosses">
                  </datalist>
                </div>
                <div *ngIf="filterReceivedDate" class="col-2 pdd-0">
                  <span>Received Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div class="col-2 pdd-0 mgn-l-15">
                  <button class="addSubmit mgn-t-38">Submit</button>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      <div class="row">
        <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height: 490px;">
          <table class="tablePending width-th">
            <thead>
              <tr>
                <th>No.</th>
                <th>Dealer Order Type</th>
                <th>Sales Order No.</th>
                <th>Sales Order Date</th>
                <th class="width-bill">Bill to Party</th>
                <th>Bill to Code</th>
                <th>Material Group</th>
                <th style="min-width: 180px;">Material Code</th>
                <th style="min-width: 250px">Description</th>
                <th>Delivery Notice (DN) Date</th>
                <th>DN Qty</th>
                <th>DN No.</th>
                <th style="min-width: 250px">Ship to Address</th>
                <th>Service Type</th>
                <th>Delivery Type</th>
                <th>Expedition</th>
                <th>ETD</th>
                <th>ETA</th>
                <th>Airway Bill (AWB) No.</th>
                <th>Vehicle No.</th>
                <th>Shipment Status</th>
                <th>Received Date</th>
                <th>Received By</th>
                <th>Received Date Confirmation</th>
                <th width="20000">Received By Confirmation</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="freshData">
                <tr *ngFor="let datas of data; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{datas.dealer_order_type}}</td>
                  <td><a (click)="!canPreviewDownloadDeliveryReport ? downloadSO(datas.sales_order_number, datas.confirmid) : null">{{datas.sales_order_number}}</a></td>
                  <td>{{datas.sales_order_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.bill_to_party_name}}</td>
                  <td>{{datas.bill_to_code}}</td>
                  <td>{{datas.material_group_description}}</td>
                  <td style="min-width: 180px;" *ngIf="datas.dealer_order_type == 'CBU'">
                    {{datas.material_number | slice: -6}}</td>
                  <td style="min-width: 180px;" *ngIf="datas.dealer_order_type == 'Sparepart'">{{datas.material_number}}
                  </td>
                  <td>{{datas.material_description}}</td>
                  <td>{{datas.delivery_notice_date | date :'dd-MM-yyyy'}}</td>
                  <td>{{datas.delivery_notice_quantity}}</td>
                  <td><a (click)="!canPreviewDownloadDeliveryReport ? downloadInvoice(datas.delivery_notice_number) : null">{{datas.delivery_notice_number}}</a></td>
                  <td>{{datas.ship_to_address}}</td>
                  <td>{{datas.is_priority}}</td>
                  <td>{{datas.delivery_type == '' ? '-' : datas.delivery_type}}</td>
                  <td><a href="#">{{datas.expedition ? datas.expedition : '-'}}</a></td>
                  <td>{{datas.estimated_time_departure | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.estimated_time_arrival | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.airwaybill_number ? datas.airwaybill_number : '-'}}</td>
                  <td>{{datas.vehicle_number ? datas.vehicle_number : '-'}}</td>
                  <td>{{datas.shipment_status ? datas.shipment_status : '-'}}</td>
                  <td>{{datas.received_date | date:'dd-MM-yyyy'}}</td>
                  <td>{{datas.received_by ? datas.received_by : '-'}}</td>
                  <td *ngIf="datas.confirm_receive_date == null || ''">
                    <input bsDatepicker [disabled]="!canPreviewDownloadDeliveryReport ? 'disabled' : null" type="text" class="input_date" id="confDate{{i}}" placeholder="Input Date"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </td>
                  <td *ngIf="datas.confirm_receive_date !== null || ''">
                    <input bsDatepicker [disabled]="!canPreviewDownloadDeliveryReport ? 'disabled' : null" type="text" class="input_date"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"
                      value="{{datas.confirm_receive_date}}" id="confDate{{i}}">
                  </td>
                  <td>
                    <label class="nameTBLDelInfo{{i}}">{{datas.confirm_receive_by}}</label>
                    <img id="imgDel{{i}}" src="./assets/img/update.png" (click)="!canPreviewDownloadDeliveryReport ? clickEditNameDeli(i) : null"
                      style="cursor:pointer;margin-left: 40%;">
                    <input style="display:none" [disabled]="!canPreviewDownloadDeliveryReport ? 'disabled' : null" value="{{datas.confirm_receive_by}}" id="confBy{{i}}" type="text"
                      class="editNameDeli">
                  </td>
                  <td>
                    <button
                      style='background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;color: #747474;padding: 7px 15px;vertical-align: middle;'
                      (click)="!canPreviewDownloadDeliveryReport ? saveDelInformation(i, datas.sales_order_number, datas.delivery_notice_number, datas.material_number) : null">Save</button>
                  </td>
                </tr>
              </ng-container>

              <ng-container *ngIf="filteredData">
                <tr *ngFor="let datas of listFiltered; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{datas.dealer_order_type}}</td>
                  <td><a (click)="!canPreviewDownloadDeliveryReport ? downloadSO(datas.sales_order_number, datas.confirmid) : null">{{datas.sales_order_number}}</a></td>
                  <td>{{datas.sales_order_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.bill_to_party_name}}</td>
                  <td>{{datas.bill_to_code}}</td>
                  <td>{{datas.material_group_description}}</td>
                  <td style="min-width: 180px;" *ngIf="datas.dealer_order_type == 'CBU'">
                    {{datas.material_number | slice: -6}}</td>
                  <td style="min-width: 180px;" *ngIf="datas.dealer_order_type == 'Sparepart'">{{datas.material_number}}
                  </td>
                  <td>{{datas.material_description}}</td>
                  <td>{{datas.delivery_notice_date | date :'dd-MM-yyyy'}}</td>
                  <td>{{datas.delivery_notice_quantity}}</td>
                  <td><a (click)="!canPreviewDownloadDeliveryReport ? downloadInvoice(datas.delivery_notice_number) : null">{{datas.delivery_notice_number}}</a></td>
                  <td>{{datas.ship_to_address}}</td>
                  <td>{{datas.is_priority}}</td>
                  <td>{{datas.delivery_type == '' ? '-' : datas.delivery_type}}</td>
                  <td><a href="#">{{datas.expedition ? datas.expedition : '-'}}</a></td>
                  <td>{{datas.estimated_time_departure}}</td>
                  <td>{{datas.estimated_time_arrival}}</td>
                  <td>{{datas.airwaybill_number ? datas.airwaybill_number : '-'}}</td>
                  <td>{{datas.vehicle_number ? datas.vehicle_number : '-'}}</td>
                  <td>{{datas.shipment_status ? datas.shipment_status : '-'}}</td>
                  <td>{{datas.received_date | date:'dd-MM-yyyy'}}</td>
                  <td>{{datas.received_by ? datas.received_by : '-'}}</td>
                  <td *ngIf="datas.confirm_receive_date == null || ''">
                    <input bsDatepicker [disabled]="!canPreviewDownloadDeliveryReport ? 'disabled' : null" type="text" class="input_date" id="confDate{{i}}" placeholder="Input Date"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                  </td>
                  <td *ngIf="datas.confirm_receive_date !== null || ''">
                    <input bsDatepicker [disabled]="!canPreviewDownloadDeliveryReport ? 'disabled' : null" type="text" class="input_date"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"
                      value="{{datas.confirm_receive_date}}" id="confDate{{i}}">
                  </td>
                  <td>
                    <label class="nameTBLDelInfo{{i}}">{{datas.confirm_receive_by}}</label>
                    <img id="imgDel{{i}}" src="./assets/img/update.png" (click)="!canPreviewDownloadDeliveryReport ? clickEditNameDeli(i) : null"
                      style="cursor:pointer;margin-left: 40%;">
                    <input style="display:none" [disabled]="!canPreviewDownloadDeliveryReport ? 'disabled' : null" value="{{datas.confirm_receive_by}}" id="confBy{{i}}" type="text"
                      class="editNameDeli">
                  </td>
                  <td>
                    <button
                      style='background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;color: #747474;padding: 7px 15px;vertical-align: middle;'
                      (click)="!canPreviewDownloadDeliveryReport ? saveDelInformation(i, datas.sales_order_number, datas.delivery_notice_number, datas.material_number) : null">Save</button>
                  </td>
                </tr>
              </ng-container>
              <!-- <tr>
                  <td>2.</td><td>CBU</td><td><a href="#">1010006663</a></td><td>1/4/2016</td><td>MAHKOTA MOTORINDO DIESEL</td><td>10000823</td><td>Power Product</td><td>30500-Z0T-802</td><td>ENGINESD</td><td>1/4/2016</td><td>10</td><td><a href="#">2010007456</a></td><td>Jl. DR. W Sudirohusodo</td><td>-</td><td>Air</td><td><a href="#">ADEX</a></td><td>-</td><td>-</td><td>-</td><td>D18273VG</td><td>Status</td><td>1/16/2016</td><td>Name</td><td><input type="text" class="input_date" value="01-11-2018"></td><td><label class="nameTBLDelInfo" *ngIf="viewNameDeli">Name</label><img src="./assets/img/update.png" *ngIf="viewNameDeli" (click)="clickEditNameDeli()"><input type="text" class="editNameDeli" *ngIf="editNameDeli"></td>
                </tr>
                <tr>
                  <td>3.</td><td>Spareparts</td><td><a href="#">1010006663</a></td><td>1/4/2016</td><td>MAHKOTA MOTORINDO DIESEL</td><td>10000823</td><td>Marine</td><td>30500-Z0T-802</td><td>VALVE,INLET</td><td>1/4/2016</td><td>10</td><td><a href="#">2010007456</a></td><td>Jl. DR. W Sudirohusodo</td><td>-</td><td>Air</td><td><a href="#">ADEX</a></td><td>-</td><td>-</td><td>1050078623</td><td>-</td><td>Status</td><td>1/16/2016</td><td>Name</td><td><input type="text" class="input_date" value="01-11-2018"></td><td><label class="nameTBLDelInfo" *ngIf="viewNameDeli">Name</label><img src="./assets/img/update.png" *ngIf="viewNameDeli" (click)="clickEditNameDeli()"><input type="text" class="editNameDeli" *ngIf="editNameDeli"></td>
                </tr>
                <tr>
                  <td>4.</td><td>CBU</td><td><a href="#">1010006663</a></td><td>1/4/2016</td><td>MAHKOTA MOTORINDO DIESEL</td><td>10000823</td><td>Power Product</td><td>30500-Z0T-802</td><td>ENGINESD</td><td>1/4/2016</td><td>10</td><td><a href="#">2010007456</a></td><td>Jl. DR. W Sudirohusodo</td><td>-</td><td>Air</td><td><a href="#">ADEX</a></td><td>-</td><td>-</td><td>-</td><td>D18273VG</td><td>Status</td><td>1/16/2016</td><td>Name</td><td><input type="text" class="input_date" value="01-11-2018"></td><td><label class="nameTBLDelInfo" *ngIf="viewNameDeli">Name</label><img src="./assets/img/update.png" *ngIf="viewNameDeli" (click)="clickEditNameDeli()"><input type="text" class="editNameDeli" *ngIf="editNameDeli"></td>
                </tr>
                <tr>
                  <td>5.</td><td>Spareparts</td><td><a href="#">1010006663</a></td><td>1/4/2016</td><td>MAHKOTA MOTORINDO DIESEL</td><td>10000823</td><td>Power Product</td><td>30500-Z0T-802</td><td>VALVE,INLET</td><td>1/4/2016</td><td>10</td><td><a href="#">2010007456</a></td><td>Jl. DR. W Sudirohusodo</td><td>-</td><td>Air</td><td><a href="#">ADEX</a></td><td>-</td><td>-</td><td>1050078623</td><td>D18273VG</td><td>Status</td><td>1/16/2016</td><td>Name</td><td><input type="text" class="input_date" value="01-11-2018"></td><td><label class="nameTBLDelInfo" *ngIf="viewNameDeli">Name</label><img src="./assets/img/update.png" *ngIf="viewNameDeli" (click)="clickEditNameDeli()"><input type="text" class="editNameDeli" *ngIf="editNameDeli"></td>
                </tr> -->
            </tbody>
          </table>
        </div>
        <!-- <div class="col-12 mgn-t-25">
            <div class="col">
              <div class="pagination">
                <button class="prev prev-disable"><i class="fas fa-caret-left"></i> Previous</button>
                <button class="num-pag num-pag-active">1</button>
                <button class="num-pag">2</button>
                <button class="num-pag">3</button>
                <button class="num-pag">4</button>
                <button class="num-pag">5</button>
                <button class="next">Next <i class="fas fa-caret-right"></i></button>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</main-page>
