<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Logistic Claim Report Sparepart</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-7">
          <span class="mgn-b-0">Claim Date</span>
          <input type="text" [(ngModel)]="claimDateFrom" class="input_date mgn-b-0" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span class="mgn-b-0">To</span>
          <input type="text" [(ngModel)]="claimDateTo" class="input_date mgn-b-0" bsDatepicker placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col-sm-5">
          <span>DN No.</span>
          <input style="margin-top:0!important;" [(ngModel)]="dnNumber" class="form-control custom-select custom-filter"
            list="dnNumberList" name="warrantyReport">
          <datalist id="dnNumberList">
            <option *ngFor="let item of dnNoList" [value]="item"></option>
          </datalist>
        </div>
        <div class="col-sm-7">
          <span class="mgn-b-0">Claim Ticket No.</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="claimNumber" list="claimNoList"
            name="warrantyReport">
          <datalist id="claimNoList">
            <option *ngFor="let item of claimNoList" [value]="item"></option>
          </datalist>
        </div>
        <div class="col-sm-5">
          <span>Claim Status</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="claimStatus" list="claimStatus"
            name="warrantyReport">
          <datalist id="claimStatus">
            <option value="On Progress"></option>
            <option value="Approve"></option>
            <option value="Reject"></option>
            <option value="Revise"></option>
          </datalist>
        </div>
        <div class="col-sm-12">
          <span class="mgn-b-0">Material Code</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="materialCode" list="matNoList"
            name="warrantyReport">
          <datalist id="matNoList">
            <option *ngFor="let item of matNoList" [value]="item"></option>
          </datalist>
        </div>
        <div class="col">
          <button class="addSubmit" (click)="submitFilter()">Submit</button>
          <button class="saveAsDraft float-left" (click)="reset()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
            <button style="margin-right:15px" (click)="downloadReport()" class="downloadButton fl-right"><img src="./assets/img/download.png">
              Download List</button>
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
          <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div>
          <div class="col-12 pdd-0">
            <div class="row">
              <div class="col">
                <input type="text" class="">
              </div>
              <div class="col col-lg-5">
                <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset Filter</button>
                <button style="margin-right:15px" class="downloadButton fl-right"><img src="./assets/img/download.png"> Download List</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row width-100">
              <div class="col-2 pdd-0 mgn-r-15">
                <span class="">Filter</span>
                <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter" style="margin-top: 0!important;">
                  <option value="dealer order type">Dealer Order Type</option>
                  <option value="purcahse order no">Purchase Order No.</option>
                  <option value="order date">Sales Order Date</option>
                  <option value="order no">Sales Order No.</option>
                  <option value="order type">Order Type</option>
                  <option value="bill code">Bill to Code</option>
                  <option value="material group">Material Group</option>
                  <option value="material code">Material Code</option>
                  <option value="status sales order">Status Sales Order</option>
                  <option value="invoice date">Invoice Date</option>
                  <option value="invoice no">Invoice No</option>
                  <option value="invoice status">Invoice Status</option>
                </select>
              </div>
              <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                <span class="m-0" style="width:100%">Dealer Order Type</span>
                <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                <datalist id="dealerOrder">
                  <option value="CBU">
                  <option value="Spareparts">
                </datalist>
              </div>
              <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                <span class="m-0" style="width:100%">Purchase Order No.</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterDate" class="col-2 pdd-0">
                <span>Sales Order Date</span>
                <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div *ngIf="filterNo" class="col-2 pdd-0">
                <span class="m-0">Sales Order No.</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterOrderType" class="col-2 pdd-0">
                <span class="m-0">Order Type</span>
                <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                <datalist id="orderType">
                  <option value="Normal">
                  <option value="Urgent">
                </datalist>
              </div>
              <div *ngIf="filterBillCode" class="col-2 pdd-0">
                <span class="m-0">Bill to Code</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                <span class="m-0">Material Group</span>
                <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                <datalist id="materialGroup">
                  <option value="Marine">
                  <option value="Power Product ">
                  <option value="Marine/PP">
                </datalist>
              </div>
              <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                <span class="m-0">Material Code</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterSalesOrder" class="col-2 pdd-0">
                <span class="m-0" style="width:100%">Status Sales Order</span>
                <input class="form-control custom-select custom-filter" list="salesOrder" name="opSalOrNo">
                <datalist id="salesOrder">
                  <option value="Complete ">
                  <option value="Incomplete">
                </datalist>
              </div>
              <div *ngIf="filterInvoiceDate" class="col-2 pdd-0">
                <span>Invoice Date</span>
                <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
              </div>
              <div *ngIf="filterInvoiceNo" class="col-2 pdd-0">
                <span class="m-0">Invoice No</span>
                <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                <datalist id="opSalOrNo">
                  <option value="10000101">
                  <option value="10000102">
                  <option value="10000103">
                  <option value="10000104">
                  <option value="10000105">
                  <option value="10000106">
                </datalist>
              </div>
              <div *ngIf="filterInvoiceStatus" class="col-2 pdd-0">
                <span class="m-0">Invoice Status</span>
                <input class="form-control custom-select custom-filter" list="invoiceStatus" name="opSalOrNo">
                <datalist id="invoiceStatus">
                  <option value="Paid">
                  <option value="Unpaid">
                </datalist>
              </div>
              <div class="col-2 pdd-0 mgn-l-15">
                <button class="addSubmit mgn-t-38">Submit</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12 mgn-t-15 croll">
          <table id="tblClaimReport" class="tablePending width-th logisticCR">
            <thead>
              <tr>
                <th>No.</th>
                <th>Claim Ticket No.</th>
                <th>Claim Date Receiving</th>
                <th>DN No.</th>
                <th>DN Date</th>
                <th>Part No.</th>
                <th>Description</th>
                <th>Qty</th>
                <th>RRP/pcs</th>
                <th>RRP Amount</th>
                <th>Claim Chronological</th>
                <th>Receive Evidence Parts</th>
                <th>Claim Status</th>
                <th>Approval Date</th>
                <th>Reservation No.</th>
                <th>DN Claim No.</th>
                <th>Status</th>
                <th>Reason for Rejection</th>
                <th>Shipment Date</th>
                <th>AWB no.</th>
                <th>Expedition</th>
                <th>Good received by Customer Date</th>
                <th style="min-width:120px"></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="freshData">
                <ng-template ngFor let-item [ngForOf]="claimReport" let-i="index">
                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{item.claim_number}}</td>
                    <td>{{item.claim_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.dn_number}}</td>
                    <td>{{item.dn_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.material_code}}</td>
                    <td>{{item.material_description}}</td>
                    <td>{{item.claim_qty}}</td>
                    <td>{{item.recommended_retail_price}}</td>
                    <td style="text-align:right!important">
                      {{item.recommended_retail_price * item.claim_qty | number: '1.'}}</td>
                    <td><span class="ellipsis" (click)="openModalChrono(ChronoClaimModal, i)">{{item.claim_chronology}}</span></td>
                    <td>{{item.arrival_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.approval_state}}</td>
                    <td>{{item.approval_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.reservation_number_goods}}</td>
                    <td>{{item.dn_claim_number}}</td>
                    <td>{{item.approval_status}}</td>
                    <td><span class="ellipsis">{{item.remark}}</span></td>
                    <td>{{item.shipment_to_dealer_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.AWB}}</td>
                    <td><span>{{item.shipment_by}}</span></td>
                    <!-- <td>{{item.good_received_date}}</td> -->
                    <td>
                      <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                    </td>
                    <td><button>Save</button></td>
                    <td><button (click)="editClaim(item.claim_number)" [disabled]="item.state !== 2"><img src="./assets/img/edit.png" alt="">Edit</button></td>
                  </tr>
                </ng-template>
              </ng-container>

              <ng-container *ngIf="filteredData">
                <ng-template ngFor let-item [ngForOf]="listReportFiltered" let-i="index">
                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{item.claim_number}}</td>
                    <td>{{item.claim_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.dn_number}}</td>
                    <td>{{item.dn_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.material_code}}</td>
                    <td>{{item.material_description}}</td>
                    <td>{{item.claim_qty}}</td>
                    <td>{{item.recommended_retail_price}}</td>
                    <td style="text-align:right!important">
                      {{item.recommended_retail_price * item.claim_qty | number: '1.'}}</td>
                    <td><span class="ellipsis" (click)="openModalChrono(ChronoClaimModal, i)">{{item.claim_chronology}}</span></td>
                    <td>{{item.arrival_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.approval_state}}</td>
                    <td>{{item.approval_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.reservation_number_goods}}</td>
                    <td>{{item.dn_claim_number}}</td>
                    <td>{{item.approval_status}}</td>
                    <td><span class="ellipsis">{{item.remark}}</span></td>
                    <td>{{item.shipment_to_dealer_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.AWB}}</td>
                    <td><span>{{item.shipment_by}}</span></td>
                    <!-- <td>{{item.good_received_date}}</td> -->
                    <td>
                      <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                    </td>
                    <td><button>Save</button></td>
                    <td><button [disabled]="item.state !== 2"><img src="./assets/img/edit.png" alt="">Edit</button></td>
                  </tr>
                </ng-template>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <ng-template #ChronoClaimModal>
        <div class="modal-body contactPop">
          <div class="row">
            <div class="col-md-12" style="padding: 0 15px;">
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span style="font-size: 25px;" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-md-12 mgn-t-25  mgn-b-15" style="padding: 0 28px;">
              <span>{{ChronoClaimMore}}</span>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</main-page>
