<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 InquiryCBU">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Inquiry - CBU</h5>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-sm-12">
          <span>Search by Description</span>
          <input style="float: left; margin-right: 35px;max-width: 420px;height: 30px;"
           type="text" class="form-control" [(ngModel)]="InquiryCBU" list="materialCodes" autocomplete="off"
            (keyup)="getMaterialCode($event.target.value)">
          <datalist id="materialCodes">
            <ng-template ngFor let-item [ngForOf]="materialCode" let-i="index" [ngForTrackBy]="trackByFn">
              <option *ngIf="i < 5" autocomplete="off">
                {{item.material_number | slice:-6}} - {{item.material_description}} - {{item.storage_location}}
              </option>
            </ng-template>
          </datalist>
          <button class="addSubmit" (click)="submitItem()">Search</button>
          <b style="font-size: 14px;" class="fl-right">Amount in IDR</b>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <table class="inqCBU">
            <thead>
              <tr>
                <th>Material Group</th>
                <th style="min-width: 180px;">Material Code</th>
                <th>Description</th>
                <th>Unit Measure</th>
                <th>Volume Unit (cbm)</th>
                <th>Currency</th>
                <th>Price with VAT</th>
                <th>Suggested Retail Price</th>
                <th>Availability</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{this.material_group}}</td>
                <td style="min-width: 180px;">{{this.material_code | slice:-6}}</td>
                <td>{{this.material_description}}</td>
                <td>{{this.base_unit_of_measure}}</td>
                <td>{{this.volume_unit}}</td>
                <td>{{this.currency}}</td>
                <td style="text-align: right;"><div *ngIf="canPreviewPriceInq == true">{{this.net_price |  number:'1.'}}</div></td>
                <td><div *ngIf="canPreviewPriceInq == true">{{this.suggested_retail_price |  number:'1.'}}</div></td>
                <td><div *ngIf="canPreviewAvailability == true">{{this.availability}}</div></td>
                <td>{{this.remarks}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main-page>
