<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Customer Registration Input</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 judul2">
          <span>Customer Information</span>
          <hr />
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-3">
              <span>Engine No</span>
              <br />
              <input
                style="text-transform: uppercase;"
                [(ngModel)]="engineNumber"
                type="text"
                name=""
                id=""
              />
              <br />
              <span class="ex">Ex:GCAAH-1234567</span>
            </div>
            <div class="col-sm-3">
              <span>Frame No</span>
              <br />
              <input
                style="text-transform: uppercase;"
                [(ngModel)]="frameNumber"
                type="text"
                name=""
                id=""
              />
              <br />
              <span class="ex">Ex:BBMJ-1234567</span>
            </div>
            <div class="col-sm-3">
              <button (click)="submitProduct()" class="addSubmit">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showFormCustomerRegis" class="row mgn-t-15">
        <div class="col-sm-12 contentt">
          <div class="row">
            <div class="col-sm-3">
              <span>Material Group</span>
              <br />
              <b>{{ materialGroup }}</b>
            </div>
            <div class="col-sm-3">
              <span>Material Code</span>
              <br />
              <b>{{ materialNumber | slice: "-6" }}</b>
            </div>
            <div class="col-sm-3">
              <span>Material Description</span>
              <br />
              <b>{{ materialDesc }}</b>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showFormCustomerRegis">
        <div *ngIf="showAppliedFor">
          <div class="row mgn-t-15">
            <div class="col-sm-12 judul2">
              <span>Applied For</span>
              <hr />
            </div>
          </div>
          <div class="row mgn-t-15">
            <div class="col-sm-12 contentt">
              <div class="row">
                <div class="col-sm-2 mgn-t-15">
                  <input
                    (click)="appliedFor('Boat')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Boat
                </div>
                <div class="col-sm-2 mgn-t-15">
                  <input
                    (click)="appliedFor('Power Sprayer')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Power Sprayer
                </div>
                <div class="col-sm-2 mgn-t-15">
                  <input
                    (click)="appliedFor('Coconut Grater')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Coconut Grater
                </div>
                <div class="col-sm-2 mgn-t-15">
                  <input
                    (click)="appliedFor('Food Grinder')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Food Grinder
                </div>
                <div class="col-sm-4 mgn-t-15">
                  <input
                    (click)="appliedFor('Compresor')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Compresor
                </div>
                <div class="col-sm-2 mgn-t-15">
                  <input
                    (click)="appliedFor('Rice Thresher')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Rice Thresher
                </div>
                <div class="col-sm-4 mgn-t-15">
                  <input
                    (click)="appliedFor('Others')"
                    type="radio"
                    name="applied"
                    id=""
                  />
                  Others
                  <input
                    [(ngModel)]="appliedForInput"
                    type="text"
                    name=""
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Customer Information</span>
            <hr />
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-3 cust-info">
                <span>Owner Name <i>*</i></span>
                <input
                  type="text"
                  [(ngModel)]="ownerName"
                  required
                  name=""
                  id=""
                />
              </div>
              <div class="col-sm-3">
                <span>Date Of Purchase <i>*</i></span>
                <input
                  type="text"
                  [(ngModel)]="dateOfPurchase"
                  required
                  class="input_date"
                  bsDatepicker
                  placement="bottom"
                  [bsConfig]="{
                    dateInputFormat: 'DD-MM-YYYY',
                    containerClass: 'theme-red'
                  }"
                />
              </div>
              <div class="col-sm-3 cust-info">
                <span>Phone</span>
                <input [(ngModel)]="phone" required type="text" name="" id="" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 contentt">
            <span>Address <i>*</i></span>
            <input
              [(ngModel)]="address"
              required
              style="max-width:100%!important;width: 455px;"
              type="text"
              name=""
              id=""
            />
          </div>
          <div class="col-sm-12 contentt mgn-t-15">
            <div class="row">
              <div class="col-sm-3 cust-info">
                <span>District <i>*</i></span>
                <input
                  style="margin-top:0px!important;background-image: none!important;"
                  required
                  [(ngModel)]="district"
                  class="form-control custom-select custom-filter"
                />
                <!-- <datalist id="district">
                      <option value="Jakarta"></option>
                      <option value="2"></option>
                      <option value="3"></option>
                    </datalist> -->
              </div>
              <div class="col-sm-3">
                <span>Province <i>*</i></span>
                <select
                  style="margin-top:0px!important;"
                  [(ngModel)]="province"
                  class="form-control custom-select custom-filter"
                  list="province"
                >
                  <!-- <datalist id="province"> -->
                  <option *ngFor="let item of provinceList" [value]="item">{{
                    item
                  }}</option>
                  <!-- </datalist> -->
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 judul2">
            <span>Subdealer Information</span>
            <hr />
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <div class="row">
              <div class="col-sm-12">
                <span>Subdealer Name <i>*</i></span>
                <select
                  style="margin-top:0px!important;"
                  required
                  [(ngModel)]="subdealerName"
                  class="form-control custom-select custom-filter"
                  list="subdealer"
                >
                <!-- <datalist id="subdealer"> -->
                  <option
                    *ngFor="let item of listSubDealer"
                    [value]="item"
                    >{{ item }}</option
                  >
                  </select>
                <!-- </datalist> -->
              </div>
              <div class="col-sm-12 mgn-t-15">
                <span>Subdealer Phone</span>
                <input
                  [(ngModel)]="subdealerPhone"
                  required
                  type="text"
                  name=""
                  id=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-t-15">
          <div class="col-sm-12 contentt">
            <span class="text-right"><i>*</i> mandatory to be filled</span>
            <br /><br />
            <button class="simOrder" (click)="saveCustomer()">Save</button>
            <button class="saveAsDraft">Discard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
