<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Terms and Conditions</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mgn-t-15">
              <div class="col-sm-12 pdd-t-5">
                <button style="width: calc(100%/5);color: #9D9D9D;border-bottom: 1px solid #9D9D9D" class="tab-info" [ngClass]="tab1" (click)="openInfo_tab(1)">
                  How to Pay
                </button>
                <button style="width: calc(100%/5);color: #9D9D9D;border-bottom: 1px solid  #9D9D9D"  class="tab-info" [ngClass]="tab2" (click)="openInfo_tab(2)">
                  Delivery Policy
                </button>
                <button style="width: calc(100%/5);color: #9D9D9D;border-bottom: 1px solid  #9D9D9D"  class="tab-info" [ngClass]="tab3" (click)="openInfo_tab(3)">
                  Return/Refund Policy
                </button>
                <button style="width: calc(100%/5);color: #9D9D9D;border-bottom: 1px solid  #9D9D9D"  class="tab-info" [ngClass]="tab4" (click)="openInfo_tab(4)">
                  Customer Data Privacy Policy
                </button>
              </div>
          </div>
          <div class="menu1" *ngIf="menu1">
            <div class="row mgn-t-15">
              <div class="col-12">
                <div class="payAccor">
                  <div (click)="accordion('virtual')" class="buttonAccor">
                    <b>Virtual Account BCA</b>
                    <img [class.rotate]="virtualClass" src="assets/img/down-arrow.png" alt="">
                  </div>
                  <div class="divAccor" *ngIf="show1">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="assets/img/bca-ic.png" alt="">
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <b>Panduan Bayar ATM</b>
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Input kartu <b>ATM</b> dan <b>PIN</b> Anda</li>
                          <li>Pilih <b>Menu Transaksi Lainnya</b></li>
                          <li>Pilih <b>Transfer</b></li>
                          <li>Pilih Ke rekening <b>BCA Virtual Account</b></li>
                          <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                          <li>Pilih <b>Benar</b></li>
                          <li>Pilih <b>Ya</b></li>
                          <li>Ambil bukti bayar Anda</li>
                          <li><b>Selesai</b></li>
                        </ol>
                      </div>
                    </div>
                    <div class="row mgn-t-25">
                      <div class="col-md-12">
                        <b>Panduan Bayar Mobile Banking</b>
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Login <b>Mobile Banking</b></li>
                          <li>Pilih <b>m-Transfer</b></li>
                          <li>Pilih <b>BCA Virtual Account</b></li>
                          <li>Pilih <b>Ke Rekening</b></li>
                          <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                          <li>Klik Send</li>
                          <li>Informasi Virtual Account akan ditampilkan</li>
                          <li>Klik <b>OK</b></li>
                          <li>Input <b>PIN Mobile Banking</b></li>
                          <li>Bukti bayar ditampilkan</li>
                          <li><b>Selesai</b></li>
                        </ol>
                      </div>
                    </div>
                    <div class="row mgn-t-25">
                      <div class="col-md-12">
                        <b>Panduan Bayar Internet Banking</b>
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Login <b>Internet Banking</b></li>
                          <li>Pilih <b>Transaksi Dana</b></li>
                          <li>Pilih <b>Transfer BCA Virtual Account</b></li>
                          <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                          <li>Klik <b>Lanjutkan</b></li>
                          <li>Input <b>Respon KeyBCA Appli 1</b></li>
                          <li>Klik <b>Kirim</b></li>
                          <li>Bukti bayar ditampilkan</li>
                          <li><b>Selesai</b></li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mgn-t-25">
              <div class="col-12">
                <div class="payAccor">
                  <div (click)="accordion('payment')" class="buttonAccor">
                    <b>Payment Gateway</b>
                    <img [class.rotate]="paymentClass" src="assets/img/down-arrow.png" alt="">
                  </div>
                  <div class="divAccor" *ngIf="show2">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="assets/img/bca-ic.png" alt="">
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <b>Panduan Bayar ATM</b>
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Input kartu <b>ATM</b> dan <b>PIN</b> Anda</li>
                          <li>Pilih <b>Menu Transaksi Lainnya</b></li>
                          <li>Pilih <b>Transfer</b></li>
                          <li>Pilih Ke rekening <b>BCA Virtual Account</b></li>
                          <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                          <li>Pilih <b>Benar</b></li>
                          <li>Pilih <b>Ya</b></li>
                          <li>Ambil bukti bayar Anda</li>
                          <li><b>Selesai</b></li>
                        </ol>
                      </div>
                    </div>
                    <div class="row mgn-t-25">
                      <div class="col-md-12">
                        <b>Panduan Bayar Mobile Banking</b>
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Login <b>Mobile Banking</b></li>
                          <li>Pilih <b>m-Transfer</b></li>
                          <li>Pilih <b>BCA Virtual Account</b></li>
                          <li>Pilih <b>Ke Rekening</b></li>
                          <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                          <li>Klik Send</li>
                          <li>Informasi Virtual Account akan ditampilkan</li>
                          <li>Klik <b>OK</b></li>
                          <li>Input <b>PIN Mobile Banking</b></li>
                          <li>Bukti bayar ditampilkan</li>
                          <li><b>Selesai</b></li>
                        </ol>
                      </div>
                    </div>
                    <div class="row mgn-t-25">
                      <div class="col-md-12">
                        <b>Panduan Bayar Internet Banking</b>
                      </div>
                    </div>
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Login <b>Internet Banking</b></li>
                          <li>Pilih <b>Transaksi Dana</b></li>
                          <li>Pilih <b>Transfer BCA Virtual Account</b></li>
                          <li>Input Nomor Virtual Account, misal. 28888XXXX</li>
                          <li>Klik <b>Lanjutkan</b></li>
                          <li>Input <b>Respon KeyBCA Appli 1</b></li>
                          <li>Klik <b>Kirim</b></li>
                          <li>Bukti bayar ditampilkan</li>
                          <li><b>Selesai</b></li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu2" *ngIf="menu2">
            <div class="row mgn-t-15">
              <div class="col-12">
                <div class="payAccor">
                  <div (click)="accordion2('jabal')" class="buttonAccor">
                    <b>Ketentuan Pengiriman Barang  Jawa – Bali</b>
                    <img [class.rotate]="jabalClass" src="assets/img/down-arrow.png" alt="">
                  </div>
                  <div class="divAccor" *ngIf="show3">
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Pengiriman barang dalam sistem DCS wajib menggunakan jasa perusahaan ekspedisi HPPI yang di tunjuk kepada alamat 
                              yang sudah di registrasi oleh HPPI dan pembeli tidak boleh merubah route alamat pengiriman kepada kurir  kami.
                          </li>
                          <li>Apabila ada permintaan pengiriman urgent maka DCS akan menambahkan biaya tambahan pada order konfirmasi pembeli.</li>
                          <li>Pengiriman akan di lakukan hari H setelah order konfirmasi kami terima <b>jam 14:00</b>, 
                              apabila memenuhi ratio pengiriman Spareparts minimum order <b>IDR. 500,000,</b>- Pengiriman akan di lakukan <b>H+1</b> setelah order 
                              konfirmasi kami terima  di bawah <b>jam 14:00</b> apabila belum minimum order <b>IDR. 500,000</b> untuk pengiriman spareparts. 
                              Apabila dibawah ratio tersebut dealer dapat mengambil barang di gudang kami atau menunggu pengiirman.">
                          </li>
                          <li>Apabila saat penerimaan barang di temukan rusak atau tidak sesuai Qty dengan surat jalan 
                              maka pembeli harus segera menginformasi segera kepada Logistic HPPI
                          </li>
                          <li>Surat Jalan HPPI  yang diterima oleh pembeli harus diberi  "Tanda tangan dan di Cap" sebagai  bukti penerimaan barang dan di berikan
                              kepada kurir  yang berwarna putih dan merah. Dokumen surat jalan peneriman barang oleh pembeli di simpan yang 
                              berwarna hijau / kuning". Surat Jalan HPPI harus di cek  Nama barang dan Qty  pada saat penerimaan barang.
                          </li>
                          <li>Barang yang sudah di terkirim dan di terima tidak dapat dikembalikan apabila kesalahan pemesanan dari pembeli. Barang dapat di kembalikan 
                              dan biaya pengembalian di tanggung oleh HPPI apabila kesalahan kirim dari HPPI”.
                          </li>
                          <li>Biaya dan aktivitas Penurunan barang dilakukan dan menjadi tanggung jawab penerima barang dan biaya tidak dapat di tagihkan kepada HPPI. </li>
                          <li>Apabila ada pertanyaan mengenai pengiriman barang segera menghubungi team logistic kami di no telp: 021-22461132  dan fax: 021-22461145</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mgn-t-25">
              <div class="col-12">
                <div class="payAccor">
                  <div (click)="accordion2('sumkal')" class="buttonAccor">
                    <b>Ketentuan Pengiriman Barang  Sumatera – Kalimantan</b>
                    <img [class.rotate]="sumkalClass" src="assets/img/down-arrow.png" alt="">
                  </div>
                  <div class="divAccor" *ngIf="show4">
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Pengiriman barang dalam sistem DCS wajib menggunakan jasa perusahaan ekspedisi HPPI yang di 
                              tunjuk kepada alamat yang sudah di registrasi oleh HPPI dan pembeli tidak boleh merubah route 
                              alamat pengiriman kepada kurir  kami. 
                          </li>
                          <li>Apabila ada permintaan pengiriman urgent maka DCS akan menambahkan biaya tambahan pada order konfirmasi pembeli.</li>
                          <li>Pengiriman akan di lakukan hari H setelah order konfirmasi kami terima <b>jam 14:00</b>, apabila memenuhi ratio pengiriman 
                              Spareparts minimum order <b>IDR. 1.000,000,</b>- . Pengiriman akan di lakukan H+1  setelah order konfirmasi kami 
                              terima  di bawah <b>jam 14:00</b> apabila belum minimum order <b>IDR. 1.000,000</b> untuk pengiriman spareparts. 
                              Apabila dibawah ratio tersebut dealer dapat mengambil barang di gudang kami atau menunggu pengiirman."
                          </li>
                          <li>Apabila saat penerimaan barang di temukan rusak atau tidak sesuai Qty dengan surat jalan maka pembeli harus 
                              segera menginformasi segera kepada Logistic HPPI
                          </li>
                          <li>Surat Jalan HPPI  yang diterima oleh pembeli harus diberi  "Tanda tangandan di Cap" sebagai  bukti penerimaan barang dan 
                              di berikan kepada kurir  yang berwarna putih dan merah. Dokumen surat jalan peneriman barang oleh pembeli di simpan yang 
                              berwarna hijau / kuning." surat Jalan HPPI harus di cek  Nama barang dan Qty  pada saat penerimaan barang.
                          </li>
                          <li>Barang yang sudah di terkirim dan di terima tidak dapat dikembalikan apabila kesalahan pemesanan dari pembeli. Barang dapat
                              di kembalikan dan biaya pengembalian di tanggung oleh HPPI apabila kesalahan kirim dari HPPI."
                          </li>
                          <li>Biaya dan aktivitas Penurunan barang dilakukan dan menjadi tanggung jawab penerima barang dan biaya tidak dapat di tagihkan kepada HPPI.</li>
                          <li>Apabila ada pertanyaan mengenai pengiriman barang segera menghubungi team logistic kami di no telp: 021-22461132  dan fax: 021-22461145</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mgn-t-25">
              <div class="col-12">
                <div class="payAccor">
                  <div (click)="accordion2('daerah')" class="buttonAccor">
                    <b>Ketentuan Pengiriman Barang  Daerah Lain</b>
                    <img [class.rotate]="daerahClass" src="assets/img/down-arrow.png" alt="">
                  </div>
                  <div class="divAccor" *ngIf="show5">
                    <div class="row mgn-t-15">
                      <div class="col-md-12">
                        <ol>
                          <li>Pengiriman barang dalam sistem DCS wajib menggunakan jasa perusahaan ekspedisi HPPI yang di tunjuk kepada alamat
                              yang sudah di registrasi oleh HPPI dan pembeli tidak boleh merubah route alamat pengiriman kepada kurir  kami.
                          </li>
                          <li>Apabila ada permintaan pengiriman urgent maka DCS akan menambahkan biaya tambahan pada order konfirmasi pembeli.</li>
                          <li>Pengiriman akan di lakukan hari H setelah order konfirmasi kami terima <b>jam 14:00</b>, apabila memenuhi ratio pengiriman 
                              Spareparts minimum order <b>IDR. 1.500,000,</b>-  Pengiriman akan di lakukan H+2  setelah order konfirmasi kami terima  di bawah 
                              <b>jam 14:00</b> apabila belum minimum order <b>IDR. 1.500,000</b> untuk pengiriman spareparts. Apabila dibawah ratio tersebut dealer dapat 
                              mengambil barang di gudang kami atau menunggu pengiirman."
                          </li>
                          <li>Apabila saat penerimaan barang di temukan rusak atau tidak sesuai Qty dengan surat jalan maka pembeli harus 
                              segera menginformasi segera kepada Logistic HPPI
                          </li>
                          <li>Surat Jalan HPPI  yang diterima oleh pembeli harus diberi  "Tanda tangandan di Cap" sebagai  bukti penerimaan barang dan 
                              di berikan kepada kurir  yang berwarna putih dan merah. Dokumen surat jalan peneriman barang oleh pembeli di simpan yang 
                              berwarna hijau / kuning." surat Jalan HPPI harus di cek  Nama barang dan Qty  pada saat penerimaan barang.
                          </li>
                          <li>Barang yang sudah di terkirim dan di terima tidak dapat dikembalikan apabila kesalahan pemesanan dari pembeli. Barang dapat
                              di kembalikan dan biaya pengembalian di tanggung oleh HPPI apabila kesalahan kirim dari HPPI."
                          </li>
                          <li>Biaya dan aktivitas Penurunan barang dilakukan dan menjadi tanggung jawab penerima barang dan biaya tidak dapat di tagihkan kepada HPPI.</li>
                          <li>Apabila ada pertanyaan mengenai pengiriman barang segera menghubungi team logistic kami di no telp: 021-22461132  dan fax: 021-22461145</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu3" *ngIf="menu3">
            <div class="row mgn-t-25">
              <div class="col-12">
                <div class="payAccor">
                  <div class="divAccor">
                    <div class="row">
                      <div class="col-md-12">
                        <ol>
                          <li>
                              Dalam hal terdapat pengembalian CBU / Spareparts (selanjutnya disebut “Barang”) dikarenakan adanya kelebihan, kesalahan/perbedaan type dalam pengiriman Barang, dan/atau hal lainnya, pembeli diwajibkan melakukan konfirmasi terlebih dahulu kepada Admin support department terkait dengan mengacu pada Syarat dan Ketentuan Pengembalian Barang yang berlaku
                          </li>
                          <li>
                              Konfirmasi kepada Admin support tersebut ditujukan agar pembeli dapat  menerima bantuan dalam bentuk informasi gudang retur, instruksi, dan/atau solusi sehubungan dengan pengembalian Barang tersebu
                          </li>
                          <li>
                              Syarat dan ketentuan ini dapat berubah sewaktu-waktu, dan kebijakan ini sepenuhnya menjadi keputusan management HPPI. Kami akan selalu berupaya untuk terus meningkatkan kualitas pelayanan kami terhadap pelanggan
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu4" *ngIf="menu4">
            <div class="row mgn-t-15">
              <div class="col-12">
                <div class="cutomer-data">
                  <p>Kami, <b>PT Honda Power Products Indonesia</b> akan dengan sepatutnya melindungi dan mengelola informasi rahasia
                      dan informasi pribadi yang ada untuk tujuan melakukan operasional bisnis secara benar. 
                  </p>
                  <p>Kami menyadari bahwa perlindungan Informasi Pribadi adalah prinsip yang sangat penting dalam membangun kepercayaan dan menjaga hubungan yang baik dengan anda. Ketika mengunjungi situs kami, identitas anda akan dilindungi. 
                      Kita tidak bisa mengidentifikasi anda kecuali anda memiliki akun dan login menggunakan username dan password Anda.
                  </p>
                  <p>Kami akan sepatutnya menangani informasi rahasia, seperti informasi internal, informasi mitra bisnis dan informasi pribadi milik
                      pelanggan dan mitra lainnya sesuai dengan peraturan perundang-undangan.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
