<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 InquirySpare">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Inquiry - Spareparts</h5>
        </div>
      </div>
      <div class="row mgn-t-25">
        <div class="col-sm-12">
          <span>Search by Part Number</span>
          <input style="float: left; margin-right: 35px;max-width: 420px;height: 30px;" type="text" class="form-control"
            list="materialCodes" autocomplete="off" (keyup)="getMaterialCode($event.target.value)">
          <datalist id="materialCodes">
            <ng-template ngFor let-item [ngForOf]="materialCode" let-i="index" [ngForTrackBy]="trackByFn">
              <option>{{item.material_number}} - {{item.material_description}}</option>
            </ng-template>
          </datalist>
          <button class="addSubmit" (click)="submitItem()">Search</button>
        </div>
      </div>
      <div class="row mgn-t-25 infoSpare" *ngIf="infoSpare">
        <div class="col-sm-6">
          <table *ngIf="GenOne">
            <thead>
              <tr>
                <th>Part No.</th>
                <th>Supersession Part</th>
              </tr>
              <tr>
                <th><b>{{this.material_code}}</b></th>
                <th><input type="submit" class="Supersession-Part" (click)="nextGen($event.target.value)"
                    value="{{this.supersession_part}}" readonly="true"></th>
              </tr>
              <!-- <tr>
                <th><b>{{customSelected}}</b></th><th><button (click)="newGen()"><b></b></button></th>
              </tr> -->
            </thead>
            <tbody>
              <tr>
                <td>Description</td>
                <td>Currency</td>
              </tr>
              <tr>
                <td><b>{{this.material_description}}</b></td>
                <td><b>{{this.currency}}</b></td>
              </tr>
              <tr>
                <td>Base Unit Measure</td>
                <td>Dealer Net</td>
              </tr>
              <tr>
                <td><b>{{this.base_unit_of_measure}}</b></td>
                <td><b>{{this.dealer_net | number:'1.'}}</b></td>
              </tr>
              <tr>
                <td>Model Unit</td>
                <td>Recomended Retail Price</td>
              </tr>
              <tr>
                <td><b>{{this.model_unit}}</b></td>
                <td><b>{{this.recommended_retail_price | number: '1.'}}</b></td>
              </tr>
              <tr>
                <td>Weight Unit (gr)</td>
                <td>Availability</td>
              </tr>
              <tr>
                <td><b>{{this.weight_unit}}</b></td>
                <td><b>{{this.availability}}</b></td>
              </tr>
              <tr>
                <td></td>
                <td><b class="fl-right">*price exclude VAT</b></td>
              </tr>
            </tbody>
          </table>
          <table class="genTwo" *ngIf="GenTwo">
            <thead>
              <tr>
                <th colspan="2"><input *ngIf="backButton" type="submit" class="Supersession-Part"
                    (click)="backGen(this.material_code)" value="<< Back to previous parts" id="{{this.material_code}}"
                    readonly="true"></th>
              </tr>
              <tr>
                <th>Part No.</th>
                <th>Supersession Part</th>
              </tr>
              <tr>
                <th><b>{{this.material_code}}</b></th>
                <th><input type="submit" class="Supersession-Part" (click)="nextGen($event.target.value)"
                    value="{{this.supersession_part}}" readonly="true"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Description</td>
                <td>Currency</td>
              </tr>
              <tr>
                <td><b>{{this.material_description}}</b></td>
                <td><b>{{this.currency}}</b></td>
              </tr>
              <tr>
                <td>Base Unit Measure</td>
                <td>Dealer Net</td>
              </tr>
              <tr>
                <td><b>{{this.base_unit_of_measure}}</b></td>
                <td><b>{{this.dealer_net | number: '1.'}}</b></td>
              </tr>
              <tr>
                <td>Model Unit</td>
                <td>Recomended Retail Price</td>
              </tr>
              <tr>
                <td><b>{{this.model_unit}}</b></td>
                <td><div *ngIf="canPreviewPriceInq"><b>{{this.recommended_retail_price | number: '1.'}}</b></div></td>
              </tr>
              <tr>
                <td>Weight Unit (gr)</td>
                <td>Availability</td>
              </tr>
              <tr>
                <td><b>{{this.weight_unit | number: '1.'}}</b></td>
                <td><div *ngIf="canPreviewAvailability"><b>{{this.availability}}</b></div></td>
              </tr>
              <tr>
                <td></td>
                <td><b class="fl-right">*price exclude VAT</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main-page>
