<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Stock Input</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-2 fl-left">
          <span>Stock Date</span>
          <br>
          <b>{{jstoday}}</b>
        </div>
        <div class="col-sm-2 fl-left">
          <span>Dealer Category</span>
          <br>
          <select *ngIf="this.userGroup == '001'" (change)="category($event)" style="margin:0; margin-top:0!important;"
            class="form-control custom-select custom-filter" name="" id="">
            <option selected value="marine">Marine</option>
          </select>
          <select *ngIf="this.userGroup == '002'" (change)="category($event)" style="margin:0; margin-top:0!important;"
            class="form-control custom-select custom-filter" name="" id="">
            <option selected value="power product">Power Product</option>
          </select>
          <select *ngIf="this.userGroup == '003'" (change)="category($event)" style="margin:0; margin-top:0!important;"
            class="form-control custom-select custom-filter" name="" id="">
            <option value="power product">Power Product</option>
            <option value="marine">Marine</option>
          </select>
        </div>
        <div class="col-8 fl-left">
          <!-- <input id="uploadCBU" type="file"> -->
          <input type="file" [disabled]="!canInputUploadDealerStock || disableButton ? 'disabled' : null" accept=".csv" (change)="handleFiles($event)" id="uploadCBU" /><label class="uploadCBU"
            for="uploadCBU">Upload .csv</label>
          <button class="downloadCBU" (click)="downloadTemplate()"><img src="./assets/img/download.png"> Download Template</button>
        </div>
      </div>
      <div *ngIf="cat1">
        <div class="row mgn-t-15">
          <div class="col-sm-12">
            <button [ngStyle]="{'display' : (userGroup == '002') ? '' : 'none'}" style="margin-top:15px!important"
              id="tab-salepro1" class="cbu-order" [ngClass]="salesPro1" (click)="tab_salesPro(1)">Generator</button>
            <button style="margin-top:15px!important" id="tab-salepro2" class="cbu-order" [ngClass]="salesPro2"
              (click)="tab_salesPro(2)">Blower</button>
            <button style="margin-top:15px!important" id="tab-salepro3" class="cbu-order" [ngClass]="salesPro3"
              (click)="tab_salesPro(3)">Brush Cutter</button>
            <button style="margin-top:15px!important" id="tab-salepro4" class="cbu-order" [ngClass]="salesPro4"
              (click)="tab_salesPro(4)">Brush Mower</button>
            <button style="margin-top:15px!important" id="tab-salepro5" class="cbu-order" [ngClass]="salesPro5"
              (click)="tab_salesPro(5)">Lawnmower</button>
            <button [ngStyle]="{'display' : (userGroup == '002') ? 'none' : ''}" style="margin-top:15px!important"
              id="tab-salepro6" class="cbu-order" [ngClass]="salesPro6" (click)="tab_salesPro(6)">Monpal</button>
            <button style="margin-top:15px!important" id="tab-salepro7" class="cbu-order" [ngClass]="salesPro7"
              (click)="tab_salesPro(7)">Pump</button>
            <button style="margin-top:15px!important" id="tab-salepro8" class="cbu-order" [ngClass]="salesPro8"
              (click)="tab_salesPro(8)">Riding Mower</button>
            <button style="margin-top:15px!important" id="tab-salepro9" class="cbu-order" [ngClass]="salesPro9"
              (click)="tab_salesPro(9)">Backpack Sprayer</button>
            <button style="margin-top:15px!important" id="tab-salepro10" class="cbu-order" [ngClass]="salesPro10"
              (click)="tab_salesPro(10)">Tiller</button>
            <button style="margin-top:15px!important" id="tab-salepro11" class="cbu-order" [ngClass]="salesPro11"
              (click)="tab_salesPro(11)">Water Pump</button>
            <button [ngStyle]="{'display' : (userGroup == '002') ? 'none' : ''}" style="margin-top:15px!important"
              id="tab-salepro12" class="cbu-order" [ngClass]="salesPro12" (click)="tab_salesPro(12)">Lawn &
              Garden</button>
            <button [ngStyle]="{'display' : (userGroup == '002') ? 'none' : ''}" style="margin-top:15px!important"
              id="tab-salepro13" class="cbu-order" [ngClass]="salesPro13"
              (click)="tab_salesPro(13)">Agriculture</button>
            <button [ngStyle]="{'display' : (userGroup == '002') ? 'none' : ''}" style="margin-top:15px!important"
              id="tab-salepro14" class="cbu-order" [ngClass]="salesPro14"
              (click)="tab_salesPro(14)">Accessories</button>
            <button style="margin-top:15px!important" id="tab-salepro15" class="cbu-order" [ngClass]="salesPro15"
              (click)="tab_salesPro(15)">Engine PP</button>
          </div>
        </div>
        <div [ngStyle]="{'display' : (generator == false) ? 'none' : ''}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table *ngIf="userGroup == '002'" class="tablePending width-th stockinput" id="tblGeneratorPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductGenerator">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(1)" class="nxt fl-right">Next</button>
              <button disabled class="bck fl-right">Back</button>
            </div>
          </div>
        </div>

        <!--end-->
        <div [ngStyle]="{'display' : (blower == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblBlowerPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductBlower; let i = index">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(2)" class="nxt fl-right">Next</button>
              <button (click)="back(1)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (brushCutter == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblBrushCutterPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductBrushCutter; let i = index">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(3)" class="nxt fl-right">Next</button>
              <button (click)="back(2)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (brushMower == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblBrushMowerPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductBrushMower; let i = index">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(4)" class="nxt fl-right">Next</button>
              <button (click)="back(3)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (lawnmower == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblLawnMowerPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductLawnmower; let i = index">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(5)" class="nxt fl-right">Next</button>
              <button (click)="back(4)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (monpal == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table *ngIf="userGroup !== '002'" class="tablePending width-th stockinput" id="tblMonpalPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductMonpal">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(6)" class="nxt fl-right">Next</button>
              <button (click)="back(5)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (pump == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblPumpPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductPump">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(7)" class="nxt fl-right">Next</button>
              <button (click)="back(6)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (ridingMower == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblRidingMowerPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductRidingMower">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(8)" class="nxt fl-right">Next</button>
              <button (click)="back(7)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (backpackSlayer == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblBackpackSprayerPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductBackpackSprayer">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(9)" class="nxt fl-right">Next</button>
              <button (click)="back(8)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (tiller == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblTillerPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductTiller">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(10)" class="nxt fl-right">Next</button>
              <button (click)="back(9)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (waterPump == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblWaterPumpPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductWaterPump">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(11)" class="nxt fl-right">Next</button>
              <button (click)="back(10)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (lawnGarden == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table *ngIf="userGroup !== '002'" class="tablePending width-th stockinput" id="tblLawnGardenPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductLawnGarden">
                    <td id="material_number" style="display: none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(12)" class="nxt fl-right">Next</button>
              <button (click)="back(11)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (agreeculture == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table *ngIf="userGroup !== '002'" class="tablePending width-th stockinput" id="tblAgreeCulturePP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductAgreeculture">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(13)" class="nxt fl-right">Next</button>
              <button (click)="back(12)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (accecories == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table *ngIf="userGroup !== '002'" class="tablePending width-th stockinput" id="tblAccessoriesPP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductAccessories">
                    <td id="material_number" style="display: none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next(14)" class="nxt fl-right">Next</button>
              <button (click)="back(13)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (engine == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblEnginePP">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of powerProductEnginePP">
                    <td id="material_number" style="display:none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button class="nxt fl-right" [disabled]="!canInputUploadDealerStock ? 'disabled' : null" (click)="submitPP()">Submit</button>
              <button (click)="back(14)" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="cat2">
        <div class="row mgn-t-15">
          <div class="col-sm-12">
            <button style="margin-top:15px!important" id="tab-salepro1" class="cbu-order" [ngClass]="salesPro16"
              (click)="marine(1)">Outboard</button>
            <button style="margin-top:15px!important" id="tab-salepro2" class="cbu-order" [ngClass]="salesPro17"
              (click)="marine(2)">Generator</button>
          </div>
        </div>
        <div [ngStyle]="{'display' : (outboard == false) ? 'none' : ''}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblOutboardMarine">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of marineOutboard; let i = index">
                    <td id="material_number" style="display: none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button (click)="next2()" class="nxt fl-right">Next</button>
              <button disabled class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display' : (gen == true) ? '' : 'none'}">
          <div class="row">
            <div class="col-12 mgn-t-15 pdd-r-15 croll" style="max-height:355px;">
              <table class="tablePending width-th stockinput" id="tblGeneratorMarine">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Beginning Stock</th>
                    <th colspan="3">Selling To</th>
                    <th colspan="2">End Month Stock</th>
                  </tr>
                  <tr>
                    <th style="top: 40px;" colspan="2"></th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Retail</th>
                    <th style="top: 40px;">Subdealer</th>
                    <th style="top: 40px;">Tender</th>
                    <th style="top: 40px;">Store</th>
                    <th style="top: 40px;">Warehouse</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of marineGen; let i = index">
                    <td id="material_number" style="display: none">{{item.material_number}}</td>
                    <td id="material_group" style="display: none">{{item.material_group}}</td>
                    <td>{{item.material_number | slice:'-6'}}</td>
                    <td id="material_description" align="left">{{item.material_description}}</td>
                    <td id="beginning_stock">{{item.beginning_stock ? item.beginning_stock : 0}}</td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_retail ? item.selling_to_retail : 0}}" type="text" name=""
                        id="selling_to_retail"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_subdealer ? item.selling_to_subdealer : 0}}" type="text" name=""
                        id="selling_to_subdealer"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.selling_to_tender ? item.selling_to_tender : 0}}" type="text" name=""
                        id="selling_to_tender"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_store ? item.end_month_stock_store : 0}}" type="text" name=""
                        id="end_month_stock_store"></td>
                    <td><input [disabled]="disableForm" class="form-control"
                        value="{{item.end_month_stock_warehouse ? item.end_month_stock_warehouse : 0}}" type="text"
                        name="" id="end_month_stock_warehouse"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mgn-t-25">
              <button class="nxt fl-right" [disabled]="!canInputUploadDealerStock ? 'disabled' : null" (click)="submitMarine()">Submit</button>
              <button (click)="back2()" class="bck fl-right">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main-page>
