/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arimo');
/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
*{background:0;margin:0;padding:0;border:0;border-radius:0;appearance:none;outline:none;text-decoration:none;list-style:none;resize:none;box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family: 'Arimo', sans-serif!important;}
body{background: #EDEDED;}
.bg-body{background-color: #f3f3f3!important}
.container{margin: auto!important;}
.pos-cont{margin: 6% auto;box-shadow: 3px 2px 31px rgba(0, 0, 0, 0.25);border-radius: 15px;height: 500px;max-width: 960px;background-color: #fff;}
.bg-login{background: url('./assets/img/1.jpg')no-repeat;border-radius: 15px 0 0 15px;background-position: right;-webkit-clip-path: polygon(0px 516px,481px 516px,410px 140px,481px -2px,0px 0px);clip-path: polygon(0px 516px,481px 516px,410px 140px,481px -2px,0px 0px);}
.display-login-logo{margin: 45px auto 18px auto;}
.logo-login{margin: auto;display: table;}
.title-login{font-size: 18px;font-weight: 600;margin: auto;display: table}
.input-login{margin: auto;display: table;text-align: left;width: 246px;}
.input-login span{font-size: 12px;color: #B4AAAA}
.input-login input{font-size: 15px;font-weight: 600;letter-spacing: calc(1vw - 12px);}
.input-login span, .input-login input{display: table;padding: 5px 10px;text-align: left}
.border-input-login{border: solid 1px #9B9B9B;border-radius: 5px;}
.btn-login{background-image: linear-gradient(#41CECE 0%, #81A2F9 100%);color: #ffff;font-weight: 600;text-align: center;border-radius: 5px;font-size: 15px;height: 37px;}
.btn-forgot{font-size: 15px;font-weight: 600;color: #4D3232;margin: auto;display: table}
.input-pass{float: left;width: 90%;padding-right: 3px!important;}
.input-email{width: 246px;}
.show-eye{float: right;padding-top: 3px;padding-right: 5px;}
a{cursor: pointer;}
.width-113{width: 113px;}
.width-200{width: 200px;}
.width-250{width: 250px;}
.width-100{width: 100%;}
.width-70{width: 70px}
h6{color: #2B6FD4}
.display-tbl{display: table;}
.custom-select{background: #fff url('./assets/img/select.png') no-repeat right 0px center!important;padding-right: 35px!important}

/* header */
.logo-header{width: 133px;height: 16px;}
.full{margin: 0!important;max-width: 100%;}
.border-head{border-right: none!important;background: linear-gradient(180deg, #F4F4F4 0%, #EEEEEE 100%);border: 1px solid #CFCFCF;box-sizing: border-box;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);z-index: 2;}
.notif-red{position: absolute;right: 12px;top: 2px;}

/* make popover */
.pop-account {display: none;width: 156px;position: absolute;background: #F3F3F3;border: 1px solid #898989;top: 49px;left: -48px;}
.pop-account:after, .pop-account:before {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.pop-account:after {border-color: rgba(243, 243, 243, 0);border-bottom-color: #F3F3F3;border-width: 10px;margin-left: -10px;}
.pop-account:before {border-color: rgba(137, 137, 137, 0);border-bottom-color: #898989;border-width: 11px;margin-left: -11px;}
/* end popover */
.pop-account img{width: 12px;}
.pop-account .col-sm-12{margin: 5px 0}
.pop-account a:hover{text-decoration: none;padding: 5px 0}
.pop-account span{font-size: 11px;color: #000000;padding-left: 5px;}
.popover-body{width: 100px}

/* Remove blue border from css custom-styled button in Chrome */
button:focus {outline:0;}
button{cursor: pointer;}

/* sidebar */
.side-bar{min-width: 168px; padding: 15px 9px 15px 18px;background: linear-gradient(180deg, #C3C3C3 0%, #6E6E6E 100%);border: 1px solid #EDEDED;box-sizing: border-box;border-radius: 5px;}
.side-bar span{display: inline-flex;padding-left: 10px; font-weight: bold;line-height: 17px;font-size: 11px;text-transform: uppercase;color: #FFFFFF;}
.img-side{width: 22px;height: 22px;}
.arrow-side{float: right;padding-top: 10px;}
.actives{background: linear-gradient(360deg, #5A5A5A 50%, #323232 132%);border: 1px solid #EDEDED;box-sizing: border-box;border-radius: 5px;}
/* .order-entry{display: none;}
.inquiry{display: none;} */
.sticky-top {top: 100px;}

/* content */
.content{background: #EDEDED;position: relative;z-index: 1;padding-bottom: 30px;top: 85px;}
/* .content .row{margin-left: 5px;} */
.title-content{color: #051E73}


/* padding */
.pdd-20{padding: 20px;}
.pdd-l-30{padding-left: 30px!important;}
.pdd-l-4{padding-left: 4px}
.pdd-0{padding: 0;}
.pdd-tb-10{padding-top: 10px;padding-bottom: 10px;}
.pdd-tb-25{padding-top: 25px;padding-bottom: 25px;}
.pdd-b-5{padding-bottom: 5px;}
.pdd-b-10{padding-bottom: 10px;}
.pdd-b-25{padding-bottom: 25px;}
.pdd-b-35{padding-bottom: 35px;}
.pdd-b-40{padding-bottom: 40px;}
.pdd-b-45{padding-bottom: 45px;}
.pdd-b-65{padding-bottom: 65px;}
.pdd-t-5{padding-top: 5px;}
.pdd-t-15{padding-top: 15px;}
.pdd-t-25{padding-top: 25px;}
.pdd-r-15{padding-right: 15!important;}
.pdd-r-40{padding-right: 40px!important;}
.pdd-r-0{padding-right: 0}

/* margin */
.mgn-b-0{margin-bottom: 0!important}
.mgn-b-7{margin-bottom: 7.5px!important}
.mgn-b-10{margin-bottom: 10px;}
.mgn-b-15{margin-bottom: 15px;}
.mgn-b-18{margin-bottom: 18px;}
.mgn-b-19{margin-bottom: 19px;}
.mgn-b-22{margin-bottom: 22px;}
.mgn-b-37{margin-bottom: 37px;}
.mgn-b-25{margin-bottom: 25px;}
.mgn-t-0{margin-top: 0px!important;}
.mgn-t-7{margin-top: 7.5px!important;}
.mgn-t-15{margin-top: 15px;}
.mgn-t-25{margin-top: 25px;}
.mgn-t-35{margin-top: 35px;}
.mgn-t-38{margin-top: 38px;}
.mgn-l-35{margin-left: 35px;}
.mgn-l-15{margin-left: 15px;}
.mgn-r-15{margin-right: 15px;}
.mgn-20{margin: 20px;}
.mgn-tb-20{margin: 20px 0;}

/* text */
.text-center{text-align: center!important;}
.text-right{text-align: right;}
.text-left{text-align: left;}

/* float */
.fl-left{float: left;}
.fl-right{float: right;}

/* scroll */
.scroll{overflow: scroll;overflow: auto;}
.width-th th:first-child{min-width: 30px;}
.width-th th{min-width: 105px;}
.width-bill{min-width: 250px!important;}
.min-width-160{min-width: 160px;}

/* border */
.border-bottom{border-bottom: 1px solid #DEDEDE;}
.border-top{border-top: 0.75px solid #D4D4D4;}
/* carousel slider */
.carousel-inner img {width: 100%;height: 100%;}
.carousel-indicators li {width: 10px;height: 10px;border-radius: 100%;}
.carousel-indicators li:after {width: 5px;height: 5px;border-radius: 100%;}
.active{background: #fff;border: 1px solid #EDEDED;box-sizing: border-box;box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.25);}

/* table dealer profile */
table{position: relative;}
table span{color: #fff;font-weight: bold;letter-spacing: 0.10em;}
table small{color: #fff;font-size: 10px;}
.table-dp-1{width: 40%;float: left;background: #005FA4;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 5px 0px 0px 5px;}
.table-dp-2{width: 20%;float: left;background: #0872C1;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 0px 0px 0px;}
.table-dp-3{width: 20%;float: left;background: #1196E1;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 0px 0px 0px;}
.table-dp-4{width: 20%;float: left;background: #6EC0FD;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 5px 5px 0px;}

.table-dp-5{width: 30%;float: left;background: #005FA4;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 5px 0px 0px 5px;}
.table-dp-6{width: 17%;float: left;background: #0872C1;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 0px 0px 0px;}
.table-dp-7{width: 17%;float: left;background: #1196E1;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 0px 0px 0px;}
.table-dp-8{width: 18%;float: left;background: #2FACF2;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 0px 0px 0px;}
.table-dp-9{width: 18%;float: left;background: #6EC0FD;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);border-radius: 0px 5px 5px 0px;}

.table-dp-1 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-2 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-3 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-4 thead tr th{padding: 10px 5px 11px 15px}

.table-dp-5 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-6 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-7 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-8 thead tr th{padding: 10px 5px 11px 15px}
.table-dp-9 thead tr th{padding: 10px 5px 11px 15px}

.table-dp-1 tbody tr td{padding: 10px 5px 11px 15px;line-height: 15px}
.table-dp-2 tbody tr td{padding: 10px 5px 11px 15px;line-height: 15px}
.table-dp-3 tbody tr td{padding: 10px 5px 11px 15px;line-height: 15px}
.table-dp-4 tbody tr td{padding: 10px 5px 13px 15px;line-height: 15px}

.table-dp-5 tbody tr td{padding: 10px 5px 11px 15px;line-height: 15px}
.table-dp-6 tbody tr td{padding: 10px 5px 11px 15px;line-height: 15px}
.table-dp-7 tbody tr td{padding: 10px 5px 11px 15px;line-height: 15px}
.table-dp-8 tbody tr td{padding: 10px 5px 13px 15px;line-height: 14px}
.table-dp-9 tbody tr td{padding: 10px 5px 13px 15px;line-height: 15px}

.table-dp-1 thead tr th:first-child{font-size: 15px}
.table-dp-2 thead tr th:first-child{font-size: 15px}
.table-dp-3 thead tr th:first-child{font-size: 15px}
.table-dp-4 thead tr th:first-child{font-size: 15px}

.table-dp-5 thead tr th:first-child{font-size: 14px}
.table-dp-6 thead tr th:first-child{font-size: 14px}
.table-dp-7 thead tr th:first-child{font-size: 14px}
.table-dp-8 thead tr th:first-child{font-size: 14px}
.table-dp-9 thead tr th:first-child{font-size: 14px}

.table-dp-1 tbody tr td:first-child{font-size: 13px}
.table-dp-2 tbody tr td:first-child{font-size: 13px;width: 60%;}
.table-dp-3 tbody tr td:first-child{font-size: 13px;width: 60%;}
.table-dp-4 tbody tr td:first-child{font-size: 13px}
.table-dp-4 tbody tr td:nth-child(2){font-size: 17px}
.table-dp-4 tbody tr td:last-child{font-size: 12px}

.table-dp-5 tbody tr td:first-child{font-size: 13px}
.table-dp-6 tbody tr td:first-child{font-size: 13px;width: 60%;}
.table-dp-7 tbody tr td:first-child{font-size: 13px;width: 60%;}
.table-dp-8 tbody tr td:first-child{font-size: 13px;width: 60%;}
.table-dp-9 tbody tr td:first-child{font-size: 13px}
.table-dp-9 tbody tr td:nth-child(2){font-size: 17px}
.table-dp-9 tbody tr td:last-child{font-size: 12px}

/* info-dealer */
.info-dealer{min-height: 527px;width: 65%;float: left;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);background: #fff;border-radius: 5px;}
.info-dealer .col-sm-12 span{display: table;font-size: 12px;letter-spacing: 0.02em;color: #000000;}
.info-dealer .col-sm-12 small{font-size: 10px;letter-spacing: 0.02em;color: #6B6B6B;}
.title-dealer{display: inline!important;font-weight: bold;font-size: 11px!important;letter-spacing: 0.02em;color: #000000;position: absolute;right: 0;left: 42%;}
.border-bottoms{border: 0.5px solid #D1D1D1;}
.shadow-right{box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);}
.tab-info{font-size: 12px;text-align: center;letter-spacing: 0.02em;color: #5A5A5A;padding: 6px 16px 6px 16px;border-bottom: solid 1px #5A5A5A;margin: 0 5px 0 5px}
.tab-active{color: #051E73;border-bottom: solid 1px #051E73;}

/* table-info */
.tbl-info1 tbody tr td{padding: 5px;}
.tbl-info1 tbody tr td:first-child{vertical-align: top;}
.tbl-info1 tbody tr td a span{color: #051E73!important;text-decoration: underline;}
.tbl-info2{width: 100%;}
.tbl-info2 thead tr th{padding: 5px;font-weight: bold;line-height: normal;font-size: 11px;letter-spacing: 0.02em;color: #000000;}
.tbl-info2 tbody tr td{padding: 5px;}
.tbl-info2 tbody tr td span{font-weight: normal;line-height: normal;font-size: 11px;letter-spacing: 0.02em;color: #000000;}
.tbl-info2 tbody tr td a{margin: auto;display: table;}
.tbl-info3{width: 100%;}
.tbl-info3 tbody tr td{padding: 5px;font-size: 11px;}
.tbl-info4{padding-left: 0;}
.tbl-info4 .col-sm-12{padding-left: 0;margin-bottom: 5px;}

/* galery */
.galery{min-height: 527px;width: 33%;float: left;margin-left: 1.6%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;border-radius: 5px;}
.galery .col-sm-12 span{font-weight: bold;line-height: normal;font-size: 15px;letter-spacing: 0.02em;color: #000000;}
#lightSlider ul{border-radius: 5px;}

/* chart */
.chart-1{min-height: 341px;width: 57%;float: left;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);background: #fff;border-radius: 5px;}
.chart-2{min-height: 341px;width: 41%;float: left;margin-left: 1.6%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;border-radius: 5px;}
.chart-3{min-height: 341px;width: 57%;float: left;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.06);background: #fff;border-radius: 5px;}
.chart-4{min-height: 341px;width: 41%;float: left;margin-left: 1.6%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;border-radius: 5px;}
.chart-5{min-height: 341px;width: 100%;float: left;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;border-radius: 5px;}
.title-bar1{margin-top: 10px;}
.title-bar1 span{font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #000000;}
.title-bar2 span{font-weight: normal;line-height: normal;font-size: 12px;letter-spacing: 0.02em;color: #000000;}

/* account-infomation */
.tab-account{font-size: 14px;text-align: center;letter-spacing: 0.02em;padding: 5px 20px;border-bottom: solid 1px #9D9D9D;color: #9D9D9D;margin: 0 10px;}
.tab-account-active{border-bottom: solid 1px #1B4C85;color: #1B4C85}
.account-info-edit{width: 100%;margin-top: 15px;}
.account-info-edit span, .account-info-edit input{display: table}
.update{position: absolute;right: 10px;top: 20px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;padding: 5px 10px;}
.updatePass{background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;padding: 5px 10px;}
.update span{font-size: 14px;letter-spacing: 0.02em;color: #747474;float: right;margin-left: 5px;}
.updatePass span{font-size: 14px;letter-spacing: 0.02em;color: #747474;float: right;margin-left: 5px;}
.update img{float: left;}
.input-update{padding: 5px; background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;}
.min-input-update{width: 212px!important;}
.input-branch{padding: 5px; background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;width: 552px;}
.account-info-edit div{margin-bottom: 20px;}
.account-info-edit div span:first-child{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;margin-bottom: 15px;}
.account-info-edit div:nth-child(2) .input-update,
.account-info-edit div:nth-child(4) .input-update{width: 611px}
/* .account-info-edit label{float: left;display: none;} */
.text-update{padding: 5px;width: 611px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;}
.isi-update{font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #000000;}
.id_card{font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;text-decoration-line: underline;color: #2F80ED!important;font-style: italic;}
.saveAcc{padding: 5px 30px; font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #fff;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;float: right;margin-left: 10px;height: 28px;}
.disAcc{padding: 5px 30px;background: #FFFFFF;border: 1px solid #3294B7;box-sizing: border-box;border-radius: 5px;color: #3294B7;font-weight: bold;line-height: normal;font-size: 14px;float: right;}
.inputfile {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
.inputppGal {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
.inputfile + label {font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;display: inline-block;cursor: pointer;}
.btnUpload{float: left;padding: 3px 11px;font-size: 14px;letter-spacing: 0.02em;color: #747474;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;}
.btnUpload img{margin-right: 5px;}
.titUpload{padding-top: 5px;padding-left: 10px;}
.account-branch .col-sm-12{margin: 10px 0;}
.account-foto span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;display: table;margin-bottom: 10px;}
.account-foto .col-sm-12{margin: 15px 0 10px 0;}
.InputppGal{display: none;}
.borPP{position: relative;border: 1px solid #9B9B9B;border-radius: 15px;width: 88px;height: 88px;background: url('./assets/img/img-dealer.png')no-repeat center;zoom: 1;}
.borPP b{position: absolute;bottom: 0;left: 0;background: #2F80ED;padding: 3px 29px;border-radius: 0 0 15px 15px;color: #fff;font-size: 8px;text-align: center;letter-spacing: 0.02em;}
.uploadGalLabel{cursor: pointer;width: 250px;height: 183px;border: dashed 2px #AA9898;border-radius: 8px;position: relative;margin-right: 10px;}
#uploadGal{display: none;}
#uploadGal1{display: none;}
#uploadGal2{display: none;}
#uploadGal3{display: none;}
#uploadGal4{display: none;}
.uploadGalLabel img{position: absolute;top: 50px;left: 100px;}
.uploadGalLabel span{position: absolute;top: 120px;left: 90px;}
.deretGal{border-radius: 8px;position: relative;float: left;}
.deretGal img{margin-right: 10px;}
.deretGal .galUpdateLab img{position: absolute;top: 10px;right: 10px;background: #fff;padding: 3px 2px 4px 4px;border-radius: 5px;cursor: pointer;z-index: 99;}

/* cbu-order */
.cbu-order{font-size: 14px;text-align: center;letter-spacing: 0.02em;padding: 5px 20px;border-bottom: solid 1px #9D9D9D;color: #9D9D9D;margin: 0 10px;}
.cbu-order-active{border-bottom: solid 1px #1B4C85;color: #1B4C85}
.CBUorderEntry span{line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;margin-bottom: 5px;}
.CBUorderEntry input{background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;margin: 10px 0 15px 0;height: 28px;}
.CBUorderEntry select{padding: 5px 10px;margin: 10px 0 15px 0;background: #fff url('./assets/img/select.png') no-repeat right 0px center;height: 28px;font-size: 14px;}
.getDate{background-color: #C4C4C4!important;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;font-size: 14px;letter-spacing: 0.02em;color: #000000;}
input::-webkit-calendar-picker-indicator {display: none;}

#uploadCBU{display: none;}
#cbu-upload-red{color: red;}
.addCBU{background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 3px 30px;margin-top: 35px;height: 28px;}
.addSubmit{background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 3px 30px;height: 28px;}
.uploadCBU{background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 5px 29px;float: right;margin-left: 20px;cursor: pointer;margin-top: 35px;height: 28px;}
.downloadCBU{background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 3px 15px;float: right;margin-top: 35px;height: 28px;}
.btnFilter{background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 3px 30px;height: 28px;}
.btnFilter img{margin-right: 10px;}
.resetFilter{font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;background: #828282;border-radius: 5px;font-weight: bold;padding: 3px 15px;height: 28px;}
.resetFilter img{margin-right: 10px;}
.input-search{display: table;float: none!important;}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-style: italic;font-weight: normal;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #C5C5C5;}
::-moz-placeholder { /* Firefox 19+ */font-style: italic;font-weight: normal;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #C5C5C5;}
:-ms-input-placeholder { /* IE 10+ */font-style: italic;font-weight: normal;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #C5C5C5;}
:-moz-placeholder { /* Firefox 18- */font-style: italic;font-weight: normal;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #C5C5C5;}

/* table cbu order*/
.tableCBU{width: 101%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.tableCBU thead tr th{text-align: left!important;padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #5A5A5A;}
.tableCBU thead tr th:last-child{text-align: center!important}
.tableCBU thead tr th button{font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #AD2424;}
.tableCBU tbody{border-top: 1px solid #DEDEDE;border-bottom: 1px solid #DEDEDE;}
.tableCBU tbody tr td{padding: 12px 10px;font-weight: normal;line-height: normal;font-size: 14px;color: #3E3E3E;}
.tableCBU tbody tr td button{padding: 5px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;}
.tableCBU tbody tr td button span{margin-left: 15px;}
.tableCBU tfoot tr td{padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;}
.tableCBU tbody tr td p{width: 220px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-decoration: underline;cursor: pointer;}

.tableCBUdraft{width: 100%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.tableCBUdraft thead tr th{text-align: left!important;padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #5A5A5A;}
.tableCBUdraft tbody{border-top: 1px solid #DEDEDE;border-bottom: 1px solid #DEDEDE;}
.tableCBUdraft tbody tr td{padding: 12px 10px;font-weight: normal;line-height: normal;font-size: 14px;color: #3E3E3E;}
.tableCBUdraft tbody tr td button{padding: 8px 15px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;margin-left: 20px;}
.tableCBUdraft tbody tr td button span{margin-left: 15px;font-weight: normal;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #747474;}

.tablePending{width: 100%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.tablePending thead tr th{text-align: left!important;padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #5A5A5A;}
.tablePending tbody tr td{padding: 12px 10px;font-weight: normal;line-height: normal;font-size: 14px;color: #3E3E3E;border-top: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.tablePending tbody tr td a{font-size: 14px;letter-spacing: 0.02em;text-decoration-line: underline!important;color: #051E73!important;}

.inqCBU {width: 100%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.inqCBU thead{border-bottom: 1px solid #D4D4D4;}
.inqCBU thead tr th{font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;padding: 5px 12px;}
.inqCBU tbody tr td{padding: 5px 12px;font-weight: normal;line-height: normal;font-size: 14px;color: #3E3E3E;}

.infoSpare table{width: 100%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.infoSpare table thead tr:first-child th{font-size: 12px;letter-spacing: 0.02em;color: #6B6B6B;font-weight: normal;padding-top: 15px}
.infoSpare table thead tr th{text-align: left!important;padding: 5px 12px;line-height: normal;font-size: 22px;letter-spacing: 0.02em;color: #000;}
.infoSpare table thead tr:last-child th button{color: #051E73;}
.infoSpare table thead tr:first-child th button{font-size: 12px;letter-spacing: 0.02em;text-decoration-line: underline;color: #051E73;}
.infoSpare table tbody tr td{text-align: left!important;padding: 5px 12px;font-size: 12px;letter-spacing: 0.02em;color: #6B6B6B;}
.infoSpare table tbody tr td b{font-size: 14px;letter-spacing: 0.02em;color: #000000;}
.infoSpare table tbody tr:last-child td{padding-bottom: 20px;}
.genTwo thead tr:nth-child(2) th{font-size: 12px;letter-spacing: 0.02em;color: #6B6B6B;font-weight: normal;padding-top: 15px;}

.outer {position: relative;}
.outer table{display: block;white-space: nowrap;width: 65%!important;table-layout: fixed;overflow-x: scroll;overflow-y: hidden;margin-left: 35%;}
.outer table thead th:first-child{position: absolute;left: 0;min-width: 5%;margin-top: -2px;padding: 16px 0 14px 0!important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.outer table thead th:nth-child(2){position: absolute;left: 5%;min-width: 10%;margin-top: -2px;padding: 16px 0 14px 0!important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.outer table thead th:nth-child(3){position: absolute;left: 15%;min-width: 20%;margin-top: -2px;padding: 16px 0 14px 0!important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.outer table tbody td:first-child{position: absolute;left: 0;min-width: 5%;margin-top: -2px;padding: 16px 0 14px 0!important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.outer table tbody td:nth-child(2){position: absolute;left: 5%;min-width: 10%;margin-top: -2px;padding: 16px 0 14px 0!important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.outer table tbody td:nth-child(3){position: absolute;left: 15%;min-width: 20%;margin-top: -2px;padding: 16px 0 14px 0!important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}


.CBUdraft .col-3 span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;margin-bottom: 5px;}
.CBUdraft .col-3 input{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;height: 28px;margin-top: 7px;}

/* datepicker */
.bs-datepicker-body table span{color: #54708b!important;font-weight: normal;}
.bs-datepicker .is-other-month{color: rgba(0, 0, 0, 0.25)!important;}
.theme-red .bs-datepicker-body table td.week span {color: #d9534f!important;}

.simOrder{padding: 5px 30px; font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #fff;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;float: right;height: 28px;margin-left: 10px;}
.saveAsDraft{padding: 5px 30px;background: #FFFFFF;border: 1px solid #3294B7;box-sizing: border-box;border-radius: 5px;color: #3294B7;font-weight: bold;line-height: normal;font-size: 14px;float: right;height: 28px;margin-right: 10px;}
.subOrder{padding: 5px 20px; font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #fff;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;float: right;height: 28px;}
.conOrder{padding: 5px 20px; font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #fff;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;float: right;height: 28px;}
.backOrder{padding: 5px 20px; font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #fff;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;float: right;height: 28px;margin-right: 10px;}
.downList{padding: 5px 10px;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border: 1px solid #3294B7;box-sizing: border-box;border-radius: 5px;color: #fff;font-weight: bold;line-height: normal;font-size: 14px;height: 28px;}
.downList img{margin-right: 5px;vertical-align: inherit;}

/* pagination */
.pagination{background: #FFFFFF;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);border-radius: 3px;max-width: 319px;height: 30px;margin: auto;}
.pagination button{font-weight: bold;line-height: normal;font-size: 13px;letter-spacing: 0.02em;margin: auto;}
.num-pag{padding: 2px 5px;}
.num-pag-active{background: #176485;border-radius: 2px;color: #fff}
.prev{border-radius: 2px;font-size: 10px;letter-spacing: 0.02em;color: #505050;padding: 3px;background: #BEBEBE;padding: 2px 5px;}
.prev svg{margin-right: 10px;}
.prev-disable{opacity: 0.5;}
.next{border-radius: 2px;font-size: 10px;letter-spacing: 0.02em;color: #505050;padding: 3px;background: #BEBEBE;padding: 2px 5px;}
.next svg{margin-left: 10px;}
.next-disable{opacity: 0.5;}

.CBUorderSimulate span{display: table}
.CBUorderSimulate span:last-child{color: #000}

/* payment */
.payment{width: 101%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.payment thead tr th{font-weight: bold;line-height: normal;font-size: 15px;letter-spacing: 0.02em;color: #5A5A5A;padding: 10px 15px;}
.payment tbody tr td{font-weight: bold;line-height: normal;font-size: 15px;letter-spacing: 0.02em;color: #5A5A5A;padding: 10px 15px;vertical-align: top;}
.payment tbody tr td div img{margin-left: 10px;margin-right: 22px;width: 50px;}
.payment tbody tr td span, .payment tbody tr td label{font-size: 15px;letter-spacing: 0.02em;color: #5A5A5A!important;font-weight: normal!important}
.typeTF{font-weight: bold;line-height: normal;font-size: 15px!important;letter-spacing: 0.02em;color: #5A5A5A!important;margin-top: 10px;margin-left: 30px;}
.virAccRadio{display: inline-grid;}
.bankTF img{width: 174px;}
.bankTF span{display: table;font-size: 14px;color: #6B6B6B;}
.bankTF span b{color: #000;font-size: 18px;}
.bankTF .no-rek{font-size: 14px;}

input[type='radio'] {-moz-appearance: none;-webkit-appearance: none;width: 20px;height: 20px;border-radius: 50%;outline: none;border: 2px solid #B8B8B8;cursor: pointer}
input[type='radio']:before {content: '';display: block;width: 10px;height: 10px;margin: 20% auto;border-radius: 50%;}
input[type="radio"]:checked:before {background: #5D94E7;}
input[type="radio"]:checked {border-color: #B8B8B8;}
.disable-radio{-webkit-filter: grayscale(100%);filter: grayscale(100%);}

.viewUp_Pass span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;}
.viewUp_Pass p{font-size: 14px;background: #A8DDE4;letter-spacing: 0.02em;color: #F51515;padding: 15px;}
.viewUp_Pass .show-eye{position: absolute;right: 0px;top: 38px;}
.input-Cpass{background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;max-width: 200px;height: 28px;padding: 5px 25px 5px 5px;display: table;margin-top: 15px;}

.selectDate span:first-child {width: 113px;}
.selectDate span {display: inline-block;margin-right: 10px;font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;margin-bottom: 15px;}
.selectDate .input_date{margin-right: 10px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;background: #fff url('./assets/img/date.png') no-repeat right 0px center;max-width: 174px;padding: 1px 10px;margin-bottom: 15px;}
.selectDate input{margin-right: 10px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;max-width: 174px;padding: 1px 10px;margin-bottom: 20px;}

.formPending select{padding: 3px 10px;margin: 10px 0 15px 0;background: #fff url('./assets/img/select.png') no-repeat right 0px center;height: 28px;}
.formPending .actual{max-width: 290px;margin-top: 0;}
.formPending .custom-filter{margin-top: 15px!important;margin-right: 10px;max-width: 174px;margin-top: 0;font-size: 14px;letter-spacing: 0.02em;color: #000000;height: 28px;box-sizing: border-box;border-radius: 4px;}

.payWallet{background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;padding: 4px 6px;font-size: 14px;letter-spacing: 0.02em;color: #747474;}
.payWallet img{margin-right: 10px;}
.paySucces{background: rgba(165, 165, 165, 0.7);border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;}

.tablePending .input_date{background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;background: #fff url('./assets/img/date.png') no-repeat right 0px center;max-width: 174px;padding: 1px 10px;height: 28px;}
/* .tablePending img{float: right;} */
.editNameDeli{max-width: 174px;padding: 1px 10px;height: 28px;}

/* .mat-icon-button{background: #fff url('./assets/img/date.png') no-repeat right 0px center;} */
button[aria-label="Open calendar"]{background: #fff url('./assets/img/date.png') no-repeat right 0px center;}
.mat-button-wrapper svg{display: none!important}

.datePick input{margin-right: 0px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px; padding: 0px;margin-bottom: 0px;}
.max-width-174{max-width: 174px;}

.InquiryCBU span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;display: table;margin-bottom: 10px;}
.InquiryCBU input{padding: 1px 7px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;max-width: 185px;margin-bottom: 10px;}
/* .InquiryCBU typeahead-container{width: 185px;} */
.InquiryCBU typeahead-container span{margin-bottom: 0!important}

.InquirySpare span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;display: table;margin-bottom: 10px;}
.InquirySpare input{padding: 1px 7px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;max-width: 185px;margin-bottom: 10px;}
.InquirySpare typeahead-container{width: 185px;}
.InquirySpare typeahead-container span{margin-bottom: 0!important}

.userManage span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;display: table;margin-bottom: 10px;}
.userManage input{padding: 1px 7px;background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;max-width: 185px;margin-bottom: 10px;}
.addUserMan{float: right;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 3px 20px;height: 28px;}
.addUserMan img{margin-right: 10px;}
.tblUserManage {width: 100%;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);background: #fff;}
.tblUserManage thead tr th{text-align: left!important;padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #5A5A5A;}
.tblUserManage tbody tr td{border-top: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;padding: 12px 10px;font-weight: normal;line-height: normal;font-size: 14px;color: #3E3E3E;}
.tblUserManage tbody tr td button{font-size: 14px;letter-spacing: 0.02em;color: #747474;margin-right: 10px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;padding: 5px 15px;}
.tblUserManage tbody tr td button img{margin-right: 5px;}

.addUserManage .saveAcc{margin-left: 15px;}
.addUserManage span{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;margin-bottom: 10px;}
.addUserManage select{padding: 0px 10px;margin: 10px 0 15px 0;background: #fff url('./assets/img/select.png') no-repeat right 0px center;height: 28px;}
.bgUserManage{background: #EDEDED;top: 85px;padding-top: 20px;}
.userNameMana{background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;width: 100%;height: 28px;margin: 10px 0 15px 0;padding: 1px 7px;display:table;}
.userEmail{background: #FFFFFF;border: 1px solid #C3C3C3;box-sizing: border-box;border-radius: 4px;width: 223px;height: 28px;margin: 10px 0 15px 0;padding: 1px 7px;display: table;}

/* checkbox custom */
.custom-checkbox .custom-control-label::before{border-radius: 3px;}
.custom-control-label::before{width: 15px;height: 15px;background-color: #fff;border: 1px solid #C3C3C3}
.custom-control-label::after{width: 15px;height: 15px;}
.custom-control{min-height: 30px;}
.custom-control-label{font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;}

.nameTBLDelInfo{margin-right: 10px;}
.inputplusmin {display: none}
.colplusmin {height: 29px !important;width: 74px;text-align: center;margin: 0 5px !important;}
.btnPop {border:none!important;text-align: left;padding: 0!important;}
.tbl-display-voucher{display: table;margin-bottom: 8px!important;margin-top: 7px;}

.newChart text[font-size="9px"]{display: none;}
.chart1TargetCBU{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #78C5FD;border-radius: 20px;padding: 5px 25px;margin-right: 11px}
.chart1ActualCBU{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #FFCC00;border-radius: 20px;padding: 5px 25px;}
.chart2TargetSale{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #78C5FD;border-radius: 20px;padding: 5px 25px;margin-right: 11px}
.chart2ActualSale{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #BB76FF;border-radius: 20px;padding: 5px 25px;}
.chart3TargetSpare{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #78C5FD;border-radius: 20px;padding: 5px 25px;margin-right: 11px}
.chart3ActualSpare{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #98FB98;border-radius: 20px;padding: 5px 25px;}
.chart4TargetSpare{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #78C5FD;border-radius: 20px;padding: 5px 25px;margin-right: 11px}
.chart4ActualSpare{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #FF6699;border-radius: 20px;padding: 5px 25px;}
.chart5TargetSpare{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #C2F300;border-radius: 20px;padding: 5px 25px;margin-right: 11px}
.chart5ActualSpare{font-weight: bold;line-height: normal;font-size: 12px!important;text-align: center;letter-spacing: 0.02em;color: #FFFFFF!important;background: #FF0000;border-radius: 20px;padding: 5px 25px;}

/* salespromo */
.btnVoucher{background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;padding: 7px 10px 7px 10px;margin-right: 10px;margin-left: 10px;color: #747474;}
.btnVoucher img{margin-right: 6px;}
.btnDetailVoucher{background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;padding: 7px 18px 7px 18px;margin-right: 10px;margin-left: 10px;color: #747474;}
.sales-promo-active{border-bottom: solid 1px #1B4C85;color: #1B4C85}
.voucherActive{background: #CDC8C8;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;cursor: no-drop;}

#lightSlider .lslide img{margin: auto;display: table}
.lSAction>a{background-color: #7a7a7a;border-radius: 20px;}
.lSAction>.lSPrev{background-position: 1px 0!important;}
.lSAction>.lSNext{background-position: -33px 0!important;}

.trigger img{width: 29px;height: 29px;-webkit-clip-path: circle(50% at 50% 50%);clip-path: circle(50% at 50% 50%);}
.ppDealer{width: 61px;height: 61px;border-radius: 10px;}

/* a/p aging */
.ap-info p{font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #000000;}
/* .ap-info button{font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;margin-top: 35px;float: right;height: 30px;width: 171px;} */
.apt b{color: black}
.apt tbody tr td{padding: 12px 6px}
.apt thead tr th{padding: 12px 6px}
.apt button{width: 100px;height:30px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;font-size: 14px;letter-spacing: 0.02em;color: #747474; margin: auto;display: block;}
.apt img{margin-left: 15px}
.apt span{width: 100%!important;margin-top: 14px;font-style: normal;font-weight: normal;line-height: normal;font-size: 14px;text-decoration-line: underline;color: #1B4C85;}
.apt input{margin-bottom: 0!important;height: 30px}
.back button{font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;width: 110px;height: 30px;}
.aptt thead tr th{width: calc(100% / 5)}
.aptt thead tr th:first-child{border-bottom: 1px solid #D4D4D4;}
.aptt b{color: black}
.aptt tbody tr td{padding: 12px 10px;width: calc(100% / 5)}
.aptt button{width: 100px;height:30px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;font-size: 14px;letter-spacing: 0.02em;color: #747474; margin: auto;display: block;}
.aptt img{margin-left: 15px}
.aptt span{width: 100%!important;margin-top: 14px;font-style: normal;font-weight: normal;line-height: normal;font-size: 14px;text-decoration-line: underline;color: #1B4C85;}
.aptt input{margin-bottom: 0!important;height: 30px}

/* invoice */
.invoice span{width: 100%!important;margin-bottom: 0;}
.invoice thead tr th:first-child{border-bottom: 1px solid #D4D4D4;}
.invoice thead tr th span{text-align: center!important;margin-bottom: 0}
.invoice b{color: black}
.invoice tbody tr td{padding: 12px 20px;font-weight: bold;color: #5A5A5A;}
.invoice tbody tr td span{cursor: pointer;font-style: normal;font-weight: normal;line-height: normal;font-size: 14px;text-decoration-line: underline;color: #1B4C85;}

.invoice2 span{width: 100%!important;margin-bottom: 0;}
.invoice2 thead tr th:first-child{border-bottom: 1px solid #D4D4D4;}
.invoice2 thead tr th span{text-align: center!important;margin-bottom: 0}
.invoice2 b{color: black}
.invoice2 tbody tr td{padding: 12px 10px;}
.invoice2 tbody tr td{padding: 12px 10px;}
.invoice2 tbody tr td span{cursor: pointer;font-style: normal;font-weight: normal;line-height: normal;font-size: 14px;text-decoration-line: underline;color: #1B4C85;}
.invoice2 tfoot tr td{padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;color: #5A5A5A;border-top: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.download button{background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;padding: 4px 25px;float: right;color: white;}
.download button img{margin-bottom: 6px;margin-right: 5px;}

/* report */
.ket span{width: 100%!important}
.red b{color: red}
.ket img{margin-right: 20px;}
.rpt span{width: 100%!important;margin-top: 14px;font-style: normal;font-weight: normal;line-height: normal;font-size: 14px;text-decoration-line: underline;color: #1B4C85;}
.rpt .input_date{margin-bottom: 0}
.rpt button{text-align: center;letter-spacing: 0.02em;color: #747474;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box; border-radius: 5px;padding: 8px 25px;}
.rpt tfoot tr td{padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;color: #5A5A5A;border-top: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.downloadButton{font-weight: bold;margin-right: 20px;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%);border-radius: 5px;padding: 2px 25px;float: right;color: white;}
.downloadButton img{margin-bottom: 6px;margin-right: 5px;}
.judul{width: 100%;background: white;padding: 12px 10px;border-bottom: 1px solid #D4D4D4;font-weight: bold;text-align: left;line-height: normal;font-size: 14px;color: #3E3E3E;}
.judul span{width: 100%!important;margin-bottom: 0}
.judul span b{color: black}

/* forecast entry */
.forecastMenu .custom-select{margin-top: 15px!important;margin-right: 10px; max-width: 174px; margin-top: 0;font-size: 14px;letter-spacing: 0.02em;color: #000000;height: 28px; box-sizing: border-box;border-radius: 4px;}
.forecastMenu span {line-height: normal;font-size: 14px;letter-spacing: 0.02em; color: #5A5A5A;margin-bottom: 5px;}
.forecastMenu .addSubmit{margin-top: 38px;padding: 3px 35px}
/* .forect tbody tr:first-child td{text-align: center;font-weight: bold!important;line-height: normal!important;font-size: 14px!important;letter-spacing: 0.02em;color: #5A5A5A;} */
.forect tbody tr td{padding: 12px 10px;text-align: left;border-bottom: 1px solid #D4D4D4;}
.forect thead tr th{padding: 12px 10px;text-align: left;max-width: 160px!important;}

/*forecast report */
/* .foreport tbody tr:first-child td{text-align: center;font-weight: bold!important;line-height: normal!important;font-size: 14px!important;letter-spacing: 0.02em;color: #5A5A5A;} */
.foreport tbody tr td{padding: 12px 10px;border-bottom: 1px solid #D4D4D4;text-align: left;}
.foreport thead tr th{padding: 12px 10px;text-align: left!important;}
.foreport tfoot tr td:not(:nth-last-child(1n+3)){text-align: right!important}

/*target cbu*/
/* .dtCbu thead tr th:first-child{padding: 25px} */
.dtCbu thead tr:first-child th{text-align: center!important}
.dtCbu thead tr th:not(:first-child){border-left: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;min-width: 135px;}
.dtCbu tbody tr td:not(:first-child){border-left: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.dtCbu tbody tr td{min-width: 135px;}
.dtCbu tfoot tr td{padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;color: #5A5A5A;border-top: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.dtCbu tfoot tr td:not(:first-child){border-left: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.b-none{border-left: none!important}

/*target sparepart*/
/* .dtCbu thead tr th:first-child{padding: 25px} */
.dtSpr thead tr:first-child th{text-align: center!important}
.dtSpr thead tr th:not(:first-child){border-left: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;min-width: 135px;}
.dtSpr tbody tr td:not(:first-child){text-align: right;border-left: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.dtSpr tbody tr td{min-width: 135px;}
.dtSpr tfoot tr td{padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 14px;color: #5A5A5A;border-top: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}
.dtSpr tfoot tr td:not(:first-child){text-align:right;border-left: 1px solid #D4D4D4;border-bottom: 1px solid #D4D4D4;}

/*warranty claim form*/
/* .judul2{padding: 0 25px;} */
.judul2 span{line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #1B4C85;width: 100%!important;margin-bottom: 0;}
.judul2 hr{margin-top: 5px;border-bottom: 1px solid #1B4C85;margin-bottom: 0}
.contentt .addSubmit{margin-top: 38px;}
.contentt span{width: 100%!important}
.contentt span i{color: red}
.contentt input{margin-bottom: 0;}
.contentt b{line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #000000;}
.contentt input[type=file]{display: none;cursor: pointer;}
.contentt label{padding: 4px 20px 4px 8px;font-size: 14px;letter-spacing: 0.02em;color: #747474;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;}
.contentt label img{margin-right: 5px;width: 15px;margin-bottom: 3px;}
.contentt .dl-form{cursor: pointer;text-decoration-line: underline;}
.ex{font-size: 11px!important;margin-bottom: 0!important;margin-top: 5px!important}
.wcf{box-shadow: none;background: none;border: none}
.wcf thead tr th {font-weight: normal}
.wcf tbody{border-top: none;border-bottom: none;}
/* .wcf tbody tr td{padding: 12px 0} */
.wcf tbody tr td span{text-align: right;margin-bottom: 0}
.wcf input{max-width: 151px!important;height: 30px}
.wcf .custom-filter{width: 75px;}
.wcf thead tr th:last-child{text-align: left!important}
.addlist{text-decoration-line: underline!important;color: #1B4C85!important;cursor: pointer;}
.total span{text-align: right}
.fileName{max-width: 130px!important;margin-left: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: right;margin-top: 6px;}
.contentt ol li{display: block;background: white;width: 200px; height: 30px; border-radius: 5px; padding: 3px 10px;border: 1px solid #CCCCCC;}
.contentt ol li img{float: right;margin-top: 3px;}
.contentt ol li span{width: 150px!important;margin-bottom: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.contentt .expanse{max-width: 100%!important;width: 95%}
.contentt input[type='radio'] {-moz-appearance: none;position: relative;top: 3px;padding: 0px;-webkit-appearance: none;width: 20px;height: 20px;border-radius: 50%;outline: none;border: 2px solid #B8B8B8;cursor: pointer}
.contentt input[type='radio']:before {content: '';display: block;width: 10px;height: 10px;margin: 20% auto;border-radius: 50%;}
.contentt input[type="radio"]:checked:before {background: #5D94E7;}
.contentt input[type="radio"]:checked {border-color: #B8B8B8;}

/*warranty claim report*/
.warrantyCR th{min-width: 214px;}
/* .warrantyCR td{min-width: 214px;} */
.warrantyCR th:first-child{min-width: 30px;}
.warrantyCR tbody tr td button{background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;color: #747474;padding: 7px 15px;vertical-align: middle}
.warrantyCR tbody tr td button:disabled{background: #C0C0C0;}
.warrantyCR tbody tr td button img{margin-right: 10px;margin-bottom: 3px;}

/*logistic claim form CBU*/
.contentt .dn:disabled{background: #C0C0C0;color: black}
.judul2 span i{color: red}

/*logistic claim report CBU*/
.logisticCR th{min-width: 214px;}
.logisticCR th:first-child{min-width: 30px;}
.logisticCR tbody tr td span{margin-bottom: 0 ;cursor: pointer;font-style: normal;font-weight: normal;line-height: normal;font-size: 14px;-webkit-text-decoration-line: underline;text-decoration-line: underline;color: #1B4C85;}
.logisticCR tbody tr td button{background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;border-radius: 5px;color: #747474;padding: 7px 15px;vertical-align: middle}
.logisticCR tbody tr td button:disabled{background: #C0C0C0;}
.logisticCR tbody tr td button img{margin-right: 10px;margin-bottom: 3px;}
.ellipsis{margin-bottom: 0 ;white-space: nowrap; width: 150px!important; overflow: hidden;text-overflow: ellipsis; color: #3E3E3E!important;}
.imgmodal{cursor: pointer;}

/* logistic claim form spareprt */
.img-con{float: left;width: 80px;display: table;padding: 5px;margin-bottom: 10px;}
.img-con img{width: 80px;height: 80px;border: 1px solid #CCCCCC;border-radius: 10px;}
.img-con button{width: 100%;background: white;border-radius: 5px;font-size: 11px;color: red;border: 1px solid #CCCCCC;margin-top: 10px;}
.img-con label{padding: 0;width: 80px;background: none;border: none;}
.img-con label img{margin: 0; width: 80px;}

/*Customer Registration Input*/
.cust-info input{width: 235px!important; max-width: none!important;}

/*product checking*/
.prodCheck thead tr th{text-align: left!important;padding: 12px 10px;font-weight: bold;line-height: normal;font-size: 12px;letter-spacing: 0.02em;color: #5A5A5A}
.prodCheck tfoot tr td{text-align: left!important;padding: 10px 10px;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #5A5A5A;}
.prodCheck tbody tr td span{display: inline-block;margin-right: 0;font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;margin-top: 10px;margin-bottom: 0;}

/*sales promo*/
.salesDet tbody tr td:nth-child(1n+3){text-align: left!important}
.salesDet tfoot tr td:nth-child(1n+3){text-align: left!important}

/*CBU Rewad*/
.reward tfoot tr td{text-align: left;padding: 10px 10px;font-weight: bold;line-height: normal;font-size: 14px;letter-spacing: 0.02em;color: #5A5A5A;}
.reward thead tr th:last-child{text-align: right!important;}

/*dealer stock input*/
.stockinput thead tr th{text-align: center!important}
.stockinput thead tr:first-child th:nth-child(3){text-align: left!important}
.stockinput thead tr th:nth-child(2){text-align: left!important}
.stockinput tbody tr td input{width: 85px;height: 30px;margin-bottom: 0;margin-right: 0;margin: auto;display: block;text-align: right}
.stockinput tbody tr td{text-align: center}
.bck{padding: 5px 35px;margin-right: 10px;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%); border-radius: 5px;font-family: Arimo;font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;}
.bck:disabled{background: #ABABAB;}
.nxt{padding: 5px 35px;background: linear-gradient(180deg, #68D2D9 0%, #2370A7 100%); border-radius: 5px;font-family: Arimo;font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;}


/*information saring*/
input[type="checkbox"]{-moz-appearance: none;-webkit-appearance: none;width: 20px;height: 24px;outline: none;border: 2px solid #B8B8B8;cursor: pointer;border-radius: 3px}
input[type="checkbox"]::before{content: ' ';width: 20px;height: 24px;display: block;margin: 20% auto}
input[type="checkbox"]:checked::before{position: relative;left: -2px;top: 0px;width: 7px;height: 14px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
input[type="checkbox"]:checked{border: 2px solid #B8B8B8;background: #2B6FD4}
.btndl img{margin-left: 0;width: 13px;padding-bottom: 5px;}

/* how to pay */
.payAccor{background: white;}
.buttonAccor{background: grey;padding: 10px 20px;color: white;cursor: pointer;}
.buttonAccor img{float: right;margin-top: 8px;}
.buttonAccor b{letter-spacing: 1px;}
.divAccor{padding: 25px;}
.divAccor ol{padding: 0 15px}
.divAccor ol li{list-style: decimal;padding: 0 55px;margin-bottom: 5px;}

/*customer data privacy policy*/
.cutomer-data{background: white;padding: 20px}

/*table scroll*/
.croll{overflow-y:scroll;max-height: 365px;}
.croll table thead tr th{position:sticky;top:0;background: white;z-index: 1;}
/* .croll table tbody tr td{background: white} */
.croll table tfoot tr td{position:sticky;bottom:0;background: white}
.max-width-150px{max-width: 150px;}

/* spinner */
ngx-spinner .black-overlay{ position: fixed !important;overflow: hidden!important }

.BOtfoot tr td:last-child{text-align: left!important;}

/* .InquirySpare */
.Supersession-Part{color: #2370A7!important;font-weight: bold;background: none!important;border: none!important;cursor: pointer;    padding: 0!important;margin-bottom: 0!important;}

/* min-height-scroll */
.min-height-10-row{height: 450px;overflow-y: scroll;}

/*bootstrap modal*/
.modal-content{display: table;border:none;background: none}
.modal-header{border: none}

/*ngx gallery*/
.ngx-gallery-image{width: 100%;height: 100%;background-size: contain}

/*pop up contact*/
.contactPop{background: #F1F1F1;border-radius: 10px;}
.contactPop h4{color: #051E73;font-weight: bold;display: inline;}
.contactPop span{font-weight: normal;font-size: 12px;color: #5A5A5A;float: left;max-width: 400px;}
.contactPop span b{color: #5A5A5A;font-size: 16px;}
.contactPop img{float: left;margin-right: 15px;width: 25px;}

.selcon-notif{padding: 5px;margin-top: 12px;background: #A8DDE4;}
.selcon-notif p{margin-bottom: 0;font-size: 14px;color: #ff0000;}
.notif-grey{background: #E5E5E5;}
.notif-grey span{text-align: center!important;font-size: 10px!important;color: #505050;}

.sticky-left{position: sticky;left: 0;background: white;}

.rotate{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
}

.blueActive{color:#051E73!important;border-bottom: 1px solid #051E73!important}
.main-notif{min-width: 15px; min-height: 15px;padding: 5px; border-radius: 50%; background: red;position: absolute;top: 0; font-size: 8px;right: 0;color: white}
.activeBackground{background: #80808052;}
#popup1 .text{font-size: 11px;color: #000000;cursor: pointer;padding-top: 5px;padding-bottom: 5px;}

#popup1 .text .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  left: 10px;
  top: 0;
  position: absolute;
  z-index: 1;
}

#popup1 .text:hover .tooltiptext {
  visibility: visible;
}

