<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Outstanding Invoice</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row mgn-t-15 CBUorderEntry CBUorderSimulate">
        <div class="col-sm-12 mgn-t-15">
          <div class="row">
            <div class="col-2 fl-left">
              <span>Purchase Order No</span>
              <span><b>{{this.po_number}}</b></span>
            </div>
            <div class="col-4 fl-left">
              <span>Sales Order No.</span>
              <span><b>{{this.so_number}}</b></span>
            </div>
            <div class="col-2 fl-left">
              <span>Order Type</span>
              <span><b>{{this.order_type}}</b></span>
            </div>
            <div class="col-2 fl-left">
              <span>Invoice No</span>
              <span><b>{{this.invoice_number}}</b></span>
            </div>
            <div class="col-2 fl-left">
              <span>Invoice Date</span>
              <span><b>{{this.invoice_date | date: 'dd-MM-yyyy'}}</b></span>
            </div>
          </div>  
        </div>
        <div class="col-sm-12 mgn-t-15">
          <div class="row">
            <div class="col-2 fl-left">
              <span>Due Date</span>
              <span><b>{{this.due_date | date: 'dd-MM-yyyy'}}</b></span>
            </div>
            <div class="col-2 fl-left">
              <span>DN No.</span>
              <span><b>{{this.delivery_notice_number}}</b></span>
            </div>
            <div class="col-2 fl-left">
              <span>DN Date</span>
              <span><b>{{this.delivery_notice_date | date: 'dd-MM-yyyy'}}</b></span>
            </div>
          </div>
        </div>
        <div class="col-12 mgn-t-15 croll" style="max-height: 245px;">
          <table class="tableCBU" id="tableCBUOutstanding">
            <thead>
              <tr>
                <th>No.</th>
                <th>Description</th>
                <th style="min-width: 180px;">Material Code</th>
                <th>Material Group</th>
                <th>Ordered</th>
                <th>Allocated</th>
                <th>Backorder</th>
                <th>Unit Price</th>
                <th>Total</th>
                <th>Discount</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="data_" let-i="index">
                <tr>
                  <td id="number">{{i + 1}}.</td>
                  <td>{{item.arktx}}</td>
                  <td>{{item.matnr | slice:-6}}</td>
                  <td>{{item.bezei}}</td>
                  <td id="zkwmeng">{{item.kwmeng}}</td>
                  <td id="zzkwmeng2">{{item.kwmeng2}}</td>
                  <td id="zbackorder">{{item.kwmeng_bo}}</td>
                  <td id="znetwr" hidden>{{item.kbetr * 100}}</td>
                  <td>{{item.kbetr * 100 | number:'1.'}}</td>
                  <td id="ztotal" hidden>{{item.kbetr * item.kwmeng2 * 100}}</td>
                  <td>{{item.kbetr * item.kwmeng2 * 100 | number:'1.'}}</td>
                  <td>{{item.kzwi5 * 100 | number:'1.'}}</td>
                </tr>
              </ng-template>
            </tbody>
            <tfoot>
              <tr class="border-bottom">
                <td style="position:relative;" colspan="4">Total Order</td>
                <td style="position:relative;" id="totalSimulateOrder">{{totalSimulateOrderQty()}}</td>
                <td style="position:relative;">{{totalSimulateAllocated()}}</td>
                <td style="position:relative;" colspan="4">{{totalBackorder()}}</td>
              </tr>
              <tr>
                <td style="position:relative;" class="text-right" colspan="8">Total Order</td>
                <td style="position:relative;" class="text-right" colspan="2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }">
                  {{totalSimulateOrderAmount() | number:'1.'}}</td>
              </tr>
              <tr>
                <td style="position:relative;" class="text-right" colspan="8">Total Allocated Before Disc.</td>
                <td style="position:relative;" class="text-right" colspan="2">
                  {{totalAllocatedBeforeDisc() | number:'1.'}}</td>
              </tr>
              <tr>
                <td style="position:relative;" class="text-right" colspan="8">Total Disc Allocated</td>
                <td style="position:relative;" class="text-right" colspan="2">
                  {{(this.total_discount | number:'1.')}}</td>
              </tr>
              <tr>
                <td style="position:relative;" class="text-right" colspan="8">Total Allocated After Disc</td>
                <td style="position:relative;" class="text-right" colspan="2">{{totalAllocatedBeforeDisc() + this.total_discount | number:'1.'}}
                </td>
              </tr>
              <tr>
                <td style="position:relative;" class="text-right" colspan="8">VAT</td>
                <td style="position:relative;" class="text-right" colspan="2">{{this.vat | number:'1.'}}</td>
              </tr>
              <tr>
                <td style="position:relative;" class="text-right" colspan="8">Total Allocated With VAT</td>
                <td style="position:relative;" class="text-right" colspan="2">
                  {{totalAllocatedBeforeDisc() + this.vat | number:'1.'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="col-sm-12 mgn-t-15" *ngIf = "is_tester">
          <div *ngIf="canDoingPayment" class="col">
            <table class="payment">
              <thead>
                <tr>
                  <!-- ENABLE THIS -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td [ngClass]="disabledPay3">
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('credit-card')" type="radio" name="virAccount" id="mbca"><img
                        style="width: 70px;" src="./assets/img/credit2.png"><label for="mbca">Credit Card</label></div>
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('klik-bca')" type="radio" name="virAccount" id="mbca"><img
                        src="./assets/img/Kbca.png"><label style="margin-left: 35px;" for="mbca">KlikBCA</label></div>
                    <div class="col userID">User ID KlikBCA : <input type="text" name="userIDBCA" id="userIDBCA" [(ngModel)]="userIDBCA"></div>
                    <div class="col"><p style="position: absolute;
                      bottom: -55px;
                      left: 16px;">Masukan User ID KlikBCA Anda yang terdaftar dan aktif kemudian pilih <b>Confirm Payment</b> untuk melanjutkan pembayaran</p></div>
                    
                  </td>
                  <td [ngClass]="disabledPay4">
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay3" (click)="onlinePaymentType('cimb-click')" type="radio" name="virAccount" id="mbca"><img
                        src="./assets/img/cimb.png"><label for="mbca">CIMB Click</label></div>
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('ipay-bni')" type="radio" name="virAccount" id="mbca"><img
                        src="./assets/img/ipay.png"><label for="mbca">iPay BNI</label></div>
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('mandiri-clickpay')" type="radio" name="virAccount" id="mbca"><img
                        src="./assets/img/mandiriC.png"><label for="mbca">Mandiri Clickpay</label></div>
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('permata-bankva')" type="radio" name="virAccount" id="mbca"><img
                        src="./assets/img/permata.png"><label for="mbca">Permata Bank VA</label></div>
                    <div class="col"><input class="virAccRadio" [disabled]="disabledPay4" (click)="onlinePaymentType('bca-va')" type="radio" name="virAccount" id="mbca"><img 
                        src="./assets/img/bca-big.png"><label for="mbca">BCA VA</label></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-12 mgn-t-25">
          <div class="row">
            <div class="col-sm-6 fl-left">
              <button style="display: none;" type="button" (click)="downloadSO()" class="downList"><img src="./assets/img/download.png">Download List</button>
            </div>
            <div class="col-sm-6">
              <button *ngIf="canDoingPayment" (click)="conOrder()" class="conOrder">Pay</button>
              <button (click)="back()" class="saveAsDraft float-right">Back</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main-page>


<!-- <tr *ngIf="item.uepos == '000000'" id="ztr">
  <td>{{i+1}}.</td> 
   <td *ngIf="item.posnr_so.split('').pop()==0">{{i+1}}.</td><td *ngIf="item.posnr_so.split('').pop()!==0"></td> 
  <td id="number">{{item.number}}</td>
  <td id="zznetwr2" style="display:none">{{item.znetwr2_gros}}</td>
  <td id="zuepos" style="display:none">{{item.uepos}}</td>
  <td id="zbase_unit_of_measure" style="display:none">{{item.vrkme}}</td>
  <td id="zsloc" style="display:none">{{item.lgort}}</td>
  <td id="zmatDesc">{{item["0"]}}</td>
  <td id="zmatCode" style="display: none">{{item.matnr}}</td>
  <td style="min-width: 180px;" id="zmatCode2">{{item.matnr | slice:-6}}</td>
  <td id="zmatGroup">{{item["1"]}}</td>
  <td *ngIf="item.uepos == '000000'" id="zkwmeng">{{item.kwmeng}}</td>
  <td *ngIf="item.uepos == '000000'" id="zzkwmeng2">{{item.zkwmeng2}}</td>
  <td *ngIf="item.uepos == '000000'" id="zbackorder">{{item.backorder}}</td>
  <td *ngIf="item.uepos == '000000'" id="znetpr" style="display:none">{{item.netpr_gros}}</td>
  <td *ngIf="item.uepos == '000000'" id="znetpr2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netpr_gros | number:'1.'}}</td>
  <td *ngIf="item.uepos == '000000'" id="znetwr" style="display:none">{{item.netwr_gros}}</td>
  <td *ngIf="item.uepos == '000000'" id="znetwr2" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{item.netwr_gros | number:'1.'}}</td>
  <td *ngIf="item.uepos == '000000'" id="zzdiscount" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" align="right">{{(item.zdiscount_gros | number:'1.')}}</td>
</tr>
<tr *ngIf="item.uepos != '000000'" id="tr">
  <td>{{i+1}}.</td>
   <td *ngIf="item.posnr_so.split('').pop()==0">{{i+1}}.</td><td *ngIf="item.posnr_so.split('').pop()!==0"></td>
  <td id="number">{{item.number}}</td>
  <td id="uepos" style="display:none">{{item.uepos}}</td>
  <td id="base_unit_of_measure" style="display:none">{{item.vrkme}}</td>
  <td id="sloc" style="display:none">{{item.lgort}}</td>
  <td id="matDesc">{{item["0"]}}</td>
  <td id="matCode" style="display: none">{{item.matnr}}</td>
  <td style="min-width: 180px;" id="matCode2">{{item.matnr | slice:-6}}</td>
  <td id="matGroup">{{item["1"]}}</td>
  <td *ngIf="item.uepos == '000000'" id="kwmeng"></td>
  <td *ngIf="item.uepos == '000000'" id="zkwmeng2"></td>
  <td *ngIf="item.uepos == '000000'" id="backorder"></td>
  <td *ngIf="item.uepos == '000000'" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" id="netpr" align="right">{{item.netpr_gros | number:'1.'}}</td>
  <td *ngIf="item.uepos == '000000'" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" id="netwr" align="right">{{item.netwr_gros | number:'1.'}}</td>
  <td *ngIf="item.uepos == '000000'" [ngStyle]="{ display: canPreviewPriceSimulate == true ? '' : 'none' }" id="zdiscount" align="right">{{(item.zdiscount_gros | number:'1.')}}</td>
</tr> -->