<main-page>
  <div class="col-sm-10 isi-content">
    <div class="col-sm-12 formPending selectDate">
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <h5 class="title-content">Order Status</h5>
        </div>
      </div>
      <div class="row mgn-t-15">
        <div class="col-sm-12">
          <span>Sales Order No.</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_from"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let item of dropDownSoNumberList" [value]="item"></option>
          </datalist>
          <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="so_number_to"
            [ngModelOptions]="{standalone:true}" list="soNumber" name="soNumber">
          <datalist id="soNumber">
            <option *ngFor="let item of dropDownSoNumberList" [value]="item"></option>
          </datalist>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="mgn-b-0">Sales Order Date</span>
          <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom" [(ngModel)]="so_date_from"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
          <span class="mgn-b-0">To</span>
          <input type="text" class="input_date mgn-b-0" bsDatepicker placement="bottom" [(ngModel)]="so_date_to"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
        </div>
        <div class="col-sm-12">
          <span>Material Code</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="material_number_from"
            [ngModelOptions]="{standalone:true}" list="materialCode" name="materialCode">
          <datalist id="materialCode">
            <option *ngFor="let matCodes of dropDownMaterialList" [value]="matCodes"></option>
          </datalist>
          <!-- <span>To</span>
          <input class="form-control custom-select custom-filter" [(ngModel)]="material_code_to"
            [ngModelOptions]="{standalone:true}" list="materialCode" name="materialCode">
          <datalist id="materialCode">
            <option *ngFor="let matCodes of matCode" [value]="matCodes.material_code"></option>
          </datalist> -->
        </div>
        <div class="col">
          <button class="addSubmit" (click)="search()">Submit</button>
          <button class="saveAsDraft float-left" (click)="reset()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="btnFilter">
          <!-- <div class="col-12 mgn-t-25 pdd-0">
            <span class="input-search">Search</span>
          </div> -->
          <div class="col-12 pdd-0">
            <!-- <input class="fl-left" type="text"> -->
            <!-- <button class="btnFilter fl-right" (click)="filter()"><img src="./assets/img/filter.png"> Filter</button> -->
            <b style="font-size: 14px;" class="fl-right">Amount in IDR</b>
          </div>
        </div>
        <!-- <div class="col-sm-12" *ngIf="resetFilter">
            <div class="col-12 mgn-t-25 pdd-0">
              <span class="input-search">Search</span>
            </div>
            <div class="col-12 pdd-0">
              <div class="row">
                <div class="col">
                  <input type="text" class="">
                </div>
                <div class="col col-lg-2">
                  <button class="resetFilter fl-right" (click)="resetFil()"><img src="./assets/img/close.png"> Reset Filter</button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row width-100">
                <div class="col-2 pdd-0 mgn-r-15">
                  <span class="">Filter</span>
                  <select (change)="selectfil($event)" name="" id="" class="form-control custom-select custom-filter" style="margin-top: 0!important;">
                    <option value="dealer order type">Dealer Order Type</option>
                    <option value="purcahse order no">Purchase Order No.</option>
                    <option value="order date">Sales Order Date</option>
                    <option value="order no">Sales Order No.</option>
                    <option value="order type">Order Type</option>
                    <option value="bill code">Bill to Code</option>
                    <option value="material group">Material Group</option>
                    <option value="material code">Material Code</option>
                    <option value="status sales order">Status Sales Order</option>
                    <option value="invoice date">Invoice Date</option>
                    <option value="invoice no">Invoice No</option>
                    <option value="invoice status">Invoice Status</option>
                  </select>
                </div>
                <div *ngIf="filterDealerOrder" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Dealer Order Type</span>
                  <input class="form-control custom-select custom-filter" list="dealerOrder" name="opSalOrNo">
                  <datalist id="dealerOrder">
                    <option value="CBU">
                    <option value="Spareparts">
                  </datalist>
                </div>
                <div *ngIf="filterPurchaseNo" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Purchase Order No.</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterDate" class="col-2 pdd-0">
                  <span>Sales Order Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div *ngIf="filterNo" class="col-2 pdd-0">
                  <span class="m-0">Sales Order No.</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterOrderType" class="col-2 pdd-0">
                  <span class="m-0">Order Type</span>
                  <input class="form-control custom-select custom-filter" list="orderType" name="opSalOrNo">
                  <datalist id="orderType">
                    <option value="Normal">
                    <option value="Urgent">
                  </datalist>
                </div>
                <div *ngIf="filterBillCode" class="col-2 pdd-0">
                  <span class="m-0">Bill to Code</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterMaterialGroup" class="col-2 pdd-0">
                  <span class="m-0">Material Group</span>
                  <input class="form-control custom-select custom-filter" list="materialGroup" name="opSalOrNo">
                  <datalist id="materialGroup">
                    <option value="Marine">
                    <option value="Power Product ">
                    <option value="Marine/PP">
                  </datalist>
                </div>
                <div *ngIf="filterMaterialCode" class="col-2 pdd-0">
                  <span class="m-0">Material Code</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterSalesOrder" class="col-2 pdd-0">
                  <span class="m-0" style="width:100%">Status Sales Order</span>
                  <input class="form-control custom-select custom-filter" list="salesOrder" name="opSalOrNo">
                  <datalist id="salesOrder">
                    <option value="Complete ">
                    <option value="Incomplete">
                  </datalist>
                </div>
                <div *ngIf="filterInvoiceDate" class="col-2 pdd-0">
                  <span>Invoice Date</span>
                  <input type="text" class="input_date custom-filter" value="yyyy/mm/dd" style="margin-top: 0!important;" bsDatepicker placement="bottom" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div *ngIf="filterInvoiceNo" class="col-2 pdd-0">
                  <span class="m-0">Invoice No</span>
                  <input class="form-control custom-select custom-filter" list="opSalOrNo" name="opSalOrNo">
                  <datalist id="opSalOrNo">
                    <option value="10000101">
                    <option value="10000102">
                    <option value="10000103">
                    <option value="10000104">
                    <option value="10000105">
                    <option value="10000106">
                  </datalist>
                </div>
                <div *ngIf="filterInvoiceStatus" class="col-2 pdd-0">
                  <span class="m-0">Invoice Status</span>
                  <input class="form-control custom-select custom-filter" list="invoiceStatus" name="opSalOrNo">
                  <datalist id="invoiceStatus">
                    <option value="Paid">
                    <option value="Unpaid">
                  </datalist>
                </div>
                <div class="col-2 pdd-0 mgn-l-15">
                  <button class="addSubmit mgn-t-38">Submit</button>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      <div class="row">
        <div class="col-12 mgn-t-15 croll" style="max-height: 490px;">
          <table class="tablePending width-th">
            <thead>
              <tr>
                <th>No.</th>
                <th>Dealer Order Type</th>
                <th>Purchase Order No.</th>
                <th>Sales Order No.</th>
                <th>Sales Order Date</th>
                <th>Order Type</th>
                <th>Sold to Code</th>
                <th class="width-bill">Bill to Party</th>
                <th>Bill to Code</th>
                <th>Material Group</th>
                <th style="min-width: 180px;">Material Code</th>
                <th>Description</th>
                <!-- <th>Sub Category</th> -->
                <th>Order</th>
                <th>Allocated</th>
                <th>Backorder</th>
                <th>Unit Price Normal (w/o VAT)</th>
                <th>Discount Amount</th>
                <th>Discount (%)</th>
                <th>Voucher Code</th>
                <th>Unit Nett Price (w/o VAT)</th>
                <th>Allocate Amount (w/o VAT)</th>
                <th>BO Amount (w/o VAT)</th>
                <th>Status Sales Order</th>
                <th>Remarks</th>
                <th>DPR No.</th>
                <th>DPR Payment Status</th>
                <th>Invoice Date</th>
                <th>Invoice No.</th>
                <th>Tax Invoice No.</th>
                <th>Invoice Payment Status</th>
                <th>Status Cancel</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="freshData">
                <tr *ngFor="let datas of orderStatusList; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{datas.sales_order_type}}</td>
                  <td>{{datas.po_number}}</td>
                  <!-- <td><a (click)="!downloadSalesOrderDocument ? null : downloadPDF('PDF_OC',datas.sales_order_number)">{{datas.sales_order_number}}</a></td> -->
                  <td><a (click)="!downloadSalesOrderDocument ? null : downloadSO(datas.sales_order_number,datas.confirmid)">{{datas.sales_order_number}}</a></td>
                  <td>{{datas.order_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.is_priority}}</td>
                  <td>{{datas.kunn2}}</td>
                  <td>{{datas.fname}}</td>
                  <td>{{datas.kunnr}}</td>
                  <td>{{datas.bezei}}</td>
                  <td *ngIf="datas.sales_order_type == 'CBU'" style="min-width: 180px;">{{datas.matnr | slice:-6}}</td>
                  <td *ngIf="datas.sales_order_type == 'Sparepart'" style="min-width: 180px;">{{datas.matnr}}</td>
                  <td>{{datas.arktx}}</td>
                  <!-- <td>{{datas.sub_category}}</td> -->
                  <td>{{datas.kwmeng}}</td>
                  <td>{{datas.kwmeng2}}</td>
                  <td>{{datas.kwmeng_bo}}</td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.kbetr * 100 | number:'1.'}}</div></td>
                  <td><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{(datas.kzwi5 * 100 | number:'1.').replace('-','')}}</div></td>
                  <td><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.kawrt}}</div></td>
                  <td class="discountDes">{{datas.vgbel}}</td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.netpr * 100 | number:'1.'}}</div></td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.znetwr2  * 100 | number:'1.'}}</div></td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.znetwr_bot  * 100 | number:'1.'}}</div></td>
                  <td>{{datas.status_order}}</td>
                  <td class="remark">{{datas.remarks}}</td>
                  <td>{{datas.zbelnr}}</td>
                  <td>{{datas.st_paid}}</td>
                  <td>{{datas.invoice_date | date: 'dd-MM-yyyy'}}</td>
                  <td><a (click)="!downloadSalesOrderDocument ? null : downloadPDF('PDF_Invoice',datas.vbel2)">{{datas.vbel2}}</a></td>
                  <td>{{datas.bktxt}}</td>
                  <td>{{datas.iv_paid}}</td>
                  <td>{{datas.cancel_status_desc}}</td>
                  <!-- <td><button class="payWallet paySucces"><img src="./assets/img/wallet.png"> Pay</button></td> -->
                </tr>
              </ng-container>

              <ng-container *ngIf="listFiltered">
                <tr *ngFor="let datas of listFiltered; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{datas.sales_order_type}}</td>
                  <td>{{datas.po_number}}</td>
                  <td><a (click)="!downloadSalesOrderDocument ? downloadSO(datas.sales_order_number, datas.confirmid) : null">{{datas.sales_order_number}}</a></td>
                  <td>{{datas.order_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{datas.is_priority}}</td>
                  <td>{{datas.kunn2}}</td>
                  <td>{{datas.fname}}</td>
                  <td>{{datas.kunnr}}</td>
                  <td>{{datas.bezei}}</td>
                  <td *ngIf="datas.sales_order_type == 'CBU'" style="min-width: 180px;">{{datas.matnr | slice:-6}}</td>
                  <td *ngIf="datas.sales_order_type == 'Sparepart'" style="min-width: 180px;">{{datas.matnr}}</td>
                  <td>{{datas.arktx}}</td>
                  <!-- <td>{{datas.sub_category}}</td> -->
                  <td>{{datas.kwmeng}}</td>
                  <td>{{datas.kwmeng2}}</td>
                  <td>{{datas.kwmeng_bo}}</td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.kbetr * 100 | number:'1.'}}</div></td>
                  <td><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{(datas.kzwi5 * 100 | number:'1.').replace('-','')}}</div></td>
                  <td><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.kawrt}}</div></td>
                  <td class="discountDes">{{datas.vgbel}}</td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.netpr * 100 | number:'1.'}}</div></td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.znetwr2  * 100 | number:'1.'}}</div></td>
                  <td class="text-right"><div [ngStyle]="{ display: downloadSalesOrderDocument == true ? '' : 'none' }">{{datas.znetwr_bot  * 100 | number:'1.'}}</div></td>
                  <td>{{datas.status_order}}</td>
                  <td class="remark">{{datas.remarks}}</td>
                  <td>{{datas.zbelnr}}</td>
                  <td>{{datas.st_paid}}</td>
                  <td>{{datas.invoice_date | date: 'dd-MM-yyyy'}}</td>
                  <td><a (click)="!downloadSalesOrderDocument ?  null : downloadPDF(datas.vbel2)">{{datas.vbel2}}</a></td>
                  <td><a (click)="downloadPDF(datas.bktxt)">{{datas.bktxt}}</a></td>
                  <td>{{datas.iv_paid}}</td>
                  <td>{{datas.cancel_status_desc}}</td>
                  <!-- <td><button class="payWallet paySucces"><img src="./assets/img/wallet.png"> Pay</button></td> -->
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main-page>
