<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row pos-cont">
      <div class="col bg-login"></div>
      <div class="col">
        <div class="row">
          <div class="col-sm-12 display-login-logo">
            <img class="logo-login" src="../assets/img/logo.png">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mgn-b-37">
              <span class="title-login">Dealer Communication System</span>
            </div>
          </div>
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
          <div class="row">
            <div class="input-login border-input-login mgn-b-10">
              <span>Submit Email</span>
              <input type="email" name="email" [(ngModel)]="email" required>
            </div>
          </div>
          <div class="row">
            <div class="input-login mgn-b-19">
              <button type="submit" class="input-login btn-login">SUBMIT</button> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

